.b-bestsellers .b-container ul li, .b-worldcharts .b-chart, .b-user h2 {display:inline;}
.b-bestsellers .b-container ul li img {display:block;}
.site-features, .b-worldcharts{zoom:1;}
.pos-navigation dt {overflow:hidden;}

.header .panel .search form {_margin:0;}
.header .menu .submenu .b-bg {bottom: -14px;left: 1px;}