/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;background:#1daad2 url('./i/bg.gif') center repeat-y;}
body {
	font-size: 12px;
	height: 100%;
	color:#999999;
	font-family:Georgia;
	background: url('./i/top.jpg') center top no-repeat;
}
a {color:#999;outline: none;}
img {border: none;}
div.empty {height:213px;}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position:relative;
	background:url('./i/bottom.jpg') bottom no-repeat;
}

p {line-height:18px;}

.wrap {width:1000px;margin:0 auto;min-height: 2090px;}
.clear {clear:both;}

/* // ---- header ---- // */

.header {
	position:relative;
	color:#fff;
	height:335px;
}

.header .logo {
	position:absolute;
	top:50px;
	left:74px;
}


.header .icons {
	margin:0;
	position:absolute;
	top: 148px;
	left:91px
}
.header .icons li {width:20px;height:20px;float:left;list-style:none;margin:0px 26px 0px 0px;}
.header .icons li a {display:block;width:20px;height:20px;background:url('./i/icons.gif') no-repeat;text-indent:-9999em;}
.header .icons li.map a {background-position:0px -20px;}

.opening-hours {
	background:url('./i/opening-hours.png') no-repeat;
	height:99px;
	position:absolute;
	top: 26px;
	left:262px;
	padding:0px 0px 0px 26px;
}
.opening-hours span {font-size:18px;}
.opening-hours sup {top: -3px;position:relative;}

.weekdays {margin:25px 0px 0px 0px;}
.weekend {margin:28px 0px 0px 0px;}

.header .search {
	position:absolute;
	top: 148px;
	left: 254px;
}
.header .search .query {
	width:435px;
	height:27px;
	background:url('./i/query.png') no-repeat;
	padding:4px 0px 0 20px;
	float:left;
}
.header .search .query input {
	font-family:Verdana;
	font-size:18px;
	color:#4383d3;
	border: 0px;
	background:none;
	width:415px;
}
.header .search button {
	cursor: pointer;
	border: 0px;
	position:relative;
	width:41px;
	height:31px;
	background:url('./i/s-button.png') no-repeat;
}
.header .search button span {position:absolute;left: -1999em;}
.header .search .example {margin:5px 0 0 20px;font-family:Verdana;}
.header .search .example dt {display:inline;color:#0b376d;}
.header .search .example dd {display:inline;margin:0;color:#4383d3;}
.header .search .example dd a{color:#4383d3;}

.header .phone {position:absolute;left: 791px; top:36px}
.header .phone span {display:block;color:#c5dfff;font-size:14px;margin:0px 0px 0px -3px;}
.header .phone strong {display:block;color:#fff;font-size:48px;font-weight:normal;margin:8px 0px 0px 0px;}

.header .mail {background:url('./i/mail.gif') 0px 4px no-repeat; font-size:18px; padding:0px 0px 0px 35px;position:absolute;left: 761px; top: 106px;}
.header .mail a{color:#fff;}

.header .delivery {
	background:url('./i/delivery.png') no-repeat;
	position:absolute;
	left: 761px;
	top:140px;
	padding:4px 0px 5px 68px;
	text-transform:uppercase;
}
.header .delivery a {color:#07689b;}

/* -- ---- header ---- -- */

/* // ---- manufacturers ---- // */
.container {}
.sidebar {margin:42px 46px 0px 0px;width:206px;float:left;}

.manufacturers {
	width:206px;
	height:317px;
	background:url('./i/manufacturers.jpg') no-repeat;
	position:relative;
	margin:0px 0px 25px 0px;
}
.manufacturers h2 {
	display:block;
	width:180px;
	height:62px;
	margin:0px 0px 3px 0px;
	font-size:20px;
	font-weight:normal;
	line-height:62px;
	padding:0px 0px 0px 16px;
}
.manufacturers h2 a {color:#fff;}
.manufacturers .pane {
	height:252px;
	position:relative;
	overflow:hidden;
}
.manufacturers .pane ul {
	margin:0;
	font-size:18px;
	font-family:Verdana;
	padding:0px 0px 0px 16px;
}
.manufacturers .pane ul a {color:#fff;}
.manufacturers .pane ul li {list-style:none; margin:5px 0px 13px 0px;}

.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	width:26px;
	height: 252px;
}
.jScrollPaneDrag {
	position: absolute;
	background: url('./i/m-drag.png') no-repeat;
	cursor: pointer;
	overflow: hidden;
	left: 5px;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: -1px;
	text-indent: -2000px;
	overflow: hidden;
	background:url('./i/a-top.jpg');
	height: 22px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: -1px;
	text-indent: -2000px;
	overflow: hidden;
	background:url('./i/a-bot.jpg');
	height: 26px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}
/* -- ---- manufacturers ---- -- */

/* // ---- news ---- // */

.newspaper {margin:0px 0px 45px 0px;}
.newspaper h2 {font-size:24px;font-weight:normal;color:#fff;text-align:center;margin:0px 0px 15px 0px;}
.newspaper .b-top {height:6px;background:url('./i/nbtop.png') no-repeat;}
.newspaper .b-bottom {height:6px;background:url('./i/nbbottom.png') no-repeat;}
.newspaper .inner {background:#fff;padding:15px 9px;color:#024d65;}
.newspaper .inner a{color:#024d65;}
.newspaper .inner dl {margin:0;}
.newspaper .inner dt {margin:0 0 5px 0px;font-size:14px;}
.newspaper .inner dd {margin:0;font-family:Verdana;font-size:11px;}
.newspaper .inner dd p {line-height:14px;background:url('./i/nsep.png') 2px 0px no-repeat;padding:14px 9px 0px 9px;}
/* -- ---- news ---- -- */

/* // ---- subscribe ---- // */

.subscribe {
	width:190px;
	height:125px;
	background:url('./i/subscribe.jpg');
	padding:20px 0px 0px 16px;
}
.subscribe p {font-family:Verdana;color:#fff;font-size:10px;line-height:11px;margin:0px 15px 10px 0px;}

.subscribe h2 {
	font-size:20px;
	color:#fff;
	font-weight:normal;
	margin:0px 0px 10px 0px;
}
.subscribe .mail {width:140px;height:22px;background:url('./i/s-input.png') no-repeat;padding:3px 0px 0px 8px;float:left;margin:0px 5px 0px 0px;}
.subscribe .mail input {border: 0px; background:none;width:132px;}
.subscribe  button {width:26px;height:26px;background:url('./i/s-but.png') no-repeat;border: 0px;position:relative;float:left;}
.subscribe  button  span {position:absolute;left: -9999em;}
/* -- ---- subscribe ---- -- */

/* // ---- content ---- // */

.content {width:496px;float:left;margin:0px 46px 0px 0px;}

.c-menu {font-size:20px;margin:0px 0px 15px -22px;overflow:hidden;}
.c-menu li {list-style:none;float:left;margin:0px 0px 0px 22px;}
.c-menu a {color:#fff;}

/* // ---- popular catalog ---- // */

.popular-cat {
	position:relative;
	width:496px;
	margin:0px 0px 20px 0px;
}
.popular-cat .head {
	width:472px;
	height:62px;
	background:url('./i/cat-header.png') no-repeat;
	position:absolute;
	line-height:62px;
	color:#1c4c88;
	padding:0px 0px 0px 24px;
}
.popular-cat .head h2 {font-size:20px;font-weight:normal;}
.popular-cat .head a {color:#1c4c88;}
.popular-cat .head .toggle {position:absolute; right: 11px; top: 13px;font-size:11px;line-height:39px;font-style:italic;padding:0px 0px 0px 38px;width:64px;height:39px;background:url('./i/toggle.gif') no-repeat;}
.popular-cat .inner {
	width:464px;
	padding:80px 16px 0px 16px;
	background:url('./i/catalog.png') no-repeat;
}
.popular-cat .bottom {display:block;width:496px;height:15px;background:url('./i/catalog.png') -496px 0 no-repeat;}

.popular-cat .inner .categories {margin:0;width:100%;font-family:Verdana;color:#046d96;}
.popular-cat .inner .categories a{color:#046d96;}
.popular-cat .inner .categories td {padding:0px 20px 15px 0px;}
.popular-cat .inner .categories .first {width:142px;}
.popular-cat .inner .categories .second {width:147px;}
.popular-cat .inner .categories .third {width:115px;}

.popular-cat .inner .categories .chead {
	font-size:18px;
}
.popular-cat .inner .categories .chead h3 {font-weight:normal;color:#23a9d4;margin:0px 0px 13px 0px;}
.popular-cat .inner .categories .chead h3 a{color:#23a9d4;}
.popular-cat .inner .categories .chead small {font-size:12px;color:#8dc63f;}
.popular-cat .inner .categories ul {margin:0;line-height:18px;}
.popular-cat .inner .categories ul li {list-style:none;}
/* -- ---- popular catalog ---- -- */

/* // ---- special-offers ---- // */

.special-offers {
	margin:0px 0px 30px 0px;
}
.special-offers h2 {
	padding:0px 0px 16px 0px;
	background:url('./i/h2.png') bottom no-repeat;
	margin:0px 0px 20px 0px;
	color:#fff;
	font-size:24px;
	font-weight:normal;
	text-align:center;
}
.special-offers .inner {
	background:url('./i/special-offers.png') no-repeat;
	width:496px;
	height:205px;
	padding:7px 0px 0px 0px;
}
.special-offers .carousel {}
.special-offers .carousel li {
	width:152px;
	height:205px;
	float:left;
	list-style:none;
	background:url('./i/so-item.png') no-repeat;
	font-family:Verdana;
	margin:0px 10px 0px 0px;
}

.special-offers .carousel li .item {width:123px;height:167px;padding:12px 0px 0px 0px;margin:0 auto;}
.special-offers .carousel li .item img {display:block;border-bottom: 1px solid #065c78; margin:0px 0px 3px 0px;}
.special-offers .carousel li .item .title {display:block;text-align:center;color:#075f7a;}

.special-offers .carousel li .price {display:block;text-align:center;font-size:18px;color:#d2fb7b;font-weight:normal;}
.special-offers .carousel li .price small {font-size:10px;}
.special-offers .jcarousel-clip {width:477px;margin:0 auto;}
.special-offers .jcarousel-prev {
	width:33px;
	height:35px;
	background:url('./i/c-left.png') no-repeat;
	cursor:pointer;
	position:absolute;
	top: 67px;
	left: -33px;
}
.special-offers .jcarousel-next {
	width:33px;
	height:35px;
	background:url('./i/c-right.png') no-repeat;
	cursor:pointer;
	position:absolute;
	top: 67px;
	right: -33px;
}

/* -- ---- special-offers ---- -- */

/* // ---- Fresh news ---- // */

.fresh-news {}
.fresh-news h2 {
	padding:0px 0px 16px 0px;
	background:url('./i/h2.png') bottom no-repeat;
	margin:0px 0px 10px 0px;
	color:#fff;
	font-size:24px;
	font-weight:normal;
	text-align:center;
}
.fresh-news h2 a {color:#fff;}

.fresh-news .l-news {width:496px;overflow:hidden;background:url('./i/fnews-bg.png') bottom no-repeat;margin:0px 0px 24px 0px;}
.fresh-news .l-news .inner{overflow:hidden;width:510px;padding:0px 0px 15px 0px;}
.fresh-news .l-news .inner dl {width:158px;float:left;padding:0px 10px 0px 0px;margin:0;}
.fresh-news .l-news .inner dl dd {margin:0;font-family:Verdana;color:#d6f5ff;}
.fresh-news .l-news .inner dl dd p {line-height:14px;}
.fresh-news .l-news .inner dl dt {display:block;margin:0px 0px 10px 0px;}
.fresh-news .l-news .inner dl dt .date {display:block;font-size:10px;font-weight:bold;color:#fff;margin:0px 0px 8px 0px;}
.fresh-news .l-news .inner dl dt .title {display:block;font-size:11px;color:#fff;}
.fresh-news .l-news .inner dl dt .title a{color:#fff;}
.fresh-news .article {font-family:Verdana;color:#fff;}
.fresh-news .article h3 {font-size:18px;margin:0px 0px 20px 0px;font-weight:normal;}
.fresh-news .article p {margin:0px 0px 15px 0px;line-height:14px;}
/* -- ---- Fresh news ---- -- */

/* -- ---- content ---- -- */

/* // ---- aside ---- // */

.aside {
	width:206px;
	float:left;
}

/* -- ---- aside ---- -- */

/* // ---- cart ---- // */

.cart {
	position:relative;
	margin:0px 0px 25px 0px;
}
.cart h2 {
	display:block;
	width:182px;
	height:62px;
	background:url('./i/cart-h2.png') no-repeat;
	font-size:20px;
	color:#035f51;
	line-height:62px;
	font-weight:normal;
	padding:0px 0px 0px 24px;
}
.cart .inner {
	background:#fff;
	color:#1ca8d5;
	padding:15px 15px 4px 15px;
}
.cart p.empty {
	text-align:center;
	line-height:14px;
}
.cart .go-cart {
	display:block;
	width:60px;
	height:35px;
	background:url('./i/go-cart.png') no-repeat;
	position:absolute;
	top: 12px;
	right: 2px;
	font-size:11px;
	font-style:italic;
	color:#7aaca4;
	text-decoration:none;
	padding:4px 0px 0px 34px;
}

.cart .bottom {
	height:14px;
	background:url('./i/cart-bottom.png') no-repeat;
}

/* -- ---- cart ---- -- */

/* // ---- bestsellers ---- // */
.bestsellers {
	width:183px;
	margin:0 auto 25px auto;
	padding:0px 0px 20px 0px;
	background:url('./i/bestsellers-h2.png') bottom no-repeat;
}
.bestsellers h2 {
	background:url('./i/bestsellers-h2.png') bottom no-repeat;
	font-size:20px;
	color:#fff;
	text-align:center;
	padding:0px 0px 10px 0px;
	margin:0px 0px 10px 0px;
}
.bestsellers .top {
	height:14px;
	width:181px;
	background:url('./i/best-t.png') no-repeat;
	margin:0 auto;
}
.bestsellers .bottom {
	height:14px;
	width:181px;
	background:url('./i/best-b.png') no-repeat;
	margin:0 auto;
}
.bestsellers .inner {
	background:url('./i/best-bg.png') ;
	width:181px;
	margin:0 auto;
	padding:14px 0px 0px 0px;
}
.bestsellers .inner ul {margin:-19px 0px 0px 0px;overflow:hidden;}
.bestsellers .inner ul li {list-style:none;width:121px;text-align:center;margin:15px auto 20px auto;font-family:Verdana;}
.bestsellers .image {position:relative;width:121px;margin:0 auto 5px auto;}
.bestsellers .image .top {position:absolute;width:121px;height:3px;background:url('./i/i-t.png') no-repeat;left: 0px; top: -3px;}
.bestsellers .image .bottom {position:absolute;width:121px;height:3px;background:url('./i/i-b.png') no-repeat;left: 0px; bottom: 0px;}
.bestsellers .title {display:block;color:#fff;margin:0px 0px 5px 0px;}
.bestsellers .price {font-size:18px;color:#fbed7b;font-weight:normal;}
.bestsellers .price small {font-size:10px;}

/* -- ---- bestsellers ---- -- */

/* // ---- useful ---- // */

.useful-info {color:#fff;}
.useful-info a{color:#fff;}
.useful-info h2 {
	width:175px;
	height:49px;
	background:url('./i/useful-h2.png') no-repeat;
	font-size:16px;
	font-weight:normal;
	padding:6px 15px 0px 16px;
}
.useful-info h2 a {color:#fff;}
.useful-info .inner {
	background:url('./i/useful-bg.png') bottom no-repeat;
	padding:10px 8px 15px 16px;
}
.useful-info .inner p {margin:0 0 10px 0;line-height:16px;}
.useful-info .inner ul {
	margin:0 0 15px 0px;
}
.useful-info .inner ul li {list-style:none;margin:0px 0px 5px 0px;}
.useful-info .inner .more {
	display:block;
	width:83px;
	height:19px;
	text-indent:-9999em;
	background:url('./i/u-but.png') no-repeat;
	margin:0 auto;
}

/* -- ---- useful ---- -- */

/* // ---- footer ---- // */

.footer {height:213px;margin:-213px auto 0 auto;position:relative;width:1000px;color:#7d5704;}
.footer a {color:#7d5704;}

.footer .copy {
	position:absolute;
	top:98px;
	left: -5px;
}

.footer .links {
	margin:0;
	position:absolute;
	left: -5px;
	top:150px;
	font-size:14px;
}
.footer .links li {list-style:none;margin:0px 0px 13px 0px;}

.footer .nphone {font-size:24px;font-weight:normal;position:absolute;top:88px;right:-20px;}
.footer .f-menu {position:absolute;margin:0;top: 95px;left: 245px;}
.footer .f-menu li {list-style:none; float:left;margin:0px 60px 0px 0px;font-size:14px;}

.footer .description {width:515px;position:absolute;top: 130px; left:245px; line-height:14px;}
.footer .days {position:absolute;top:135px; right:65px}
.footer .feed {font-size:10px;position:absolute;top: 150px; right: 37px;}

/* -- ---- footer ---- -- */

