/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 12px;
	height: 100%;
	font-family:Tahoma;
	color:#707070;
	background: #fff url('./i/bg.jpg') center top no-repeat;
}
a {outline: none;}
a:hover {text-decoration: none;}
img {border: none;}
#wrapper {
	width:994px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 35px auto;
}

.empty {height:74px;clear:both;}
.clear {clear:both;}

/* // ---- Header ---- // */

#header {
	position:relative;
	height:538px;
}

.logo {
	position:absolute;
	top: 30px;
}

.introduction {
	width:191px;
	background:#fff;
	padding:8px;
	line-height:15px;
	font-size:11px;
	color:#79abcd;
	position:absolute;
	top: 148px;
	left: 0px;
}

#menu {
	position:absolute;
	top: 330px;
	left: 0px;
	margin:0;
}
#menu  li {
	position:absolute;
	font-family:"Trebuchet MS";
	color:#adadad;
	font-size:17px;
	list-style:none;
	background:url('./i/menu.gif') no-repeat;
}

#menu a {
	color:#adadad;
	text-decoration:none;
}

#menu .home {
	left: 12px;
	background-position:14px 123px;
}
#menu .home a {
	display: block;
	width:89px;
	height:116px;
	background:url('./i/home.png') no-repeat;
	padding:114px 0px 0px 26px;
}
#menu .catalog {
	left: 207px;
	top: 63px;
	background-position:8px 85px;
}
#menu .catalog a {
	display: block;
	width:133px;
	height:20px;
	background:url('./i/catalog.png') 13px 0px no-repeat;
	padding:77px 0px 0px 22px;
}
#menu .price {
	left: 414px;
	top: 59px;
	background-position:0 120px;
}
#menu .price a {
	display: block;
	width:160px;
	height:21px;
	background:url('./i/price.png') 25px 0px no-repeat;
	padding:111px 0px 0px 14px;
}
#menu .square {
	left: 634px;
	top: 63px;
	background-position:0px 86px;
}
#menu .square a {
	display: block;
	width:194px;
	height:20px;
	background:url('./i/square.png') 47px 0px no-repeat;
	padding:77px 0px 0px 14px;
}
#menu .sale {
	left: 876px;
	top: 5px;
	background-position:0px 116px;
}
#menu .sale a {
	display: block;
	width:120px;
	height:23px;
	background:url('./i/sale.png') 22px 0px no-repeat;
	padding:107px 0px 0px 14px;
}

/* -- ---- Header ---- -- */
#container {
	overflow:hidden;
}
/* // ---- offers ---- // */
.offers {
	position:relative;
	padding:0px 0px 25px 0px;
}
.offers .icon {
	width:110px;
	height:114px;
	background:url('./i/o-icon.png') no-repeat;
	position:absolute;
	top: 103px;
	left: 442px;
}
.offer {
	width:474px;
	float:left;
	background: #f0f8fd url('./i/offer-t.gif') left top no-repeat;
	overflow:hidden;
	font-size:11px;
}
.offer .bg{
	background: url('./i/offer-b.gif') left bottom no-repeat;
	padding:15px;
	overflow:hidden;
}
.offer h2 {
	color:#4c81a5;
	font-family:Arial;
	font-size:13px;
	margin:0px 0px 10px 0px;
}
.offer h2 a{
	color:#4c81a5;
	text-decoration:none;
	border-bottom: 1px dashed #4c81a5;
}

.offer .gallery {width:474px; margin:0px 0px 10px 0px;}
.offer .gallery li{
	list-style:none;
	display:inline;
}
.o-left {
	margin:0px 45px 0px 0px;
}

.offer .price {
	background:#fff;
	padding:5px 10px;
	color:#b2070a;
	float:left;
	margin:0px 15px 0px 0px;
}
.offer .info {
	padding:5px 0px 0px 0px;
	color:#707070;
}

/* -- ---- offers ---- -- */

/* // ---- content ---- // */

.content {
	overflow:hidden;
}
.content .column {
	width:299px;
	float:left;
	margin:0px 48px 0px 0px;
}
.content .last {margin:0;}
.content h2 {
	color:#be0a0a;
	font-size:13px;
	margin:0px 0px 3px 0px;
}

.news {
	
}
.news  dl {overflow:hidden;margin:0;}
.news dt, .news dd {float:left; margin:0;}
.news dt {width:56px;clear:both; font-size:10px; padding:7px 0px 7px 0px;color:#4c81a5;}
.news dd {width:243px; padding:6px 0px 6px 56px;border-bottom: 1px solid #f1f1f1; margin:0px 0px 0px -56px;}

.data dl {margin:0;}

.data dt {
	background:url('./i/r-arr.gif') 0px 12px no-repeat;
	border-bottom: 1px solid #f1f1f1; float:left; margin:0;
	width:228px;
	 padding:6px 0px 6px 12px;
}
.data dd {
	width:59px;
	border-bottom: 1px solid #f1f1f1; float:left; margin:0;
	 padding:6px 0px 6px 0px;
	 text-align:right;
}

/* -- ---- content ---- -- */

/* // ---- footer ---- // */

#footer {
	height:74px;
	background:url('./i/footer.jpg') left bottom no-repeat;
	margin:-74px auto 0px auto;
	width:1000px;
	clear:both;
	position:relative;
}

#footer .nav {overflow:hidden;margin:0;padding:7px 0px 0px 0px;}
#footer .nav li {list-style:none; display:inline; border-left: 1px solid #e0e0e0; margin:0px 0px 0px -1px; padding:0px 22px;font-family:Verdana;font-size:11px;}
#footer .nav li.active {background:url('./i/t-arr.gif') 8px 4px no-repeat;}
#footer .nav li a {text-decoration:none;color:#515151;}
.s-search {
	position:absolute;
	left: 703px;
	top: 0px;
}
.s-search .query{
	width:256px;
	height:26px;
	background:url('./i/s-query.png') no-repeat;
	float:left;
	margin:0px 6px 0px 0px;
	_display:inline;
}
.s-search .query input {
	width:224px;
	border: 0px;
	background:none;
	padding:6px 16px;
	font-family:Arial;
	font-size:12px;
	color:#707070;
}
.s-search .button {
	width:26px;
	height:26px;
	float:left;
}
.s-search .button input {
	width:26px;
	height:26px;
	background:url('./i/s-submit.png') no-repeat;
	border: 0px;
}

.copyrights {
	font-size:10px;
	font-family:Verdana;
	position:absolute;
	bottom: 8px;
	right: 23px;
}
.copyrights a {color:#fff;text-decoration:none;}

/* -- ---- footer ---- -- */