/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;background: #000 }
body {
	font-size: 12px;
	height: 100%;
	font-family:Arial;
	color:#333333;
}
a {color:#999;outline: none;}
img {border: none;}
.empty {height:106px;}
.wrapper {

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:0px auto;
	
}
button {cursor:pointer;}
p {line-height:18px;}

.wrap {margin:0px 17px;}
.clear {clear:both;}
label {cursor:pointer;}
#main {height: auto;
	color:#1c1b1b;}
#main .wrapper {	background: url('./i/bg.jpg') center top no-repeat;}
#main .logo {position:relative; padding:20px 0px 0px 0px;position:absolute;left: 9%;}
.logo a {display:block;width:266px;height:123px;background:url('./i/logo.png') no-repeat;text-indent:-9999em;}
.logo a:hover {background-position:0px -123px;}
/* // ---- sign-up ---- // */

.sign-up {
	position:absolute;
	width:100%;
	z-index: 100;
	color:#333333;
	display:none;
	top: 0px;
	left: 0px;
}
.sign-up form {
	width:420px;
	height:377px;
	background:#f7f7f7;
	position:absolute;
	z-index: 51;
	left: 50%;
	top: 310px;
	margin:0px 0px 0px -210px;
}
.sign-up form fieldset {position:relative;}
.sign-up .bg {position:absolute;width:100%;background:#000; opacity: .5; filter: alpha(opacity = 50);position:absolute; width:100%;z-index: 50;}

.sign-up form dl {margin:0 0 10px 19px; overflow:hidden;}
.sign-up form dd {margin:0 0 15px 0;float:left;}
.sign-up form dt {clear:both;float:left;width:111px;text-align:right;margin:10px 20px 0px 0px;}
.sign-up form dd input {border: 0px; background:none;color:#cfcfcf;font-size:13px;font-family:Arial;margin:8px 0px 0px 15px;width:190px;}
.sign-up form dd div {width:220px; height:34px; background:url('./i/input.png') no-repeat;}
.sign-up form dd .active {background-position:0px -34px;}
.sign-up form button {margin:0 0 18px 151px;clear:both;width:131px;height:38px;background:url('./i/register.png') no-repeat;border: 0px;position:relative;cursor:pointer;}
.sign-up form button span {position:absolute;left: -9999em;}

.sign-up form .hover {background:url('./i/register.png') 0px -38px no-repeat;}

.sign-up small {font-size:12px;color:#a3a3a3;display:block;margin:0px 0px 0px 153px;}
.sign-up h1 {
	width:125px;
	height:35px;
	background:url('./i/join-us.png') no-repeat;
	text-indent:-9999em;
	margin:14px 0px 25px 19px;
}

.sign-up .close {display:block;text-indent:-9999em;width:36px;height:38px;background:url('./i/close.png') no-repeat; position:absolute;top: -10px; right: -10px;}

/* -- ---- sign-up ---- -- */

.payouts {width:374px;height:165px;background:url('./i/payouts.png') no-repeat;position:absolute;top: 165px;left: 7%;}
.variety {width:414px;height:168px;background:url('./i/variety.png') no-repeat;position:absolute; top:346px; left: 4%;}
.best {width:340px;height:214px;background:url('./i/best.png') no-repeat;position:absolute;top: 134px; right: 6.6%;}
.exact {width:340px;height:150px;background:url('./i/exact.png') no-repeat;position:absolute; top: 370px; right: 3.8%}



#main .menu {
	margin:0;
	position:absolute;
	top: 37px;
	right: 7.4%;
}
#main .menu li {
	float:left;
	list-style:none;
}
#main .menu li a {
	display:block;
	height:16px;
	background:url('./i/menu.png') no-repeat;
	text-indent:-9999em;
}
#main .menu li.home {
	width:74px;
	margin:0px 24px 0px 0px;
}
#main .menu li.faq {
	width:58px;
	margin:0px 23px 0px 0px;
}
#main .menu li.our-sites {
	width:106px;
	margin:0px 23px 0px 0px;
}
#main .menu li.signup {width:67px;}
#main .menu li.home a {width:50px;}
#main .menu li.home a:hover {background-position:0px -16px;}
#main .menu li.faq a {width:33px; background-position:-50px 0;}
#main .menu li.faq a:hover {background-position:-50px -16px;}
#main .menu li.our-sites a {width:82px; background-position:-83px 0;}
#main .menu li.our-sites a:hover {background-position:-83px -16px;}
#main .menu li.signup a {width:67px; background-position: -165px 0;}
#main .menu li.signup a:hover {background-position: -165px -16px;}

#main .login {
	position:absolute;
	top: 67px;
	right: 7.4%;
	overflow:hidden;
	width:389px;
	margin-right:-10px;
}
#main .login input {border: 0px; width:98px;font-size:13px;font-family:Arial;color:#d5d5d5;margin:8px 0px 0px 35px;}
#main .login .username {
	width:147px;
	height:35px;
	background:url('./i/login.png') no-repeat;
	float:left;
	margin:0px 6px 0px 0px;
}

#main .login .password {
	width:147px;
	height:35px;
	background:url('./i/login.png') -147px 0px no-repeat;
	float:left;
	margin:0px 6px 0px 0px;
}
#main .login .ausername {background:url('./i/login.png') 0 -35px no-repeat;}
#main .login .apassword {background:url('./i/login.png') -147px -35px no-repeat;}
#main .login button {
	border: 0px;
	position:relative;
	display:block;
	width:73px;
	height:31px;
	background:url('./i/login.png') -294px 0px no-repeat;
	cursor: pointer;
	float:left;
	margin:2px 0px 0px 0px;
	padding:0;
	overflow:hidden;
}
#main .login .hover {
	background:url('./i/login.png') -294px -31px no-repeat;
}
#main .login button span {display:block;position:absolute;left: -9999px;}

#main .content {
	padding:567px 0px 0px 55px;
	margin:0px 0px 60px 0px;
	overflow:hidden;
	color:#6c6c6c;
}
#main .content td {width:33%;float:left;border-left: 1px dotted #242424;}
#main .content td h2 {
	text-indent:-9999em;
	height:18px;
}
#main .content td .inner{padding-right:40px;}
#main .content h2 {margin:0px 0px 20px 0px;}
#main .content .benefits h2{
	background:url('./i/our-befefits.gif');
	width:115px;
}
#main .content .register {border: 0px;}
#main .content .register .inner{padding-right:0;}
#main .content .register form {}
#main .content .register form dl{margin:0;}
#main .content .register form dt {width:123px;display:block;float:left;clear:both;margin:7px 0px 0px 0px;}
#main .content .register form dd{display:block;width:167px;height:33px;background:url('./i/register-m.png');float:left;margin:0 0 19px 0px;}
#main .content .register form dd.active {background-position:0px -33px;}
#main .content .register form dd input {background:none;border: 0px;font-family:Arial;font-size:13px;font-weight:bold;width:139px;margin:7px 0px 0px 14px;}
#main .content .register form button {clear:both;display:block;width:188px;height:38px;background:url('./i/signup-b.png') no-repeat;border: 0px;position:relative;margin:0px 0px 0px 47px;top: 10px}
#main .content .register form button.hover {background-position:0px -38px;}
#main .content .register form button span {position:absolute;left: -1999em;}

#main .content .benefits  ul li {background:url('./i/b-arr.gif') 4px 5px no-repeat;}
#main .content .conditions  ul li {background:url('./i/c-arr.gif') 4px 5px no-repeat;}
#main .content .conditions h2 {
	background:url('./i/s-conditions.gif');
	width:190px;
}
#main .content .register h2 {
	background:url('./i/r-now-h2.gif');
	width:123px;
}

#main .content td ul {margin:0;}
#main .content td ul li {
	list-style:none;
	padding:0px 0px 0px 23px;
	
	line-height:16px;
	margin:0px 0px 15px 0px;
}

#main .content .column .sign {
	display:block;
	width:229px;
	height:63px;
	background:url('./i/sign-up.png') no-repeat;
	text-indent:-9999em;
	margin:0px 0px 0px 45px;
}
#main .content .column .sign:hover {
	background-position:0px -63px;
}

#main #footer {
	font-family:Tahoma;
	color:#626262;
	padding:0px 0px 0px 75px;
	clear:both;
	position:relative;
	height:30px;
}
#main #footer .contacts {position:absolute; right: 57px;top: 0px;margin:0;}
#main #footer .contacts  li {float:left;list-style-type: none; margin:0px 27px 0px 0px;}
#main #footer .contacts  li span {float:left;margin:0px 6px 0px 0px;}
#main #footer .contacts li.mail a{color:#626262;text-decoration:none;}
#main #footer .contacts li.mail span{margin:1px 6px 0px 0px;}


/* // ---- inner ---- // */

#inner {
	background:url('./i/i-bg.jpg') repeat-x;
}
#inner .wrapper {
	background:url('./i/i-bgt.jpg') center top no-repeat;
}
#inner .wrapper .wrap {	
	width:980px;
	margin:0 auto;
	position:relative;
}

#inner .logo {position:absolute;top:24px; left: 26px;}



/* -- ---- inner ---- -- */

/* // ---- menu ---- // */

#inner .header {height:185px;}

.menu {margin:0;clear:both;position:relative;}
.menu li {list-style:none; float:left;}
.menu a.statistics {
	display:block;
	width:117px;
	height:54px;
	background:url('./i/menu.jpg') no-repeat;
	text-indent:-9999em;
}
.menu a.statistics:hover, .menu .active a.statistics {background-position:0px -54px;}
.menu a.tools {
	display:block;
	width:144px;
	height:54px;
	background:url('./i/menu.jpg') -117px 0px no-repeat;
	text-indent:-9999em;
}
.menu a.tools:hover, .menu .active a.tools {background-position:-117px -54px;}
.menu a.profile {
	display:block;
	width:101px;
	height:54px;
	background:url('./i/menu.jpg') -261px 0px no-repeat;
	text-indent:-9999em;
}
.menu a.profile:hover, .menu .active a.profile {background-position:-261px -54px;}
.menu a.payments {
	display:block;
	width:126px;
	height:54px;
	background:url('./i/menu.jpg') -362px 0px no-repeat;
	text-indent:-9999em;
}
.menu a.payments:hover, .menu .active a.payments {background-position:-362px -54px;}
.menu a.support {
	display:block;
	width:115px;
	height:54px;
	background:url('./i/menu.jpg') -488px 0px no-repeat;
	text-indent:-9999em;
}
.menu a.support:hover, .menu .active a.support {background-position:-488px -54px;}
.menu a.news {
	display:block;
	width:95px;
	height:54px;
	background:url('./i/menu.jpg') -603px 0px no-repeat;
	text-indent:-9999em;
}
.menu a.news:hover, .menu .active a.news {background-position:-603px -54px;}

.menu .submenu {
	position:absolute;
	background:url('./i/submenu.png') no-repeat;
	display:none;
	top: 11px;
}
.menu  .active .submenu {display:block;}
.menu .submenu ul {
	padding:0px 14px;
	background:url('./i/submenu.png') right -32px no-repeat;
	float:left;
	margin:0;
	height:32px;
	line-height:30px;
	font-size:11px;
	font-family:Tahoma;
}
.menu .submenu a {color:#fff;font-weight:bold;text-decoration:none;}
.menu .submenu a:hover, .menu .submenu .active a {color:#f7f7ce;text-decoration:underline;}

.menu .submenu i {display:block;width:9px;height:5px;background:url('./i/s-arr.png') no-repeat;position:absolute; top: -5px;}
.menu .news .submenu i {right: 43px;}
.menu .statistics .submenu i {left: 53px;}
.menu .profile .submenu i {left: 53px;}
.menu .tools .submenu i {left: 185px;}
.menu .payments .submenu i {left: 170px;}
.menu .support .submenu i {left: 124px;}

.menu .submenu ul li {padding:0px 21px;}

.menu .lmenu {
	display:none;
	position:absolute;
	width:698px;
	left: 0px;
	padding:0px 0px 0px 0px;
	height:43px;
}
.menu .active .lmenu {display:block;}
.menu .news .submenu {right: 0px;}
.menu .profile .submenu {left: 254px;}
.menu .payments .submenu {left: 250px;}
.menu .support .submenu {left: 417px;}

/* -- ---- menu ---- -- */

/* // ---- user-info ---- // */
#inner .panel {width:698px;float:right; background:url('./i/panel.gif') 0px 75px repeat-x;}
.user-info {margin:0 0 22px -25px; padding:30px 0px 20px 0px;overflow:hidden;}
.user-info dd {margin:0 0px 0px 0px;float:left; background:url('./i/green.png') no-repeat;font-size:14px;font-weight:bold;font-family:Tahoma;color:#fff;}
.user-info dd span	{background:url('./i/green.png') right -24px;padding:0px 10px;display:block;height:24px;line-height:22px;float:left;}
.user-info dt {float:left;margin:5px 9px 0px 25px;}
.user-info dt {display:block;height:12px;background:url('./i/uinfo.gif') no-repeat;text-indent:-9999em;}
.user-info .username {width:78px;}
.user-info .id {width:79px;background-position:-78px 0px;}
.user-info .balance {width:59px;background-position:-157px 0px;}
.user-info .rate {width:69px;background-position:-216px 0px;}

/* -- ---- user-info ---- -- */

/* // ---- container ---- // */

.container {overflow:hidden;position:relative;z-index: 1;}
.headline {height:48px;background:url('./i/headline.png') no-repeat;padding:30px 0px 0px 85px;}
.headline h1 {display:block;text-indent:-9999em;height:15px;}
.bnews .headline h1 {background:url('./i/news-h1.png') no-repeat;}

.content .inner {padding:0px 0px 0px 38px;}
.tcolumns .content {width:600px;float:left;margin:0px 10px 0px 0px;}
.tcolumns .man {width:367px;float:left;margin:18px 0px 0px 0px;}
/* -- ---- container ---- -- */

/* // ---- news ---- // */

.news-list {margin:0;}
.news-list {}
.news-list dt {margin:0px 0px 12px 0px;}
.news-list dd{margin:0 0 25px 0;font-size:13px;}
.news-list dd p{line-height:21px;}
.news-list strong {font-size:13px;margin:0px 0px 5px 0px;display:block;}
.news-list .date {color:#7cc9d6;background:url('./i/ndate.gif') no-repeat; padding:0px 0px 0px 16px;}

/* -- ---- news ---- -- */

/* // ---- footer ---- // */

#inner #footer {
	height:39px;
	background:url('./i/footer.jpg') repeat-x;
	margin:-164px 0px 0px 0px;
	padding:125px 0px 0px 30px;
	clear:both;
	font-family:Tahoma;
	color:#626262;
}
#inner #footer .foo {width:980px;margin:0 auto;position:relative;}
#inner #footer .copy {position:relative;z-index:2;}
#inner #footer .contacts {position:absolute; right: 0px;top: 0px;margin:0; z-index:2;}
#inner #footer .contacts  li {float:left;list-style-type: none; margin:0px 27px 0px 0px;}
#inner #footer .contacts  li span {float:left;margin:0px 6px 0px 0px;}
#inner #footer .contacts li.mail a{color:#626262;text-decoration:none;}
#inner #footer .contacts li.mail span{margin:1px 6px 0px 0px;}

/* -- ---- footer ---- -- */

/* // ---- support ---- // */

.bsupport {}
.bsupport .headline  h1 {background:url('./i/support-h1.png') no-repeat;}

.new-ticket {}
.new-ticket dl {margin:0 0 17px 0px;overflow:hidden;}
.new-ticket dt {float:left;width:83px;font-size:13px;margin:10px 0px 0px 0px;}
.new-ticket dd {float:left;width:479px;height:244px; background:url('./i/ticket.png') no-repeat;margin:0 0 0px 0px;}
.new-ticket dd textarea {border: 0px; background:none; width:449px;height:224px;margin:10px 0px 0px 15px;font-family:Arial;font-size:13px;color:#cfcfcf;}

.new-ticket button {cursor:pointer;border: 0px;display:block;clear:both;width:149px;height:30px;background:url('./i/send-mes.png') no-repeat;position:relative;margin:0px 0px 0px 83px;}
.new-ticket button span {position:absolute;left: -9999em;}
/* -- ---- support ---- -- */

/* // ---- profile ---- // */

.bprofile {}
.bprofile .headline h1 {background:url('./i/profile-h1.png') no-repeat;}

.bprofile form {font-size:13px;}
.bprofile form dl {margin:0 0 5px 0;overflow:hidden;}
.bprofile form dt {margin:8px 0px 0px 0px;width:124px;clear:both;float:left;}
.bprofile form dd {margin:0 0 15px 0px;float:left;}
.bprofile form dd div {width:220px;height:34px;background:url('./i/iinput.png') no-repeat;}
.bprofile form dd div.active {background-position:0px -34px;}
.bprofile form dd div input {width:190px;font-size:13px;font-family:Arial;color:#cfcfcf;background:none;border: 0px; margin:8px 0px 0px 15px;}
.bprofile form button {clear:both;display:block;width:120px;height:30px;background:url('./i/save-set.png') no-repeat;border: 0px;position:relative;margin:0px 0px 0 124px;}
.bprofile form button span {position:absolute;left: -9999em;}
.bprofile form .hover {background-position:0px -30px;}

/* -- ---- profile ---- -- */

/* // ---- payments ---- // */

.bpayments {}
.bpayments .headline h1 {background:url('./i/payments-h1.png') no-repeat;}
.bpayments form {font-size:13px;}
.bpayments form dl {margin:0 0 5px 0;overflow:hidden;}
.bpayments form dt {margin:8px 0px 0px 0px;width:170px;clear:both;float:left;}
.bpayments form dd {margin:0 0 15px 0px;float:left;}
.bpayments form dd div {width:220px;height:34px;background:url('./i/iinput.png') no-repeat;}
.bpayments form dd div.active {background-position:0px -34px;}
.bpayments form dd div input {width:190px;font-size:13px;font-family:Arial;color:#cfcfcf;background:none;border: 0px; margin:8px 0px 0px 15px;}
.bpayments form button {clear:both;display:block;width:120px;height:30px;background:url('./i/save-set.png') no-repeat;border: 0px;position:relative;margin:0px 0px 0 170px;}
.bpayments form button span {position:absolute;left: -9999em;}
.bpayments form .hover {background-position:0px -30px;}
dd.method {height:34px; line-height:32px;}
.bpayments .select {}
.bpayments .select .select {display:block; width:205px;height:34px;line-height:34px;background:url('./i/select.png');	position: absolute;
	overflow: hidden;
	padding:0px 0px 0px 15px;
}
.bpayments .select select {width:220px;height:34px;}
.bpayments .select .choice {
	position:relative;
}
.bpayments .select .choice a {
	font-weight:bold;
	text-decoration:none;
	color:#333333;
	font-size:13px;
	width:220px;
	height:34px;
	background:url('./i/select.png') no-repeat;
	display:block;
	line-height:34px;
	padding:0px 0px 0px 15px;
}

.bpayments .select ul {position:absolute;display:none; z-index: 1; background:#fff;margin:0;padding:5px 0px 0px 15px;width:220px;}
.bpayments .select ul li {list-style:none; line-height:24px;}
.bpayments .select ul li a{font-size:13px;font-weight:bold;color:#333;text-decoration:none;}
/* -- ---- payments ---- -- */

/* // ---- promo ---- // */

.bpromo {}
.bpromo .headline h1 {background:url('./i/promo-h1.png') no-repeat;}

.bpromo .sites {padding:0px 0px 0px 20px;margin:0px 0px 25px 0px;overflow:hidden;}
.bpromo .mp3mixx {background:url('./i/sites.png') no-repeat;display:block;text-indent:-9999em;width:75px;height:30px;float:left;margin:0px 10px 0px 0px;}
.bpromo .mp3mixx:hover {background-position:0px -30px;}
.bpromo .mp3vips {background:url('./i/sites.png') -75px 0px no-repeat;display:block;text-indent:-9999em;width:71px;height:30px;float:left;}
.bpromo .mp3vips:hover {background-position:-75px -30px;}

.banners {width:728px;clear:both;margin:0 auto;}
.banners img {margin:0px auto 8px auto;display:block;}
.banners textarea {width:648px;height:100px;margin:0 auto;display:block;}
.banners .banner {margin:0px 0px 35px 0px;position:relative;}
.banners h2 {font-size:16px;font-size:#343434;font-weight:normal;margin:0px 0px 18px 0px;}
.banners .download {display:block;width:118px;height:30px;background:url('./i/download.png') no-repeat;text-indent:-9999em; position:absolute; right: 0px; top: 0px;}
.banners .download:hover {background-position:0px -30px;}
/* -- ---- promo ---- -- */

/* // ---- Statistics ---- // */

.bstatistics {}
.bstatistics .headline h1 {background:url('./i/statistics-h1.png') no-repeat;}

.bstatistics {}
.bstatistics table {margin:0 0 0 20px;font-size:11px;font-family:Tahoma;clear:both;}
.bstatistics table .date {width:107px;}
.bstatistics table .uniques {width:98px;}
.bstatistics table .registrations {width:136px;}
.bstatistics table .ratio {width:99px;}
.bstatistics table .rebills {width:109px;}
.bstatistics table .sales {width:109px;}
.bstatistics table .referrals {width:116px;}
.bstatistics table .total {width:189px; font-weight:bold;background-image:none;}

.bstatistics table td {text-align:center;}
.bstatistics table thead td {background:#2c5e72 url('./i/stat-td.png') right repeat-y;color:#fff;font-weight:bold; height:41px;line-height:41px;}
.bstatistics table tfoot td {background:#2c5e72 url('./i/stat-td.png') right repeat-y;color:#fff;font-weight:bold;height:29px;line-height:29px;}
.bstatistics table tbody td {height:41px;line-height:41px;color:#2c5e72; border-bottom: 1px solid #ebf3f5; background:#fff url('./i/stat-td.png') right repeat-y;;}
.bstatistics table tbody .alt td {background:#f4f9fa url('./i/stat-td.png') right repeat-y;;}

.bstatistics .filter {
	margin:0px 0px 20px 20px;
}
.bstatistics .filter .today {
	display:block;
	text-indent:-9999em;
	width:75px;
	height:30px;
	background:url('./i/filter.png') no-repeat;
	float:left;
	margin:0px 5px 0px 0px;
}
.bstatistics .filter .today:hover {background-position:0px -30px;}
.bstatistics .filter .yesterday {
	display:block;
	text-indent:-9999em;
	width:98px;
	height:30px;
	background:url('./i/filter.png') -75px 0px no-repeat;
	float:left;
	margin:0px 5px 0px 0px;
}
.bstatistics .filter .yesterday:hover {background-position:-75px -30px;}
.bstatistics .filter .this-month {
	display:block;
	text-indent:-9999em;
	width:103px;
	height:30px;
	background:url('./i/filter.png') -173px 0px no-repeat;
	float:left;
	margin:0px 17px 0px 0px;
}
.bstatistics .filter .this-month:hover {background-position:-173px -30px;}
.bstatistics .filter .view {
	display:block;
	text-indent:-9999em;
	width:75px;
	height:30px;
	background:url('./i/filter.png') -276px 0px no-repeat;
	float:left;
	margin:0px 0px 0px 0px;
}
.bstatistics .filter .view:hover {background-position:-276px -30px;}

.bstatistics .filter .account {width:118px;float:left;margin:0px 5px 0px 0px;}

.bstatistics .filter .account .select .select {
	display:block;
	background:url('./i/fselect.png');
	width:107px;
	height:28px;
	text-decoration:none;
	font-weight:bold;
	color:#353535;
	font-family:Tahoma;
	line-height:28px;
	padding:0px 0px 0px 8px;
	position:absolute;
	overflow:hidden;
}
.bstatistics .filter .account .select select {width:115px;height:28px;}

.bstatistics .filter .date { float:left; margin:0px 13px 0px 0px;}

.bstatistics .filter .date .day {width:51px; float:left;margin:0px 5px 0px 0px;}
.bstatistics .filter .date .day .select .select {
	display:block;
	width:43px;
	height:28px;
	background:url('./i/fselect.png') -115px 0px no-repeat;
	text-decoration:none;
	font-weight:bold;
	color:#353535;
	font-family:Tahoma;
	line-height:28px;
	padding:0px 0px 0px 8px;
	position:absolute;
	overflow:hidden;
}
.bstatistics .filter .date .day .select select {
	width:51px;
	height:28px;
}
.bstatistics .filter .date .day ul {width:43px;}
.bstatistics .filter .date .month {width:86px; float:left;margin:0px 5px 0px 0px;}
.bstatistics .filter .date .month .select .select {
	display:block;
	width:78px;
	height:28px;
	background:url('./i/fselect.png') -166px 0px no-repeat;
	text-decoration:none;
	font-weight:bold;
	color:#353535;
	font-family:Tahoma;
	line-height:28px;
	padding:0px 0px 0px 8px;
	position:absolute;
	overflow:hidden;
}
.bstatistics .filter .date .month .select select {width:86px;height:28px;}
.bstatistics .filter .date .month ul {width:78px;}
.bstatistics .filter .date .year {width:66px; float:left;margin:0px 5px 0px 0px;}
.bstatistics .filter .date .year .select .select {
	display:block;
	width:58px;
	height:28px;
	background:url('./i/fselect.png') -252px 0px no-repeat;
	text-decoration:none;
	font-weight:bold;
	color:#353535;
	font-family:Tahoma;
	line-height:28px;
	padding:0px 0px 0px 8px;
	position:absolute;
	overflow:hidden;
}
.bstatistics .filter .date .year .select select {width:66px;height:28px;}
.bstatistics .filter .date .year ul {width:58px;}
.bstatistics .filter .date .to {display:block;padding:0px 5px 0px 0px; float:left;font-family:Tahoma;color:#353535;font-weight:bold;height:28px;line-height:28px;}

/* -- ---- Statistics ---- -- */