/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 11px;
	height: 100%;
	font-family:Arial;
	color:#231f20;
}
a {outline: none;color:#0797f2;}
a:hover {text-decoration: none;}
#inner .content a:visited {color:#1a73b8;}
img {border: none;}
#wrapper {
	min-height: 100%;
	min-width: 1000px;
	height: auto !important;
	height: 100%;
	margin: 0 auto 0px auto;
	position:relative;
}

label {cursor: pointer;}

.clear {clear:both;}
.empty {height:153px;}

h1 {
	font-size:24px;
	margin:0px 0px 12px 0px;
}

.wwrap {padding:0px 20px;}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 110px;
	padding:0 2%;
	overflow:hidden;
}
#header .logo {position:absolute; top: 60px; left: 2%;}
#menu .fixed {width:114px;}
#menu {background:#231f20 repeat-x; overflow:hidden; width:80.2%; float:left;}
#menu table {width:100%; margin:0;}
#menu td{ font-size:14px;overflow:hidden;vertical-align:top;}
#menu td.active {position:relative; vertical-align:middle;}
#menu td.active a {text-decoration:none;height:41px;line-height:41px;background-position:0 0;padding-top:0;}
#menu td a{display:block;color:#fff;height:25px;padding:16px 7px 0px 9px; margin:0px 8px 0px 0px;}
#menu td a span	{display:block;}
.orange {background:url('./i/menu-1.gif') 10px 7px no-repeat;}
#menu .active .orange {background:#f7ae1e url('./i/orange.gif') repeat-y;}
#menu .active .green {background:#5fc622 url('./i/green.gif') repeat-y;}
#menu .active .red {background:#ed831c url('./i/red.gif') repeat-y;}
#menu .active .black {background:#7f7f7f url('./i/black.gif') repeat-y;}
#menu .active .yellow {background:#ffde00 url('./i/yellow.gif') repeat-y;}
.green {background:url('./i/menu-2.gif') 10px 7px no-repeat;}
.red {background:url('./i/menu-3.gif') 10px 7px no-repeat;}
.black {background:url('./i/menu-4.gif') 10px 7px no-repeat;}
.blue {background:url('./i/menu-5.gif') 10px 7px no-repeat;}
.active .blue {background:#25c0e1 url('./i/blue.gif') repeat-y;}
.yellow {background:url('./i/menu-6.gif') 10px 7px no-repeat;}



.user-panel {
	width:17.8%;
	float:left;
}

.user-panel .log {
	background:url('./i/login.png') no-repeat;
	padding:0px 0px 0px 30px;
	font-size:12px;
	font-weight:bold;
	color:#000;
	margin:0px 0px 4px 0px;
	display:block;
}
.not-login {
	padding:29px 0px 0px 2%;
}

.choose-language {margin:0;}
.choose-language dt {font-size:11px;}
.choose-language dt a{color:#000;text-decoration:none;border-bottom: 1px dashed #000;}
.choose-language dt a:visited{color:#000;}
.choose-language dt .img{float:left;margin:0px 7px 0px 4px;}
.choose-language dd {display:none;}
/* // ---- wrap ---- // */

.container {
	width: 100%;
	height: 1%;
	margin:0px 0px 25px 0px;
}
.container:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.content {
	width:74%;
	float:left;
}

.wrap{padding:0px 0px 0px 16.2%;}

.sidebar {
	float: left;
	width: 26%;
	position: relative;
	overflow:hidden;
}
.sidebar .block {padding:0px 0px 0px 28px;}




/* -- ---- wrap ---- -- */



/* // ---- Progress Bar ---- // */

.progress-bar {
	padding:0px 0px 0px 0px;
	font-size:14px;
	margin:0px 0px 15px 0px;
	overflow:hidden;
}
.progress-bar .bar {
	width:281px;
	height:12px;
	background:url('./i/progress-bar.png') 0 0 no-repeat;
	margin:0px 0px 8px 0px;
	overflow:hidden;
}
.first-step .bar {background-position:0 -12px;}
.second-step .bar {background-position:0 -24px;}
.third-step .bar {background-position:0 -36px;}

.progress-bar .f-step {display:block;float:left;margin:0px 21px 0px 0px;}
.progress-bar .s-step {display:block;float:left;margin:0px 30px 0px 0px;}
.progress-bar .t-step {display:block;float:left;}

/* -- ---- Progress Bar ---- -- */

/* // ---- Order ---- // */

.gwide {
	background:#f2f2f2;
	clear:both;
	padding:20px 32px 20px 16.2%;
	position:relative;
}

.order-form {font-size:14px; position:relative;}
.order-form legend{display:block;font-size:14px;font-weight:bold;padding:0px 0px 8px 0px;}
.order-form .t-language {margin:0px 0px 14px 0px;}
.order-form .t-language legend{padding:0;}
.order-form .t-language .arrow {font-size:24px;font-weight:bold; padding:0px 10px;}

.ohidden {overflow:hidden;}


.urgent {color:#ed1c24; padding:0px 0px 0px 10px;}

.column {float:left;}
.w63 {width:63%;}
.w37 {width:37%;}

.t-type {
	margin:0px 0px 10px 0px;
}
.t-type dl {
	margin:0;
}
.t-type dd{
	color:#939598;
	font-size:12px;
	margin:0px 0px 5px 26px;
	font-style:italic;
}

.extras {margin:0px 0px 15px 0px;}
.extras label{display:block;margin:0px 0px 5px 0px;}


.promo legend em {font-weight:normal;}
.promo input {width:198px;font-size:14px;}

.next-step {
	border: 0px;
	width:195px;
	height:37px;
	background:url('./i/next-step.png') no-repeat;
	cursor: pointer;
	text-indent:-9999em;
}
.order-form .form-content {
	margin:0px 0px 25px 0px;
}
.order-form .form-footer{
	clear:both;
	overflow:hidden;
	padding:18px 0px 0px 0px;
	border-top: 1px solid #afafaf;
	position:relative;
	min-height: 52px;
}
.order-form .form-footer .approximate-price {margin:0;}
.order-form .form-footer .approximate-price dt{margin:0 0 5px 0px;}
.order-form .form-footer .approximate-price dd {margin:0px;}
.order-form .form-footer .approximate-price dd em{color:#939598;}
.order-form .form-footer .price {font-size:24px;}

.edit-order {
	border: 0px;
	width:240px;
	height:37px;
	background:url('./i/edit-order.png') no-repeat;
	cursor: pointer;
	text-indent:-9999em;
}
body button.right {position:absolute;right: 0px; top: 18px;}

.form-content {}
.form-content .data{
	line-height:19px;
}
/* -- ---- Order ---- -- */

/* // ---- upload-file ---- // */

.upload-file {
	background:url('./i/white.png') right bottom no-repeat;
	position:absolute;
	width:368px;
	left: 10.8%;
	top: 80px;
	padding:20px 0px 15px 18px;
	font-size:14px;
}
.upload-file .tr {position:absolute;top: 0px; right: 0px;height:2px;width:2px;background:url('./i/white.png') right top no-repeat;}
.upload-file .bl {position:absolute;bottom: 0px; left: 0px;height:2px;width:2px;background:url('./i/white.png') left bottom no-repeat;}

.fake-upload {margin:0px 0px 15px 0px;}

.upload-file dl {margin:0;}
.upload-file dt {font-weight:bold;margin:0px 0px 8px -3px;}
.upload-file dt a{color:#000;}
.upload-file dt em{font-weight:normal;}
.upload-file dd {margin:0px 0px 10px 0px;}
.upload-file dd div.file{padding:12px 0px 0px 46px;position:relative; margin:0px 0px 0px 22px;}
.upload-file dd div.file .close{position:absolute; top: 14px; left: 0px; width:13px;height:13px;background:url('./i/u-close.gif') no-repeat;}
.upload-file .file-in {margin:0px 0px 0px 22px;}
.upload-file .close {text-indent:-9999em;}
.upload-file dd div.file a {color:#0797f2;}
.upload-file dd div.file .icon {width:16px;height:16px;display:block; position:absolute; left: 21px;}
.upload-file dd div.doc .icon{background:url('./i/doc.gif') no-repeat;}
/* -- ---- upload-file ---- -- */

.order-form .print {
	padding:0px 0px 0px 44px;
	background:url('./i/print.png') no-repeat;
	display:block;
	position:absolute;
	left:68.9%;
	top: 0px;
	color:#231f20;
}
.order-form .your-contacts {overflow:hidden;margin:0px 0px 20px 0px;}
.order-form .your-contacts dl{float:left;margin:0 0 20px 0px;}
.order-form .your-contacts dt {margin: 0px 0px 8px 0px;}
.order-form .your-contacts dt label{font-weight:bold;}
.order-form .your-contacts dt label em{font-weight:normal;}
.order-form .your-contacts dd {margin:0;}
.order-form .your-contacts .mail {width:29.7%;}
.order-form .your-contacts .mail input{width:151px;}
.order-form .your-contacts .phone {width:33%;}
.order-form .your-contacts .phone input{width:146px;}
.order-form .your-contacts .fio {width:35.8%;}
.order-form .your-contacts .fio input{width:212px;}
.order-form .your-contacts .accept {display:block;clear:both;}
.order-form .your-contacts .accept input{float:left; margin:0px 5px 0px 0px;}
.order-form .your-contacts .accept span{display:block; float:left;}

.order-form .back {
	display:block;
	width:116px;
	height:37px;
	border: 0px;
	background:url('./i/back.png') no-repeat;
	text-indent:-9999em;
}
.order-form .pay {
	display:block;
	width:115px;
	height:37px;
	border: 0px;
	background:url('./i/pay.png') no-repeat;
	text-indent:-9999em;
	position:absolute;
	right: 0px;
	top: 18px;
}

.pay-way {
	margin:-20px -32px 0px -122px;
	position:relative;
}
.pay-way td.way{
	width:194px;
	padding:20px 0px 20px 100px;
}
.pay-way td.way strong {font-size:18px; display:block; float:left;}
.pay-way td.way .summ {
	padding:10px 0px 0px 22px;
	clear:both;
}
.pay-way td.way input {float:left; margin:4px 10px 0px 0px;}
.pay-way td.description {font-size:12px; padding-right:32px;}
.pay-way td.description .more{color:#000; font-size:14px;font-weight:bold; text-decoration:none;border-bottom: 1px dashed #000;}
.pay-way td {padding:20px 0px;vertical-align:top;}
.pay-way .alt td {background:#fbfbfb;}
/* // ---- Footer ---- // */

#footer {
	height:133px;
	margin:-153px 2% 0px 2%;
	background:url('./i/footer.png') repeat-x;
	padding:20px 0px 0px 0px;
	position:relative;
	min-width: 960px;
}
#footer a  {color:#25aae1;}

#footer .data {
	margin:0px 0px 10px 0px;
	overflow: hidden;
}

#footer .copy {
	float: left;
	width: 25%;
	margin-right: 2%;
}
#footer .address {width:48%;margin-right: 2%;float: left;}

#footer .identique, #footer .search {
	float: left;
	width: 18%;
	margin-left: 4%;
}


#footer .identique a {
	display:block;
	width:104px;
	padding:25px 0px 0px 0px;
	background:url('./i/identique.png') 2px 0px no-repeat;
}

#footer .links, #footer .links a {color: #9b9b9b;}
#footer .search p a {color: #9b9b9b;}
#footer .search p {margin: 3px 0 0 0;}
#footer .search input {width: 150px;}

.links {clear:both;}
/* -- ---- Footer ---- -- */

/* // ---- sidebar ---- // */

.sidebar {}
.sidebar .contacts {
	font-size:12px;
}
.sidebar .contacts h2, .columns .contacts h2 {font-size:18px; margin:0px 0px 5px 0px;}
.sidebar .contacts .phone, .columns .contacts .phone{
	display:block;
	margin:0px 0px 10px 0px;
	font-weight:bold;
	line-height:28px;
	font-size:18px;
}
.sidebar .contacts .phone span, .columns .contacts .phone span {font-size:36px;display:block;}

.sidebar .contacts .c-main, .sidebar .contacts .c-minor, .columns .contacts .c-main {
	margin:0;
	line-height:18px;
	margin:0px 0px 15px 0px;
}
.sidebar .contacts .c-main li, .sidebar .contacts .c-minor li, .columns .contacts .c-main li {list-style:none; /*padding:0px 0px 0px 22px; background:url('./i/c-icons.png') 0 0 no-repeat;*/clear:both;margin:0px 0px 2px 0px;}
.sidebar .contacts a {color:#0797f2;}

.c-main .icon, .c-minor .icon {float:left; position:relative; top: 1px; margin:0px 6px 0px 0px;}

/* -- ---- sidebar ---- -- */

/* // ---- Alert ---- // */

.alert {
	background:url('./i/alert.png') right bottom no-repeat;
	position:relative;
	padding:13px 17px;
	margin:0px 5% 20px 0px;
	font-size:12px;
	line-height:15px;
}
.alert .tr {
	width:100%;
	height:2px;
	background:url('./i/alert.png') right top no-repeat;
	position:absolute;
	top: -2px;
	right: 0px;
}
.alert .bl {
	width:2px;
	min-height: 100%;
	background:url('./i/alert.png') left bottom no-repeat;
	position:absolute;
	bottom: 0px;
	left: -2px;
	padding:2px 0px 0px 0px;
}
.alert .corner {
	width:20px;
	height:10px;
	background:url('./i/alerta.png') no-repeat;
	position:absolute;
	top: -10px;
	left: 20px;
}
.alert .ex {
	width:6px;
	height:26px;
	background:url('./i/alert1.png') no-repeat;
	position:absolute;
	top: 6px;
	left: -20px;
}

/* -- ---- Alert ---- -- */

button {text-align:left;padding:0;position:relative;}

button.s-button1 {
	border: 0px;
	background:none;
	font-size:18px;
	color:#fff;
	cursor: pointer;
	float:left;
	position:relative;
}
button.s-button1 span {
	position:relative;
	background:url('./i/button1.png') no-repeat;
	padding:6px 0px 9px 20px;
	display:block;
	z-index: 1;
}
button.s-button1 i{
	display:block;
	width:17px;
	height:37px;
	background:url('./i/button1.png') 0px -74px no-repeat;
	position:absolute;
	right: -11px;
	top: 0px;
}
.webkit button.s-button1 i {right: -14px; top: 1px;}
.opera button.s-button1 i {right: -17px; }
.ie6 button.s-button1 span {position:relative;}
.ie6 button.s-button1 i {right: 50px;}
button.s-button span.bg {
	display:block;
	height:32px;
	float:left;
	padding:5px 0px 0px 0px;
	display:inline;

}
button.s-button span.lc {
	width:17px;
	height:37px;
	display:block;
	float:left;
}
button.s-button span.rc {
	width:18px;
	height:37px;
	display:block;
	float:left;
}

.button-orange {position:relative;overflow:hidden;}
.button-orange .lc{display:block;width:17px;height:37px;background:url('./i/button.png') 0 0 no-repeat;float:left;}
.button-orange .rc{display:block;width:18px;height:37px;background:url('./i/button.png') 0 -74px no-repeat;float:left;}
.button-orange input{cursor:pointer;line-height:18px;float:left;border: 0px; color:#fff;font-size:18px;padding:5px 0px 8px 0px;background:url('./i/button.png') 0px -37px;}
button.orange-button span.bg {background:url('./i/button.png') 0px -37px repeat-x;}
button.orange-button span.lc {background:url('./i/button.png') 0 0 no-repeat;}
button.orange-button span.rc {background:url('./i/button.png') 0 -74px no-repeat;}
button.gray-button span.bg {background:url('./i/button.png') 0px -148px repeat-x;}
button.gray-button span.lc {background:url('./i/button.png') 0 -111px no-repeat;}
button.gray-button span.rc {background:url('./i/button.png') 0 -185px no-repeat;}


/* // ---- main ---- // */

.login-form {
	width:246px;
	height:191px;
	background:url('./i/b-login.png') no-repeat;
	font-size:14px;
	position:absolute;
	top: 48px;
	right: 7%;
	display:none;
	z-index: 100;
}
.login-form dl {
	margin:0;
}
.login-form dd {
	margin:0 0 12px 0px;
}
.login-form dt {
	margin:0 0 10px 0px;
}
.login-form .remember-me {
	position:absolute;
	top: 75px;
	right: 22px;
}
.login-form .s-button {padding:0 0px 0px 60px;}
.login-form fieldset {
	padding:16px 0px 0px 20px;
}
.login-form input {font-size:14px;}
.login-form input#email {width:198px;}
.login-form input#pass {width:158px;}
.login-form .close {
	display:block;
	width:6px;
	height:6px;
	text-indent:-9999em;
	background:url('./i/login-x.gif') no-repeat;
	position:absolute;
	top: 6px;
	right: 10px;
}

#main .container {
	padding:0px 2%;
	width:auto;
	font-size:12px;
}

.promo {overflow:hidden;margin:0px 0px 20px 0px;}
.promo .pblock {width:50%; float:left;}
.promo .pblock .inner {padding:0 0 0 195px; min-height: 162px;}
.promo .l-block .inner {padding-right:20px;background:url('./i/check.png') no-repeat;}
.promo .r-block .inner {padding:0px 0px 0px 200px;background:url('./i/seventeen.png') no-repeat;}
.promo h2 {font-size:18px;font-weight:normal;margin:0px 0px 15px 0px;}
.promo .r-block h2 span	{background:url('./i/flag.png') right 3px no-repeat;padding:0px 52px 0px 0px; float:left;}
.promo .r-block h2:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;}
.promo .calculator {
	display:block;
	width:191px;
	height:30px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	line-height:30px;
	font-size:14px;
	background:url('./i/calculator.png') no-repeat;
	margin:0px 0px 12px 0px;
}
.promo p {clear:both;}

.columns {width:100%;}
.colblock {overflow:hidden;background:#f2f2f2;width:81.7%;float:left;}
.columns .column {float:left;}
.columns .fcol {width:18.3%;}
.columns .fcol .inner{padding:0px 10px 0px 0px;}
.columns .col {width:25%;}
.columns .col .inner{padding:18px 0px 20px 20px;}
.columns h2 {font-size:18px;font-weight:normal;margin:0px 0px 10px 0px;}
.columns .price {font-size:36px; display:block; margin:-8px 0px 5px 0px;}
.columns .price span.rub {font-weight:normal;position:relative;}
.columns .price span.ind {position:relative;z-index: 10;}
.columns .price span.rub .stick{display:block; width:72px;height:50px; position:absolute;top: -30px; right: -12px; background:url('./i/sticker.png') no-repeat;}
.columns p {margin:0px 0px 10px 0px;}
.columns p strong a {color:#ed1c24;font-weight:bold;}
/* -- ---- main ---- -- */

.content {font-size:14px;}
#inner .content p{line-height:19px; margin:0px 0px 15px 0px;}
#inner .content img{line-height:19px; margin:0px 0px 15px 0px;}

#inner .content table {width:auto; margin:5px 0px 15px -20px;}
#inner .content table thead td {background:#f2f2f2;font-weight:bold;}
#inner .content table td {padding:8px 40px 5px 20px;}

#inner .content ol {color:#9f9f9f;line-height:23px; margin:0 0 15px -5px;}
#inner .content ol li{padding:0 0 0 6px; font-weight:bold;}
#inner .content ol li span {color:#424242; font-weight:normal;}

#inner .onews p{margin:0 0 5px 0;}
#inner p.meta {margin:-12px 0px 20px 0px;}
#inner .meta b{font-weight:normal;color:#f7941e;}

.inav {margin:0 0 20px 9px;}
.inav li{list-style:none;font-size:14px;line-height:10px;margin:0px 19% 0 0;}
.inav li a{display:block;padding:5px 0px 5px 20px;}
.inav li.active a{background:#f7941e;text-decoration:none;color:#fff;}

/* // ---- Admin ---- // */

#admin {}
#admin #menu {background:#39b54a;}
#admin #menu li{ width:20%;}

.orders {margin:0;font-size:14px;width:100%;margin:0px 0px 20px 0px;}
.orders thead {}
.orders thead td {background:#fff; border-bottom: 1px solid #000;height:30px;line-height:30px;padding:0;}
.orders td {padding:8px 0px 0px 0px;height:45px;vertical-align:top; border-bottom: 1px solid #939598;}
.orders .alt td {background:#f6f6f6;}
.orders .hover td {background:#ffde00;}
.orders thead a {color:#939598;}
.orders .icons {width:65px;padding:8px 15px 0px 0px; text-align:right; }
.orders .icons img{float:right;margin:0px 0px 0px 8px;}
.orders .id {width:59px;}
.orders tbody .t-direction {font-size:11px;}
.orders .more-info{width:33px; vertical-align:top; padding:12px 0px 0px 0px;height:33px;}
.orders .more-info a, .orders .bill a{opacity: 0.5}
.orders .hover .more-info a, .orders .hover .bill a{opacity: 1}
.orders .bill{width:66px;}
.orders .active span {background:url('./i/aarrow.gif') right center no-repeat; padding:0px 20px 0px 0px;}
.orders .active a, .orders a {color:#231f20;}

.orders .wip a {color:#39b54a;}

.p-navigation {margin:0 0 0 8.7%;font-size:14px;font-weight:bold; float:left;}
.p-navigation li {list-style:none; display:inline;padding:0px 10px 0px 0px;}
.p-navigation li ul{display:inline; margin:0 -10px 0px 0px; }
.p-navigation li ul a{color:#444444;}
.p-navigation li ul .active a{color:#9a9a9a;text-decoration:none;}

.legend {float:left;margin:0 0 0 9.6%;width:50%;font-size:12px;}
.legend div{float:left; margin:0 5% 0 0;}
.legend img {float:left;}
.legend em {float:left; margin:6px 0px 0px 5px;}

.statuses {position:absolute;left: -22px; top: 0px; z-index: 1;background:url('./i/bwhite.png') right bottom no-repeat; padding:15px 22px;display:none;}
.statuses .tr {width:100%; position:absolute;top: -2px; right: 0px;background:url('./i/bwhite.png') right top no-repeat;height:2px; padding-left:2px;}
.statuses .bl {width:100%; position:absolute;left: -2px; bottom: 0px;background:url('./i/bwhite.png') left bottom no-repeat;width:2px;min-height: 100%;}
.statuses ul{margin:0;}
.statuses ul li{list-style:none;margin:0px 0px 10px 0px;font-weight:bold;}
.istat {position:relative;}
.notpaid a {color:#ed1c24;}
.current a {text-decoration:none;}

/* -- ---- Admin ---- -- */

/* // ---- login ---- // */

.login .inner{padding:20px 0px 0px 20px;}
.login .welcome{display:block;margin:0px 0px 15px 0px;}
.login .logout{padding:0px 15px 0px 0px;background:url('./i/login-x.gif') right 6px no-repeat;}

/* -- ---- login ---- -- */

.w43 {width:43.2%;}
.w27 {width:27.9%;}
.w26 {width:26.9%;}

#admin .upload-file .pages input{width:40px;text-align:right;}
#admin .upload-file .pages {margin:10px 0px 0px 0px;}
#admin .dead-line {}
#admin .dead-line .date {width:85px;text-align:center;margin:0px 15px 0px 0px;}
#admin .dead-line .time {width:50px;text-align:center;}
#admin form .price {font-size:24px;}
#admin form .price input{font-size:22px;width:118px;}
#admin .comment {margin:0px 0px 10px 0px;}

#admin .delivery {}
#admin .delivery label {font-weight:bold;margin:0px 0px 10px 0px;display:block;}
#admin .delivery select {margin:0px 0px 10px 25px;}
#admin #comment {width:100%;height:67px;font-size:12px;color:#231f20;font-family:Arial;}
#admin #address {width:100%;height:47px;font-size:12px;color:#231f20;font-family:Arial;}

#admin #footer {}
#admin #footer .copy{width:38.3%;float:left;}
#admin #footer .choose-language {width:20.5%;float:left;margin:0;}
#admin #footer .choose-language a{color:#231f20;}
#admin #footer .search{width:38%;float:left;margin:0;padding:0px 0px 4px 0px;}
#admin #footer .search label{float:left; margin:0px 12px 0px 0px;}
#admin #footer .search input{float:left;margin:3px 12px 0px 0px;font-size:11px; padding:4px 2px;}
#admin #footer #id {width:68px;}
#admin #footer #mphone {width:128px;}
#admin #footer input.button {width:auto; text-decoration:underline; border: 0px; background:none; cursor:pointer;color:#231f20;font-size:12px; margin-top:0;}


#contacts {}
#contacts .content {width:79%;}
#contacts .sidebar {width:21%;}
#contacts .sidebar .block{padding:0px 20px 0px 8px;}

#contacts #menu {width:80%;}
#contacts .map {margin:10px 0px 20px 0px;}
#contacts .contacts {margin:34px 0px 0px 0px;}
#contacts .filials {font-size:12px; margin:115px 0px 0px 0px;}
#contacts .filials em{color:#939598;}
#contacts .filials strong{font-size:36px; background:url('./i/flag.png') right 2px no-repeat; padding:0px 40px 0px 0px;}

#contacts .stations {font-size:12px;}
#contacts .stations ul {
	margin:0 0 10px 0;
	float:left;
}
#contacts .stations li {list-style:none;padding:5px 0px;}
#contacts .stations li span	{
padding:5px 10px 5px 25px;
list-style:none;
background:url('./i/station.gif') 5px 7px no-repeat;
position:relative;
left: -10px;

}
#contacts .stations li.active span{background:#ed1c24 url('./i/stationa.gif') 5px 7px no-repeat;color:#fff;font-weight:bold;}
#contacts .stations i {color:#25aae1;}
#contacts .stations .w52 {width:50%; float:left;}
#contacts .stations .w48 {width:50%; float:left;}
#contacts .stations .soon {clear:both;}