/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* box-sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* base */
html,
body {
    background: #fff;
    height: 100%;
    }

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 50px 0;
    }

b, strong {
    font-weight: bold;
    }

i, em {
    font-style: italic;
    }

a {
    color: #2d83e4;
    text-decoration: underline;
    }

a:hover,
a:active {
    color: #ff5e5e;
    text-decoration: none;
    }

/*a:visited {
    color: #bcbcbc;
    }*/

.cf:after {
    content: "";
    display: table;
    clear: both;
    }

header {
    margin: 0 0 40px;
    text-align: center;
    }
header figure {
    margin: 0 0 10px;
    }

header h1 {
    font-size: 28px;
    margin: 0 0 10px;
    }
header h2 {
    font-size: 20px;
    display: block;
    color: #898989;
    }

section {
    width: 400px;
    margin: 0 auto;
    /*background: #ededed;*/
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #ededed;
    }
dl {
    margin: 0 0 35px;
    }
dl:last-child {
    margin: 0;
    }
dl dt {
    font-weight: bold;
    color: #898989;
    margin: 0 0 15px;
    font-size: 18px;
    }
dl dd {}
dl dd ul {
    line-height: 22px;
    }
dl dd ul li {
    margin: 5px 0;
    }

footer {
    text-align: center;
    padding: 20px 0 0;
    }
