/*

------------------------------------------------------
author:    Aleksey Krekotun
email:     dobrii.ru@gmail.com
icq:       536136
skype:     dobrii_ru
website:   www.dobrii.ru
------------------------------------------------------

*/
/* Reset
---------------------------------------------------------- */

@import 'reset.css';

/* Main Styles
---------------------------------------------------------- */


html {font-size: 100.1%; height: 100%;}
body {background: #fff; font-family:Tahoma; height: 100%; font-size: 62.5%;}
h1, h2, h3, h4, h5, h6 { font-weight: normal;}
.empty { height: 170px;}
.clear { clear: both; }
a {color:#00acd1;}
a:hover { text-decoration: none; border: none;}
#wrapper { margin: 0 auto -170px; position: relative; width: 960px; }

h2, h3 {font-family:"Trebuchet MS"; }

/* // ---- Header ---- // */

#header {padding:20px 0px 0px 0px; line-height:37px; height:50px; position:relative; z-index: 100;}
#header h1, #header h1 a {display:block; width:203px; height:50px; position:relative; text-indent:-1999em; }
#header h1 {background:url('./i/logo.png') no-repeat; float:left; margin:0px 37px 0px 0px; }

#header .menu {}
#header .menu li {font-family:"Trebuchet MS"; font-size:16px; display:inline; margin-right:30px; font-style:italic;}
#header .menu li.active a{color:#000; text-decoration:none; }

.user-panel { font-size:12px; float:right; margin:-39px 0px 0px 0px; position:relative; color:#818181;width:290px; text-align:right; }

.enter-site {text-decoration:none; border-bottom: 1px dashed #00acd1;}
.enter-site-active, .enter-site:hover {border: none;}
.login {display:none; width:222px; height:177px; background:url('./i/login.png') no-repeat; padding:17px 0px 0px 0px; position:absolute; top: 30px; left: 0px; text-align:left; line-height:1; }
.login p {margin-bottom: 10px; }
.login fieldset {display:block; width:158px; margin:0 auto; }
.login fieldset #username, .login fieldset #password {width:138px; padding:1px 10px;}
.login fieldset .button{width:161px; }
a.forgot {text-align:center; color:#000; font-size:11px; display:block; }

/* -- ---- Header ---- -- */

#container {padding: 20px 0px 0px 0px;}

/* // ---- Content ---- // */

.content {
	width:720px;
	float:right; 
}

.special-offer {position:relative; height:220px; background:url('./i/s-offer-b.gif') 0px 200px repeat-x; margin:0px 0px 10px 0px; }
.special-offer h2 {height:50px; background:url('./i/s-offer-t.png') repeat-x; position:absolute; top: 0px; width:720px; font-size:24px; }
.special-offer h2 a{color:#000; position:relative; width:690px; display:block; text-decoration:none; margin:15px 0px 0px 30px; }
.special-offer h2 a b{color:#fff; position:absolute; top: -1px; left: -1px; display:block; width:720px; font-weight:normal; }
.special-offer strong {padding:0 25px; height:30px; line-height:30px; font-size:20px; font-family:"Trebuchet MS"; display:block; background:#fff; position:absolute; top: 150px; right: 0px;}
.special-offer strong i {display:block; width:5px; height:35px; position:absolute; right: -5px; top: -5px; background:url('./i/s-offer-p.gif'); }

.items {width:740px; margin-left:-20px; position:relative; clear:both; }
.best-items h2 {font-size:24px; margin:0px 0px 20px 20px; }
.like-that h2 {font-size:20px; margin:0px 0px 12px 20px;clear:both;  }
.items ul {margin:-50px 0px 0px 0px; clear:both; }
.items li {width:350px;margin:50px 0px 0px 20px;float:left;position:relative;_display:inline;}
.items li h3 {font-size:18px;margin:0px 0px 8px 0px;}
.items li .img {width:152px;float:left;margin:0px 15px 0px 0px;text-align:center;}
.items li .img img {margin:0px 0px 15px 0px; border: 1px solid #cccccc;}
.items li .img strong {font-size:16px; font-weight:normal; }
.items li .img strong i	{font-style:normal; font-size:13px; }
.items li .description {float:left; width:183px; }
.items li .description p {line-height:16px; font-size:11px; }
.b-buy {display:block; color:#fff;width:90px; height:25px; background:url('./i/cart-button.png') 0px -21px; font-size:16px; text-decoration:none; font-family:'Trebuchet MS'; line-height:23px; padding:0px 0px 0px 64px; margin:20px 0px 0px 7px;}

.breadcrumb {font-size:18px; font-family:"Trebuchet MS"; margin:0px 0px 44px 0px; }
.breadcrumb a {}
.breadcrumb li {display:inline; margin-right:10px; padding:0px 20px 0px 0px; background:url('./i/breadcrumb.gif') right 9px no-repeat; }
.breadcrumb li.here {font-size:20px; padding:0; background:none; }

.item-description {margin:0px 0px 40px 0px; }
.item-description .img {text-align:center; width:250px; float:left; margin-right:20px; }
.item-description .img img {border: 1px solid #cccccc; margin:0px 0px 15px 0px; }
.item-description .img strong {font-size:22px; font-weight:normal; }

.item-description .description {width:450px; float:left; font-size:12px; }
.item-description .description h2{font-size:22px; margin-bottom:8px; }
.item-description .description p {line-height:17px; margin-bottom:17px; }
.item-description .description .b-buy {margin-top:7px; float:right; }
/* -- ---- Content ---- -- */

/* // ---- Sidebar ---- // */

.sidebar {
	width:200px;
	float:right;
	margin-right:40px; 
}

.cat-navigation {}
.cat-navigation li {font-size:12px; margin-bottom:14px; }
.cat-navigation li.active {}
.cat-navigation li.active a {border: none;}
.cat-navigation li a {color:#000; text-decoration:none; border-bottom: 1px dashed #000;}
.cat-navigation li ul {margin:14px 0px 0px 10px; display:none; }
.cat-navigation li li {font-size:11px; margin-bottom:8px; }
.cat-navigation li li a {color:#555555; text-decoration:underline; border:none}
.cat-navigation li li a:hover, .cat-navigation li li.active a {text-decoration:none; }

.cart {margin:53px 0px 0px 0px; }
.cart {width:135px; height:21px; background:url('./i/cart-button.png'); line-height:20px; padding:0px 0px 0px 65px; }
.cart a {font-size:12px; color:#fff; text-decoration:none; border-bottom: 1px dashed #fff;}
.cart a:hover {border:none;}

.articles {margin:40px 0px 0px 0px; }
.articles h2 { font-size:22px; margin-bottom:20px; }
.articles h2 a {color:#000;}
.articles h3 {font-size:13px; margin-bottom:5px; line-height:14px; font-family:Tahoma; }
.articles p {font-size:11px; line-height:16px; }
.articles li {margin-bottom:15px; }
/* -- ---- Sidebar ---- -- */

/* // ---- Footer ---- // */

#footer {
	height:71px;
	padding:99px 0px 0px 0px;
	position:relative; 
}
#footer div {
	height:70px;
	line-height:70px;
	border-top: 1px solid #c0c0c0;
	color:#818181;
	width:960px;
	margin:0 auto;
	font-size:12px; 
}
#footer p.author {float:right; margin-top:-70px; }
.foo-main {margin-top:-150px; }
/* -- ---- Footer ---- -- */