/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 12px;
	height: 100%;
	color:#333333;
	font-family:Tahoma;
	background: #fff url('./i/bg.png') repeat-x;
}
a {outline: none;color:#006ead;}
a:hover {text-decoration: none;}
img {border: none;}
.wrapper {
	width:960px;
	margin:0 auto;
}
.clear {clear:both;}

/* // ---- header ---- // */

.header {
	position:relative;
	height:80px;
}
.header .logo {
	position:absolute;
	top:0px;
	left: 0px;
}

.header .info {margin:0;color:#fff;position:absolute;right:0px;top: 10px;}
.header .info a{color:#fff;}
.header .info dt {display:inline;}
.header .info dd {display:inline;margin:0 10px 0px 0px;}

.header .menu {
	display:block;
	width:628px;
	height:31px;
	margin:0;
	background:url('./i/menu.png') no-repeat;
	position:absolute;
	right: 0px;
	top: 73px;
	font-size:14px;
	padding:5px 0px 0px 17px;
}
.header .menu li {list-style:none;display:block;float:left;margin:0px 4px 0px 0px;}
.header .menu li a {display:block;float:left;color:#fff;}
.header .menu li a span{display:block;float:left;height:25px;line-height:25px;padding:0px 12px;}
.header .menu li.active a {background:url('./i/menu-li.png') no-repeat;color:#333333;text-decoration:none;}
.header .menu li.active a span{background:url('./i/menu-li.png') right -25px no-repeat;}

/* -- ---- header ---- -- */

/* // ---- c-block ---- // */

.c-block {
	background:url('./i/c-block.png') -960px 0px repeat-y;
	
}
.c-block .c-wrap {
	background:url('./i/c-block.png') -1920px bottom no-repeat;
}
.c-block .c-inner {
	background:url('./i/c-block.png') 0px 0px no-repeat;
	overflow:hidden;
	padding:0px 0px 8px 0px;
}

/* -- ---- c-block ---- -- */

/* // ---- sidebar ---- // */

.sidebar {
	width:300px;
	float:left;
	padding:5px 0px 0px 5px;
}

/* // ---- rate ---- // */

.rate {
	background: #619420 url('./i/rate.png') no-repeat;
	position:relative;
	margin:0px 0px 30px 0px;
}
.rate ul {margin:0;}
.rate .bottom {
	position:absolute;
	bottom: -8px;
	left: 0px;
	width:300px;
	height:8px;
	background:url('./i/rate.png') right top no-repeat;

}

ul.tabs {overflow:hidden;padding:10px 0px 4px 19px;margin:0px 0px 1px 0px;}
.tabs li {list-style:none; float:left;font-size:14px;position:relative;margin:0px 3px 0px 0px;}
.tabs li a {display:block; float:left; background:url('./i/tabs.png') no-repeat;text-decoration:none;color:#333333;}
.tabs li a span {display:block; float:left;height:26px; background:url('./i/tabs.png') right -26px no-repeat;padding:0px 13px;line-height:23px;}
.tabs li i {display:none;width:10px;height:8px;background:url('./i/tabs.png') 0px -104px no-repeat;position:absolute;top:22px; left: 50%; margin-left:-5px;}

.tabs li.active a {background-position:0px -52px;color:#ffffff;}
.tabs li.active a span {background-position:right -78px;}
.tabs li.active i {display:block;}

.g-tabs li a {background-position:0px -112px;}
.g-tabs li a span {background-position:right -138px;}
.g-tabs li i {background-position:0 -216px;}
.g-tabs li.active a {background-position:0px -164px;}
.g-tabs li.active a span {background-position:right -190px;}

.rate .table {padding:0px 5px;position:relative;bottom:-3px;z-index:1;}
.rate .table table{margin:0; color:#fff;width:100%;font-size:11px;}
.rate .table table thead {font-size:14px;}
.rate .table table td {background:url('./i/r-td.png') no-repeat;height:24px;line-height:24px;}
.rate .table table td.get {background:url('./i/r-td.png') right top no-repeat;}
.rate .table table .alt td {background:url('./i/r-td.png') left  -24px no-repeat;}
.rate .table table .alt td.get {background:url('./i/r-td.png') right -24px no-repeat;}
.rate .table table thead td {background:url('./i/r-thead.png') no-repeat;height:30px;line-height:30px;width:135px;padding:0px 0px 0px 10px;}
.rate .table table thead td.get {background:url('./i/r-thead.png') right top no-repeat;}
.rate .table table td a {display:block;padding:0px 0px 0px 10px;color:#fff;text-decoration:none;}
.rate .table table td.selected a {background:url('./i/r-td.png') 0px -48px no-repeat;}
.rate .table table td.get-selected a {background:url('./i/r-td.png') right -48px no-repeat;}
.rate .table table td a:hover {background:url('./i/r-td.png') left -72px no-repeat;color:#333333;}
.rate .table table td.get a:hover {background:url('./i/r-td.png') right -72px no-repeat;color:#333333;}

.rate .table table .last td {background:url('./i/r-td.png') left  -96px no-repeat;}
.rate .table table .last td.get {background:url('./i/r-td.png') right -96px no-repeat;}
.rate .table table .last-alt td {background:url('./i/r-td.png') left  -120px no-repeat;}
.rate .table table .last-alt td.get {background:url('./i/r-td.png') right -120px no-repeat;}
.rate .table table .last td a:hover {background:url('./i/r-td.png') left  -144px no-repeat;}
.rate .table table .last td.get a:hover {background:url('./i/r-td.png') right -144px no-repeat;}
.rate .table table .last td.selected a {background:url('./i/r-td.png') left  -168px no-repeat;}
.rate .table table .last td.get-selected a {background:url('./i/r-td.png') right -168px no-repeat;}
.hide {display:none;}
.list {
	background: #8ab83a url('./i/list.png') no-repeat;
	width:290px;
	margin:0 auto;
	position:relative;bottom:-3px;z-index:1;
}
.list .inner {background:url('./i/list.png') -290px bottom no-repeat;padding:16px 0px 25px 10px;}
.list dl {float:left;margin:0 0 25px 0;}
.list dl dt {font-size:14px;color:#333333;margin:0px 0px 4px 0px;}
.list dl dd {margin:0;}
.list dl.give {margin:0px 10px 0px 0px;}
.list select {
	height:20px;
	width:130px;
}

.list select.styled {
opacity:0;
position:relative;
z-index:5;
width:130px;
font-size:11px;
}
.list .select  {
	background:url("./i/s-list.png") no-repeat;
	color:#333333;
	display:block;
	font-family:Tahoma;
	height:20px;
	line-height:20px;
	overflow:hidden;
	padding:0 0 0 9px;
	position:absolute;
	text-decoration:none;
	width:121px;
	font-size:11px;
}

.list button {margin:0 auto;clear:both;cursor: pointer;display:block;width:152px;height:36px;background:url('./i/b-list.png') no-repeat;border: 0px; position:relative;}
.list button span {position:absolute;left: -1999em;}

.popular {color:#fff;font-size:11px;}
.popular ul {width:290px;margin:0 auto;position:relative;bottom:-3px;z-index: 1;}
.popular .first-line {
	height:25px;
	background:url('./i/popular.png');
	line-height:24px;
}
.popular li{
	height:24px;
	background:url('./i/popular.png') 0px -25px;
	list-style:none;
	line-height:23px;
	padding:0px 0px 0px 10px;
}
.popular li img {position:relative;top:2px;}
.popular li.alt{
	background:url('./i/popular.png') 0px -49px;
}
.popular li.last-line{
	height:24px;
	background:url('./i/popular.png') 0px -73px;
	line-height:24px;
}
.popular li.last-line-alt{
	height:24px;
	background:url('./i/popular.png') 0px -97px;
	line-height:24px;
}

/* -- ---- rate ---- -- */

/* // ---- info-block ---- // */

.info-block {background:url('./i/iblock.png');position:relative;}
.info-block .bottom {height:8px;width:300px;background:url('./i/iblock.png') -300px 0px no-repeat;position:absolute;bottom: -8px; left: 0px;}
.info-block .g-tabs {padding-left:55px;}

.info-block .block {
	width:290px;
	margin:0 auto;
	background: #f9f9f7 url('./i/ibinner.gif') no-repeat;
	position:relative;
	bottom: -3px;
	z-index: 1;
}
.info-block .block .inner {
	background:url('./i/ibinner.gif') right bottom no-repeat;
	padding:10px 15px 1px 15px;
}
.info-block .news {}
.info-block .news dl {margin:0;}
.info-block .news dt {margin:0;color:#5a8f1e;font-size:14px;}
.info-block .news dt a{color:#5a8f1e;text-decoration:none;}
.info-block .news dt small {font-size:11px;color:#888888;}
.info-block .news dd {margin:0 0 20px 0;font-size:11px;}


/* -- ---- info-block ---- -- */

/* -- ---- sidebar ---- -- */

/* // ---- content ---- // */

.content {
	padding:45px 15px 0px 15px;
	float:left;
	width:625px;
}
.content {}

.content .intro {
	background:url('./i/intro.png') bottom no-repeat;
	padding:15px 10px 20px 10px;
	margin:0px 0px 30px 0px;
}
.content h1 {font-size:18px;font-weight:normal;}
.content .m-rate {
	background:url('./i/mrblock.png') no-repeat;
	position:relative;
	margin:0px 0px 25px 0px;
}
.content .m-rate .bottom {width:625px;height:8px;position:absolute;bottom: -8px; left:0px; background:url('./i/mrblock.png') -625px 0px no-repeat;}
.content .m-rate .tabs {padding:10px 0px 4px 5px;}

.trate {
	width:615px;
	margin:0 auto;
	font-size:11px;
	position:relative;
	z-index:1;
	bottom: -3px;
}
.trate .info {width:35px;padding:0;}
.trate .exchanger {width:125px;}
.trate .give {width:134px;}
.trate .get {width:146px;}
.trate .reserve {width:80px;}
.trate .bl {width:45px;}
.trate td {padding:0px 0px 0px 10px;}

.trate thead {font-size:14px;}
.trate thead td {background:url('./i/trate.png') no-repeat;height:30px;vertical-align:middle;}

.trate thead .info {}
.trate thead .exchanger {background-position:-35px 0;}
.trate thead .give {background-position:-170px 0px;}
.trate thead .get {background-position:-314px 0px;}
.trate thead .reserve {background-position:-470px 0px;}
.trate thead .bl {background-position:-561px 0px;}

.trate tbody td {height:24px;background:url('./i/trate.png') no-repeat;vertical-align:middle;}

.trate tbody .info {background-position:-0px -30px;text-align:center;}
.trate tbody .exchanger {background-position:-35px -30px;}
.trate tbody .give {background-position:-170px -30px;}
.trate tbody .get {background-position:-314px -30px;}
.trate tbody .reserve {background-position:-470px -30px;}
.trate tbody .bl {background-position:-561px -30px;}

.trate tbody tr {cursor: pointer;}
.trate tbody tr:hover .info {background-position:-0px -54px;}
.trate tbody tr:hover .exchanger {background-position:-35px -54px;}
.trate tbody tr:hover .give {background-position:-170px -54px;}
.trate tbody tr:hover .get {background-position:-314px -54px;}
.trate tbody tr:hover .reserve {background-position:-470px -54px;}
.trate tbody tr:hover .bl {background-position:-561px -54px;}

.trate tbody tr.selected td, .trate tbody tr.last-selected td {color:#fff;}
.trate tbody tr.selected .info {background-position:-0px -78px;}
.trate tbody tr.selected .exchanger {background-position:-35px -78px;}
.trate tbody tr.selected .give {background-position:-170px -78px;}
.trate tbody tr.selected .get {background-position:-314px -78px;}
.trate tbody tr.selected .reserve {background-position:-470px -78px;}
.trate tbody tr.selected .bl {background-position:-561px -78px;}

.trate tbody .last .info {background-position:-0px -102px;}
.trate tbody .last .exchanger {background-position:-35px -102px;}
.trate tbody .last .give {background-position:-170px -102px;}
.trate tbody .last .get {background-position:-314px -102px;}
.trate tbody .last .reserve {background-position:-470px -102px;}
.trate tbody .last .bl {background-position:-561px -102px;}

.trate tbody .last:hover  .info {background-position:-0px -126px;}
.trate tbody .last:hover  .exchanger {background-position:-35px -126px;}
.trate tbody .last:hover  .give {background-position:-170px -126px;}
.trate tbody .last:hover  .get {background-position:-314px -126px;}
.trate tbody .last:hover  .reserve {background-position:-470px -126px;}
.trate tbody .last:hover  .bl {background-position:-561px -126px;}

.trate tbody .last-selected  .info {background-position:-0px -150px;}
.trate tbody .last-selected  .exchanger {background-position:-35px -150px;}
.trate tbody .last-selected  .give {background-position:-170px -150px;}
.trate tbody .last-selected  .get {background-position:-314px -150px;}
.trate tbody .last-selected  .reserve {background-position:-470px -150px;}
.trate tbody .last-selected  .bl {background-position:-561px -150px;}

.details {
	width:276px;
	height:168px;
	background:url('./i/details.png') no-repeat;
	position:absolute;
	top:211px;
	left: 20px;
	z-index:2;
	padding:10px 0px 0px 24px;
}
.details dl {
	margin:0;
}
.details dt {
	font-size:14px;
	display:block;
	margin:0 0 8px 6px;
}
.details dd {
	display:block;
	width:240px;
	height:120px;
	background:url('./i/details-d.png') no-repeat;
	margin:0;
	font-size:11px;
	color:#fff;
}
.details table {margin:0;width:100%;}
.details table td {height:24px;vertical-align:middle;}
.details table .param {width:106px;padding:0px 0px 0px 10px;}
.details dd .neg {color:#ff3300;}
.details dd .pos {color:#b8d754;}

.m-rate .block {
	background:#f9f9f7 url('./i/mrate-b.png') no-repeat;
	width:615px;
	margin:0 auto;
	position:relative;
	bottom: -3px;
	z-index:1;
}
.m-rate .block .inner {
	background:url('./i/mrate-b.png') -615px bottom no-repeat;
	padding:15px 10px 20px 10px;
}

.settings {}
.settings .description {margin:0px 0px 20px 0px;}
.settings button {display:block;width:161px;height:24px;background:url('./i/set-button.png') no-repeat;position:relative;border: 0px;cursor: pointer;}
.settings button span {position:absolute;left: -1999em;}

.settings .line {overflow:hidden;margin:0px 0px 10px 0px;}
.settings .line label {display:block;width:129px;float:left;margin:1px 0px 0px 0px;}
.settings .line select {width:116px;float:left;margin:0px 15px 0px 0px;}
.settings .line .des {float:left;color:#888888;margin:1px 0px 0px 0px;}
.settings .last-line {margin-bottom:20px;}

.text p {margin:0px 0px 16px 0px;}

/* -- ---- content ---- -- */

/* // ---- footer ---- // */

.footer {
	width:920px;
	background:url('./i/footer.png') no-repeat;
	height:54px;
	margin:30px 0px 0px 0px;
	padding:16px 20px 0px 20px;
	font-size:11px;
	color:#888888;
}

.footer .copy {float:left;}
.footer .copy a{color:#888888;}

.footer .f-links {float:right;}

/* -- ---- footer ---- -- */