* {zoom: 1;}
.header {_padding:20px 0px 0px 30px;}
.words {_left: 20px;}
.menu {_left:358px}
.header {_background-position:411px 79px;}
.price {_left: 614px;}
.words li.design {_left: 62px;}
.words li.promotion {_left: 218px;}
.words li.programming {_left: 573px;}
.words li.optimization {_left: 775px;}