/*

------------------------------------------------------
author:    Aleksey Krekotun
email:     a.krekotun@gmail.com
icq:       536136
skype:     a.krekotun
website:   www.krekotun.ru
------------------------------------------------------

*/

/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {
	list-style: decimal outside;
}
ul li {
	list-style: disc outside;
}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {
	margin: 1.12em 0;
}
ol ul, ul ol, ul ul, ol ol {
	margin-top: 0;
	margin-bottom: 0;
}
ol, ul, dd {
	margin-left: 2.5em;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Quotes */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

/* Small elements */
small, sub, sup {
	font-size: 83%;
}

/* Indexes */
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}

/* Marking changes */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}


/* Main Styles
---------------------------------------------------------- */

html {
	height: 100%;
	min-height: 100%;
	font-size: 100.1%;
}
body {
	height: 100%;
	background: #fff url('./i/bg.jpg') repeat-x;
	font-size:11px;
	font-family:Tahoma;
	color:#404040
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {color:#0081c4;}
a:hover {text-decoration:none;}
.clear {clear:both;}
p {
	margin:0px 0px 20px 0px;
	line-height:16px;
}
.wrapper {
	width:912px;
	margin:0 auto;
	position:relative;
}

/* // ---- Header ---- // */

.logo, .logo a {
	width:190px;
	height:70px;
}
.logo {position:relative; background:url('./i/logo.png') no-repeat; text-indent:-1999em; margin:0px 0px 0px 25px;}
.logo a {position:absolute; top: 0px; left: 0px;}

.header {
	padding:20px 0px 0px 0px;
	position:relative;
	width:912px;
	height:629px;
	margin:0 auto;
	background:url('./i/superman.jpg') 381px 79px no-repeat;
}

.menu {
	position:absolute;
	top: 29px;
	left: 328px;
	margin:0;
}
.menu li {
	display:block;
	width:120px;
	height:34px;
	background:url('./i/menu.jpg');
	float:left;
	list-style:none;
	padding:22px 0px 0px 38px;
}
.menu li.services {}
.menu li.portfolio {background-position:0 -60px;}
.menu li.contacts {background-position:0 -120px;}
.menu li.about-us {width:40px;background-position:0 -180px;}

.menu li a {
	display:block;
	height:16px;
	background:url('./i/menu.png') no-repeat;
	text-indent:-9999em;
}

.menu li.services a {width:45px;}
.menu li.services a:hover, .menu li.services a.active {background-position:0 -16px;}
.menu li.portfolio a {width:73px; background-position:-45px 0;}
.menu li.portfolio a:hover, .menu li.portfolio a.active {background-position:-45px -16px;}
.menu li.contacts a {width:64px; background-position:-118px 0;}
.menu li.contacts a:hover, .menu li.contacts a.active {background-position:-118px -16px;}
.menu li.about-us a {width:34px; background-position:-182px 0;}
.menu li.about-us a:hover, .menu li.about-us a.active {background-position:-182px -16px;}


.price {
	width:125px;
	height:135px;
	background:url('./i/price.jpg') no-repeat;
	position:absolute;
	top: 257px;
	left: 584px;
	text-indent:-9999em;
	margin:0;
}

.words {margin:0;}
.words li{
	text-indent:-9999em;
	list-style:none;
	position:absolute;
	background:url('./i/words.png') no-repeat;
	height:53px;
}
.words li.design {
	top:163px;
	left: 32px;
	background-position:0 0;
	width:95px;
}
.words li.promotion {
	top:251px;
	left: 188px;
	background-position:0 -53px;
	width:130px;
}
.words li.programming {
	top:127px;
	left: 543px;
	background-position:0 -106px;
	width:194px;
}
.words li.optimization {
	top:220px;
	left: 745px;
	background-position:0 -159px;
	width:131px;
}

.new-projects {

	margin:0px 0px 0px 13px;
	padding:271px 0px 0px 0px;
}
.new-projects h2 {
	display:block;
	width:76px;
	height:25px;
	background:url('./i/projects-h2.png') no-repeat;
	text-indent:-9999em;
	margin:0px 0px 0px -5px;
}

.new-projects ul {margin:23px 0px 0px 0px; width:920px; position:relative;}
.new-projects ul li{
	list-style:none;
	width:278px;
	margin:0px 24px 0px 0px;
	float:left;
}
.new-projects ul li a.work {
	display:block;
	width:274px;
	height:184px;
	padding:4px 0px 0px 4px;
	background:url('./i/work.png') no-repeat;
}
.new-projects ul li .cloud {
	display:block;
	width:233px;
	position:absolute;
	top: -26px;
	right: -188px;
	z-index: 1010;
	line-height:16px;
}
.posr{position: relative;}
.new-projects ul li .cloud span {
	display:block;
	width:203px;
	background:url('./i/cloud.png') no-repeat;
	padding:10px 15px 5px 15px;
	text-align:center;
	color:#fff;
	position:relative;
	top: 0px; left: 0px;
}
.new-projects ul li .cloud i {
	display:block;
	width:233px;
	height:33px;
	background:url('./i/cloud-b.png') no-repeat;
}

.new-projects ul li a.more {float:right; font-style:normal; font-family:tahoma;font-size:13px; color:#fff; text-decoration:none; display:block;margin:10px 0px 0px 0px;}

.navigation {
	background:#f5f5f5;
	height:57px;
}
.navigation h2 {
	display:block;
	width:120px;
	height:21px;
	text-indent:-9999em;
	background:url('./i/nav-h2.gif') no-repeat;
	margin:0px 0px 0px 15px;
	position:relative;
	top: 19px;
}

.navigation ul {
	margin:0;
	position:absolute;
	top: 16px;
	left: 182px;
}
.navigation ul li {
	list-style:none;
	height:24px;
	float:left;
	margin:0px 12px 0px 0px;
}
.navigation ul li a {
	display:block;
	height:24px;
	background:url('./i/navigation.png') no-repeat;
	text-indent:-9999em;
}

.navigation ul li.card a {width:104px;}
.navigation ul li.card a:hover, .navigation ul li.card a.active {background-position:0 -24px;}
.navigation ul li.i-shop a {width:133px;background-position:-104px 0;}
.navigation ul li.i-shop a:hover, .navigation ul li.i-shop a.active {background-position:-104px -24px;}
.navigation ul li.corporative a {width:149px;background-position:-237px 0;}
.navigation ul li.corporative a:hover, .navigation ul li.corporative a.active {background-position:-237px -24px;}
.navigation ul li.brandbook a {width:135px;background-position:-386px 0;}
.navigation ul li.brandbook a:hover, .navigation ul li.brandbook a.active {background-position:-386px -24px;}
.navigation ul li.support a {width:128px;background-position:-521px 0;}
.navigation ul li.support a:hover, .navigation ul li.support a.active {background-position:-521px -24px;}

/* -- ---- Header ---- -- */

/* // ---- Container ---- // */

.container {
	width:900px;
	margin:20px auto 0 auto;
	overflow:hidden;
	font-size:12px;
	padding:0px 0px 0px 12px;
}
.container a {
	color:#be1a00;
}
.container .column {
	width:285px;
	float:left;
	margin:0px 21px 0px 0px;
}
.container .column h2 {
	display:block;
	height:20px;
	text-indent:-9999em;
	background:url('./i/column-h2.png') no-repeat;
	margin:0px 0px 7px 0px;
}
.container .column .h-img {
	margin:0px 0px 13px 0px;
}

.container .column .s-about {

}
.container .column .s-about h2 {width:161px;background-position:0 0;}
.container .column .benefits h2 {width:165px;background-position:0 -20px;}
.container .column .news h2 {width:145px;background-position:0 -40px;}
.container .column .question h2 {width:116px;background-position:0 -60px;}
.container .column .block {
	padding:0px 9px;
	margin:0px 0px 25px 0px;
}
.container .column .s-about p{
	line-height:19px;
	text-align:justify;
}
.container .column .benefits {}
.container ul{margin:0;}

.container ul li {
	list-style:none;
	background-position:0px 7px;
	padding:0px 0px 0px 11px;
	margin:0px 0px 10px 0px;
}
.container .column .benefits ul li{
	background:url('./i/benefits-li.gif') 0px 7px no-repeat;
}
.container .column .news ul li{
	background:url('./i/news-li.gif') 0px 7px no-repeat;
}
.container .column .news ul li a {text-decoration:none; border-bottom: 1px dashed #be1a00;}
.container .column .news ul li a:hover {border: 0px;}
.container .question {
	margin:0;
}
.container .question form {}
.container .question form label input, .container .question form textarea{
	font-size:14px; color:#888888;
	font-family:Arial;
	border:3px solid #f5f5f5;
	background:#f9f9f9;
	padding:3px 6px;
	width:252px;
}
.container .question form label {
	display:block;
	margin:0px 0px 7px 0px;
}
.container .question form textarea {
	display:block;
	height:168px;
}

.container .question form .button {
	display:block;
	width:125px;
	height:30px;
	background:url('./i/button.png') no-repeat;
	border: 0px;
	text-indent:-9999em;
	float:right;
	margin:10px 0px 0px 0px;
}


/* -- ---- Container ---- -- */

/* // ---- Footer ---- // */
.foo {
	border-bottom: 5px solid #535353;
	margin:50px 0px 0px 0px;
}
.footer {
	width:895px;
	margin:0 auto;
	height:40px;
	line-height:40px;
	padding:13px 0px 0px 0px;
	border-top: 1px dotted #c3c3c3;
	color:#7a7a7a;
	position:relative;
}
.footer a {
	color:#be1a00;
	text-decoration:none;
}
.footer-menu {
	overflow:hidden;
	width:380px;
}
.footer-menu ul {
	margin:0px 0px 0px -14px;
	width:500px;
	overflow:hidden;
	padding:0;
}
.footer-menu ul li {
	list-style:none;
	font-family:Verdana;
	font-size:11px;
	border-right: 1px solid #7a7a7a;
	float:left;
	padding:0px 14px 0px 14px;
	line-height:13px;
}

.f-contacts {
	margin:0;
	position:absolute;
	top: 0px;
	right: 0px;
}
.f-contacts li{
	list-style:none;
	float:left;
	padding:0px 0px 0px 23px;
	margin:0px 0px 0px 22px;
}
.f-contacts li.icq {
	background:url('./i/icq.png') 0px 12px no-repeat;
}
.f-contacts li.mail {
	background:url('./i/mail.png') 0px 13px no-repeat;
}
.f-contacts li.mail a {color:#7a7a7a;}

/* -- ---- Footer ---- -- */