.online-booking { zoom:1; }
.online-booking .blocks { zoom:1; }
.online-booking .items { zoom:1; }
.online-booking .blocks .item { zoom:1; }
.block { zoom:1; height:auto; }
.online-booking-active { height:auto; }
.online-booking .item { position:relative; zoom:1; }
.online-booking-hover .block .bottom, .online-booking-active .block .bottom { zoom:1; bottom:0px; margin-bottom:-27px; position:absolute; display:inline; }
.hidden { width:305px; zoom:1; }
	.hidden .line { zoom:1; }
	.hidden .clear { zoom:1; font-size:1px; height:1px; overflow:hidden; margin-top:-1px; }
		.hidden .save a { zoom:1; position:relative; }
.online-booking .item .hidden.country ul li.selected { padding:0px; margin-top:-2px; position:relative; }
.online-booking .item .hidden.country ul li.selected a { zoom:1; }
.online-booking .item .hidden.type ul { zoom:1; }
.online-booking .item .hidden.type ul li.selected { padding:0px; padding-right:2px; }
.online-booking .item .hidden.type ul li.selected a { zoom:1; margin-top:0px; margin:0px; }
.online-booking .item .hidden.type ul li a { }
.online-booking .item .hidden.type .save { zoom:1; }
.online-booking .item .input span.value span.selected-item { zoom:1; }
	.online-booking .item .input span.value span.selected-item a.close { margin-top:0px; top:7px; right:6px; }
	.sidebar .special-offers-list {clear:both;zoom:1;}
	.sidebar .special-offers-list li {display:block;zoom:1;margin:0px 0px 15px 0px;}
	.sidebar .special-offers-list li.hover {margin:0px 0px 16px -30px;}

#header .header-content .country-menu li a{zoom: 1;overflow:hidden;}
#header .header-content .country-menu li {*margin-bottom:8px;}