/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 12px;
	height: 100%;
	color:#686868;
	font-family:Arial;
	background: #fff;
}
a {outline: none;color:#2f8bcc;}
a:hover {text-decoration:none;color:#FF0000;}
img {border: none;}
label {cursor:pointer;}
input, textarea, button {font-family:Arial;}
.clear {clear:both;}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* // ---- Header ---- // */

#header {
	width:960px;
	margin:0 auto;
	position:relative;
}
#header .header-top {
	border-bottom: 1px solid #a3a3a2;
	overflow:hidden;
	padding:16px 0px 18px 0px;
	margin:0px 0px 10px 0px;
}
#header #menu {
	margin:0;
	width:100%;
}
#header #menu li {
	list-style:none;
	float:left;
	margin:0px 28px 0px 0px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
#header #menu li a {
	text-decoration:none;
}

#header .log-in {
	font-size:14px;
	font-weight:bold;
	background:url('./i/login.gif') right 2px no-repeat;
	padding:0px 15px 0px 0px;
	text-transform:uppercase;
	position:absolute;
	top: 16px; right: 0px;
}
#header .log-in a {
	text-decoration:none;
	border-bottom: 1px dashed #2f8bcc;
}
#header .log-in a:hover {
	border-bottom: 1px dashed #ff0000;
}

#header .header-content {
	position:relative;
	margin:0px 0px 15px 0px;
}
#header .header-content h2.country-name {
	font-size:60px;
	font-weight:normal;
	color:#000;
	text-transform:uppercase;
	margin:0px 0px 9px -4px;
}

#header .header-content .country-menu {
	margin:0 0 0 -6px;
	width:453px;
}
#header .header-content .country-menu li {
	list-style:none;
	float:left;
	font-size:14px;
	margin:0px 7px 14px 0px;
}
#header .header-content .country-menu li a {
	padding:4px 6px;
}
#header .header-content .country-menu li.active a {
	background:#d00000;
	text-decoration:none;
	color:#fff;
}

#header div.office {
	position:absolute;
	top: 0px;
	right: 0px;
}

#header .online-booking-link {
	background:url('./i/address-arr.gif') 0px 3px no-repeat;
	padding:0px 0px 0px 17px;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	position:absolute;
	top: 109px;
	right: 0px;
}
#header .online-booking-link a {
	text-decoration:none;
	color:#000;
}
/* -- ---- Header ---- -- */

/* // ---- container ---- // */

#container {
	width:960px;
	margin:0 auto 30px auto;
	clear:both;
}

.content {
	float:left;
	width:625px;
	margin:0px 30px 0px 0px;
}

/* -- ---- container ---- -- */

.jazz-company {overflow:hidden;margin:0px 0px 15px 0px;padding:0px 0px 1px 0px;}
.jazz-company h1 {
	font-size:12px;color:#666666;font-weight:normal;
	display:inline;
	margin:0px 26px 0px 0px;
}
.jazz-company a {color:#333333;text-decoration:none;border-bottom: 1px dashed #333333;}

/* // ---- promo ---- // */

.promo {
	width:625px;
	height:625px;
	position:relative;
	margin:0px 0px 30px 0px;
	background:#000;
}
.promo .image {position:absolute; top: 0px; left: 0px;}
.promo .logo {position:absolute;top: 0px; left: 0px; z-index:4;}
.promo-tours .promo-tour {display:none; width:625px; height:625px; position:absolute; left:0px; top:0px; z-index:1;}
.promo-tours .promo-tours-animation {display:none;}
.promo-tours .promo-tour-selected {display:block;z-index:2;}
.promo-tours .promo-tour-moreselected {display:block;z-index:3;}
.moreselected { z-index:3; display:block; }

.tour-description {
	padding:86px 0px 43px 15px;
	background:url('./i/promo-g.png') repeat-x;
	position:absolute;
	width:610px;
	left: 0px;
	bottom: 0px;
	color:#929292;
}
.tour-description h2 {
	color:#fffefe;
	font-size:24px;
	font-weight:normal;
	margin:0px 0px 15px 0px;
}

.intro {margin:0px 0px 5px 0px;}
.places {margin:0px 0px 10px 0px;}
.s-info {overflow:hidden;}
.s-info span {float:left;}
.s-info span.date {margin:0px 15px 0px 0px;}
.s-info b {font-weight:normal;color:#c3c5c3;}
.description {width:290px;float:left;margin:0px 15px 0px 0px;}
.tour-description a {color:#c3c5c3;}
.tour-description a:hover {color:#fff;}

.options {float:left;width:125px;margin:0px 4px 0px 0px;}
.options ul {margin:0;}
.options ul li {list-style:none; margin:0px 0px 6px 0px;}

.tour-list {
	margin:0;
	width:175px;
	text-align:center;
	position:absolute;
	right: 0px;
	z-index:20;
}
.tour-list ul {
	margin:0;
	overflow:hidden;
	padding:0px 0px 20px 12px;
}
.tour-list li {
	list-style:none;
	float:left;
	padding:2px;
	margin:0px 0px 0px 2px;
}
.tour-list li.active {background:url('./i/jt-list.png') no-repeat;}
.tour-list a {color:#C3C5C3;}
.tour-list a:hover {color:#fff;}
/* -- ---- promo ---- -- */

.cm-tcolumns {
	padding:0px 0px 0px 15px;
	width:610px;
	overflow:hidden;
}
.cm-tcolumns .tc-aside {
	width:145px;
	float:left;
	margin:0px 18px 0px 0px;
}

.headline {
	padding:0 0 13px 0;
	border-bottom: 2px solid #989898;
	overflow:hidden;
	margin:0px 0px 10px 0px;
}
.headline h2 {
	font-size:14px;
	float:left;
	text-transform:uppercase;
	color:#000;
	margin:0px 10px 0px 0px;
}


.b-tours {
	margin:0px 0px 27px 0px;
}
.b-tours ul{
	margin:0;
}
.b-tours ul li{
	list-style:none;
	margin:0px 0px 5px 0px;
}

.b-news {}
.b-news dl {
	line-height:14px;
}
.b-news dl dt {
	font-size:10px;
	color:#a1a1a1;
}
.b-news dl dd {
	margin:0;
	color:#686868;
	margin:0px 0px 15px 0px;
}

.b-news .more {}
.b-news .more a {color:#686868;}

.tc-content {
	width:447px;
	float:left;
}

.map-countries {}
.map-countries .headline .sort {
	float:left;
	margin:0;
}
.map-countries .headline .sort li {
	list-style:none;
	float:left;
	line-height:12px;
	margin:0px 8px 0px 0px;
}
.map-countries .headline .sort li a {
	color:#464646;
	text-decoration:none;
	border-bottom: 1px dashed #464646;
}
.map-countries .headline .sort li.active {
	background: #2f8bcc url('./i/countries-sort.gif') top left no-repeat;
	margin:0px 8px 0px 0px;
}
.map-countries .headline .sort li.active a {
	background: url('./i/countries-sort.gif') bottom right no-repeat;
	text-decoration:none;
	color:#fff;
	float:left;
	padding:0px 6px 2px 6px;
	border: 0px;
}

/* // ---- footer ---- // */

#footer {
	width:945px;
	margin:0 auto;
	border-top: 1px solid #a3a3a2;
	font-size:10px;
	padding:15px 0px 30px 15px;
}

/* -- ---- footer ---- -- */

/* // ---- sidebar ---- // */

.sidebar {
	width:305px;
	float:left;
}
.s-top {margin:0px 0px 15px 0px;}
.b-exchange {line-height:22px;float:left;}
div.office {
	display:block;
	float:right;
	font-style:normal;
	text-align:right;
	color:#333333;
	margin:0;
	line-height:22px;
	position:relative;
	padding:22px 0px 0px 0px;
}
div.office .city {
	position:absolute;
	top: 0px;
	right: 0px;
	z-index:100;
}
div.office .city .selected a{
	padding:0px 0px 0px 17px;
	background:url('./i/address-arr.gif') 0px 2px no-repeat;
	border: 0px;
}
div.office .city-active .selected a {background:url('./i/address-arr-a.gif') 0px 2px no-repeat;}
div.office .city a {
	color:#333333;
	text-decoration:none;
	border-bottom: 1px dashed #333333;
	text-transform:uppercase;
}
div.office .city .list {display:none;}

div.petersburg .selected .moscow {display:none;}
div.petersburg  .list .petersburg {display:none;}
div.moscow .selected .petersburg {display:none;}
div.moscow .list .moscow {display:none;}

div.petersburg .phone-number-moscow {display:none;}
div.moscow .phone-number-petersburg {display:none;}

div.office .city-active .list {display:block;}
div.office .city .selected a {
	
}
div.office .city-active {
	top:-27px;
	right:-28px;
}
div.office .city-active .top {
	width:187px;
	height:27px;
	background:url('./i/city-select.png') no-repeat;
}
div.office .city-active .bottom {
	width:187px;
	height:27px;
	background:url('./i/city-select.png') right 0 no-repeat;
}
div.office .city-active .body {
	background:url('./i/city-select.png') -187px repeat-y;
	padding:0px 28px 0px 0px;
	text-align:right;
	width:159px;
}

div.office .how-to-rich a {color:#333333;text-decoration:none;border-bottom: 1px dashed #333333;}

.online-booking {
	height:140px;
	position:relative;
	width:305px;
	z-index: 100;
}
.online-booking-hover .block, .online-booking-active .block {
	position:absolute;
	top: 0px;
	left: -28px;
	width:305px;
	padding:0px 28px 0px 28px;
	background:url('./i/w-shadow.png') -361px 0px repeat-y;
}
.online-booking-hover .block .top, .online-booking-active .block .top {
	width:361px;
	height:27px;
	background:url('./i/w-shadow.png') 0 0 no-repeat;
	position:absolute;
	top:-27px;
	left: 0px;
}
.online-booking-hover .block .bottom, .online-booking-active .block .bottom {
	width:361px;
	height:27px;
	background:url('./i/w-shadow.png') right 0 no-repeat;
	position:absolute;
	bottom:-27px;
	left: 0px;
}
.online-booking .headline {
	position:relative;
}
.online-booking .headline a.close {display:none;}
.online-booking-active .headline a.close {
	background:url("./i/r-close.gif") no-repeat scroll 0 0 transparent;
	display:block;
	height:13px;
	position:absolute;
	right:0px;
	text-indent:-9999em;
	top:0;
	width:13px;
}
.online-booking .items {
	margin:0;
}
.online-booking .items li {
	width:56px;
	padding:0px 20px;
	margin:0px 8px 0px 0px;
	float:left;
	list-style:none;
	text-align:center;
}
.online-booking .items li.last {margin:0;}

.online-booking .items li a {
	color:#333333;
	text-decoration:none;
	position:relative;
	z-index: 1;
}
.online-booking .items li a span.image {
	width:56px;
	height:43px;
	display:block;
	background:url('./i/booking-items.png') no-repeat;
	margin:0px 0px 5px 0px;
}
.online-booking .items li a span.title {border-bottom: 1px dashed #333333;}
.online-booking .items li a:hover {
	border: 0px;
}

.online-booking .items li a.tour span.image {background-position:0 0;}
.online-booking .items li a.ticket span.image {background-position:-56px 0px ;}
.online-booking .items li a.hotel span.image {background-position:-112px 0;}
.online-booking .items li.active a.tour span.image {background-position:0 -43px;}
.online-booking .items li.active a.ticket span.image {background-position:-56px -43px ;}
.online-booking .items li.active a.hotel span.image {background-position:-112px -43px;}
.online-booking .items li.active a {border: 0px;}
.blocks .item {display:none;}

.online-booking .blocks { clear:both; }
.online-booking .item { display:none; padding-top:20px; padding-bottom:5px; }
	.online-booking .item .input { padding:0px; padding-bottom:11px; color:#666666; line-height:18px; width:305px; }
		.online-booking .item .input a.label { color:#333333; font-size:12px; font-weight:bold; text-decoration:none; border-bottom:1px dashed #656565; }
		.online-booking .item .input span.value { white-space:normal; }
			.online-booking .item .input span.value span.selected-item { display:none; padding-right:16px; position:relative; }
				.online-booking .item .input span.value span.selected-item .close { position:absolute; right:6px; top:0px; margin-top:-2px; }
	.online-booking .item .submit {  }
		.online-booking .item .submit input { float:left; margin-right:17px; }
		.online-booking .item .submit a { float:left; display:block; margin-top:4px; }
	.online-booking .item .hidden { display:none; }
	.online-booking .item .hidden { background:#eaf3fa; margin-left:-15px; margin-right:-15px; margin-top:-5px; margin-bottom:10px; position:relative; padding:15px; padding-top:10px; padding-bottom:10px; }
		/* country */
		.online-booking .item .hidden.country ul { padding:0px; margin:0px; list-style:none; display:block; float:left; width:146px; }
			.online-booking .item .hidden.country ul li { list-style:none; padding-top:3px; padding-bottom:4px; }
				.online-booking .item .hidden.country ul li a { color:#666666; font-size:12px; text-decoration:none; }
					.online-booking .item .hidden.country ul li a span.link { border-bottom:1px dashed #666666; }
				.online-booking .item .hidden.country ul li.selected a { background:#d00000; padding:3px; padding-left:5px; padding-right:5px; margin-left:-5px; margin-top:3px; margin-bottom:0px; position:relative; }
					.online-booking .item .hidden.country ul li.selected a span.link { border-color:white; color:white; }
					.online-booking .item .hidden.country ul li.selected a span.left-top { display:block; width:2px; height:2px; background:url(i/form-selected-li-corners.png) 0px 0px no-repeat; position:absolute; left:0px; top:0px; }
					.online-booking .item .hidden.country ul li.selected a span.right-top { display:block; width:2px; height:2px; background:url(i/form-selected-li-corners.png) -2px 0px no-repeat; position:absolute; right:0px; top:0px; }
					.online-booking .item .hidden.country ul li.selected a span.left-bottom { display:block; width:2px; height:2px; background:url(i/form-selected-li-corners.png) 0px -2px no-repeat; position:absolute; left:0px; bottom:0px; }
					.online-booking .item .hidden.country ul li.selected a span.right-bottom { display:block; width:2px; height:2px; background:url(i/form-selected-li-corners.png) -2px -2px no-repeat; position:absolute; right:0px; bottom:0px; }
					@media all and (-webkit-min-device-pixel-ratio:10000),
					not all and (-webkit-min-device-pixel-ratio:0) {
						.online-booking .item .hidden.country ul li { clear:both; } 
						.online-booking .item .hidden.country ul li.selected { padding-bottom:0px; padding-top:0px; }
						.online-booking .item .hidden.country ul li.selected a { display:block; float:left; clear:both; margin-top:1px; }
						.online-booking .item .hidden.type ul li.selected { padding-bottom:0px; padding-top:0px; }
						.online-booking .item .hidden.type ul li.selected a { display:block; float:left; clear:both; margin-top:1px; }
						.online-booking .item .input span.value span.selected-item .close { display:block; right:6px; }
					}
		.online-booking .item .country .save { display:block; float:left; width:146px; padding-top:12px; }
			.online-booking .item .country .save a { font-size:12px; color:#333333; font-weight:bold; text-decoration:none; border-bottom:1px dashed #333; }
	/* date */
	.online-booking .item .hidden.date { padding-top:15px; }
		.online-booking .item .hidden.date .line { display:block; clear:both; }
			.online-booking .item .hidden.date .line label { font-weight:bold; font-size:12px; color:#333; padding-right:8px; float:left; padding-bottom:10px; line-height:24px; }
			.online-booking .item .hidden.date .line #flight { width:100px; float:left; }
			.online-booking .item .hidden.date .line-input { color:#666; font-size:12px; float:left; line-height:24px; }
				.online-booking .item .hidden.date .line-value { font-weight:bold; }
		.online-booking .item .hidden.date .save { display:block; clear:both; }
			.online-booking .item .hidden.date .save a { font-size:12px; color:#333333; font-weight:bold; text-decoration:none; border-bottom:1px dashed #333; }
	/* flight */
	.online-booking .item .hidden.flight {  }
		.online-booking .item .hidden.flight .line { display:block; clear:both; }
			.online-booking .item .hidden.flight .line label { font-weight:bold; font-size:12px; color:#333; padding-right:8px; float:left; padding-bottom:10px; line-height:24px; }
		.online-booking .item .hidden.flight .checkbox-line { clear:both; line-height:1.4; padding-bottom:15px; }
			.online-booking .item .hidden.flight .checkbox-line input { margin-left:0px; margin-right:4px; }
		.online-booking .item .hidden.flight .save { display:block; clear:both; }
			.online-booking .item .hidden.flight .save a { font-size:12px; color:#333333; font-weight:bold; text-decoration:none; border-bottom:1px dashed #333; }
	/* direction */
	.online-booking .item .hidden.direction {  }
		.online-booking .item .hidden.direction .line { display:block; clear:both; }
			.online-booking .item .hidden.direction .line label { font-weight:bold; font-size:12px; color:#333; padding-right:8px; float:left; padding-bottom:10px; line-height:24px; }
		.online-booking .item .hidden.direction .save { display:block; clear:both; }
			.online-booking .item .hidden.direction .save a { font-size:12px; color:#333333; font-weight:bold; text-decoration:none; border-bottom:1px dashed #333; }
	/* date */
	.online-booking .item .hidden.date {  }
		.online-booking .ticket .hidden.date .there { display:block; width:150px; float:left; clear:none; }
			.online-booking .ticket .hidden.date .there input { width:80px; }
		.online-booking .ticket .hidden.date .back { display:block; width:150px; float:left; clear:none; }
			.online-booking .ticket .hidden.date .back input { width:80px; }
	/* type */
	.online-booking .item .hidden.type {  }
		.online-booking .item .hidden.type ul { padding:0px; margin:0px; list-style:none; display:block; }
			.online-booking .item .hidden.type ul li { list-style:none; padding-top:3px; padding-bottom:4px; float:left; padding-right:12px; }
				.online-booking .item .hidden.type ul li a { color:#666666; font-size:12px; text-decoration:none; }
					.online-booking .item .hidden.type ul li a span.link { border-bottom:1px dashed #666666; }
				.online-booking .item .hidden.type ul li.selected { padding-right:7px; }
				.online-booking .item .hidden.type ul li.selected a { background:#d00000; padding:3px; padding-left:5px; padding-right:5px; margin-left:-5px; margin-top:3px; margin-bottom:0px; position:relative; }
					.online-booking .item .hidden.type ul li.selected a span.link { border-color:white; color:white; }
					.online-booking .item .hidden.type ul li.selected a span.left-top { display:block; width:2px; height:2px; background:url(i/form-selected-li-corners.png) 0px 0px no-repeat; position:absolute; left:0px; top:0px; }
					.online-booking .item .hidden.type ul li.selected a span.right-top { display:block; width:2px; height:2px; background:url(i/form-selected-li-corners.png) -2px 0px no-repeat; position:absolute; right:0px; top:0px; }
					.online-booking .item .hidden.type ul li.selected a span.left-bottom { display:block; width:2px; height:2px; background:url(i/form-selected-li-corners.png) 0px -2px no-repeat; position:absolute; left:0px; bottom:0px; }
					.online-booking .item .hidden.type ul li.selected a span.right-bottom { display:block; width:2px; height:2px; background:url(i/form-selected-li-corners.png) -2px -2px no-repeat; position:absolute; right:0px; bottom:0px; }
		.online-booking .item .type .save { display:block; float:left; width:146px; padding-top:12px; }
			.online-booking .item .type .save a { font-size:12px; color:#333333; font-weight:bold; text-decoration:none; border-bottom:1px dashed #333; }
	/* date */
	.online-booking .item .hidden.date {  }
		.online-booking .hotel .hidden.date .stopover { display:block; width:150px; float:left; clear:none; }
			.online-booking .hotel .hidden.date .stopover input { width:80px; }
		.online-booking .hotel .hidden.date .departure { display:block; width:150px; float:left; clear:none; }
			.online-booking .hotel .hidden.date .departure input { width:80px; }


.sidebar .special-offers {}
.sidebar .special-offers .sort {
	margin:0 0 12px 0;
	overflow:hidden;
	padding:0px 0px 1px 0px;
}

.sidebar .special-offers .sort li {
	list-style:none;
	float:left;
	line-height:12px;
	margin:0px 17px 0px 0px;
}
.sidebar .special-offers .sort li a {
	color:#464646;
	text-decoration:none;
	border-bottom: 1px dashed #464646;
}
.sidebar .special-offers .sort li.active {
	background: #db0303 url('./i/offers-sort.gif') top left no-repeat;
	margin:0px 8px 0px 0px;
}
.sidebar .special-offers .sort li.active a {
	background: url('./i/offers-sort.gif') bottom right no-repeat;
	text-decoration:none;
	color:#fff;
	float:left;
	padding:0px 7px 2px 7px;
	border: 0px;
}
.sidebar .special-offers .sort li.last {margin:0;}
.sidebar .special-offers span.price {
	display:block;
	font-size:11px;
	color:#6d6d6d;
	float:left;
	background:url('./i/so-price.gif') right 5px no-repeat;
	padding:0px 12px 0px 0px;
	margin:0px 0px 0px 255px;
}

.sidebar .special-offers-list {
	clear:both;
	margin:0;
	position:relative;
}

.sidebar .special-offers-list li {
	list-style:none;
	border-bottom: 1px solid #d0d0cf;
	margin:0px 0px 18px 0px;
	position:relative;
}
.sidebar .special-offers-list li.hover {
	background:url('./i/w-shadow.png') -361px 0 repeat-y;
	width:331px;
	border: 0px;
	margin:0 0 29px -30px;
	padding:0px 0px 0px 30px;
}
.sidebar .special-offers-list li.hover .top {
	position:absolute;
	top: -27px;
	left: 0px;
	height:27px;
	width:361px;
	background:url('./i/w-shadow.png') 0px 0 no-repeat;
}
.sidebar .special-offers-list li.hover .bottom {
	height:27px;
	width:361px;
	position:absolute;
	bottom: -27px;
	left: 0px;
	background:url('./i/w-shadow.png') right 0 no-repeat;
}

.sidebar .special-offers-list li.last {border: 0px;}

.special-offers-list h3 {
	font-size:18px;
	color:#000;
	font-weight:normal;
	margin:0px 0px 3px 0px;
}

.sidebar .special-offers-list .offer {overflow:hidden;margin:0px 0px 10px 0px;}
.sidebar .special-offers-list .offer .description {width:210px;float:left;margin:0px 15px 0px 0x;}
.sidebar .special-offers-list .offer .description dl {margin:0;}
.sidebar .special-offers-list .offer .description dt {display:block;margin:0px 0px 5px 0px;}
.sidebar .special-offers-list .offer .description dd {margin:0;}

.sidebar .special-offers-list .price {width:80px;float:left;text-align:right;}
.sidebar .special-offers-list .price b {font-size:13px;color:#000;padding:0px 10px 0px 0px;}
.sidebar .special-offers-list .price .discount {font-size:11px;color:#db0303;}

/* -- ---- sidebar ---- -- */

/* -- ---- map countries ---- -- */
.map-countries { width:447px; }
.map-countries .comment { color:#686868; font-size:10px; }
.map-countries .map { display:block; width:480px; height:300px; position:relative; margin-left:-18px; margin-right:-14px; }
	.map-countries .map img { display:block; width:480px; height:300px; background:url('./i/map.png') 0px -900px; }
	.map-countries .map.antarctic img { background:url('./i/map.png') -480px - 900px no-repeat; }
	.map-countries .map.south-america img { background:url('./i/map.png') 0px 0px no-repeat; }
	.map-countries .map.north-america img { background:url('./i/map.png') -480px 0px no-repeat; }
	.map-countries .map.africa img { background:url('./i/map.png') 0px -300px no-repeat; }
	.map-countries .map.europe img { background:url('./i/map.png') -480px -300px no-repeat; }
	.map-countries .map.asia img { background:url('./i/map.png') 0px -600px no-repeat; }
	.map-countries .map.australia img { background:url('./i/map.png') -480px -600px no-repeat; }
	.map-countries .map .close { display:none; width:11px; height:10px; background:url('./i/close.png'); position:absolute; left:0px; top:0px; }
		.map-countries .map .close a { display:block; width:11px; height:10px; }
			.map-countries .map .close span { display:none; }
	.map-countries .map.antarctic .close { left:0px; top:0px; display:block; }
	.map-countries .map.south-america .close { left:142px; top:154px; display:block; }
	.map-countries .map.north-america .close { left:102px; top:106px; display:block; }
	.map-countries .map.africa .close { left:308px; top:163px; display:block; }
	.map-countries .map.europe .close { left:215px; top:51px; display:block; }
	.map-countries .map.asia .close { left:433px; top:17px; display:block; }
	.map-countries .map.australia .close { left:404px; top:195px; display:block; }
.map-countries .countries-list { width:100px; padding-left:20px; list-style:none; float:left; overflow:hidden; margin:0px; }
.map-countries .first { width:100px; }
.map-countries .second { width:83px; }
.map-countries .third { width:98px; }
.map-countries .fourth { width:70px; }
	.map-countries .countries-list li { list-style:none; padding-bottom:5px; }
		.map-countries .countries-list li a { color:#b4b4b4; }
		.map-countries .countries-list li.selected a { color:#4b9ad3; }

/* -- ---- //map countries ---- -- */

/* // ---- breadcrumbs ---- // */

.breadcrumbs {
	font-size:10px;
	margin:0px 0px 12px 0px;
}

/* -- ---- breadcrumbs ---- -- */

/* // ---- country content ---- // */

.country-content {
	overflow:hidden;
}
.country-content .block {
	margin:0px 0px 30px 0px;
}
.country-content .block .headline {
	margin:0px 0px 15px 0px;
	line-height:14px;
}
.country-content .block .headline h1 {
	color:#000000;
	float:left;
	font-size:14px;
	margin:0 10px 0 0;
	text-transform:uppercase;
}
.country-content .block .headline .new {
	color:#000;
}

.country-content .descrition {
	font-size:14px;
	line-height:18px;
}
.country-content .descrition p {margin:0px 0px 10px 0px;}

.country-content .left-column {
	width:450px;
	float:left;
	margin:0px 30px 0px 0px;
}

.country-content .media {}
.country-content .media .preview  {
	margin:0 0 20px -22px;
	overflow:hidden;
}
.country-content .media .preview li{
	display:block;
	width:130px;
	height:101px;
	background:url('./i/media-prev.png') no-repeat;
	float:left;
	list-style:none;
	margin:0px 0px 0px 22px;
	padding:5px 0px 0px 5px;
}

.country-content .block .more {
	display:block;
	font-size:12px;
	color:#333333;
	clear:both;
}
.country-content .opinions {
	overflow:hidden;
}
.country-content .opinions .comments, .country-content .opinions .discussions {
	width:218px;
	float:left;
}
.country-content .opinions .comments {
	margin:0px 14px 0px 0px;
}
.country-content .opinions .comments-list, .country-content .opinions .discussions-list, .country-content .opinions .comments-list, .country-content .news .news-list {
	margin:0;
	font-size:14px;
}
.country-content .opinions .comments-list li, .country-content .opinions .discussions-list li, .country-content .news .news-list li {
	list-style:none;
	margin:0px 0px 15px 0px;
}
.country-content .opinions .comments-list li .l-more, .country-content .opinions .discussions-list li .l-more, .country-content .news .news-list li .l-more {
	font-size:12px;
}

.country-content .opinions .discussions-list li .date, .country-content .news .news-list .date {
	font-size:11px;
	color:#a2a2a2;
}
.country-content .right-column {
	float:left;
	width:480px;
}
.country-content .block .tags-list {
	margin:0;
}
.country-content .block .tags-list li {
	list-style:none;
	display:inline;
}
.country-content .block .tags-list li.f12 {font-size:12px;}
.country-content .block .tags-list li.f14 {font-size:16px;}
.country-content .block .tags-list li.f16 {font-size:16px;}
.country-content .block .tags-list li.f18 {font-size:18px;}
.country-content .block .tags-list li.f20 {font-size:20px;}
.country-content .block .tags-list li.f22 {font-size:22px;}
.country-content .block .tags-list li.f24 {font-size:24px;}

.country-content .other {
	font-size:14px;
}

.country-content .special-offers-list {
	margin:0;
	font-size:14px;
	overflow:hidden;
}
.country-content .special-offers-list li {
	list-style:none;
	float:left;
	width:145px;
	margin:0px 15px 0px 0px;
}
.country-content .special-offers-list li .info {
	display:block;
	overflow:hidden;
	clear:both;
}
.country-content .special-offers-list li .info .price {
	color:#333333;
}
.country-content .special-offers-list li .duration {
	float:left;
	padding:0px 10px 0px 0px;
}
.country-content .special-offers-list li .title {
	display:block;
	margin:0px 0px 5px 0px;
	line-height:18px;
}

.country-content .news .news-list {
	width:224px;
	float:left;
	margin:0px 15px 0px 0px;
}

/* -- ---- country content ---- -- */

/* // ---- flash-gallery ---- // */

.flash-gallery {margin:0px 0px 50px 0px;}

/* -- ---- flash-gallery ---- -- */

/* // ---- login-popup ---- // */

.login-popup {
	width:296px;
	position:absolute;
	top: 0px;
	right: 50%;
	margin:0px -493px 0px 0px;
	z-index: 100;
	color:#000;
	display:none;
}
.login-popup .top {
	height:27px;
	background:url('./i/login.png') no-repeat;
}
.login-popup .bottom {
	height:27px;
	background:url('./i/login.png') right 0 no-repeat;
}
.login-popup form {
	width:296px;
	background:url('./i/login.png') -296px 0px repeat-y;
	position:relative;
}
.login-popup form fieldset {
	padding:0px 0px 0px 32px;
}
.login-popup form legend {
	text-transform:uppercase;
	color:#2f8bcc;
	font-size:14px;
	font-weight:bold;
	display:block;
	margin:0px 0px 14px 0px;
}
.login-popup form dl {margin:0;}
.login-popup form dl dd{margin:0 0 14px 0px;}
.login-popup form dl dt{margin:0 0 5px 0;}
.login-popup form dd input {
}

.login-popup form button {
	width:96px;
	height:24px;
	background:url('./i/login-b.png') no-repeat;
	position:relative;
	border: 0px;
	cursor: pointer;
	float:left;
	margin:0px 16px 0px 0px;
}
.login-popup form button span {position:absolute;left: -9999px;}
.login-popup form .registration {padding:4px 0px 0px 0px;float:left;}

.login-popup .close {
	display:block;
	width:13px;
	height:13px;
	background:url('./i/r-close.gif') no-repeat;
	position:absolute;
	top:0px;
	right: 33px;
	text-indent:-9999em;
}

/* -- ---- login-popup ---- -- */

.country-online-booking {
	position:absolute;
	top:170px;
	left: 50%;
	margin:0px 0px 0px 160px;
	display:none;
}