/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 12px;
	height: 100%;
	color:#000;
	font-family:Arial;
	background: #fff url('./i/bg.gif') 20px 0px repeat-y;
}
a {color:#666666;outline: none;text-decoration:none;}
img {border: none;}


.aside {
	width:168px;
	float:left;
	padding:50px 0px 0px 50px;
	position: fixed;
	top: 0px;
	left: 0px;
}



.logo {
	color:#666666;
	text-align:center;
	width:119px;
}
.logo strong {font-weight:normal; }

.contacts {width:119px;text-align:center; margin:278px 0px 0px 0px;}
.contacts strong {color:#a3be2e;}

.content {width:671px; overflow:hidden;padding:50px 0px 0px 61px;margin:0px 0px 0px 218px;}
.content img{display:block;float:left; margin:0px 10px 10px 0px;}