* html #wrapper,
* html #footer {
	width: expression((documentElement.clientWidth||document.body.clientWidth)<1000?'1000px':'');
}

#menu ul, .columns h2, ul.photos li {*zoom: 1;}
.columns h2 {display:inline;}