/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 12px;
	height: 100%;
	color:#87abad;
	font-family:Tahoma;
	background: #0c2133 url('./i/bg.jpg') left top repeat-x;
}
a {color:#87abad;outline: none;text-decoration:none;}
a:hover {color:#fff;text-decoration: underline;}
img {border: none;}
#wrapper {
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#container {
	margin:0px 42px 0px 52px;
	overflow:hidden;
	position:relative;
}



/* Header
-----------------------------------------------------------------------------*/

#header {
	height:527px;
	background:url('./i/home.jpg') left top no-repeat;
}
#header .bush {
	height:527px;
	background:url('./i/bush.jpg') right top no-repeat;
}
#header .left-p {
	height:527px;
	background:url('./i/left-p.png') left 231px no-repeat;
}
#header .right-p {
	height:527px;
	background:url('./i/right-p.png') right 231px no-repeat;
}
#header .logo {
	position:absolute;
	right: 140px;
	top: 56px;
}

/* // ---- Menu ---- // */

#menu {
	background:url('./i/menu.png') left top no-repeat;
	font-size:15px;
	font-family:Tahoma;
	height:37px;
	width:674px;
	overflow:hidden;
}
#menu div {
	background:url('./i/menu.png') right -37px no-repeat;
	height:37px;
	padding:0px 0px 0px 20px;
	overflow:hidden;
}
#menu ul {
	overflow:hidden;
	margin:-1px 0px 0px 0px;
}
#menu ul li {
	list-style:none;
	display:inline;
	line-height:37px;
	padding:12px 22px;
	background:url('./i/menu-li.gif') left repeat-y;
	margin:0px 0px 0px -2px;
}
#menu ul li a {
	color:#879197;
	text-decoration:none;
}
#menu ul li a:hover {
	color:#fff;
}

/* -- ---- Menu ---- -- */

/* // ---- f nav ---- // */

.f-nav {margin:0; position:absolute; top: 12px; right: 3px;}
.f-nav li {
	list-style:none;
	float:left;
	margin:0px 7px 0px 0px;
}
.f-nav li a{
	display:block;
	width:15px;
	height:12px;
	background:url('./i/icons.gif') 0px 0px no-repeat;
	text-indent:-9999em;
	overflow:hidden;
}
.f-nav li.feedback a {background-position:0 -12px;}

/* -- ---- f nav ---- -- */

/* // ---- Columns ---- // */
.columns {width:100%; margin:32px 0px 0px 0px;}
.column-1 {width:33.9%; background:url('./i/column.gif') right repeat-y;}
.column-2 {background:url('./i/column.gif') right repeat-y;}
.column-3 {width:29.7%;}
.columns td {vertical-align:top;}
.columns h2 {
	color:#ffe29b;
	border-bottom: 1px dashed #ffe29b;
	display:inline-block;
	margin:0px 0px 15px 0px;
	font-size:21px;
	font-weight:normal;
	line-height:20px;
	font-family:Arial;
}
.column-1 .content {
	padding:0px 34px 0px 0px;
}
.column-1 .content .left {position:relative; left: -15px;}
.column-2 .content {
	padding:0px 26px 0px 26px;
}
.column-3 .content {
	padding:0px 0px 0px 28px;
}
p {margin:0px 0px 10px 0px;}
.left {float:left;}
/* -- ---- Columns ---- -- */

/* // ---- News ---- // */

ul.news {margin:0;}
ul.news li{
	list-style:none;
	margin:0px 0px 7px 0px;
	background:url('./i/arr.gif') 0px 5px no-repeat;
	padding:0px 0px 0px 12px;
}


/* -- ---- News ---- -- */

/* // ---- Photos ---- // */

ul.photos {margin:0px 0px 5px 0px; overflow:hidden;}
ul.photos li{
	list-style:none;
	border: 3px solid #25626c;
	float:left;
	margin:0px 4px 4px 0px;
	width:110px;
	height:83px;
}
.s-more-p {
	float:right;
	clear:both;border-bottom: 1px dashed #ffe29b;
}
.s-more-p a {
	color:#ffe29b;
	background:url('./i/arr.gif') right 6px no-repeat;
	padding:0px 12px 0px 0px;
	text-decoration:none;
}
/* -- ---- Photos ---- -- */
.empty {height:153px; clear:both;}
/* // ---- Footer ---- // */

#footer {
	height:153px;
	background:url('./i/footer.jpg') repeat-x;
	position:relative;
	color:#6b6138;
	font-size:11px;
	margin:-153px 0px 0px 0px;
}
#footer a {color:#6b6138;}
#footer .logo {
	position:absolute;
	top: 56px;
	right: 30px;
}
#footer .totop {
	position:absolute;
	bottom: 10px;
	right: 20px;
	padding:0px 8px 0px 0px;
	background:url('./i/totop.gif') right 7px no-repeat;
}
#footer .totop a {
	color:#6b6138;
	font-weight:bold;
	font-family:"Trebuchet MS";
	font-size:14px;
	text-decoration:underline;
}
#footer .copyrights {
	position:absolute;
	bottom: 12px;
	left: 20px;
	margin:0;
}

/* -- ---- Footer ---- -- */