/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 12px;
	height: 100%;
	color:#333333;
	font-family:Tahoma;
	background: #fff url('./i/bg.png') repeat-x;
}
a {outline: none;color:#006ead;}
a:hover {text-decoration: none;}
img {border: none;}
.wrapper {
	width:960px;
	margin:0 auto;
}
.clear {clear:both;}
button {cursor: pointer;}
/* // ---- header ---- // */
.header {height: 114px;position:relative;}
.logo {height: 114px;}
.logo a {display:block;}
.header .logo {
	position:absolute;
	top:0px;
	left: 0px;
}

.header .menu {
	display:block;
	width:628px;
	height:31px;
	margin:0;
	background:url('./i/menu.png') no-repeat;
	position:absolute;
	right: 0px;
	top: 73px;
	font-size:14px;
	padding:5px 0px 0px 17px;
}
.header .menu li {list-style:none;display:block;float:left;margin:0px 4px 0px 0px;}
.header .menu li a {display:block;float:left;color:#fff;}
.header .menu li a span{display:block;float:left;height:25px;line-height:25px;padding:0px 12px;}
.header .menu li.active a {background:url('./i/menu-li.png') no-repeat;color:#333333;text-decoration:none;}
.header .menu li.active a span{background:url('./i/menu-li.png') right -25px no-repeat;}

/* -- ---- header ---- -- */

/* // ---- login ---- // */
.login-form {position:absolute;top: 7px; right: 0px;}
.login-form legend {display:none;}
.login-form label {display:block; width:110px;height:20px;background:url('./i/login-in.png') no-repeat;float:left;margin:0px 10px 0px 0px;}
.login-form label input {border: 0px; background:none; width:90px;margin:3px 0px 0px 10px;font-family:Tahoma;font-size:11px;color:#777777;outline:none;}
.login-form  button {margin:0;width:50px;height:20px;background:url('./i/login-b.png') no-repeat;border: 0px;overflow:hidden;position:relative;}
.login-form  button span {position:absolute;top: 0px; left: -1999em;}
.login-form  .h-links {margin:2px 0px 0px 10px;}
.login-form  .h-links a {color:#fff;}
.login-form  .h-links li {list-style:none;float:left;}
.login-form  .h-links li.registration {margin:0px 49px 0px 0px;}
/* -- ---- login ---- -- */

/* // ---- c-block ---- // */

.c-block {
	background:url('./i/c-block.png') -960px 0px repeat-y;
	clear:both;
}
.c-block .c-wrap {
	background:url('./i/c-block.png') -1920px bottom no-repeat;
}
.c-block .c-inner {
	background:url('./i/c-block.png') 0px 0px no-repeat;
	overflow:hidden;
	padding:5px;
}

/* -- ---- c-block ---- -- */

/* // ---- navigation ---- // */

.navigation {
	width:930px;
	height:40px;
	background:url('./i/navigation.png') no-repeat;
	padding:0px 10px;
	margin:0px 0px 5px 0px;
	overflow:hidden;
}
.navigation a {color:#333333;}
.navigation .breadcrumbs {margin:0;float:left;font-size:11px;height:40px;line-height:38px;}
.navigation .breadcrumbs li {background:url('./i/bread.gif') 0px 16px no-repeat;padding:0px 0px 0px 10px;list-style:none;float:left;margin:0px 10px 0px 0px;}

.navigation .search {
	float:right;
	margin:10px 0px 0px 0px;
}
.navigation .search legend {display:none;}
.navigation .search .query {
	width:130px;
	height:20px;
	background:url('./i/s-query.png') no-repeat;
	padding:0px 10px;
	float:left;
	margin:0px 7px 0px 0px;
}
.navigation .search .query input {
	border: 0px;
	background:none;
	width:130px;
	font-size:11px;
	color:#777777;
	font-family:Tahoma;
	margin:3px 0px 0px 0px;
}
.navigation .search button {
	display:block;
	width:32px;
	height:21px;
	background:url('./i/search-b.png') no-repeat;
	border: 0px;
	position:relative;
	float:left;
}
.navigation .search button span {position:absolute;left: -1999em;}

/* -- ---- navigation ---- -- */

/* // ---- g-block ---- // */

.g-block {
	background:#619420 url('./i/g-block.png') 0px 0px no-repeat;
	clear:both;
}
.g-block .g-inner {
	background:url('./i/g-block.png') -950px bottom no-repeat;
	overflow:hidden;
	padding:5px;
}

/* -- ---- g-block ---- -- */

/* // ---- f-section ---- // */

.f-sections {margin:0px 0px 20px 0px;}
.f-sections table, .f-section table {margin:0;}
.f-sections thead, .f-section thead {font-size:12px;color:#fff;font-weight:bold;}
.f-sections thead td, .f-section thead td {padding:11px 0px 14px 0px;}
.f-sections thead td.sections {width:521px;padding:0px 15px 0px 15px;font-size:14px;}
.f-sections thead td.topics {width:70px;text-align:center;}
.f-sections thead td.answers {width:90px;text-align:center;}
.f-sections thead td.last-mess {width:209px;padding:0px 10px 0px 10px;}
.f-sections tbody td {background-color:#fff;}
.f-sections .first-line {}
.f-sections .first-line .sections {background: #fff url('./i/t-tl.gif') top left no-repeat;}
.f-sections .first-line .last-mess {background: #fff url('./i/t-tr.gif') top right no-repeat;}
.f-sections .last-line {}
.f-sections .last-line .sections {background: #fff url('./i/t-bl.gif') bottom left no-repeat;}
.f-sections .last-line .last-mess {background: #fff url('./i/t-br.gif') bottom right no-repeat;}
.f-sections tbody .last-line td.sections, .f-sections tbody .last-line td.topics, .f-sections tbody .last-line td.answers, .f-sections tbody .last-line td.last-mess {border-bottom: 0px;}
.f-sections tbody td {padding:6px 0px;vertical-align:middle;}
.f-sections tbody td.sections, .f-sections tbody td.topics, .f-sections tbody td.answers {border-right: 1px solid #e0e0da;border-bottom: 1px solid #e0e0da;}
.f-sections tbody td.topics, .f-sections tbody td.answers {text-align:center;}

.f-sections tbody td.last-mess {border-bottom: 1px solid #e0e0da;}
.f-sections tbody td.sections dl{
	padding-left:54px;
	background:url('./i/folder.gif') 10px center no-repeat;
	margin:0;
}
.f-sections tbody td.sections {padding-right:15px;}
.f-sections tbody td.sections p {margin:0 0 4px 0px;line-height:11px;}
.f-sections tbody td.sections dl dt {font-size:14px;font-weight:bold;margin:0px 0px 1px 0px;}
.f-sections tbody td.sections dd {margin:0;font-size:11px;color:#777777;}
.f-sections tbody td.last-mess {font-size:11px;padding:10px;}
.f-sections tbody td.last-mess dl, .f-sections tbody td.last-mess dd {margin:0;}
.f-sections tbody td.last-mess dt {color:#777777;}
.f-sections tbody td.last-mess .author a {color:#333333;}
.f-sections .subforum {}
.f-sections .subforum strong {color:#333333;}
.f-sections .moderators {}
.f-sections .moderators a {color:#333333;}
/* -- ---- f-section ---- -- */


/* // ---- footer ---- // */

.footer {
	width:920px;
	background:url('./i/footer.png') no-repeat;
	height:54px;
	margin:30px auto 0px auto;
	padding:16px 20px 0px 20px;
	font-size:11px;
	color:#888888;
}

.footer .copy {float:left;}
.footer .copy a{color:#888888;}

.footer .f-links {float:right;}

/* -- ---- footer ---- -- */

/* // ---- gr-block ---- // */

.gr-block {
	background: #bebeb7 url('./i/gr-block.png') 0px 0px no-repeat;
	clear:both;
}
.gr-block .gr-inner {
	background:url('./i/gr-block.png') -950px bottom no-repeat;
	overflow:hidden;
	padding:5px;
}

/* -- ---- gr-block ---- -- */

/* // ---- w-block ---- // */

.w-block {
	background: #fff url('./i/w-block.png') 0px 0px no-repeat;
	clear:both;
}
.w-block .w-inner {
	background:url('./i/w-block.png') -940px bottom no-repeat;
	overflow:hidden;
	padding:5px;
}
.g-block .w-block {
background-position:-1880px 0;
}
.g-block .w-block .w-inner {
background-position:-2820px bottom;
}

/* -- ---- w-block ---- -- */

/* // ---- statistics ---- // */

.statistics {
	font-size:11px;
	color:#777777;
}
.statistics-content {
	margin:0;
}
.statistics-content dd {margin:0;}
.statistics-content dd .w-inner {padding:10px 15px;}
.b-title {
	height:32px;
	font-size:14px;
	padding:12px 0px 0px 15px;
	color:#333333;
}
.statistics-content a, .statistics-content b {color:#333;}
.statistics-content .on-site {margin:0px 0px 3px 0px;}
.statistics-content .statistics-info {margin:15px 0px 0px 0px;}
.statistics-content .statistics-info .last-user a {text-decoration:none;}

/* -- ---- statistics ---- -- */

/* // ---- user panel ---- // */

.user-panel {
	margin:0;
	position:absolute;
	top: 10px;
	right: 0px;
	color:#fff;
}
.user-panel a {color:#fff;}
.user-panel dt {float:left;}
.user-panel dd {margin:0;float:left;}
.user-panel dd ul {margin:0;}
.user-panel dd ul li {list-style:none;float:left;margin:0px 0px 0px 15px;}

/* -- ---- user panel ---- -- */

/* // ---- add panel ---- // */

.add-panel {padding:5px 0px 10px 0px;overflow:hidden;}
.add-panel-bottom {padding:10px 0px 15px 0px;overflow:hidden;}
.add-panel .new-topic {float:left;overflow:hidden;}
.add-panel .new-topic a {float:left;font-size:14px;color:#333;text-decoration:none;background:url('./i/new-topic.png') left top no-repeat;}
.add-panel .new-topic a span {background:url('./i/new-topic.png') right bottom no-repeat;padding:3px 10px 4px 10px;display:block;}

.add-panel .page-navigation {float:right;}
/* -- ---- add panel ---- -- */

/* // ---- section ---- // */

.f-section {margin:0px 0px 0px 0px;}
.f-section thead td {}

/* -- ---- section ---- -- */

/* // ---- page-navigation ---- // */

.page-navigation {font-size:11px;padding:5px 10px 0px 10px;}
.page-navigation ul {margin:0;display:inline;}
.page-navigation ul a {text-decoration:none;}
.page-navigation ul li {display:inline;}
.page-navigation ul li ul {display:inline;}
.page-navigation ul li.pages li.active a {background: #4a4a4a url('./i/p-nav-a.gif') bottom repeat-x;padding:0px 2px 1px 2px;color:#fff;}
.page-navigation ul li.pages li a {padding:0px 1px 1px 1px;}
.page-navigation .select-page {display:inline;padding:0px 15px 0px 0px;}
.page-navigation .select-page a	{color:#333;text-decoration:none;}
.page-navigation ul.nav .start, .page-navigation ul.nav .prev {padding:0px 6px 0px 0px;}
.page-navigation ul.nav .end, .page-navigation ul.nav .next {padding:0px 0px 0px 6px;}

/* -- ---- page-navigation ---- -- */

/* // ---- section table ---- // */

.f-section {}
.f-section table {width:100%;}
.f-section .stitle {background:url('./i/stitle.gif') repeat-x;height:30px;font-size:14px;color:#fff;line-height:30px;padding:0px 0px 0px 15px;}
.f-section .stitle h2 {font-weight:normal;}
.f-section .fstitle {background:url('./i/fstitle.png') no-repeat;}
.f-section table h1 {font-size:14px;}
.f-section table thead .t-title {padding:0px 0px 0px 15px;width:486px;}
.f-section table thead .messages {text-align:center;width:70px;}
.f-section table thead .author {text-align:center;width:107px;}
.f-section table thead .views {text-align:center;width:95px;}
.f-section table thead .last-message {width:157px;padding:0px 0px 0px 10px;}
.f-section table tbody td {background:#fff;vertical-align:middle;padding:10px 10px;}
.f-section table tbody td.t-title {padding-left:0;font-size:11px;line-height:11px;}
.f-section table tbody td .icon {float:left;width:35px;text-align:center;}
.f-section table tbody td .d-title {padding-top:2px;float:left;display:inline;width:455px;}
.f-section table tbody td .d-title h3 {float:left;}
.f-section table tbody td .d-title .description {color:#777777;clear:both;}
.f-section table tbody td .d-title .topic-pages {float:left;margin:0 0 0 9px;}
.f-section table tbody td .d-title .topic-pages li {float:left;list-style:none;margin:0px 6px 0px 0px;}
.f-section table tbody td .d-title .topic-pages li a {color:#333333;}
.f-section table tbody td .d-title .topic-pages li.more {padding-top:1px;}

.f-section table tbody td.last-message {font-size:11px;line-height:11px;}
.f-section table tbody td.last-message dl {margin:0;}
.f-section table tbody td.last-message dl dd {margin:0;}
.f-section table tbody td.last-message dl dd a{color:#333;}
.f-section table tbody td.last-message dl dt {color:#777777;}

.f-section table tbody .t-title {width:487px;border-right: 1px solid #e0e0da;}
.f-section table tbody .messages {text-align:center;width:69px;padding:0;border-right: 1px solid #e0e0da;}
.f-section table tbody .author {text-align:center;width:106px;padding:0;border-right: 1px solid #e0e0da;}
.f-section table tbody .views {text-align:center;width:94px;padding:0;border-right: 1px solid #e0e0da;}

.f-section table tbody .last-line .t-title {background: #fff url('./i/t-bl.gif') bottom left no-repeat;}
.f-section table tbody .last-line .last-message {background: #fff url('./i/t-br.gif') bottom right no-repeat;}
/* -- ---- section table ---- -- */

/* // ---- g-b-block ---- // */

.g-b-block {
	background:url('./i/g-b-block.png') no-repeat;
}
.g-b-inner {
	background:url('./i/g-b-block.png') -950px bottom no-repeat;
	overflow:hidden;
	padding:15px;
}

/* -- ---- g-b-block ---- -- */

/* // ---- topic-icons ---- // */

.topic-icons {font-size:11px;}
.topic-icons .g-b-inner {padding:15px 15px 10px 15px;}
.topic-icons .column {margin:0 33px 0px 0px;float:left;}
.topic-icons .column li {list-style:none;overflow:hidden;clear:both;margin:0px 0px 5px 0px;}
.topic-icons .column .icon {float:left;margin:0px 10px 0px 0px;}
.topic-icons .column .definition {float:left;padding:2px 0px 0px 0px;color:#777777;}

/* -- ---- topic-icons ---- -- */

/* // ---- f-topic ---- // */

.f-topic {}
.f-topic h1 {
	font-size:14px;
	color:#fff;
	padding:10px 0px 13px 20px;
}
.f-topic .w-inner {padding:0;}
.f-topic .message-block {padding:10px;overflow:hidden;position:relative;border-bottom: 1px solid #e0e0da;}
.f-topic .gm-block {background:#f7f7f4;}
.f-topic .last-line-message {border: 0px;}
.f-topic .user-card {width:190px;float:left;font-size:11px;}
.f-topic .user-card dl {margin:0;}
.f-topic .user-card dl dt {margin:0 0 10px 0px;}
.f-topic .user-card dl dt a {color:#333333;}
.f-topic .user-card dl dd {margin:0;}
.f-topic .user-card dl dd .userpic {margin:0px 0px 5px 0px;}
.f-topic .user-card dl dd .user-info {line-height:12px;margin:0px 0px 10px 0px;}
.f-topic .user-card dl dd .user-info span {color:#777777;}

.f-topic .message {float:left;width:730px;padding:0px 0px 30px 0px;}
.f-topic .message .info-line {font-size:11px;color:#777777;overflow:hidden;margin:0px 0px 5px 0px;}
.f-topic .message .info-line .message-link {float:right;}
.f-topic .message .info-line .message-link {float:right;}
.f-topic .message .quote {margin:0 0 25px 0;}
.f-topic .message .quote dt {font-size:11px;color:#777777;margin:0px 0px 5px 0px;}
.f-topic .message .quote dt a{text-decoration:none;color:#333;}
.f-topic .message .quote dd {margin:0;}
.f-topic .message .quote dd blockquote {background:#eef4db;border: 1px solid #cfe09a;margin:0;padding:10px;}
.f-topic .message .offtopic {color:#777;}
.f-topic .message .offtopic .offtop {color:#333;}

.f-topic .quote-options {height:30px;margin:0;position:absolute;bottom: 0px; right: 10px;font-size:11px;}
.f-topic .quote-options li {padding:0px 0px 0px 5px;overflow:hidden;}
.f-topic .quote-options li {float:left;}
.f-topic .quote-options li a {float:left;background:url('./i/quote-b.png') no-repeat;color:#333;text-decoration:none;}
.f-topic .quote-options li a span {display:block;background:url('./i/quote-b.png') right -19px no-repeat;padding:3px 10px;}
.f-topic .gm-block .quote-options li a{background-position:0 -38px;}
.f-topic .gm-block .quote-options li a span {background-position:right  -57px;}

.f-topic .fast-message {
	padding: 0px 10px 10px 10px;
}
.f-topic .fast-message fieldset {
	width:925px;
	position:relative;
}
.f-topic .fast-message legend {
	display:block;
	position:relative;
	height:30px;
	background:url('./i/stitle.gif') repeat-x;
	width:925px;
	font-size:14px;
	line-height:30px;
	color:#fff;
	padding:0px 0px 0px 15px;
	margin:0px 0px 20px 0px;
	left: -10px;
	float:left;
	overflow:hidden;
}

.f-topic .fast-message .edit-tags {overflow:hidden;margin:0px 0px 3px 0px;clear:both;}
.f-topic .fast-message .tags {margin:0;font-size:11px;}
.f-topic .fast-message .tags li {float:left;list-style:none;margin:0px 3px 0px 0px;}
.f-topic .fast-message .tags .tag a {float:left;background:url('./i/tag.png') top left no-repeat;color:#333;text-decoration:none;}
.f-topic .fast-message .tags .tag a span {display:block; background:url('./i/tag.png') right bottom no-repeat;padding:2px 5px 4px 5px;}
.f-topic .fast-message .tags .bold {font-weight:bold;}
.f-topic .fast-message .tags .underline {text-decoration:underline;}
.f-topic .fast-message .tags .italic {font-style:italic;}
.f-topic .fast-message .tags .bold, .f-topic .fast-message .tags .italic, .f-topic .fast-message .tags .underline {font-size:12px;}
.f-topic .fast-message .tags .bold a span, .f-topic .fast-message .tags .italic a span, .f-topic .fast-message .tags .underline  a span{padding:2px 5px 3px 5px;}

.f-topic .fast-message .tags .ctags,  .f-topic .fast-message .tags .otags {padding:2px 5px 4px 5px;}
.f-topic .fast-message .tags .ctags a {text-decoration:none;border-bottom: 1px dotted #006ead;}

.f-topic .fast-message .tags .italic a span {padding-right:9px;}
.f-topic .fast-message textarea {width:910px;height:90px;border: 0px; background:url('./i/message-area.png') no-repeat;padding:5px;font-family:Tahoma;font-size:12px;color:#333;margin:0px 0px 10px 0px;}
.f-topic .fast-message button {display:block;width:91px;height:24px;background:url('./i/send-message.png') no-repeat;position:relative;border: 0px;}
.f-topic .fast-message button span {position:absolute;left: -1999em;}
/* -- ---- f-topic ---- -- */