// useful
radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

borderbox()
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

cut-text()
	overflow hidden
	white-space nowrap
	-ms-text-overflow ellipsis
	text-overflow ellipsis

clearfix()
	&:after
		content ""
		display table;
		clear both