@import 'reset.css'
@import 'mixins'


// layout
html
body
	height 100%

body
	font 12px/1 'Maven Pro', Arial, sans-serif
	color #323232

a
	color #0f96d2
	text-decoration none



a:hover
	text-decoration underline

input, textarea, button
	outline none
	font 12px 'Maven Pro', Arial, sans-serif
	margin 0
	padding 0
	border 0


button
input
	&::-moz-focus-inner
		border 0
		padding 0

button
html input[type="button"]
input[type="reset"]
input[type="submit"]
	-webkit-appearance button
	cursor pointer

b
strong
	font-weight bold

// popup
.popup
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background rgba(0, 0, 0, .3)
	&--wrapper
		width 400px
		position absolute
		left 50%
		top 20%
		margin 0 0 0 -200px
		border 1px solid #afafaf
		shadow(0 10px 10px rgba(0, 0, 0, .25))
		radius(10px)
		overflow hidden
		background #fff

	&--header
		height 40px
		background url('./i/header-bg.png') 0 0 no-repeat
		position relative

		&--logo
			display block
			width 125px
			height 40px
			text-indent -9999px
			position absolute
			right 13px

			&:before
				display block
				width 85px
				height 30px
				position absolute
				left 50%
				top 4px
				margin 0 0 0 -42px
				content ''
				background url('./i/logo.png') 0 0 no-repeat

	&--footer
		color #fff
		text-align right
		padding 0 12px
		height 30px
		line-height 30px
		background #a1237c url('./i/footer-bg.png') 0 0 no-repeat

		a
			text-decoration none
			color #fff

.popup_auth
	padding 26px 0 20px 0
	text-align center
	h1
		font-size 24px
		margin 0 0 24px

	&--social
		margin 0 0 25px
		li
			display inline-block
			width 70px
			margin 0 4px

			a
				display block
				text-align center
				text-decoration none
				position relative
				padding 60px 0 0 0
				color #323232


				&:before
					display block
					width 50px
					height 50px
					background url('./i/social.png') 0 0 no-repeat
					content ''
					position absolute
					top 0
					left 50%
					margin 0 0 0 -26px
					radius(12px)
					border 1px solid #b2b9bb
					shadow(2px 2px 2px rgba(0, 0, 0, .75))

		li.m-fb a:before
			background-position -50px 0
		li.m-tw a:before
			background-position -100px 0
		li.m-li a:before
			background-position -150px 0
		li.m-ms a:before
			background-position -200px 0

	&--about
		display block
		font-size 18px

.track_out
	text-align center
	padding 35px 0 30px 0

	h1
		margin 0 0 36px
		font-size 19px

	&--link
		font-size 19px
		color #323232
		span
			display inline-block
			width 98px
			height 30px
			background url('./i/track_out.png') no-repeat
			vertical-align middle

	&--link:hover
		text-decoration none

	&--sep
		position relative
		font-size 19px
		text-align center
		display block
		width 210px
		margin 10px auto 16px

		&:before
			width 100%
			height 2px
			position absolute
			top 10px
			left 0
			background #b7b7b7
			content ''

		span
			position relative
			z-index 1
			background #fff
			padding 0 5px

	&--logout
		display block
		width 101px
		height 26px
		color #fff
		font-size 15px
		text-align center
		margin 0 auto
		background url('./i/logout.png') no-repeat
		line-height 26px

	&--logout:hover
		text-decoration none