.header .fast-navigation li {*z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '|')); *margin: 0 3px 0 -3px;}
body .header .fast-navigation li a {*padding:0 4px 0 4px;}

.sidebar .b-poll dd label span.i {*padding:0;}
.sidebar .catalog-navigation li {overflow:hidden;margin:-4px 0 0 0;}
.sidebar .b-poll dd label input {*margin:0 0 0 -5px;}

div.anythingSlider .thumbNav, div.anythingSlider .thumbNav li {*display:inline;*zoom:1;}


.clearfix, .catalog-line { *zoom: 1; } /* IE */

.catalog .catalog-item {*height: 255px;}


.footer .footer-navigation {*margin:0 0 14px -6px;}