/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

html {height: 100%;font-size: 100.1%;}
body {
	font-size: 14px;
	height: 100%;
	color:#222222;
	background: #fff url('./i/bg.png') center top no-repeat;
	min-width: 1000px;
	line-height:18px;
	font-family:Arial;
}

a {
	color:#0e7584;
	text-decoration:underline;
}
a:hover {text-decoration:none;color:#ff6600;}

label, button {cursor:pointer;}
input, textarea, button, select, option {font-family:Arial;color:#2b2b2b;}

input {outline:none;}

.wrapper {
	width:960px;
	margin:0 auto;
}

.clearfix:after, .catalog-line:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

/* // ---- header ---- // */

.header {
	position:relative;
	height:160px;
	margin:0 0 17px 0;
}

.header .menu {
	overflow:hidden;
	position:absolute;
	top: 10px;
}
.header .menu li {
	list-style:none;
	float:left;
	margin:0 12px 0 0;
}

.header .logo {
	position:absolute;
	top: 55px;
	left: -5px;
}

.header .phone-number {
	font-size:18px;
	color:#828282;
	font-size:18px;
	position:absolute;
	top: 84px;
}
.header .phone-number b {
	color:#ff6600;
}

.header .fast-navigation {
	position:absolute;
	top: 122px;
	left: -4px;
	overflow:hidden;
	font-size:13px;
	color:#d3d3d3;
}
.header .fast-navigation li {
	list-style:none;
	float:left;
}
.header .fast-navigation li a {padding:0 3px 0 4px;}
.header .fast-navigation li:before {content: '|';}
.header .fast-navigation li:first-child:before {content: '';}
.header .fast-navigation li {*z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '|'));}

.header .cart {
	background:#e5f3f5 url('./i/cart-bg.png') 11px 11px no-repeat;
	width:280px;
	position:absolute;
	top:  0px;
	right: 0px;
	padding:11px 0 13px 60px;
}

/* -- ---- header ---- -- */

/* // ---- container ---- // */

.container {}

/* -- ---- container ---- -- */

/* // ---- sidebar ---- // */

.sidebar {
	width:260px;
	float:left;
	margin:0 20px 0 0;
	color:#4b4b4b;
}

.sidebar .search {
	width:260px;
	height:31px;
	overflow:hidden;
	background:url('./i/search-bg.png') no-repeat;
	margin:0 0 17px 0;
}
.sidebar .search input, .sidebar .search button {
	border:0;
	margin:0;
	padding:0;
	background:none;
}
.sidebar .search button {
	position:relative;
	float:left;
	width:32px;
	height:31px;
}
.sidebar .search button span {
	position:absolute;
	left: -1999em;
}
.sidebar .search input {
	font-size:14px;
	width:208px;
	padding:8px 10px;
	float:left;
}

.sidebar .catalog-navigation {
	background:url('./i/h-dot-bg.gif') bottom left repeat-x;
	margin:0 0 18px 0;
}
.sidebar .catalog-navigation li {
	list-style:none;
	margin:-1px 0 0 0;
}
.sidebar .catalog-navigation dt {
	font-weight:bold;
}
.sidebar .catalog-navigation dt a {
	display:block;
	background:url('./i/h-dot-bg.gif') top left repeat-x;
	padding:11px 0 12px 0;
}
.sidebar .catalog-navigation dt a:hover {
	background:url('./i/catalog-navigation-h.png') top left repeat-y;
	z-index: 1;
	position:relative;
	text-decoration:underline;
}
.sidebar .catalog-navigation dd {display:none;line-height:24px;padding:0 0 10px 11px;margin:-4px 0 0 0;}

.sidebar .b-calculator {margin:0 0 37px 0;}
.sidebar .b-calculator a {
	height:47px;
	background: #ebebeb url('./i/calculator.png') right no-repeat;
	text-decoration:none;
	font-weight:bold;
	display:block;
	padding:11px 0 0 17px;
}

.sidebar .block {}
.sidebar .block h2.headline {
	font-size:18px;
	color:#4b4b4b;
	background:url('./i/h-dot-bg.gif') left bottom repeat-x;
	padding:0 0 8px 0;
	margin:0 0 10px 0;
}

.sidebar .b-weather {
	margin:0 0 30px 0;
}
.sidebar .b-weather dt {
	color:#4b4b4b;
	font-size:13px;
	display:block;
	margin:0 0 7px 0;
}
.sidebar .b-weather dd {font-size:13px;}
.sidebar .b-weather dd span.weather {
	display:block;
	height:55px;
}
.sidebar .b-weather dd span.weather .icon {
	display:block;
	width:55px;
	height:55px;
	float:left;
}
.sidebar .b-weather dd span.weather .degree {
	font-size:28px;
	float:left;
	padding:14px 0 0 9px;
}

.sidebar .b-poll {
	margin:0 0 37px 0;
}
.sidebar .b-poll dl {
	margin:0 0 10px 0;
}
.sidebar .b-poll dt {
	display:block;
	margin:0 0 9px 0;
}
.sidebar .b-poll dd label {color:#0e7584;display:block;margin:0 0 2px 0;clear:both;overflow:hidden;}
.sidebar .b-poll dd label span {vertical-align:top;}
.sidebar .b-poll dd label input {
	margin:0;vertical-align:top;
	padding:0;
	border: 0;
}
.sidebar .b-poll dd label span.i {
	width:20px;
	float:left;
	padding:2px 0 0 0;
}
.sidebar .b-poll dd label span.label {
	width:240px;
	float:left;
}

.button {
	box-shadow: 1px 1px 0px #999999;
	border: 0;
	color:#2b2b2b;
	font-size:13px;
	text-shadow: 0 1px 0 #fff;
	font-weight:bold;
	background: #dbdbdb url('./i/button.png') left top repeat-x;
	padding:0 10px;
	margin:0;
	height:28px;
	overflow:hidden;
	width:auto;
}
.button:focus {
	background: url('./i/button.png') 0 -28px repeat-x;
	box-shadow: none;
}

.sidebar .b-news ul {}
.sidebar .b-news ul li {
	list-style:none;
	margin:0 0 10px 0;
}
.sidebar .b-news ul li .title {
	display:block;
}
.sidebar .b-news ul li .date {
	color:#858585;
}

/* -- ---- sidebar ---- -- */

/* // ---- content ---- // */

.content {
	width:680px;
	float:left;
	margin:-97px 0 0 0;
}

/* -- ---- content ---- -- */


/* // ---- b-page ---- // */

.b-page {
	background:#ebebeb;
	padding:20px;
}

/* -- ---- b-page ---- -- */

/* // ---- catalog ---- // */

.catalog {
	width:641px;
}
.catalog h2 {
	font-size:18px;
	color:#4b4b4b;
	margin:0 0 18px 0;
}
.catalog .catalog-line {
	background:url('./i/catalog-line.png') no-repeat;
	margin:0 0 19px 0;
	position:relative;
}
.catalog .last-line {margin:0;}
.catalog .catalog-item {
	width: 172px;
	float:left;
	margin:0 20px 0 0;
	padding:10px 14px 55px 14px;
	min-height: 255px;
}
.catalog .catalog-item .title {display:block;margin:0 0 6px 0;}
.catalog .catalog-item .number {display:block;}
.catalog .catalog-item .price {color:#ff6600;display:block;}
.catalog .catalog-item .image {text-align:center;display:block;padding:20px 0 0 0;}
.catalog .catalog-item .image img {display:block;margin:0 auto;}

.catalog .last {margin:0;}

.catalog .catalog-item .actions {
	width:191px;
	position:absolute;
	bottom: 0px;
	background:url('./i/catalog-item.gif') bottom left no-repeat;
	margin:0 0 0 -14px;
	font-size:13px;
	padding:6px 0 10px 10px;
}
.catalog .catalog-item .actions i {display:block;width:200px;height:1px; overflow:hidden;background:#ebeaea;position:absolute;top: 0px;left: 0;}
.catalog .catalog-item .actions li {
	list-style:none;
	padding:2px 0 0 21px;
}

.catalog .catalog-item .actions li.add-cart {
	background:url('./i/add-cart.gif') 0 1px no-repeat;
}
.catalog .catalog-item .actions li.compare {
	background:url('./i/compare.gif') 0 3px no-repeat;
}
.catalog .catalog-item .actions li.order {
	background:url('./i/order.gif') 0 1px no-repeat;
}

/* -- ---- catalog ---- -- */

/* // ---- footer ---- // */

.footer {
	padding:20px 0 0 280px;
	clear:both;
}
.footer-inner {
	border-top: 3px solid #828282;
	padding:9px 0 33px 0;
	overflow:hidden;
}

.footer .footer-navigation {
	overflow:hidden;
	color:#d3d3d3;
	margin:0 0 14px -3px;
}
.footer .footer-navigation li {
	list-style:none;
	float:left;
}
.footer .footer-navigation li a {padding:0 3px 0 4px;}
.footer .footer-navigation li:before {content: '|';}
.footer .footer-navigation li:first-child:before {content: '';}
.footer .footer-navigation li {*z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '|'));}

.footer .banner {overflow:hidden;}
.footer .banner li {
	list-style:none;
	float:left;
	width:88px;
	height:31px;
	background: #d4d4d4;
	margin:0 10px 0 0;
}

/* -- ---- footer ---- -- */