﻿#promo-block .places ul li {display:inline;}
#promo-block .places ul li a {display:inline;}
.order-link {  _position:absolute;
	_top: expression(ignoreMe = document.documentElement.scrollTop + "px");
	_margin-top:23px;
}
.menu-content .sidebar .fixed {
	_position:absolute;
	_top: expression(ignoreMe = document.documentElement.scrollTop + "px");
}

#header .phone-order dl, #header .site-menu li {_display:inline;}

.main-headline .search {
}

.menu-content .menu .section .item .order .add-to-cart img {float:left;}
.menu-content .menu .section .item .order {zoom:1;}
#order .block .items .item .number .dec {overflow:hidden;}
#order .block .items .item .delete, #order .block .items .item .item-title, #order .block .items .item .ingredient, #order .block .items .item .options, #order .block .items .item .number, #order .block .items .item .price {*zoom:1; *display:inline}
#navigation .eating li {*display:inline;}
#order .block .items .item {*zoom:1;}
#order .block {zoom:1;}
#order .additional dl {_display:inline;}

.search {width:160px;}