/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;background: #fff url('./i/bg.png') repeat-x;}
body {
	font-size: 12px;
	height: 100%;
	font-family:Arial;
background: url('/n.gif') no-repeat;
background-attachment: fixed;
}
a {outline:none;color:#006cc7;}
a:hover, a:visited:hover {color:#c80002;text-decoration:none}
a:visited {color:#6c00c8;}
img {border: none;}

h1 {
	font-size:23px;
	font-family:Georgia;
	font-style:italic;
	font-weight:normal;
}

label {
	cursor: pointer;
}

input, button, textarea {
	font-family:Arial;
}

.clear {clear:both;}

/* // ---- header ---- // */



#header {
	width:940px;
	margin:0 auto 35px auto;
	position:relative;
	height:81px;
}
#header .phone-order {overflow:hidden;float:left;margin:0px 68px 0px 0px;}
#header .phone-order strong {
	float:left;
	font-weight:normal;
	margin:32px 20px 0px 0px;
}
#header .phone-order dl {
	float:left;
	margin:13px 20px 0px 0px;
}
#header .phone-order dt {
	font-size:11px;
	color:#999382;
	margin:0px 0px 3px 0px;
}
#header .phone-order dd {
	font-size:15px;
	margin:0;
}
#header .phone-order dd small {
	font-size:12px;
}

#header .site-menu {
	margin:30px 0px 0px 0px;
	float:left;
}
#header .site-menu li {
	list-style:none;
	float:left;
	margin:0px 15px 0px 0px;
}

#header .user-panel {
	text-align:right;
	padding:30px 0px 0px 0px;
	float:left;
	width:135px;
}

.order-link {
	width:145px;
	height:28px;
	background:url('./i/b-order.png') no-repeat;
	position:fixed;
	top: 23px;
	right: 50%;
	margin:0px -470px 0px 0px;
	text-align:center;
	line-height:26px;
	color:#9e0b0f;
	z-index: 1;
}
.order-link a {
	color:#9e0b0f;
}

/* -- ---- header ---- -- */

/* // ---- Navigation ---- // */

#navigation {
	padding:0px 0px 0px 74px;
	width:866px;
	margin:0 auto 40px auto;
	overflow:hidden;
}

.home {
	float:left;
	margin:56px 41px 0px 0px;
	font-size:13px;
}
#navigation .eating {margin:0;float:left;}
#navigation .eating li {
	list-style:none;
	float:left;
	margin:0px 20px 0px 0px;
	font-size:13px;
}
#navigation .eating li a {
	display:block;
	width:120px;
	text-align:center;
	text-decoration:none;
}
#navigation .eating li a img {text-decoration:none;}
#navigation .eating li a span {
	display:block;
	width:120px;
	height:24px;
	line-height:24px;
	margin:-3px 0px 0px 0px;
	text-decoration:underline;
}
#navigation .eating li.active a span{
	text-decoration:none;
}

#navigation .eating li.active a span {
	background:url('./i/eating-li.png') no-repeat;
	color:#ba0400;
	font-weight:bold;
}

.placeholded {color:#676767;}

#navigation .search {
	float:left;
	margin:52px 0px 0px 17px;
}
.search input {
	font-size:13px;
	font-family:Arial;
	width:133px;
	float:left;
}
.search button {
	display:block;
	width:21px;
	height:22px;
	background:url('./i/search-b.gif') no-repeat;
	position:relative;
	border: 0px;
	float:left;
	cursor: pointer;
}
.search button span {position:absolute;left: -1999px;}

/* -- ---- Navigation ---- -- */

/* // ---- Banner ---- // */

.banner {
	height:140px;
	background:url('./i/banner-bg.gif') repeat-x;
	margin:0px 0px 40px 0px;
}
.banner a {
	display:block;
	width:940px;
	height:140px;
	position:relative;
	margin:0 auto;
}
.banner a i {
	display:block;
	width:940px;
	height:140px;
	background:url('./i/banner-over.png') no-repeat;
	position:absolute;
	top: 0px;
	left: 0px;
}
.banner a img {display:block;}

/* -- ---- Banner ---- -- */

/* // ---- Menu Content ---- // */

.menu-content {
	padding:0px 30px 0px 40px;
}
/* -- ---- Menu Content ---- -- */

/* // ---- sidebar ---- // */

.menu-content .sidebar {
	width:190px;
	padding:0px 30px 0px 0px;
	float:left;
}
.menu-content .sidebar .about-place {
	margin:0px 0px 85px 0px;
}
.menu-content .sidebar .about-place .photo {
	display:block;
	width:99px;
	height:66px;
	background:url('./i/place-photo.png') no-repeat;
	padding:5px 0px 0px 4px;
	margin:0px 0px 9px 0px;
}
.menu-content .sidebar .about-place dl {
	margin:0;
}
.menu-content .sidebar .about-place dl dt {
	margin:0px 0px 5px 0px;
}
.menu-content .sidebar .about-place dl dd {
	margin:0;
}

.menu-content .sidebar .menu-categories {
  margin-top: 40px;

}
.menu-content .sidebar .menu-categories dl {
	margin:0;
}
.menu-content .sidebar .menu-categories dl dt {
	margin:0px 0px 12px 0px;
}
.menu-content .sidebar .menu-categories dl dd {
	margin:0;
}
.menu-content .sidebar .menu-categories dl dd ul {
	margin:0;
}
.menu-content .sidebar .menu-categories dl dd ul li {
	list-style:none;
	margin:0px 0px 7px 0px;
}
.menu-content .sidebar .fixed {
  position: fixed;
  top: 0;
}

/* // ---- ie ---- // */



/* -- ---- ie ---- -- */
/* -- ---- sidebar ---- -- */

/* // ---- menu ---- // */


.menu-content .menu {
	overflow:hidden;
	zoom: 1;
}
.menu-content .menu .section {margin:0px 0px 0px -50px;}
.menu-content .menu .section .headline {
	background:url('./i/menu-headline.gif') center left repeat-x;
	text-align:center;
	margin:0px 10px 47px 50px;
}
.menu-content .menu .section .headline  h1{
	padding:0px 18px;
	background:#fff;
	display:inline;
}
.menu-content .menu .section .inner {clear:both;}
.menu-content .menu .section .item-center {text-align:center;}
.menu-content .menu .section .item-center .item {margin-left:80px;}
.menu-content .menu .section .item {
	width:330px;
	display:inline-block;
	margin:0px 0px 55px 50px;
	*zoom:1; *display:inline;
	*text-align:top;
	vertical-align:top;
}
.menu-content .menu .section .item-center {}
.menu-content .menu .section .item h2 {
	font-size:19px;
	font-family:Georgia;
	font-weight:normal;
	font-style:italic;
	text-align:center;
	margin:0px 0px 16px 0px;
}
.menu-content .menu .section .item .description {
	color:#727272;
	line-height:19px;
	text-align:center;
	padding:0px 10px;
	margin:0px 0px 20px 0px;
	width:300px;
}
.menu-content .menu .section .item .image {display:block; margin:0px 0px 20px 0px;text-align:center;width:320px;}
.menu-content .menu .section .item .image img {}
.menu-content .menu .section .item .order {
	overflow:hidden;
	margin:0px 0px 7px 0px;
}

.menu-content .menu .section .item .order .options {
	float:left;
	display:block;
	width:80px;
	text-align:right;
	margin:6px 8px 0px 0px;
	 white-space: pre-wrap; /* css-3 */
	 white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	 white-space: -pre-wrap; /* Opera 4-6 */
	 white-space: -o-pre-wrap; /* Opera 7 */
	 /* width: 99%; */
	 word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.menu-content .menu .section .item .order .add-to-cart {
	display:block;
	width:144px;
	height:25px;
	background:url('./i/addcart.png') no-repeat;
	float:left;
	text-decoration:none;
	margin:0px 9px 0px 0px;
}
.menu-content .menu .section .item .order .add-to-cart .price {
	display:block;
	width:103px;
	height:25px;
	font-size:17px;
	color:#000;
	text-align:right;
	padding:0px 7px 0px 0px;
	line-height:25px;
	float:left;
}
.menu-content .menu .section .item .order .add-to-cart .price small {
	font-size:12px;
}
.menu-content .menu .section .item .order .number {
	float:left;
	margin:6px 0px 0px 0px;
	display:block;
}
.menu-content .menu .section .item .order .number-hide {display:none;}
.menu-content .menu .section .item .order .number .incdec {
	display:block;
	width:13px;
	height:13px;
	background:url('./i/incdec.png') no-repeat;
	float:left;
	text-indent:-9999em;
}
.menu-content .menu .section .item .order .number .dec {margin:0px 7px 0px 0px;}
.menu-content .menu .section .item .order .number .inc {background-position:0px -13px;}
.menu-content .menu .section .item .order .number .value {float:left;margin:0px 7px 0px 0px;}

.menu-content .menu .section .item .variety {
	overflow:hidden;
}
.menu-content .menu .section .item .variety .line {
	overflow:hidden;
	margin:0px 0px 2px 0px;
}
.menu-content .menu .section .item .variety .title {
	float:left;
	width:160px;
	margin:2px 0px 0px 0px;
}
.menu-content .menu .section .item .variety .option {
	width:80px;
	float:left;
	text-align:right;
	font-size:11px;
	color:#727272;
	margin:4px 7px 0px 0px;
	font-style:italic;
}
.menu-content .menu .section .item .variety .price {
	width:73px;
	float:left;
	background:url('./i/sprice.png') no-repeat;
	text-align:right;
	padding:0px 6px 0px 0px;
	height:20px;
	line-height:20px;
	text-decoration:none;
	color:#000;
}

.menu-content .menu .wide-item {}
.menu-content .menu .wide-item .inner {
	text-align:center;
}
.menu-content .menu .wide-item .item {
	width:730px;
}
.menu-content .menu .wide-item .item .description {
	margin:0px auto 20px auto;
}
.menu-content .menu .wide-item .item .image {
	width:730px;
}

.menu-content .menu .wide-item .item .order-table table {display:inline-block;}
.menu-content .menu .wide-item .item .order-table table td.composition {
	width:90px;
	font-weight:bold;
}

.menu-content .menu .wide-item .item .order-table table thead td {
	font-weight:bold;
	text-align:right;
	padding:0px 46px 15px 0px;
}
.menu-content .menu .wide-item .item .order-table table thead td.last {
	padding:0px 7px 15px 0px;
}
.menu-content .menu .wide-item .item .order-table table .price {
	display:block;
	width:72px;
	height:20px;
	background:url('./i/sprice.png');
	text-decoration:none;
	color:#000;
	line-height:20px;
	text-align:right;
	margin:0px 0px 2px 0px;
	padding:0px 7px 0px 0px ;
}
.menu-content .menu .wide-item .item .order-table table .option {
	color:#727272;
	font-size:11px;
	font-style:italic;
	text-align:right;
	display:block;
	padding:0px 7px 0px 0px;
}
.menu-content .menu .wide-item .item .order-table table tbody td {
	padding:0px 39px 10px 0px;
	vertical-align:top;
}
.menu-content .menu .wide-item .item .order-table table tbody td.last {padding-right:0;}

.menu-content .menu .wide-item .item .order-table table td.composition {padding:2px 0px 0px 0px;text-align:left;}

/* -- ---- menu ---- -- */

/* // ---- footer-navigation ---- // */

.footer-navigation {
	background:#fff2d2;
	height:40px;
	overflow:hidden;
	margin:0px 0px 30px 0px;
}
.footer-navigation .inner {
	width:750px;
	margin:0 auto;
	padding:0px 0px 0px 190px;
}
.footer-navigation .inner .nav {
	margin:0;
	line-height:40px;
	font-size:13px;
}
.footer-navigation .inner .nav li {
	list-style:none;
	float:left;
	margin:0px 30px 0px 0px;
}
.footer-navigation .inner .nav li.active a {
	color:#ba0400;
	font-weight:bold;
	text-decoration:none;
}

/* -- ---- footer-navigation ---- -- */

/* // ---- footer ---- // */

#footer {
	height:80px;
	width:940px;
	margin:0 auto;
	position:relative;
}
#footer .copyrights {
	margin:0px 0px 5px 0px;
}
#footer .license {
	font-size:10px;
	color:#828282;
}

#footer .developers {
	position:absolute;
	top: 0px;
	right: 0px;
	line-height:18px;
}
#footer .developers img {
	float:left;
	margin:0px 20px 0px 0px;
}
#footer .developers  span {
	display:block;
	margin:-4px 0px 0px 0px;
	float:left;
}

/* -- ---- footer ---- -- */


/* // ---- main-page ---- // */

#main-headline {
	position:relative;
	width:960px;
	margin:0 auto 30px auto;
}
#main-headline h1 {
	text-align:center;
}

#main-headline .search {
	position:absolute;
	top: 2px;
	right: 0px;
}

/* // ---- promo block ---- // */

#promo-block {
	width:940px;
	height:378px;
	margin:0 auto 40px auto;
}
#promo-block .images {
	height:334px;
	background:#ff7a19;
}
#promo-block .images img {display:none;}
#promo-block .images img.active {display:block;}

#promo-block .places {
	background:#ededed url('./i/promo-block-ibg.gif') repeat-x;
	height:44px;
}
#promo-block .places ul {
	margin:0;
	text-align:center;
	word-spacing:-0.25em
}
#promo-block .places ul li {
	list-style:none;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
	word-spacing:normal;
	margin:0px 15px;
}
#promo-block .places ul li a {
	padding:13px 17px;
	position:relative;
	float:left;
}
#promo-block .places ul li a i {
	display:none;
	width:14px;
	height:7px;
	position:absolute;
	top: -7px;
	left: 50%;
	margin:0px 0px 0px -7px;
	background:url('./i/promo-block-ibgar.png') no-repeat;
	z-index: 1;
}
#promo-block .places ul li.active a {
	background:#ffe13e url('./i/promo-block-ibga.png') repeat-x;
}
#promo-block .places ul li.active a i {display:block;}

/* -- ---- promo block ---- -- */

/* -- ---- main-page ---- -- */

/* // ---- order ---- // */

#order {
	width:824px;
	margin:0 auto 70px auto;
}
#order h1 {
	text-align:center;
	position:relative;
	right: -15px;
}
#order .calculator {
	margin:0px 0px 35px 0px;
}
#order .block {
	background:url('./i/order.png') no-repeat;
	padding:22px 52px 68px 22px;
}

#order .bottom {
	width:824px;
	height:4px;
	background:url('./i/order.png') -824px 0 no-repeat;
}
#order .block .items {
	margin:0px 0px 15px 0px;
}
#order .block .items .item {
	word-spacing:-0.25em;
	padding:13px 0px 13px 0px;
	border-bottom: 1px solid #e5e5e5;
}
#order .block .items .item .delete {
	display:inline-block;
	width:30px;
	word-spacing:normal;
	vertical-align:top;
}
#order .block .items .item .delete a {
	display:block;
	width:16px;
	height:16px;
	background:url('./i/delete-order.gif') no-repeat;
	text-indent:-9999em;
	margin:6px 0px 0px 0px;
}
#order .block .items .item .delete a:hover {
	background-position:0px -16px;
}
#order .block .items .item .item-title {
	display:inline-block;
	width:264px;
	word-spacing:normal;
	vertical-align:top;
}
#order .block .items .item .item-title img {
	float:left;
	margin:0px 20px 0px 0px;
}
#order .block .items .item .item-title .title {
	font-weight:normal;
	font-size:15px;
	line-height:22px;
	overflow:hidden;
	position:relative;
	top:3px;
}
#order .block .items .item .ingredient {
	display:inline-block;
	width:102px;
	word-spacing:normal;
	vertical-align:top;
	padding:9px 0px 0px 26px;
	position:relative;
}
#order .block .items .item .ingredient .open-list-active {
	color:#727272;
	position:relative;
	z-index:3;
}
#order .block .items .item .ingredient .ingredients {
	position:absolute;
	top: -11px;
	left: 0px;
	display:none;
	z-index:2;
}
#order .block .items .item .ingredient .ingredients ul {
	margin:0;
	width:224px;
	background:url('./i/ingredients.png') no-repeat;
	padding:50px 25px 5px 26px;
	overflow:hidden;
}
#order .block .items .item .ingredient .ingredients ul li {
	list-style:none;
	overflow:hidden;
	margin:0px 0px 7px 0px;
}
#order .block .items .item .ingredient .ingredients ul li a {
	float:left;
}
#order .block .items .item .ingredient .ingredients ul li span {float:right;}
#order .block .items .item .ingredient .ingredients .ibottom {
	width:275px;
	height:16px;
	background:url('./i/ingredients.png') right top no-repeat;
}

#order .block .items .item .options {
	display:inline-block;
	width:128px;
	word-spacing:normal;
	vertical-align:top;
	padding:9px 0px 0px 0px;
	text-align:right;
}
#order .block .items .item .number {
	display:inline-block;
	width:90px;
	word-spacing:normal;
	vertical-align:top;
	padding:9px 0px 0px 0px;
}
#order .block .items .item .number .inner {
	float:right;
}
#order .block .items .item .number .incdec {
	display:block;
	width:13px;
	height:13px;
	background:url('./i/incdec.png') no-repeat;
	float:left;
	text-indent:-9999em;
}
#order .block .items .item .number .dec {margin:0px 7px 0px 0px;}
#order .block .items .item .number .inc {background-position:0px -13px;}
#order .block .items .item .number .value {float:left;margin:0px 7px 0px 0px;}
#order .block .items .item .price {
	display:inline-block;
	width:110px;
	word-spacing:normal;
	vertical-align:top;
	font-size:17px;
	padding:5px 0px 0px 0px;
	text-align:right;
}
#order .block .items .item .price small {
	font-size:12px;
}

#order .block .summ-price {
	text-align:right;
	font-size:15px;
}
#order .block .summ-price .value {
	width:160px;
	text-align:right;
	font-size:25px;
	display:inline-block;
}
#order .block .summ-price b {
	font-weight:normal;
	display:inline-block;
	margin:10px 0px 0px 0px;
}
#order .block .summ-price .value small {
	font-size:12px;
}

#order .additional {}
#order .additional dl {
	margin:0px 80px 0px 52px;
	float:left;
}
#order .additional dl dt {
	font-size:14px;
	margin:0 0 5px 0px;
}
#order .additional dl dd {
	margin:0;
}
#order .additional dl dd textarea {
	width:350px;
	height:115px;
}
#order .additional button {
	font-size:14px;
	padding:5px 10px;
	margin:60px 0px 0px 0px;
	font-family:Arial;
}

/* -- ---- order ---- -- */

/* // ---- order-user-information ---- // */

#personal-information {
	width:824px;
	overflow:hidden;
	margin:0 auto 60px auto;
	font-size:14px;
}
#personal-information .block {
	background:url('./i/personal-information.png') no-repeat;
	padding:22px 0px 44px 102px;
}
#personal-information .bottom {
	height:4px;
	background:url('./i/personal-information.png') right top no-repeat;
}

#personal-information .headline {
	position:relative;
	margin:0px 0px 50px 0px;
}
#personal-information .headline .log-in {
	font-size:14px;
	position:absolute;
	top: 8px;
	right:96px
}

#personal-information .input-title {
	display:block;
	margin:0px 0px 5px 0px;
}
#personal-information input {
	font-size:20px;
	font-family:Arial;
	padding:3px 2px 4px 2px;
}
#personal-information .contacts {
	overflow:hidden;
	margin:0px 0px 40px 0px;
}
#personal-information .name {
	margin:0px 0px 18px 0px;
}
#personal-information .ibig input {
	width:294px;
}
#personal-information .phone-numbers {
	overflow:hidden;
}
#personal-information .phone-numbers label {
	float:left;
	margin:0px 20px 0px 0px;
}

#personal-information  .checkbox {
	overflow:hidden;
	display:block;
	margin:0 0 20px 0;
}
#personal-information .checkbox input {
	float:left;
	margin:0 10px 0px 0px;
	position:relative;
	top: 1px
}

#personal-information .delivery {
	overflow:hidden;
	margin:0px 0px 40px 0px;
}
#personal-information .delivery .address small {
	display:block;
	color:#7a7a7a;
	font-size:11px;
}
#personal-information .delivery .address .street {
	float:left;
	margin:0px 20px 0px 0px;
}
#personal-information .delivery .address .street small {
	margin:0px 0px 0px 11px;
}
#personal-information .delivery .address .ismall {
	width:51px;
	float:left;
}
#personal-information .delivery .address .ismall input {
	width:45px;
	text-align:center;
}
#personal-information .delivery .address .ismall small {
	text-align:center;
}

#personal-information .delivery .address .separator {
	font-size:20px;
	color:#838383;
	float:left;
	margin:4px 7px 0px 7px;
}
#personal-information .delivery .address .flat {
	margin:0px 30px 0px 0px;
}
#personal-information .delivery .address .porch {
	margin:0px 15px 0px 0px;
}

#personal-information .registration {
	overflow:hidden;
	margin:0px 0px 40px 0px;
}
#personal-information .reg-data {
	overflow:hidden;
}
#personal-information .reg-data label {
	float:left;
	margin:0px 20px 0px 0px;
}
#personal-information .make-order button{
	font-size:14px;
	padding:6px 40px;
	margin:0px 0px 0px 239px;
}


/* -- ---- order-user-information ---- -- */

/* // ---- log-in ---- // */

.pop-up-login {
	width:100%;
	position:absolute;
	top: 0px;
	left: 0px;
	background:url('./i/popup-bg.png');
	z-index: 100;
	display:none;
}
.pop-up-login form {
	background:#fff;
	width:350px;
	position:fixed;
	left:50%;
	top:50%;
	padding:25px 0px 25px 50px;
	margin-left:-200px;
}
.pop-up-login form h1 {
	margin:0px 0px 30px 0px;
}
.pop-up-login form dl {
	margin:0;
}
.pop-up-login form dl dd {
	margin:0 0 18px 0;
}
.pop-up-login form dl dt {
	margin:0px 0px 5px 0px;
}
.pop-up-login form fieldset {
	font-size:14px;
	margin:0px 0px 34px 0px;
}
.pop-up-login form fieldset dl input {
	font-size:20px;
	font-family:Arial;
	padding:3px 2px 4px 2px;
	width:294px;
}
.pop-up-login form fieldset .checkbox {
	overflow:hidden;
	display:block;
	margin:0 0 20px 0;
}
.pop-up-login form fieldset .checkbox input {
	float:left;
	margin:0 10px 0px 0px;
	position:relative;
	top: 1px
}
.pop-up-login form fieldset button {
	padding:6px 50px;
	font-size:14px;
}
.pop-up-login form .about {
	
}
.pop-up-login form .about strong {
	font-size:16px;
	display:block;
	margin:0px 0px 8px 0px;
}
.pop-up-login form .about .sgrey {
	font-size:12px;
	color:#727272;
	line-height:19px;
	margin:0px 0px 14px 0px;
}
.pop-up-login form .close {
	position:absolute;
	top: 12px;
	right: 12px;
}
.pop-up-login form .close a{
	display:block;
	width:15px;
	height:16px;
	background:url('./i/popup-close.gif') no-repeat;
	text-indent:-9999em;
}
/* -- ---- log-in ---- -- */