/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;min-width: 952px;}
body {
	font-size: 14px;
	color:#1b1b1b;
	font-family:Arial;
	background: #fff url('./i/bg.png') center top repeat-x;
	
}
a {outline: none;color:#2f4d7f;}
a:hover {color:#091b38;}
img {border: none;}
label {cursor:pointer;}
input, textarea, button {font-family:Arial;outline:none;}
button {cursor: pointer;}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clear {clear:both;}


.wrapper {
	width:952px;
	margin:0 auto;
}

h2 {
	font-size:24px;
	display:block;
	font-weight:normal;

}
h3 {
	font-size:18px;
	font-weight:normal;
}

h4 {
	margin:0px 0px 6px 0px;
}

/* // ---- header ---- // */

.header {
	position:relative;
	height:110px;
}
.header .logo {
	position:absolute;
	top: 42px;
}
.header .logo h1 {
	font-size:25px;
	color:#f97d0e;
	font-family:Georgia;
	letter-spacing: -1px;
}
.header .logo h1 a {
	color:#f97d0e;
	text-decoration:none;
	display:block;
	width:89px;
	height:26px;
	position:relative;
}
.header .logo h1 a img {
	position:absolute;
	top: 0px;
	left: 0px;
}
.header .logo small {
	font-size:14px;
	display:block;
	margin:3px 0px 0px 0px;
}
.header .actions {
	float:right;
	font-size:17px;
	margin:10px 0px 0px 0px;
}
.header .actions a {
	color:#ffffff;
}
.header .actions a:hover {
	color:#d4deed;
}
.header .actions li {
	padding:4px 10px 6px 10px;
	float:left;
	list-style:none;
	margin:0px 0px 0px 8px;
	position:relative;
}
.header .actions li.active .lc {
	display:block;
	width:1px;
	height:30px;
	background:url('./i/actions.gif') 0px -30px no-repeat;
	position:absolute;
	top: 0px;
	left: 0px;
}
.header .actions li.active .rc {
	display:block;
	width:1px;
	height:30px;
	background:url('./i/actions.gif') 0px -30px no-repeat;
	position:absolute;
	top: 0px;
	right: 0px;
}
.header .actions li.active {
	background:url('./i/actions.gif') repeat-x;
}
.user-panel {
	float:right;
	margin:15px 0px 0px 30px;
	z-index: 10;
}
.user-panel .sign {
	color:#fff;
	margin:0;
}
.user-panel .sign li {
	float:left;
	list-style:none;
	margin:0px 0px 0px 20px;
}
.user-panel .sign a {color:#fff;}
.user-panel .sign a:hover {color:#d4deed;}
.user-panel .sign-in a {text-decoration:none;border-bottom: 1px dotted #fff;}
.user-panel .sign-in a:hover {text-decoration:none;border-bottom: 1px dotted #d4deed;}
.user-panel .sign-in-open a {text-decoration:none;border-bottom: 1px dotted #2f4d7f;color:#2f4d7f;}
.user-panel .sign-in-open a:hover {text-decoration:none;border-bottom: 1px dotted #2f4d7f;color:#2f4d7f;}
.user-panel .sign-in-open {position:relative;z-index:11;}
.user-panel .sign-up a {text-decoration:none;border-bottom: 1px solid #fff;}
.user-panel .sign-up a:hover {text-decoration:none;border-bottom: 1px solid #d4deed;}

.user-panel form.sign-in {
	width:175px;
	padding:40px 22px 20px 22px;
	background:#d4deed;
	position:absolute;
	top: 4px;
	right: 0px;
	display:none;
	z-index: 10;
}
.user-panel form.s-opened {display:block;}
.user-panel form.sign-in dl {
	margin:0;
}
.user-panel form.sign-in dl dt {
	margin:0px 0px 7px 0px;
}
.user-panel form.sign-in dl dd {
	margin:0 0 14px 0;
}
.user-panel form.sign-in dl dd input {
	width:163px;
	border: 1px solid #7d8aa0;
	font-size:14px;
	padding:6px 5px;
	margin:0;
}
.user-panel form.sign-in .f-links {
	margin:15px 0px 0px 0px;
}
.user-panel form.sign-in .f-links li {
	list-style:none;
}
.user-panel form.sign-in .f-links li a {
	text-decoration:underline;
	border: 0px;
}
.user-panel form.sign-in button {
	width:70px;
	height:32px;
	border: 0px;
	background:url('./i/login-b.png') 0 0 no-repeat;
	font-size:15px;
	font-weight:bold;
	color:#873f00;
	text-shadow: 0px 1px 0px #ffdea7;
}
.user-panel form.sign-in button:hover {
	background:url('./i/login-b.png') 0 -32px no-repeat;
}

/* -- ---- header ---- -- */

/* // ---- main-search ---- // */

.m-search {
	width:713px;
	float:left;
	margin:0px 23px 40px 0px;
}
.m-search .image {border-bottom: 1px solid #fff;}
.m-search .image img {display:block;}
.main-search {
	padding:0px 0px 0px 25px;
	background:url('./i/main-search.png') no-repeat;
}
.main-search fieldset {
	background:#d4deed;
	padding:20px 0px 25px 0px;
}


.main-search dl {
	margin:0;
}
.main-search h2 {
	margin:0px 0px 12px 0px;
}
.main-search dd.last {
	margin-bottom:0;
}
.main-search dt {
	margin:0px 0px 3px 0px;
	position:relative;
}
.main-search dd {margin:0 0 25px 25px;}
.main-search dt label {display:block;margin:0px 0px 0px 25px;}
.main-search dt label span {
	color:#2f4d7f;
	font-size:18px;
	border-bottom: 1px dotted #2f4d7f;
}
.main-search dt .radio {background:url('./i/bs-radio.png') no-repeat;display:block;width:400px;height:15px;float:left;position:absolute;top: 4px; left: 0px; cursor: pointer;}

.main-search h3 {
	margin:0px 0px 14px 0px;
}
.main-search .line {
	margin:0px 0px 25px 0px;
}

.main-search .list-search {
	margin:12px 0px 0px 0px;
}
.main-search .b-select {
	position:relative;
	float:left;
	margin:0px 25px 0px 0px;
}
.main-search .b-select select {
	height:30px;
	width:306px;
	position:absolute;
	top: 0px;
	font-family:Arial;
	font-size:14px;
	padding:0px 0px 0px 8px;
	border: 0px;
}
.main-search .b-select select option {
	padding:0px 0px 0px 6px;
	border: 0px;
	background:#b1c4e0;
	color:#2f4d7f;
}
.main-search .b-select .select {
	display:block;
	width:298px;
	height:30px;
	line-height:30px;
	background:#b1c4e0 url('./i/s-arr.gif') 290px 14px no-repeat;
	color:#2f4d7f;
	padding:0px 0px 0px 8px;
	cursor: pointer;
}

.main-search label.calendar {
	display:block;
	width:295px;
	height:23px;
	border: 1px solid #7d8aa0;
	background:#fff url('./i/scalendar.gif') 280px 6px no-repeat;
	padding:5px 0px 0px 8px;
	float:left;
	margin:0px 25px 0px 0px;
}
.main-search label.calendar input {
	border: 0px;
	margin:0;
}

.main-search .find-button {
	display:block;
	width:307px;
	height:84px;
	background:url('./i/find-button.png') no-repeat;
	color:#fff;
	font-weight:bold;
	font-size:24px;
	text-transform:uppercase;
	text-shadow: 0px -1px 0px #2c5495;
	border: 0px;
	margin:0px 0px 7px 0px;
}
.main-search .find-button:hover {background-position:0 -84px;}
.main-search .find-button:active {background-position:0 -168px;}

body .ui-datepicker {
	background:#667ca1;
	font-family:Arial;
	font-size:14px;
	width:245px;
	color:#fff;
}
body .ui-datepicker a {
	color:#fff;
	text-decoration:none;
}
body .ui-datepicker table {
	width:100%;
	margin:0 0 20px 0;
}

body .ui-widget-content {background:#667ca1;border: 0px;}

body .ui-datepicker-title {
	font-weight:bold;
	text-align:center;
	padding:9px;
}

body .ui-datepicker-calendar th {font-weight:normal;width:34px;}
body .ui-datepicker-calendar td {font-weight:normal;width:34px;text-align:center;}
body a.ui-datepicker-next, body a.ui-datepicker-prev {
	display:block;
	width:14px;
	height:14px;
	background:#c3cad6;
	text-align:center;
	color:#2f4d7f;
	line-height:12px;
	cursor: pointer;
	position:absolute;
}
body a.ui-datepicker-next {top: 9px; right: 10px;}
body a.ui-datepicker-prev {top: 9px; left: 10px;}

/* -- ---- main-search ---- -- */

/* // ---- welcome-block ---- // */

.welcome-block {
	float:left;
	width:215px;
}

.welcome-block .o-button {
	display:block;
	width:195px;
	height:64px;
	background:url('./i/o-button.png') no-repeat;
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
	line-height:64px;
	text-shadow: 0px -1px 0px #d66400;
	padding:0px 0px 0px 20px;
	margin:0px 0px 6px 0px;
}
.welcome-block .o-button:hover {
	background-position:0px -64px;
}
.welcome-block .o-button:active {
	background-position:0px -128px;
}

.welcome-block .b-info {
	margin:30px 0 0 3px;
}
.welcome-block .b-info dt {
	font-size:18px;
	margin:0px 0px 6px 0px;
}
.welcome-block .b-info dd {
	margin:0 0 15px 0;
}

/* -- ---- welcome-block ---- -- */

/* // ---- b-objects ---- // */

.b-objects {
	clear:both;
	padding:0px 0px 0px 25px;
	overflow:hidden;
	margin:0px 0px 28px 0px;
}
.b-objects .b-description {
	margin:0px 0px 20px 0px;
}
.b-objects .objects-list {
	margin:0 0 0 -25px;
}
.b-objects .objects-list li {
	width:182px;
	height:263px;
	border: 1px solid #c7c7c7;
	list-style:none;
	float:left;
	margin:0px 0px 0px 25px;
	padding:14px 14px 50px 14px;
	position:relative;
}
.b-objects .objects-list li h3 {margin:0px 0px 7px 0px;}
.b-objects .objects-list li .image {margin:0px 0px 10px 0px;}
.b-objects .objects-list li .image img {display:block;}
.b-objects .objects-list li .price {
	position:absolute;
	bottom: 0px;
	left: 14px;
	width:183px;
	border-top: 1px solid #c7c7c7;
	padding:11px 0px;
}

/* -- ---- b-objects ---- -- */

/* // ---- populary direction ---- // */

.populary-direction {
	background:#d4deed url('./i/populary-dir.png') center top no-repeat;
	padding:17px 0px 30px 0px;
}
.populary-direction .wrap {
	width:927px;
	margin:0 auto;
	padding:0px 0px 0px 25px;
	overflow:hidden;
}

.populary-direction .wrap h3 {
	color:#2a2a2a;
	margin:0px 0px 7px 0px;
}
.populary-direction .wrap h2 {
	margin:0px 0px 14px 0px;
}

.populary-direction .column {
	float:left;
}
.populary-direction .w155 {width:155px;}
.populary-direction .w143 {width:143px;}
.populary-direction .w122 {width:122px;}
.populary-direction .w200 {width:200px;}
.populary-direction .w103 {width:103px;}

.populary-direction .column ul {margin:0;line-height:17px;}
.populary-direction .column ul li {list-style:none;}


/* -- ---- populary direction ---- -- */

/* // ---- footer ---- // */

.footer {
	background:#d4deed url('./i/footer.gif') repeat-x;
}
.footer .wrap {
	width:927px;
	margin:0 auto;
	padding:25px 0px 40px 25px;
	overflow:hidden;
}
.footer .footer-nav {
	margin:0;
	overflow:hidden;
}
.footer .footer-nav li{
	list-style:none;
	float:left;
	margin:0px 14px 0px 0px;
}
/* -- ---- footer ---- -- */

/* // ---- breadcrumbs ---- // */

.breadcrumbs {
	height:20px;
	background:#f5f5f5;
	font-size:12px;
	color:#848484;
	padding:5px 0px 0px 9px;
	margin:-10px 0px 25px 0px;
}
.breadcrumbs a {
	text-decoration:none;
}
.breadcrumbs ul {
	margin:0;
}
.breadcrumbs ul li {
	list-style:none;
	display:inline;
}
.breadcrumbs ul li.here {
	background:url('./i/here.gif') right 8px no-repeat;
	padding:0px 11px 0px 0px;
}

/* -- ---- breadcrumbs ---- -- */

/* // ---- Advanced search ---- // */

.advanced-search {}
.advanced-search .main-block {
	background:#d4deed;
	padding:25px;
	margin:0px 0px 25px 0px;
}
.advanced-search .main-block .b-select-line {
	overflow:hidden;
	margin:0px 0px 22px 0px;
}
.advanced-search .main-block .b-select {
	position:relative;
	margin:0px 25px 0px 0px;
	float:left;
}
.advanced-search .main-block .b-select-line .last {margin:0;}
.advanced-search .main-block .b-select select {
	height:30px;
	position:absolute;
	top: 0px;
	font-family:Arial;
	font-size:14px;
	padding:0px 0px 0px 8px;
	border: 0px;
}
.advanced-search .main-block .b-select select option {
	padding:0px 0px 0px 6px;
	border: 0px;
	background:#b1c4e0;
	color:#2f4d7f;
}
.advanced-search .main-block .b-select .select {
	display:block;
	height:30px;
	line-height:30px;
	background:#b1c4e0 url('./i/s-arr.gif') 290px 14px no-repeat;
	color:#2f4d7f;
	padding:0px 0px 0px 8px;
	cursor: pointer;
}

.advanced-search .main-block .actions .select {width:204px;background-position:197px 14px;}
.advanced-search .main-block .country .select {width:309px;background-position:301px 14px;}
.advanced-search .main-block .place .select {width:311px;background-position:303px 14px;}
.advanced-search .main-block .actions select {width:212px;}
.advanced-search .main-block .country select {width:317px;}
.advanced-search .main-block .place select {width:319px;}

.advanced-search .main-block dl.results {
	margin:0;
	float:left;
}
.advanced-search .main-block dl.results dt {
	margin:0px 0px 11px 0px;
}
.advanced-search .main-block dl.results dd {
	margin:0;
}

.advanced-search .main-block dl.results label.calendar {
	display:block;
	width:106px;
	height:23px;
	border: 1px solid #7d8aa0;
	background:#fff url('./i/scalendar.gif') 90px 6px no-repeat;
	padding:5px 0px 0px 8px;
	float:left;
}
.advanced-search .main-block dl.results label.calendar input {
	border: 0px;
	margin:0;
	width:80px;
}
.advanced-search .main-block dl.results .sep {
	float:left;
	margin:0px 8px;
	padding:6px 0px 0px 0px;
}
.advanced-search .main-block dl.results .clear-inputs {
	text-decoration:none;
	border-bottom: 1px dotted #2f4d7f;
	float:left;
	padding:6px 0px 0px 0px;
	margin:0px 0px 0px 11px;
}

.advanced-search .main-block .ul-button {
	width:227px;
	height:55px;
	border: 0px;
	float:right;
	background:url('./i/update-list-b.png') no-repeat;
	padding:0;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow: 0px -1px 0px #2c5495;
	margin:3px 0px 0px 0px;
}

.advanced-search .set-selections {
width:600px;
margin:0px 0px 40px 0px;
}
.advanced-search .set-selections legend {
	font-size:18px;
	display:block;
	padding:0px 0px 12px 0px;
}
.advanced-search .set-selections span {
	background:#d4deed;
	padding:6px 40px 8px 8px;
	float:left;
	margin:0px 15px 15px 0px;
	position:relative;
}
.advanced-search .set-selections span a {
	display:block;
	width:8px;
	height:8px;
	background:url('./i/delete.gif') no-repeat;
	position:absolute;
	top: 11px;
	right: 11px;
}
.advanced-search .set-selections .selections {
	overflow:hidden;
}
.advanced-search .set-selections .more {
	text-decoration:none;
	border-bottom: 1px dotted #2f4d7f;
}
.advanced-search .content {
	width:687px;
	float:left;
	margin:0px 25px 0px 0px;
}
.advanced-search .results {
	position:relative;
}
.advanced-search .results h2 {color:#f97d0e;margin:0px 0px 10px 0px;}
.advanced-search .results .shown {float:left;}
.advanced-search .results .sort {
	margin:-6px 0px 0px 0px;
	float:right;
}
.advanced-search .results .sort dt {float:left;margin:7px 0px 0px 0px;}
.advanced-search .results .sort dd {margin:0;float:left;}
.advanced-search .results .sort .b-select {
	position:relative;
	float:left;
	margin:0px 0px 0px 15px;
	width:147px;
}
.advanced-search .results .sort .b-select select {
	height:30px;
	position:absolute;
	top: 0px;
	font-family:Arial;
	font-size:14px;
	padding:0px 0px 0px 8px;
	border: 0px;
}
.advanced-search .results .sort .b-select select option {
	padding:0px 0px 0px 6px;
	border: 0px;
	background:#e8e6e6;
	color:#2f4d7f;
}
.advanced-search .results .sort .b-select .select {
	display:block;
	height:30px;
	width:139px;
	line-height:30px;
	background:#e8e6e6 url('./i/s-arr.gif') 133px 14px no-repeat;
	color:#2f4d7f;
	padding:0px 0px 0px 8px;
	cursor: pointer;
}

.advanced-search .results .sort .b-select select {width:147px;}

.advanced-search .result-list {
	clear:both;
	margin:25px 0px 0px 0px;
}
.advanced-search .result-list li {
	width:657px;
	border: 1px solid #c7c7c7;
	padding:14px;
	list-style:none;
	margin:0px 0px 25px 0px;
	overflow:hidden;
}

.advanced-search .result-list .left {
	width:182px;
	float:left;
	margin:0px 15px 0px 0px;
}
.advanced-search .result-list .left img {
	display:block;
	margin:0px 0px 13px 0px;
}
.advanced-search .result-list .left .contact {
	width:184px;
	height:32px;
	background:url('./i/r-contact.png') no-repeat;
	display:block;
	color:#fff;
	text-decoration:none;
	text-align:center;
	line-height:30px;
	font-weight:bold;
	text-shadow: 0px -1px 0px #163870;
	position:relative;
	left: -2px;
}

.advanced-search .result-list .info {
	width:460px;
	float:left;
	margin:-5px 0px 0px 0px;
}
.advanced-search .result-list .info h3 {
	margin:0px 0px 10px 0px;
}
.advanced-search .result-list .info .description {
	margin:0px 0px 10px 0px;
}

.advanced-search .result-list .info .update {color:#a5a5a5;}

.advanced-search .result-list .price {
	display:block;
	clear:both;
	border-top: 1px solid #c7c7c7;
	margin:12px 0px 0px 0px;
	padding:11px 0px 0px 0px;
}

.advanced-search .sidebar {
	width:237px;
	float:left;
}

.advanced-search .parameters-selection {}
.advanced-search .parameters-selection legend {
	font-size:18px;
	padding:0 0 12px 0;
	display:block;
}
.advanced-search .sidebar .price {
	margin:0 0 25px 0;
}
.advanced-search .sidebar .price .b-select {
	position:relative;
	float:left;
	margin:0px 0px 0px 15px;
	width:147px;
}
.advanced-search .sidebar .price .b-select select {
	height:30px;
	position:absolute;
	top: 0px;
	font-family:Arial;
	font-size:14px;
	padding:0px 0px 0px 8px;
	border: 0px;
}
.advanced-search .sidebar .price .b-select select option {
	padding:0px 0px 0px 6px;
	border: 0px;
	background:#e8e6e6;
	color:#2f4d7f;
}
.advanced-search .sidebar .price .b-select .select {
	display:block;
	height:30px;
	width:148px;
	line-height:30px;
	background:#b1c4e0 url('./i/s-arr.gif') 140px 14px no-repeat;
	color:#2f4d7f;
	padding:0px 0px 0px 8px;
	cursor: pointer;
}

.advanced-search .sidebar .price .b-select select {width:156px;}
.advanced-search .sidebar .price dt strong {float:left;line-height:30px;margin:0px 0px 13px 0px;}
.advanced-search .sidebar .price dd {clear:both;margin:0;}
.advanced-search .sidebar .price dd .inputs {margin:0px 0px 0px 20px;}
body .slider {
	position:relative;
	height:4px;
	background:url('./i/slider.gif') repeat-x;
	width:219px;
	margin:20px 0px 0px 9px;
}
.ui-slider-range {
	height:4px;
	background:url('./i/slider.gif') 0px -4px repeat-x;
	position:relative;
}
.ui-slider-handle {
	display:block;
	width:9px;
	height:9px;
	background:url('./i/handler.gif') no-repeat;
	overflow:hidden;
	position:absolute;
	top:-6px
}
.l-handler {margin:0px 0px 0px -9px;}
.r-handler {background-position:0px -9px;}

.advanced-search .in {
	background:#f5f6f8;
	border: 1px solid #7d8aa0;
	width:48px;
	padding:6px 5px;
}

.advanced-search .sidebar .rooms, .advanced-search .sidebar .guests {margin:0 0 25px 0;}
.advanced-search .sidebar .rooms dt, .advanced-search .sidebar .guests dt {margin: 0 0 12px 0;}
.advanced-search .sidebar .rooms dd, .advanced-search .sidebar .guests dd {margin:0;}
.advanced-search .sidebar .rooms .inputs, .advanced-search .sidebar .guests .inputs {margin:0 0 0 20px;}

.type {
	margin:0 0 25px 0;
}
.type dt {margin:0 0 12px 0;}
.type dd {margin:0;}
.type label {
	position:relative;
	padding:0px 0px 0px 20px;
	display:block;
}
.type label span {color:#2f4d7f;}
.type .checkbox {
	display:block;
	width:10px;
	height:10px;
	background:url('./i/checkbox.gif');
	position:absolute;
	top: 3px;
	left: 0px;
}

/* -- ---- Advanced search ---- -- */

/* // ---- page-navigation ---- // */

.page-navigation {
	margin:0 0 25px 0;
	float:right;
}
.page-navigation dt {
	float:left;
	margin:0px 14px 0px 0px;
	line-height:30px;
}
.page-navigation dd {
	margin:0;
	float:left;
}
.page-navigation dd ul {
	margin:0;
}
.page-navigation dd li {
	list-style:none;
	float:left;
	display:block;
	height:30px;
	line-height:30px;
}
.page-navigation .pages li {
	background:#e8e6e6;
	padding:0px 4px;
	margin:0px 1px 0px 0px;
}

.page-navigation .next {
	width:18px;
	text-align:right;
	padding:0px 5px 0px 0px;
}
.page-navigation .prev {
	width:18px;
	text-align:left;
	padding:0px 0px 0px 5px;
}

.page-navigation .pages .more {
	width:32px;
	padding:0;
	text-align:center;
	background:#fff;
}
.page-navigation .pages .selected {
	background:#f97d0e;
	color:#fff;
}
.page-navigation .pages .selected a {
	color:#fff;
}
.page-navigation dd a {
	text-decoration:none;
}

/* -- ---- page-navigation ---- -- */

/* // ---- b-project ---- // */

.b-project {}
.b-project .short-info {
	overflow:hidden;
	margin:0px 0px 25px 0px;
}
.b-project .short-info h2 {
	color:#f97d0e;
	margin:0px 0px 14px 0px;
}
.b-project .short-info .image {
	float:left;
	width:331px;
	margin:0px 25px 0px 0px;
}
.b-project .short-info .update {
	color:#a5a5a5;
}
.b-project .short-info .info {
	width:594px;
	float:left;
}
.b-project .short-info .info .main {
	margin:0px 0px 15px 0px;
}
.b-project .short-info .info .additional {
	border-top: 1px solid #c7c7c7;
	padding:7px 0px 0px 0px;
}
.b-project .short-info .info .additional dl {
	margin:0 0 15px 0px;
}
.b-project .short-info .info .additional dl dt {
	font-size:18px;
	margin:0px 0px 6px 0px;
}
.b-project .short-info .info .additional dl dd {
	margin:0;
}

a.l-dotted {text-decoration:none;border-bottom: 1px dotted #2f4d7f;}

.b-project .content {margin:0px 0px 25px 0px;}

.b-project .tabs {margin:0 0 -1px 0;overflow:hidden;padding:1px 0px 0px 25px;}
.b-project .tabs li {
	list-style:none;
	float:left;
	margin:0px 0px 0px -25px;
	position:relative;
}
.b-project .tabs li {
	background:url('./i/tabs.png') right top no-repeat;
	padding:12px 47px 14px 24px;
	font-size:18px;
	border-left: 1px solid #d4deed;
	height:21px;
}
.b-project .tabs li a {text-decoration:none;border-bottom: 1px dotted #2f4d7f;}
.b-project .tabs li.current a {text-decoration:none;border:none;color:#f97d0e;}

.b-project .tabs li.description {z-index:4;}
.b-project .tabs li.calendar {z-index:3;}
.b-project .tabs li.location {z-index:2;}
.b-project .tabs li.owner {z-index:1;}
.b-project .tabs li.current {z-index:5;background:url('./i/tabs.png') right bottom no-repeat;}

.b-project .panes {
	border: 1px solid #d4deed;
	padding:20px 25px 25px 25px;
}
.b-project .pane p {
	margin:0px 0px 5px 0px;
}
.b-project .pane .t-block {
	margin:0px 0px 15px 0px;
}
.img-gallery {
	margin:0px 0px 0px 0px;
	overflow:hidden;
}
.img-gallery li {
	float:left;
	margin:0px 25px 25px 0px;
	list-style:none;
}

.feedback {clear:both;}
.feedback legend {font-weight:bold;display:block;margin:0px 0px 6px 0px;}
.feedback p.intro {margin:0px 0px 13px 0px;}
.feedback .in {
	width:346px;
	background:#f5f6f8;
	border: 1px solid #7d8aa0;
	padding:5px;
}
.feedback p.line {
	margin:0 0 8px 0;
	clear:both;
}
.feedback label {
	display:block;
	float:left;
	width:130px;
	margin:5px 0px 0px 0px;
}


.feedback span.calendar {
	display:block;
	width:156px;
	height:23px;
	border: 1px solid #7d8aa0;
	background:#f5f6f8 url('./i/scalendar.gif') 141px 6px no-repeat;
	padding:5px 0px 0px 8px;
	float:left;
	margin:0px 0px 0px 0px;
}
.feedback span.calendar input {
	border: 0px;
	margin:0;
	width:130px;
	background:none;
}
.feedback .sep {float:left;padding:0px 9px;line-height:28px;}
.feedback .s-box label {
	display:block;
	width:177px;
	padding:3px 10px 0px 0px;
	text-align:right;
}
.feedback .s-box .b-select {
	position:relative;
	float:left;
	margin:0px 25px 0px 0px;
}
.feedback .s-box .b-select select {
	height:30px;
	width:48px;
	position:absolute;
	top: 0px;
	font-family:Arial;
	font-size:14px;
	padding:0px 0px 0px 8px;
	border: 0px;
}
.feedback .s-box .b-select select option {
	padding:0px 0px 0px 6px;
	border: 0px;
	background:#b1c4e0;
	color:#2f4d7f;
}
.feedback .s-box .b-select .select {
	display:block;
	width:40px;
	height:30px;
	line-height:30px;
	background:#b1c4e0 url('./i/s-arr.gif') 33px 14px no-repeat;
	color:#2f4d7f;
	padding:0px 0px 0px 8px;
	cursor: pointer;
}
.feedback textarea {
	width:582px;
	height:118px;
	border: 1px solid #7d8aa0;
	font-size:12px;
	background:#f5f6f8;
	padding:5px;
}

.feedback .submit {
	width:105px;
	height:32px;
	color:#fff;
	background:url('./i/feedback-b.png') no-repeat;
	text-shadow: 0px -1px 0px #214682;
	font-size:15px;
	border: 0px;
	padding:0;
	margin:0px 0px 0px 130px;
}



.b-project .b-location {}

.b-project .b-location .map {margin:0px 0px 25px 0px;}
.b-project .b-location .l-info {
	margin:0px 0px 20px 0px;
}
.b-project .b-location .l-info .distance {
	width:305px;
	float:left;
	margin:0px 25px 0px 0px;
}
.b-project .b-location .l-info .distance table {
	width:100%;
	margin:0;
}
.b-project .b-location .l-info .distance table .val {
	text-align:right;
}

.b-project .b-location .l-info .description {
	width:568px;
	float:left;
}

.b-project .b-owner h3.owner-name {
	margin:0px 0px 20px 0px;
}
.b-project .b-owner .image {
	width:100px;
	float:left;
	margin:0px 25px 0px 0px;
}
.b-project .b-owner .owner-info {
	float:left;
	width:774px;
}

.b-project table.prices {
	width:850px;
	border-bottom: 1px solid #d4deed;
	margin:0px 0px 25px 0px;
}
.b-project table.prices .period {width:356px;text-align:left;}
.b-project table.prices .day {width:89px;text-align:right;}
.b-project table.prices .week {width:116px;text-align:right;}
.b-project table.prices .month {width:122px;text-align:right;}
.b-project table.prices .min {width:95px;padding:0px 0px 0px 70px;text-align:left;}

.b-project table.prices td, table.prices th {border-top: 1px solid #d4deed;height:49px;vertical-align:middle;}
body .b-project .b-calendar div.calendar {overflow:hidden;margin:0 0 25px 0;position:relative;height:165px;}
body .b-project .ui-widget-content {background:none;width:925px;}
.b-project .ui-datepicker-group {
	width:265px;
	background:#2f4d7f url('./i/bg-calendar.gif') repeat-x;
	border: 7px solid #2f4d7f;
	padding:6px;
	float:left;
	margin:0px 12px 0px 0px;
}
body .b-project a.ui-datepicker-prev {
	display:block;
	width:16px;
	height:16px;
	background:url('./i/calendar-arr.png') no-repeat;
	top: 12px;
	left: 12px;
	text-indent:-9999em;
}
body .b-project a.ui-datepicker-next {
	display:block;
	width:16px;
	height:16px;
	background:url('./i/calendar-arr.png') 0px -16px no-repeat;
	top: 12px;
	right: 15px;
	text-indent:-9999em;
}

body .b-project .ui-datepicker-title {padding:0px 0px 10px 0px;}

body .b-project .ui-datepicker-calendar td {padding:1px 0px;}

body .b-project p.legend {margin:-10px 0px 20px 0px;}
p.legend span {background:#2f4d7f;color:#fff;padding:2px;}
p.legend span.no {color:#60779d;}
/* -- ---- b-project ---- -- */