#header .search span.select {_display:none; }
#header .search div.select select{_margin:25px 0px 0px -20px; display:inline; }
#header .search .query {display:inline; _margin:0px 0px 0px -20px; }
.search-button {margin:1px 0px 0px 10px; }
b.corner {_overflow:hidden; zoom: 1;}

.inner ul li, .b-info div, .links, .footer, .about p q, .i-description, .pop-up .p-content {zoom:1;}
.sidebar .bcorner {_margin:0px 0px 0px 1px;}

.copyright {display:inline;}

.footer {_padding: 0px 0px 0px 0px}

.items table table tr td.price a {zoom: 1; margin:-8px 0px 0px 0px; }

#header .search .query .advanced {position:absolute; right: 0px;}

#header .search .query {padding:0px 0px 3px 0px; }

.cart .cart-goods .increment {top: 6px;}
.cart .cart-goods .increment a {_margin:0px 0px -5px 0px; }

ul.cart-tabs .my-cart a{_background-position:0 8px; }

.purchase {_zoom: 1;}

.inner .cabinet  .options li.bill span span	{padding:9px 15px 10px 15px;}
.inner .cabinet  .options li.bill ul {padding:3px 0px 0px 0px; }

.item-description .short-info .ipanel-links li, .item-description .short-info .ipanel .price {display:inline; }
.item-description .short-info .ipanel .price {margin-top:-22px; }

.pop-up .sub-cat .line-c a {_margin-right:5px; }