/*

------------------------------------------------------
author:    Aleksey Krekotun
email:     dobrii.ru@gmail.com
icq:       536136
skype:     dobrii_ru
website:   www.dobrii.ru
------------------------------------------------------

*/
/* Reset
---------------------------------------------------------- */

@import 'reset.css';

/* Main Styles
---------------------------------------------------------- */


html {font-size: 100.1%; height: 100%; }
body {color: #333333;font-family: Tahoma;font-size: 11px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
.empty { height: 33px; margin-bottom: 30px; }
.clear { clear: both; }
a {color:#0099cc; text-decoration:none; }
a:hover { text-decoration: none; }
.wrapper { margin: 0 auto; position: relative; width: 1000px; }
#wrap {height: 100%; min-height: 100%; height: auto !important; background: #f0f3ed url(./i/bg.png) bottom repeat-x; overflow:hidden; }

#header h1, #header h1 a {display:block; width:191px; height:50px; text-indent:-1999em; }
#header h1 {position:relative; background:url('./i/logo.png') no-repeat; float:left; margin:0px 0px 12px 0px; }
#header h1 a{position:absolute; top: 0px; left: 0px;}

#header {padding:59px 0px 0px 0px; height:127px; overflow:hidden; }
#header .menu {font-size:18px; float:left; margin:17px 0px 0px 120px; }
#header .menu li{display:inline; margin:0px 30px 0px 0px; }

.user-login form.user{background:url('./i/header.png') center  repeat-y;height:47px; position:absolute; top: 0px; width:100%; }
#header .user-panel {width:1000px; margin:0 auto; position:relative;}

#header .user-cart {padding:0px 0px 0px 29px; background:url('./i/cart.png') no-repeat; line-height:22px; height:22px; position:absolute; top: 10px; left: 76px}

#header .user-menu {position:absolute; top: 10px; left:432px;}
#header .user-menu li{float:left; margin:0px 28px 0px 0px; display:block; }
#header .user-menu li a{display:inline; background:url('./i/usermenu.png') no-repeat; line-height:22px; padding:4px 0px 5px 26px; }
#header .user-menu li.library a{background-position:0 0px; }
#header .user-menu li.wishes a{background-position:0 -22px; }
#header .user-menu li.help a{background-position:0 -44px; }

#header .greeting {position:absolute; right: 0px; top: 15px;}


#header .username {font-size:12px; }
#header .logout {color:#000; text-decoration:underline; margin:0px 0px 0px 15px; }

#header .search {width:1000px; height:54px; background:url('./i/search.png') no-repeat; clear:both; padding:11px 0px 0px 0px; }
#header .search .query {margin:0px 0px 0px 0px;  float:left; width:713px; position:relative; }
#header .search .query .example {display:block; color:#fff; margin:6px 0px 0px 0px; }
#header .search .query .example a{color:#fff; border-bottom: 1px dashed #fff;}
#header .search .query .advanced {height:12px; position:absolute; right: 0px; top: 31px}
#header .search .query .advanced a{line-height:14px; background:url('./i/advanced.png') no-repeat; padding:0px 0px 0px 21px; }
#header .search #search-query {display:block; width:703px; border:0; background: #fff url('./i/search-input.png'); font-size:12px; padding:5px;}
#header .search .search-button {margin:0px 0px 0px 10px;  width:56px;height:25px;  border:0;  background: #fff url('./i/search-button.png') no-repeat; font-size:12px;color:#fff; float:left;text-indent:-1999em; }

/* // ---- Styled Form ---- // */

select.styled {
opacity:0;
position:relative;
z-index:5;
top:-24px;
height:25px; 
}
#header .search div.select {position:relative; width:160px; float:left; margin:0px 20px 0px 20px; }
#header .search span.select {
background: #fff url(./i/search-select.gif) no-repeat scroll 0 0;
display:block;
width:150px;
height:25px;
line-height:25px;
padding:0px 5px; 
}
#header .search select.styled {width:160px; }

/* -- ---- Styled Form ---- -- */

/* // ---- Container ---- // */

#container {width:1000px; margin:20px auto 0px; }




/* -- ---- Container ---- -- */

/* // ---- Covers ---- // */

.cover {display:block;width:138px; padding-right:25px;  margin:0px 0px 5px -20px; }
.c-abook {height:147px; background:url('./i/abook.png') no-repeat; padding:24px 0px 0px 25px; }
.c-film {height:147px; background:url('./i/film.png') 0px 0px no-repeat; padding:2px 0px 0px 25px; }
.acover {height:147px; background:url('./i/acover.png') 0px 0px no-repeat; padding:2px 0px 0px 25px; }

/* -- ---- Covers ---- -- */

/* // ---- Sidebar ---- // */

.sidebar {width:189px; }
.sidebar .s-block{width:189px; margin:0px 0px 17px 0px; }
.sidebar .s-block .inner{width:143px;  padding:5px 22px 0px 22px; border-left: 1px solid #cccccc;border-right: 1px solid #cccccc; background:#fff; overflow:hidden; }

b.corner {display:block; height:5px; background:url('./i/corners.png') no-repeat;  clear:both; }
.sidebar .tcorner {background-position:0 0; }
.sidebar .bcorner {background-position:-189px bottom; }

.sidebar .g {background:#f8f9f8; }

.sidebar .inner {line-height:14px; }
.sidebar h2{font-size:14px; margin:0px 0px 2px 0px; color:#333;}
.sidebar .inner h2{margin-top:0px; margin-bottom:15px; }
.sidebar .inner .title {font-size:14px; display:block; margin-bottom:3px; padding:0px 30px 0px 0px; }

.sidebar .b-info {padding:35px 0px 0px 0px; background:url('./i/b-info.png') 28px 0px no-repeat; position:relative; z-index: 1; margin-top: -1px; zoom: 1;}

.sidebar .b-info div { padding:18px 0px 5px 60px; line-height:14px; color:#ccc;}
.sidebar .present .b-info div { background:url('./i/present.png') no-repeat;}
.sidebar .new .b-info div { background:url('./i/new.png') no-repeat;}
.sidebar .top .b-info div { background:url('./i/top.png') no-repeat;}

.sidebar .top {}
.sidebar .top ul.items li{padding:6px 12px 6px 10px; margin-bottom:0; }
.sidebar .top ul.items li.first-position{margin-bottom: 5px; }
.sidebar .top ul.items li.first-position .cover{margin-left:-8px; }
.sidebar .top .inner h2 {margin:6px 0px 7px -11px; }
.sidebar .top .downloads{display:block; line-height:11px; color:#cccccc;margin:7px 0px 0px 0px; }
.sidebar .top .downloads strong{font-size:18px; font-weight:normal; padding: 0px 15px 0px 0px; background:url('./i/top-up.gif') right no-repeat; color:#333;}
.sidebar .top .position {position:absolute; top: 5px; right: 7px; padding:0px 12px 0px 0px; }
.sidebar .top .top-up {background:url('./i/top-up.gif') right no-repeat; }
.sidebar .top .top-down {background:url('./i/top-down.gif') right no-repeat; }

.sidebar .review .cover{margin:0px 0px 0px -11px; }
.sidebar .review ul.items li {padding:10px 12px 10px 10px; }
.sidebar .review .title {font-size:12px; margin-bottom:5px; }
.sidebar .review .more {display:block; margin:0px 0px 10px 0px; }

/* -- ---- Sidebar ---- -- */

/* // ---- Sidebar Left ---- // */

.left-sidebar {width:189px; float:left; margin:0px 10px 0px 0px; }
.left-sidebar {}

.sidebar  .inner .items li {margin:0px 0px 10px -22px; width:165px; padding:10px 0px 10px 22px; position:relative; }

/* -- ---- Sidebar Left ---- -- */

/* // ---- Content ---- // */

.content {width:600px; float:left;}
.content .tcorner {background-position:-378px 0px; }
.content .bcorner {background-position:-978px bottom; clear:both; }

.content .inner {width:598px; border-left: 1px solid #cccccc;border-right: 1px solid #cccccc; background:#fff;  position:relative;}

.content ul.tabs {overflow:hidden; background:url('./i/tabs-bg.gif') bottom repeat-x; font-size:18px;height:43px; position:relative; top:-5px}
.content ul.tabs li {height:43px; line-height:39px; float:left; padding:0px 20px; margin:0px 0px 0px -1px; }
.content ul.tabs .active {border-right: 1px solid #cccccc;border-left: 1px solid #cccccc; background:url('./i/tabs-bg-a.gif') bottom repeat-x;}
.content ul.tabs .active a{color:#333;}

.content .items {padding:30px 20px; position:relative; overflow:hidden; width:540px; }
.content .items .page-nav li {display:inline; font-size:14px; padding:0px 0px 0px 3px; }
.content .items .page-nav li.active a{color:#333;}
.content .items .page-nav li.more { padding:0px 0px 0px 10px; }



.content .inner h2 {font-size:24px; color:#666;}
/* -- ---- Content ---- -- */

/* // ---- Items ---- // */


.items table {margin:10px 0px 0px 0px; }
.items table tr{	}
.items table tr td{  border-bottom: 1px solid #cccccc; padding:20px 0px 20px 0px; vertical-align:top; }
.items table tr td div {position:relative; left: 0px; width:178px; padding:0px 20px 0px 0px; }

.items table table {margin:0px 0px 0px 0px; }
.items table span.cover{position:relative; left: -20px; margin:0px 0px 5px 0px; }
.items table table tr{}
.items table table tr td{border:0; width:auto;  padding:0px 0px 5px 0px; vertical-align:none; }
.items table table tr td.column{ color:#cccccc;padding:0px 10px 5px 0px; }
.items table table tr td.value{width:100px; }

.items table table tr td.name {font-size:14px; }
.items table table tr td.price {}
.items table table tr td.price a {color:#333; padding:7px 24px 2px 0px; background:url('./i/cart.png') right center no-repeat; }
.items table table tr td.price a strong{font-size:18px;}

.items .bottom-page-nav {padding:11px 0px 0px 0px; background:#fff; margin:-1px 0px 0px 0px; position:relative; z-index: 1; width:570px; }

/* -- ---- Items ---- -- */

/* // ---- Sidebar right ---- // */

.right-sidebar {width:189px; float:left; margin:0px 0px 0px 10px; }

/* -- ---- Sidebar right ---- -- */

/* // ---- Footer ---- // */

.footer {clear:both; width:1000px; margin:0 auto; padding:25px 0px 0px 0px; height:115px; color:#999999; font-size:12px; }

.footer .links {overflow:hidden;  margin:0px 0px 0px 17px; }
.footer .links li{float:left; border-left: 1px solid #ebebeb; padding:1px 8px 2px 8px; margin-left:-1px;  }

.footer .copyright {margin:35px 0px 0px 24px; float:left; padding:18px 0px 0px 0px; }
.footer .company {margin:35px 0px 0px 58px; float:left; padding:18px 0px 0px 0px; background:url('./i/company.png') no-repeat; }

/* -- ---- Footer ---- -- */

/* // ---- Help ---- // */

div.help, .about {padding:10px 20px; font-size:12px; }
div.help .faq{margin:15px 0px 0px 23px; }
div.help .faq li{margin:0px 0px 7px 0px; }

div.help .number {font-style:normal; color:#999;}
div.help .opened .question {padding:0px 15px 0px 0px; background:url('./i/faq-o.gif') no-repeat right 7px; }
div.help .question {font-size:14px; border-bottom: 1px dashed #6d6d6d;}
div.help .opened .answer {display:block; }
div.help .answer {margin:12px 0px 0px 23px; display:none; }
div.help .answer p{margin:0px 0px 15px 0px; }
div.help .answer em{color:#666; }

div.help .more-info {border-top: 1px solid #ccc; padding:12px 0px 0px 0px; margin:30px 0px 0px 0px; }

/* -- ---- Help ---- -- */

/* // ---- About ---- // */

.about h2 {margin:0px 0px 50px 0px; }
.about .intro {font-size:14px; }
.about p {margin:0px 0px 20px 0px;}
.about p q {border-left: 1px solid #ccc; display:block; padding:5px 80px 5px 20px; }

.about h3 {font-size:18px; color:#333; margin:0px 0px 20px 0px; }

.about .chief {margin-bottom:10px; overflow:hidden; }
.about .chief .who {width:130px; float:left; text-align:right; margin:0px 12px 12px 0px; }
.about .chief .who img {border: 3px solid #ccc; margin-bottom:8px; }
/* -- ---- About ---- -- */

/* // ---- My Cart ---- // */

.cart {padding:30px 20px; font-size:12px; }
.content ul.cart-tabs {height:47px; }
.content ul.cart-tabs li{height:47px; line-height:46px; }

#wrap ul.cart-tabs a.alogin {font-size:11px; color:#666; border-bottom: 1px dashed #666;position:absolute; top: 35px; left: 57px;line-height:11px; display:none; padding:0;background:none;  }
#wrap ul.cart-tabs .active a.alogin {display:block; }

.content ul.cart-tabs .active {line-height:38px; }
.content ul.cart-tabs .active a{color:#666; font-size:24px; }
.content ul.cart-tabs {}

ul.cart-tabs .my-cart {width:276px; }
ul.cart-tabs .my-cart a{padding:0px 0px 0px 34px; background:url('./i/cart.png') 0px 3px no-repeat; }

ul.cart-tabs .order a {background:url('./i/cart-order.gif') 0px 8px no-repeat; padding:0px 0px 0px 12px; }

.cart .purchase {font-size:14px; padding:3px 36px 5px; background:#f0f3ed; }
.tip {color:#666666; padding:0px 0px 0px 36px; display:block; margin:10px 0px 0px 0px; }

.cart .cart-goods {width:100%; text-align:left; margin:40px 0px 20px 0px; }
.cart .cart-goods th {padding:0px 0px 17px 0px; border-bottom: 1px solid #ccc;}
.cart .cart-goods td {position:relative;  padding:3px 0px 3px 0px; }
.cart .cart-goods .title {width:182px; }
.cart .cart-goods .author {width:113px; }
.cart .cart-goods .presence {width:72px; }
.cart .cart-goods .price {width:79px; }
.cart .cart-goods .number {width:57px; }
.cart .cart-goods td.delete {width:53px; }
.cart .cart-goods  a {text-decoration:underline; }
.cart .cart-goods td {vertical-align:middle; }
.cart .cart-goods tbody input {border: 1px solid #7f9db9; padding:2px 1px 3px 1px; width:22px; font-size:12px; color:#333; text-align:right; margin:0px 0px 0px 8px; }
.cart .cart-goods tbody { border-bottom: 1px solid #ccc;}

.cart .cart-goods .num {position:relative; }

.cart .cart-goods .increment {display:block; position:absolute; right: 14px; top: 4px;}
.cart .cart-goods .increment a {display:block; width:7px; height:4px; text-indent:-1999em; margin:0px 0px 3px 0px; }
.cart .cart-goods .increment a.inc {background:url('./i/inc.gif') no-repeat; }
.cart .cart-goods .increment a.dec {background:url('./i/dec.gif') no-repeat; }

.cart .cart-goods .na {color:#999;}
.cart .cart-goods .na a{color:#999; border-bottom: 1px dashed #999; text-decoration:none; }

.cart .cart-goods .del-button {display:block; background:url('./i/delete.gif') 36px center no-repeat; text-indent:-1999em; }
.cart .cart-goods tfoot {font-weight:bold; }
.cart .cart-goods tfoot td{padding:10px 0px 0px 0px; }

.cart .cart-goods tfoot .sum {padding:10px 0px 0px 234px; }
.cart .cart-goods tfoot .number {text-align:center; }
/* -- ---- My Cart ---- -- */

/* // ---- My Cabinet ---- // */

.cabinet {padding:10px 20px; font-size:12px; overflow:hidden; }
.inner .cabinet  h2 {font-size:18px; margin:0px 0px 20px 0px; }
.inner .cabinet  h3 {font-size:12px; font-weight:bold; margin:0px 0px 6px 0px; float:left; }
.inner .cabinet  .options {margin:35px 0px 0px 0px; }
.inner .cabinet  .options li{float:left; overflow:hidden; margin:0px 0px 37px 0px; line-height:16px; }
.inner .cabinet  .options li div {margin:0px 0px 0px 15px; clear:both; }
.inner .cabinet  .options li.information, .inner .cabinet  .options li.subscriptions {width:339px; }
.inner .cabinet  .options li.bill, .inner .cabinet  .options li.u-cart {width:217px; }
.inner .cabinet  .options li.opinions {clear:both; width:555px; }

.inner .cabinet  .options li.information {}
.inner .cabinet  .options li.information b{font-weight:normal; color:#999;}
.inner .cabinet  .options li.information a.change{color:#666; text-decoration:none; border-bottom: 1px dashed #999; float:left; margin:0px 0px 0px 10px; font-size:11px; }

.inner .cabinet  .options li.bill span{display:block; background:url('./i/bill.png') right -30px no-repeat; float:left; color:#fff; font-size:11px; }
.inner .cabinet  .options li.bill span span{padding:9px 15px 5px 15px; background-position:0 0; display:block; line-height:11px; }
.inner .cabinet  .options li.bill span span strong {font-size:24px; display:inline; }
.inner .cabinet  .options li.bill ul {clear:both; }
.inner .cabinet  .options li.bill li {margin:0; display:block; float:none; }
.inner .cabinet  .options li.bill ul {padding:5px 0px 0px 0px; }
.inner .cabinet  .options li.bill li a {color:#333; text-decoration:none; border-bottom: 1px dashed #999999;}

.inner .cabinet  .options li.subscriptions p {display:block; clear:both; }
.inner .cabinet  .options li.subscriptions p input{float:left; }
.inner .cabinet  .options li.subscriptions p a {color:#999; text-decoration:none; border-bottom: 1px dashed #999; float:left; }

.inner .cabinet  .options li.opinions table {width:100%; text-align:left; border-bottom: 1px solid #cccccc; }
.inner .cabinet  .options li.opinions table th{font-weight:normal; padding:0px 0px 10px 0px; border-bottom: 1px solid #cccccc;}
.inner .cabinet  .options li.opinions table th a{color:#333; text-decoration:underline; }
.inner .cabinet  .options li.opinions table td {vertical-align:middle; padding:4px 0px; }
.inner .cabinet  .options li.opinions table li {margin:0; }

.inner .cabinet  .options li.opinions table .date {width:84px; }
.inner .cabinet  .options li.opinions table .title {width:134px; }
.inner .cabinet  .options li.opinions table .author {width:130px; }
.inner .cabinet  .options li.opinions table .rating {width:88px; }
.inner .cabinet  .options li.opinions table .see-all {width:118px; }

.inner .cabinet  .options li.opinions table td a {color:#999; text-decoration:none; border-bottom: 1px dashed #999;}

.my-rating {
	position:relative;
	width:74px; 
	height:14px;
	overflow:hidden;
	background:url(./i/stars.png) 0 0 no-repeat;

	}
	.my-rating LI {
		float:left;
		}
	.my-rating A {
		position:absolute;
		top:0;
		left:0;
		display:block;
		height:14px;
		text-indent:-9999px;
		}
	.my-rating A.cur,
	.my-rating A:hover,
	.my-rating:hover A.cur:hover,
	.my-rating.phover A.cur:hover,
	.my-rating:hover A:hover,
	.my-rating.phover A:hover {
		background:url(./i/stars.png) 0px -14px no-repeat;
		}
	.my-rating:hover A.cur,
	.my-rating.phover A.cur {
		background:none;
		}
	.my-rating .one A {
		width:13px;
		z-index:5;
		}
	.my-rating .two A {
		width:28px;
		z-index:4;
		}
	.my-rating .three A {
		width:42px;
		z-index:3;
		}
	.my-rating .four A {
		width:56px;
		z-index:2;
		}
	.my-rating .five A {
		width:70px;
		z-index:1;
		}
/* -- ---- My Cabinet ---- -- */


/* // ---- My wishes ---- // */

.my-wishes {padding:10px 20px; font-size:12px; overflow:hidden; position:relative; }

.my-wishes h2 {padding:0px 0px 0px 33px; background:url('./i/usermenu.png') 0px -22px no-repeat; line-height:22px; margin:0px 0px 40px 0px; }
.my-wishes a.authorize {position:absolute; top: 38px; left:54px; color:#666; border-bottom: 1px dashed #666;}
.my-wishes .i-wanna-buy {font-size:14px; padding:3px 36px 5px; background:#f0f3ed; }

.my-wishes .items {margin:0px 0px 0px -20px; padding:0 20px; }
.my-wishes .items table {}
.my-wishes .items .item-menu {position:relative; height:18px; }

.my-wishes a.delete {padding:0px 0px 0px 13px; background:url('./i/delete.gif') 0px 4px no-repeat; color:#333; text-decoration:underline; }

.my-wishes .items .item-menu a.delete {position:absolute; right: 56px;}
.my-wishes .items .item-menu input {position:absolute; left: 0px; top:-2px;}
.my-wishes .items .discount {font-size:11px; }
.my-wishes .items .discount strong{font-size:18px; color:#cc3333;}

.wishes-menu {float:right; padding:10px 0px 0px 0px; position:relative; right: -20px;}
.wishes-menu li {float:left; margin-left:30px; }
.wishes-menu li input{ }
.wishes-menu li label span{margin:5px 0px 0px 0px; }
.wishes-menu li .add-cart{float:left; color:#333; text-decoration:underline; padding-bottom:3px; background:url('./i/add-cart.png') no-repeat; padding:5px 0px 6px 35px; }
.wishes-menu li a {padding-top:5px; }
#wrap .wishes-menu li a.delete {position:relative; top: 5px  }
/* -- ---- My wishes ---- -- */

/* // ---- Description ---- // */

.breadcrumb {font-size:18px; overflow:hidden; margin:0px 0px 25px 0px; }
.breadcrumb a {color:#666;}
.breadcrumb li {padding:0px 17px 0px 0px; margin:0px 5px 0px 0px; background:url('./i/breadcrumb.gif') right 6px no-repeat; float:left; }
.breadcrumb li.here {background:none; }

.item-description {padding:10px 20px; overflow:hidden;}

.item-description .i-description .cover {float:left; }
.item-description .i-description .short-info {float:left; width:395px; margin:0px 0px 0px 15px; padding:10px 0px 0px 0px; }

.i-description {clear:both; margin:0px 0px 40px 0px; overflow:hidden; }

.item-description .i-description .short-info td {padding-bottom:5px; }
.item-description .i-description .short-info .column {width:75px; text-align:right; color:#666;}
.item-description .i-description .short-info .value {width:315px; padding-left:5px; }
.item-description .i-description .short-info .title {font-size:14px; color:#666;}
.item-description .i-description .short-info .title span{display:block; line-height:16px; }
.item-description .i-description .short-info .title .translation {color:#333;}

.item-description .i-description .short-info .author a{font-size:14px;text-decoration:underline;  }
.item-description .i-description .short-info .type {font-size:12px; }
.item-description .i-description .short-info .time {font-size:12px; font-weight:bold; }
.item-description .i-description .short-info .my-rating {float:left;}

.item-description .i-description .short-info .o-links{font-size:12px; padding:1px 0px 0px 82px; }
.item-description .i-description .short-info .o-links li {display:inline; }
.item-description .i-description .short-info .o-links li.all-opinions a{color:#333; text-decoration:underline;  }
.item-description .i-description .short-info .o-links li.feedback a{color:#999; border-bottom: 1px dashed #999;}

.item-description .short-info .ipanel {width:394px; height:30px; background:url('./i/ipanel.png') no-repeat; margin:10px 0px 0px 0px; clear:both; }
.item-description .short-info .ipanel-links{font-size:12px; width:265px; margin:0px 0px 0px 0px; }
.item-description .short-info .ipanel-links a{color:#333; padding-top:10px; padding-bottom:4px; line-height:18px; }
.item-description .short-info .ipanel-links li {float:left; margin:6px 0px 0px 10px; }
.item-description .short-info .ipanel-links li.play a{padding-left: 22px; background:url('./i/play.png') 0px 10px no-repeat;  }
.item-description .short-info .ipanel-links li.add-cart a{padding-left: 35px; background:url('./i/add-cart.png') 0px 6px no-repeat;  }

.item-description .short-info .ipanel .price {display:block; width:124px; height:30px; float:right; margin:0px 0px 0px 0px; color:#fff; font-size:11px;text-align:center; padding:2px 0px 0px 0px;  }
.item-description .short-info .ipanel .price strong{font-size:24px; display:inline; }

.item-description .tip {clear:both; font-size:12px; padding:0; }
.item-description .tip .grey {border-bottom: 1px dashed #999; font-size:12px; }

.item-description .publisher {font-size:12px; margin:20px 0px 15px 0px; }
.item-description .publisher  strong {display:block; margin:0px 0px 10px 0px; }
.item-description .publisher  p q{padding:0px 0px 0px 12px; border-left: 1px solid #cccccc; display:block; }
.item-description .publisher p.tip {text-align:right; margin:20px 0px 0px 0px; display:block; }

.item-description .help-nav {font-size:12px; position:relative; width:100%; height:20px; background:#f0f0f0; }
.item-description .help-nav a{color:#333; text-decoration:underline; }
.item-description .help-nav li{position:absolute; top: 3px;}
.item-description .help-nav li.back {left: 10px;}
.item-description .help-nav li.forward {right: 10px;}

.item-description .items {margin:0px 0px 0px -20px; }
.item-description .items td {border:0px	}

.item-description .items strong.head {display:block;font-size:12px; }

/* -- ---- Description ---- -- */

/* // ---- 404 ---- // */

body#page-404 {background: #f0f3ed url(./i/bg404.png) bottom repeat-x;}
body#page-404 #wrap{background:none; width:1000px; margin:0 auto; }

body#page-404 #wrap #header {padding:60px 0px 0px 0px; height:163px; }
body#page-404 #wrap #header h1 {float:left; }
body#page-404 #wrap #header .links {overflow:hidden;  margin:20px 0px 0px 110px;  float:left; }
body#page-404 #wrap #header .links li{float:left; border-left: 1px solid #ebebeb; padding:1px 8px 2px 8px; margin-left:-1px;font-size:12px; }
body#page-404 #wrap #content {font-size:24px; padding:0px 0px 3px 312px; line-height:30px; }
body#page-404 #wrap #content a{text-decoration:underline; }
body#page-404 #wrap #content h2 {text-indent:-1999em; background:url('./i/404.png') no-repeat; width:328px; height:53px; margin:0px 0px 32px 0px; }
body#page-404 #wrap #content p {margin:0px 0px 10px 0px; }

body#page-404 #footer {position:absolute; bottom: 25px;width:100%; font-size:12px; color:#999999;}
body#page-404 #footer div{width:1000px; margin:0 auto; }
body#page-404 #footer .copyright {margin:35px 0px 0px 24px; float:left; padding:19px 35px 20px 0px; border-right: 1px solid #ccc;}
body#page-404 #footer .company {margin:35px 0px 0px 45px; float:left; padding:18px 0px 20px 0px; background:url('./i/company.png') no-repeat; }
/* -- ---- 404 ---- -- */

/* // ---- Pop Up ---- // */

.pop-up {display:none; position:absolute;left: 50%;}
.pop-up .p-close {display:block; width:9px; height:8px; background:url('./i/delete.gif') no-repeat; text-indent:-1999em; position:absolute; right: 23px; top: 17px; z-index: 10;}
.pop-up .p-content {position:relative; padding:5px 23px 12px 23px; }
.pop-up .p-content h2 {font-family:Arial; font-size:13px; color:#000; margin:0px 0px 15px 0px; }
.p468 {width:468px; margin:0px 0px 0px -234px; position:absolute; top: 200px; z-index: 10;}
.p468 b.top{display:block; width:468px; height:15px; background:url('./i/popup.png') 0 0 no-repeat; }
.p468 b.bottom{display:block; width:468px; height:14px; background:url('./i/popup.png') -936px 0 no-repeat; }
.p468 .p-content{background:url('./i/popup.png') -468px 0 repeat-y; }

.p528 {width:528px; margin:0px 0px 0px -264px; z-index: 10; top: 90px;}
.p528 b.top{display:block; width:528px; height:15px; background:url('./i/popup.png') -1405px 0 no-repeat; }
.p528 b.bottom{display:block; width:528px; height:14px; background:url('./i/popup.png') -2460px 0 no-repeat; }
.p528 .p-content{background:url('./i/popup.png') -1932px 0 repeat-y; }

.pop-up .sub-cat {}
.pop-up .sub-cat .categories {margin:0px 0px 0px 28px; color:#666666;}
.pop-up .sub-cat .categories ul{float:left; width:130px; }
.pop-up .sub-cat .categories ul li{margin:0px 0px 15px 0px; }
.pop-up .sub-cat .line-c {clear:both; }
.pop-up .sub-cat .line-c a{margin:3px 10px 0px 160px; color:#000; text-decoration:underline; float:left; padding:0px 0px 3px 0px; }

.f-feedback {}
.pop-up .f-feedback h2{font-size:14px; font-family:Tahoma; }
.f-feedback dt{clear:both; float:left; width:134px; text-align:right; margin:0px 5px 10px 0px; color:#666; padding:2px 0px 0px 0px; }
.f-feedback dt .characters{color:#ccc;}
.f-feedback dd{ float:left; width:336px; margin:0px 0px 10px 0px; }
.f-feedback input, .f-feedback textarea {border: 1px solid #7f9db9;width:328px; font-family:Arial; font-size:13px; color:#000; padding:1px 3px; }
.f-feedback input {}
.f-feedback textarea {height:100px; }

.f-feedback .naming {font-size:14px; font-weight:normal; }
.f-feedback .naming span{color:#999;}

.f-feedback .requirements {display:block; margin:0px 0px 0px 138px; clear:both; color:#666;}
.f-feedback .requirements b {font-weight:normal; color:#ff0000}

.f-feedback .preview {display:block; float:right; margin:10px 8px 0px 0px; font-size:12px;}
.f-feedback .preview a { color:#333; text-decoration:underline; }
/* -- ---- Pop Up ---- -- */

/* // ---- New ---- // */

.p-restore {padding: 10px;}
.p-restore input {width:100%; margin:10px 0px 10px 0px;}

#header form .greeting {position:absolute; top: 12px; right: 0px;}
#header .greeting input {float:left; margin: 0px 5px 0px 0px;}
#header .greeting input.button {margin: 1px 0px 0px 0px}
.e-search input{width:200px;}
.e-search select {width:206px;}

/* -- ---- New ---- -- */