.menu li, .footer, .image-block, .border{zoom: 1;}
.menu li.active .border { _bottom:-15px; background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./css/i/liab.png', sizingMethod='crop'); }
.menu li.active {*margin-bottom:7px;_margin-bottom:5px;}