/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 14px;
	height: 100%;
	color:#000;
	font-family:Arial;
	background: #faf2dd url('./i/bg.jpg') center top no-repeat;
}
a {color:#237bb9;outline: none;}
a:hover {color:#ff4933;text-decoration: none;}
img {border: none;}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: url('./i/bgf.jpg') center bottom no-repeat;

}
.wrap {
	margin:0 auto;
	width:978px;
}
.clear {clear:both;}
h1 {
	font-size:24px;
	font-family:Georgia;
	color:#ff4933;
	font-weight:normal;
	margin:0px 0px 20px;
}
p {
	line-height:17px;
	margin:0px 0px 20px 0px;
}

/* // ---- header ---- // */

.header {
	padding:36px 0px 0px 0px;
	position:relative;
	height:93px;
}

.phone-numbers {
	font-size:17px;
	color:#3d3d3d;
	margin:0;
	text-align:right;
	position:absolute;
	top: 36px;
	right: 50px;
}
.phone-numbers dl {margin:0 0 4px 0px;}
.phone-numbers dt {margin:0 0px 0px 0px;display:inline;}
.phone-numbers dd {margin:0;display:inline;}
.phone-numbers span {color:#ff4933;}

/* -- ---- header ---- -- */


/* // ---- sidebar ---- // */

.sidebar {
	width:250px;
	float:left;
	margin:0px 49px 0px 0px;
}

ul.menu {
	margin:0 0 45px 0;
	font-size:15px;
	width:278px;
	background:url('./i/mdot.gif') 18px top no-repeat;
	font-weight:bold;
	padding:1px 0px 0px 0px;
}
.menu li {
	list-style:none;
	padding:15px 10px 15px 18px;
	background:url('./i/mdot.gif') 18px bottom no-repeat;
	position:relative;
	margin-top:-1px;
}
.menu li.active {
	background:url('./i/lia.gif') no-repeat;
	padding-bottom:4px;
	margin-bottom:12px;
}
.menu li .border {display:none;}
.menu li.active .border {
	display:block;
	height:12px;
	width:278px;
	position:absolute;
	left:0px;
	bottom:-12px;
	background:url('./i/liab.png') no-repeat;
}
.menu li.active .border {zoom: 1;}



/*.menu li.active .border { background:red; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://html/current/atama/css/i/liab.png', sizingMethod='crop'); }*/
.menu li.notactive { background:url('./i/mdot.gif') 18px bottom no-repeat; }


.menu li.active a {color:#ff4933;}
.menu li.active li a {color:#237bb9;}
.menu li.active li a:hover {color:#ff4933;}
.menu li.active ul {display:block;}
.menu li ul {
	font-size:13px;
	background:none;
	margin:10px 0px 0px 2px;
}
.menu li ul li {
	background:none;
	padding:0;
	line-height:26px;
}
.menu li ul li a {
	padding:0 0 0 12px;
	background:url('./i/lid.png') 0px 6px no-repeat;
}
.menu li ul li a:hover {background:url('./i/lida.png') 0px 6px no-repeat;}

.sidebar .block {
	padding:0px 10px 0px 18px;
}

/* -- ---- sidebar ---- -- */

/* // ---- content ---- // */

.content {
	position:relative;
	background:#fff;
	margin:23px 0px;
	width:550px;
	float:left;
	padding:20px 50px;
}
.content .corner {
	position:absolute;
	height:23px;
	width:650px;
	background:url('./i/corner.png') no-repeat;
	left: 0px;
}
.content .tc {
	top: -23px;
}
.content .bc {
	bottom: -23px;
	background-position:bottom left;
}

.image-block {
	position:relative;
	margin:0px 0px 37px 0px;
}
.image-block strong {
	position:absolute;
	font-weight:normal;
	font-size:22px;
	right: 45px;
	top: 25px;
	line-height:24px;
}

/* -- ---- content ---- -- */

/* // ---- articles ---- // */

.articles {
	margin:0;
	line-height:20px;
}
.articles li {
	list-style:none;
	margin:0px 0px 15px 0px;
}

/* -- ---- articles ---- -- */

.wblock {clear:both;overflow:hidden;}

/* // ---- news ---- // */

.news {
	margin:0;
}
.news li {
	list-style:none;
	float:left;
	width:180px;
	margin:0px 64px 0px 0px;
}

.news li img {
	display:block;
	margin:0px 0px 15px 0px;
}

.news li strong {
	font-weight:normal;
	display:block;
	line-height:20px;
}
.news li small {color:#6e6170;}

/* -- ---- news ---- -- */

/* // ---- footer ---- // */

.footer {
	padding:70px 0px 45px 0px;
	overflow:hidden;
}

.search {
	position:relative;
	width:270px;
	height:27px;
	float:left;
}
.search .query {
	display:block;
	width:240px;
	height:27px;
	background:url('./i/qfield.png') no-repeat;
}
.search .query input {
	width:222px;
	margin:5px 0 0 13px;
	border: 0px;
	font-size:14px;
	font-family:Arial;
}
.search .button {
	position:absolute;
	right: 0px;
	top: 0px;
}
.search .button input {
	border: 0px;
	background:url('./i/sbutton.png') no-repeat;
	width:30px;
	height:27px;
	cursor: pointer;
}

.data {
	background:url('./i/data.png') no-repeat;
	width:655px;
	float:left;
	margin:10px 0px 0px 42px;
	padding:25px 0px 0px 0px;
	line-height:20px;
	overflow:hidden;
}
.data .left {
	float:left;
	margin:0px 60px 0px 0px;
	line-height:20px;
}
/* -- ---- footer ---- -- */