/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {font-size: 100.1%;height: 100%;background:#fff url('./i/bg.png');}
body {
	font-size: 12px;
	height: 100%;
	color:#7e7f7f;
	font-family:Tahoma;
	background: #d2dadb url('./i/bg-g.jpg') repeat-x;
}
input, textarea, button {font-family:Tahoma;}
a {color:#007c92;outline: none;text-decoration:none;}
a:hover {color:#007c92;text-decoration:underline;}
img {border: none;}
button {cursor: pointer;}
.clear {clear:both;}

#main .wrapper {background:url('./i/arrow-main.png') top center no-repeat;min-height:100%;height:auto !important;height:100%;}

.logo {}
.logo a {text-decoration:none;color:#fff;position:relative;}
.logo a small {display:none;}

.wrap {width:1000px;margin:0 auto;}

h1 {font-size:32px;font-weight:normal;}
h1 a{color:#aaaaaa;text-decoration:none;}
h1 a:hover{color:#707070;text-decoration:none;}
input {outline:none;}
/* // ---- header ---- // */

.header {
	padding:62px 0px 0px 0px;
	position:relative;
}
#main .header {height:458px;}
.header .logo {
	margin:0px 0px 0px 3px;
}
/* // ---- menu ---- // */
.header .menu {text-transform:uppercase;font-size:11px;position:absolute;top: 56px; right: 18px;z-index:10;}
.header .menu ul{
	float:left;
	line-height:19px;
	margin:0;
	width:161px;
}
.header .menu li {list-style:none;}
.header .menu li a {
	text-decoration:none;
	background:url('./i/menu-li.gif') no-repeat;
	padding:0px 0px 0px 12px;
	color:#737373;
}
.header .menu li a:hover {
	background:url('./i/menu-lia.gif') 0px 1px no-repeat;
	color:#007c92;
}
/* -- ---- menu ---- -- */

/* // ---- Login ---- // */
.header .log-in {
	position:absolute;
	top: 16px;
	right: 4px;
	width:337px;
}
.header .log-in input {border: 0px; background:none;color:#b8bfc0;font-size:11px;}
.header .log-in .login {
	display:block;
	background:url('./i/l-login.png') no-repeat;
	width:124px;
	height:17px;
	padding:4px 0px 0px 18px;
	float:left;
	margin:0px 17px 0px 0px;
	position:relative;z-index:12;
}
.header .log-in .login input {width:120px;}
.header .log-in .password {
	display:block;
	background:url('./i/l-pass.png') no-repeat;
	width:126px;
	height:17px;
	padding:4px 0px 0px 18px;
	float:left;
	margin:0px 12px 0px 0px;
	position:relative;z-index:12;
}
.header .log-in .password input {width:122px;}
.header .log-in button {
	display:block;
	width:19px;
	height:18px;
	background:url('./i/l-but.png') no-repeat;
	position:relative;
	border: 0px;
	float:left;
	margin:2px 0px 0px 0px;
}
.header .log-in button:hover {background-position:0px -18px;}
.header .log-in button span {position:absolute;left: -1999em;}
.header .log-in .forgot {position:absolute;display:block;width:150px;left: -156px;text-align:right;top: 4px;font-size:11px;}
.header .log-in .forgot a{color:#198ca1;text-decoration:none;}
.header .log-in .forgot a:hover {text-decoration:underline;}
.header .log-in .captcha {display:none;width:187px;height:50px;background:#3ac3db;position:absolute;top: -16px;right: -10px;z-index:11;padding:49px 0px 0px 10px;color:#fff;}
.header .log-in .captcha dl {margin:0;}
.header .log-in .captcha dl dt {margin:0 0 5px 0px;}
.header .log-in .captcha dl dd {margin:0;}
.header .log-in .captcha dl dd img {float:left;}
.header .log-in .captcha dl dd i {float:left; display:block;width:12px;height:23px;background:url('./i/c-arr.gif') no-repeat;text-indent:-9999em;margin:0px 8px 0px 0px;}
.header .log-in .captcha dl dd label {float:left; display:block;background:url('./i/captcha-i.png') no-repeat;width:63px;height:18px;padding:3px 5px 0px 5px; margin:0px 12px 0px 0px;}
.header .log-in .captcha dl dd label input {width:63px;}
/* -- ---- Login ---- -- */


/* // ---- f-links ---- // */
.header .f-links {margin:0;position:absolute;top: 18px; left:202px;}
.header .f-links a {color:#198ca1;text-decoration:none;}
.header .f-links a:hover {text-decoration:underline;}
.header .f-links li {display:inline;list-style:none;padding:0px 0px 0px 10px;}
.header .f-links .ssl {color:#4aa2b1;}
.header .f-links .wlink {color:#fff;}
/* -- ---- f-links ---- -- */



.share {position:absolute;top: 18px; left: 0px;}
.language {position:absolute;top: 18px; left: 72px;}
.share a{color:#fff;text-decoration:none;background:url('./i/share.gif') no-repeat;padding:1px 0px 2px 22px;}
.language a{color:#fff;text-decoration:none;background:url('./i/eng.gif') 0px 3px no-repeat;padding:2px 0px 0px 22px;}
.share a:hover{color:#6d6d6d;background:url('./i/share-h.gif') no-repeat;}
.language a:hover{color:#6d6d6d;background:url('./i/eng-h.gif') 0px 3px no-repeat;}
.eng {}

/* // ---- o acc ---- // */
.open-account {display:block;width:150px;height:155px;background:url('./i/open-acc.png') no-repeat;text-indent:-9999em;position:absolute;top:363px;left:177px;}
.open-account:hover {background-position:1px -154px;}
#main .open-account {position:absolute;top:363px;left:177px;}
#inner .open-account {position:absolute;top:178px;left:11px;}
/* -- ---- o acc ---- -- */

/* -- ---- header ---- -- */

.intro {width:310px;margin:20px 0px 0px 0px;}
.intro h1{text-align:right;margin:0px 0px 5px 0px;}
.promo {position:absolute; top:158px; right:-9px; z-index:1;}

.container {overflow:hidden;}

/* // ---- main content ---- // */
.lcolumn {width:390px;float:left;margin:0px 18px 0px 0px;}
.lcolumn .news {margin-right:30px;}
.articles {width:175px;float:left;}
.articles h1 {margin:0px 0px 10px 0px;}
.articles dl {margin:0;}
.articles dl dt {display:block;margin:0px 0px 8px 0px;}
.articles dl dt small {font-size:10px;color:#aeaeae;display:block;margin:0px 0px 4px 0px;}
.articles dl dd {background:url('./i/dot.gif') bottom repeat-x;padding:0px 0px 14px 0px;margin:0px 0px 10px 0px;}
.articles .more {font-size:11px;}
/* -- ---- main content ---- -- */


/* // ---- copyrights ---- // */
.copyrights {
	width:380px;
	border-top: 1px solid #a3a3a3;
	clear:both;
	color:#aeaeae;
	font-size:11px;
	padding:15px 0px;
	float:left;
}
.m20 {margin:0px 0px 20px 0px;}
/* -- ---- copyrights ---- -- */
.footer {clear:both;}

.rcolumn {float:left;width:590px;}

/* // ---- main links ---- // */
.m-links {margin:8px 0px 75px 0px;overflow:hidden;}
.m-links li {list-style:none;}
.m-links li a:hover{text-decoration:none;}
.m-links .link {
	width:165px;
	height:110px;
	background:url('./i/mlink.png') no-repeat;
	padding:11px 0px 0px 11px;
	float:left;
	margin:0px 30px 0px 0px;
}
.m-links .last {margin:0;}
.m-links .link .c-block {
	display:block;
	width:132px;
	height:76px;
	padding:20px 0px 0px 20px;
}
.m-links .link .c-block strong {font-size:14px;text-transform:uppercase;font-weight:normal;display:block;line-height:14px;}
.m-links .link .c-block span {font-size:11px;line-height:11px;display:block;}
.m-links .blue .c-block {background-color:#00b0d0;}
.m-links .blue .c-block strong{color:#004552;}
.m-links .blue .c-block span{color:#fff;}
.m-links .blue .c-block:hover {background-color:#01a3c1;}
.m-links .grey .c-block {background-color:#ebebeb;}
.m-links .grey .c-block:hover {background-color:#e0e0e0;}
.m-links .grey .c-block strong{color:#797979;}
.m-links .grey .c-block span{color:#a7a7a7;}
.m-links .affilate .c-block {background-image:url('./i/affilate.png');background-position:94px 22px;background-repeat:no-repeat;}
.m-links .investiment .c-block {background-image:url('./i/investiment.png');background-position:100px 17px;background-repeat:no-repeat;}
.m-links .trading .c-block {background-image:url('./i/trading.png');background-position:97px 14px;background-repeat:no-repeat;}
/* -- ---- main links ---- -- */

/* // ---- live chat ---- // */
.live-chat {width:176px;float:right;position:relative;top:-63px;}
.live-chat .chat {display:block;width:176px;height:40px;background:url('./i/live-chat.png') no-repeat;padding:26px 0px 0px 0px;}
.live-chat .chat:hover{background-position:0px -66px;text-decoration:none;}
.live-chat .chat span {font-size:11px;color:#afafaf;display:block;line-height:11px;}
.live-chat dl {font-size:11px;line-height:14px;}
.live-chat dl dt {color:#7e7f7f;}
.live-chat dl dd {color:#aeaeae;margin:0;}
/* -- ---- live chat ---- -- */


/* // ---- inner ---- // */

#inner {}

#inner .wrapper {background:url('./i/arrow-inner.png') top center no-repeat;min-height:100%;height:auto !important;height:100%;}
#inner .header {height:228px;}

#inner .c-column {width:790px;float:left;margin:0px 30px 0px 0px;padding:100px 0px 0px 0px;overflow:hidden;}

#inner .m-links {}
#inner .m-links li {float:none;width:175px;float:left;margin:0px 0px 15px 0px;}

#inner .text {width:585px;float:left;margin:-6px 30px 0px 0px;}
#inner .text h1 {text-align:right;margin:0px 0px 10px 0px;}

#inner .text .image {border:9px solid #fff;float:left;-moz-box-shadow: 1px 1px 3px #daddde;-webkit-box-shadow: 1px 1px 3px #daddde;box-shadow: 1px 1px 3px #daddde;margin:0px 13px 0px 0px;}
#inner .text .image img {display:block;}

#inner .container p	{margin:0px 0px 15px 0px;}
#inner .container ul.list {margin:0 0 15px 0;}
#inner .container ul.list li {list-style:none; background:url('./i/ul.gif') 2px 5px no-repeat;padding:0px 0px 0px 15px;}
.t-columns {clear:both;overflow:hidden;}
.t-columns .first{width:385px;float:left;margin:0px 30px 0px 0px;}
.t-columns .second{width:375px;float:left;}

#inner .registration-in {}
#inner .registration-in p {clear:both;}
#inner .registration-in label {}
#inner .registration-in label span {float:left;}
#inner .registration-in label div {float:left;}

/* -- ---- inner ---- -- */