* html #wrapper,
* html #footer {
	width: expression((documentElement.clientWidth||document.body.clientWidth)<1000?'1000px':'');
}

.statistics, .rounded, .s-news li, .textarea{*zoom: 1;}
.textarea textarea{*position:relative;*left:-148px;}
#ticket .textarea {*margin:0;}
#ticket .textarea textarea{*position:relative;left:0px; position:relative;}
.submit span span{*padding-left: 0px; *padding-right: 0px;}
#settings .submit {*margin:0px 0px 0px -22px;}
#balance .submit { *position:relative; *top: 3px}
#balance .rounded label {*position:relative; *top: -2px}
