/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {
	list-style: decimal outside;
}
ul li {
	list-style: disc outside;
}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {
	margin: 1.12em 0;
}
ol ul, ul ol, ul ul, ol ol {
	margin-top: 0;
	margin-bottom: 0;
}
ol, ul, dd {
	margin-left: 2.5em;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Quotes */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

/* Small elements */
small, sub, sup {
	font-size: 83%;
}

/* Indexes */
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}

/* Marking changes */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 12px;
	height: 100%;
	color:#555555;
	font-family:Arial;
	background:url('./i/header.gif') repeat-x;
}
a {
	color: #555555;
	outline: none;
}
a:hover {
	text-decoration: none;
}
img {
	border: none;
}
#wrapper {
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:0px 28px 0px 32px;
}

h2 {
	font-weight:normal;
	text-transform:uppercase;
	color:#555;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height:36px;
}
#header .menu {
padding:6px 0px 0px 0px;
margin:0; 
}
#header .menu li {
	list-style:none;
	text-transform:uppercase;
	background:url('./i/menu.png') top left no-repeat;
	float:left;
	display:block;
	margin:0px 13px 0px 0px;
}
#header .menu a {
	color:#61727a;
	text-decoration:none;
	background:url('./i/menu.png') right -30px no-repeat;
	padding:8px 13px 8px 13px;
	display:block;
	font-weight:bold;
	font-size:11px;
}
#header .menu a span {
	background:url('./i/menu.gif') right no-repeat;
	padding:0px 20px 0px 0px;
}
#header .exit {
	position:absolute;
	top:10px;
	right: 28px;
	font-family:Verdana;
	font-size:10px;
	padding:2px 23px 2px 0px;
	background:url('./i/exit.gif') right no-repeat;
}
#header .exit a {
	color:#fff;
	text-decoration:none;
	border-bottom: 1px dotted #fff;
}

/* Middle
-----------------------------------------------------------------------------*/

#middle {
	width: 100%;
	padding: 0 0 60px;
	height: 1%;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin:0px 0px 20px 0px;
}
#content {
	padding: 0px 0px 0 268px;
	font-size:14px;
	line-height:18px;
}

#content h2{
	font-size:14px;
	font-family:Arial;
	margin:0px 0px 11px 0px;
}

/* // ---- Statistics ---- // */

.statistics {
	padding:15px 0px 12px 0px;
	border-bottom: 1px solid #e9eced;
	overflow:hidden;
	margin:0px 0px 20px 0px;
}
.statistics h2 {
	font-size:11px;
	background:url('./i/statistics.png') no-repeat;
	padding:9px 0px 15px 47px;
	float:left;
	margin:0px 72px 0px 0px;
	font-family:Verdana;
}

.stats {
	float:left;
	margin:3px 0px 0px 0px;
}
.stats dt, .stats dd{
	float:left;
	position:relative;
}

.stats dt {
	margin:6px 9px 0px 0px;
}

.stats dd {
	margin:0px 22px 0px 0px;
	padding:6px 18px 8px 19px;
	background:#ffeaaa;
	font-size:11px;
	position:relative;
}
.stats dd a {
	color:#c56a34;
	text-decoration:none;
	border-bottom: 1px dotted #c56a34;	
}

.stats dd b {
	background:url('./i/stat.gif') no-repeat;
	display:block;
	width:2px;
	height:2px;
	overflow:hidden;
	position:absolute;
}
.stats dd b.tl {top: 0px; left: 0px;}
.stats dd b.tr {top: 0px; right: 0px; background-position:-2px 0;}
.stats dd b.bl {bottom: 0px; left: 0px; background-position:0 -2px;}
.stats dd b.br {bottom: 0px; right: 0px; background-position:-2px -2px;}
.stats dd b.bc {bottom: -5px; left: 50%; margin:0px 0px 0px -4px; background-position:0 -4px; width:9px; height:5px;}

/* -- ---- Statistics ---- -- */


/* Sidebar Left
-----------------------------------------------------------------------------*/
.sl {
	float: left;
	width: 208px;
	margin-left: -100%;
	position: relative;

	margin-bottom:20px;
}

.sidebar h2{
	font-size:14px;
	font-family:Arial;
}

/* // ---- management ---- // */

.management {
	margin:0px 0px 18px 0px;
}
.management h2 {
	margin:0px 0px 10px 0px;
}
.management ul{margin:0; }
.management ul li{
	list-style:none;
	line-height:25px;
	padding:0px 0px 0px 2px;
}
.management ul li a {
	text-decoration:none;
	padding:0px 0px 0px 13px;
	background:url('./i/management.gif') 0px 5px no-repeat;
}

.s-news {
	font-size:11px;
	margin:0; 
}
.s-news h2 {
	margin:0px 0px 12px 0px;
}
.s-news h3 {
	font-size:11px;
}
.s-news ul {margin:0; }
.s-news li{
	list-style: none;
	background:#f2fafc;
	padding:8px 10px 10px 10px;
	overflow:hidden;
	line-height:15px;
	margin:0px 0px 7px 0px;
}
.s-news .read-more {
	float:right;
}
.s-news .read-more a {
	text-decoration:none;
	color:#106b91;
	border-bottom: 1px dotted #106b91;
}

/* -- ---- management ---- -- */


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -60px 28px 0px 32px;
	min-width: 1000px;
	height: 59px;
	overflow:hidden;
	border-top: 1px solid #e9eced;
	position:relative;
}
#footer .foo-menu {
	color:#a7bcc6;
	position:absolute;
	top: 9px;
	margin:0; 
}
#footer .foo-menu li {
	display:inline;
}
#footer .foo-menu a {
	color:#61727a;
	text-decoration:none;
}

#footer .copyrights {
	position:absolute;
	top: 26px;
	left: 0px;
	color:#a7bcc6;
	font-size:10px;
}
#footer .contacts {
	position:absolute;
	top: 14px;
	right: -10px;
	color:#61727a;
	margin:0; 
}
#footer .contacts a {color:#61727a; text-decoration:none;}
#footer .contacts li {list-style:none; font-family:Verdana; font-weight:bold; font-size:10px; display:inline; padding:2px 10px 4px 20px;}
#footer .contacts .icq {background:url('./i/icq.png') no-repeat;}
#footer .contacts .mail {background:url('./i/mail.png') 0px 2px no-repeat;}


/* // ---- News ---- // */

#news {margin:0; }
#news li {
	list-style:none;
	margin:0px 0px 18px 0px;
}
.news-header {
	padding:1px 0px 4px 11px;
	background:#eff8e8;
	font-size:11px;
	font-family:Verdana;
	margin:0px 0px 6px 0px;
}
.news-header h3 {
	display:inline;
	font-size:11px;
}
.news-content {
	font-size:12px;
	line-height:15px;
	padding:0px 7px;
}

/* -- ---- News ---- -- */

/* // ---- Settings ---- // */

#settings {}
#settings fieldset {
	border: 0px;
}
#settings .rounded {
	background:#eff8e8;
	padding:16px 14px 13px 14px;
	width:324px;
	position:relative;
	margin:0px 0px 15px 0px; 
}
#settings fieldset dl {
	font-size:13px;
}

.submit {
	border: 0px;
	font-family:Tahoma;
	font-size:10px;
	font-weight:bold;
	background:none;
	padding:0;
	line-height:12px;
}
.submit span {
	color:#fff;
	background:url('./i/submit.png') top  left no-repeat;
	display:block; 
}
.submit span span {
	padding:5px 15px;
	background:url('./i/submit.png') right -22px no-repeat;
}
.rounded {position:relative; background:#eff8e8; }
.rounded .corner {position:absolute; background:url('./i/c-green.gif') no-repeat; width:7px; height:7px; overflow:hidden;}
.rounded .tl {top: 0px; left: 0px;}
.rounded .tr {top: 0px; right: 0px; background-position:-7px 0;}
.rounded .bl {bottom: 0px; left: 0px; background-position:0 -7px;}
.rounded .br {bottom: 0px; right: 0px; background-position:-7px -7px;}
.rounded .balance-a {top: 50%; left:-18px; margin:-6px 0px 0px 0px;  background-position:-0px -14px; width:18px; height:12px; }

#settings fieldset dl {margin:0; }
#settings fieldset dt {float:left; width:146px;}
#settings fieldset dd {margin:0px 0px 3px 0px;}
#settings fieldset dd input{width:169px; border: 1px solid #c0d4b1; padding:2px 2px;}

/* -- ---- Settings ---- -- */

/* // ---- Payments ---- // */

#payments {}

#payments table td .time {
color:#939393; font-style:normal; }
#payments .id {width:8.3%; }
#payments .date {width:26%; }
#payments .summ {width:19.3%; }
#payments .type {width:46.6%; }

/* -- ---- Payments ---- -- */

/* // ---- Balance ---- // */

#balance .payment-way {
	margin:0px 0px 25px 0px;
}
#balance .rounded {
	padding:18px 22px;
	font-size:13px;
}
#balance .rounded p {margin:0; padding:1px 0px 0px 0px;}
#balance .rounded p input {border: 1px solid #c0d4b1; width:101px; padding:2px 2px; margin:0px 4px 0px 0px;}
#balance dt {float:left;}
.hint em{font-style:normal;font-size:11px; color:#a6aeb2; margin:4px 0px 0px 10px; display:block;}
#balance .button {position:relative; top: -1px;}
#balance .submit span span {background-position:right -44px; position:relative;}

/* -- ---- Balance ---- -- */

/* // ---- Testimonials ---- // */

#testimonials .id {width:6.4%;}
#testimonials .opinion {width:57.9%;}
#testimonials .answer {width:8.3%;}
#testimonials .added {width:12.4%;}

#testimonials table p {text-align:left; padding:0px 12px;}
#testimonials table a {color:#106b91; text-decoration:none; border-bottom: 1px dotted #106b91;}

/* -- ---- Testimonials ---- -- */

/* // ---- Tables ---- // */

.special {
	margin:0;
	width:100%;
}
.special td {
	border-right: 1px solid #fff;
	vertical-align:middle;
	font-size:11px;
	text-align:center;
	padding:3px 0px 3px 0px;
}
.special thead td {
	background:#eff8e8;
	font-weight:bold;
	text-align:center;
	height:23px;
	vertical-align:middle;
	padding:0;
}
.special .alt td {background:#f2fafc; }
.special .icon {
	display:block;
	width:14px;
	height:14px;
	background:url('./i/table-i.gif') no-repeat;
	margin:0 auto;
	text-indent:-9999em;
	overflow:hidden;
}
.special .ok {background-position:0 0;}
.special .no {background-position:0 -14px;}
/* -- ---- Tables ---- -- */

/* // ---- Product list ---- // */

#product-list {}
#product-list table, #shop-list table, #products-activate table {margin:0px 0px 15px 0px;}
#product-list .i-check, #shop-list .i-check, #products-activate .i-check {display:block; width:13px;height:13px;margin:0 auto;}
#product-list .i-check input, #shop-list .i-check input, #products-activate .i-check input {margin:0;}
#product-list .check{width:6.4%;}
#product-list .id{width:6.2%;}
#product-list .market{width:14.6%;}
#product-list .price{width:8.2%;}
#product-list .status{width:7.6%;}
#product-list .added{width:16.4%;}
#product-list .settings{width:7.9%;}
#product-list .hint em{margin-left:0;}

.s-red span {background-position:0 -66px;}
.s-red span span{background-position:right -88px;}

/* -- ---- Product list ---- -- */

/* // ---- Shop list ---- // */

#shop-list .check{width:6.4%;}
#shop-list .shop-name{width:17.9%;}
#shop-list .address{width:21%;}
#shop-list .status{width:12%;}
#shop-list .added{width:14.9%;}
#shop-list .settings{width:7.7%;}
#shop-list .hint em{margin-left:0;}

/* -- ---- Shop list ---- -- */

/* // ---- Products activate ---- // */

#products-activate {}
#products-activate .check {width:6.4%;}
#products-activate .id {width:6.1%;}
#products-activate .market {width:14.6%;}
#products-activate .price {width:14.7%;}
#products-activate .price a{color:#c56a34; text-decoration:none;border-bottom: 1px dotted #c56a34; font-weight:bold;}
#products-activate .hint em{margin-left:0;}

/* -- ---- Products activate ---- -- */

/* // ---- Product add ---- // */

#product-add { font-size:13px;}
#product-add form, #product-add dt, #product-add fieldset {width:100%;}
#product-add .rounded {padding:10px 15px;}
#product-add .next {padding:0px 15px;}
#product-add dt {clear:both; float:left; width:148px;}
#product-add dd {margin:0px 0px 3px 0px;}
#product-add dd input {
	padding:2px 2px;
	border: 1px solid #c0d4b1;
	width:160px;
}
#product-add dd select {width:166px;}
.textarea {margin:-10px 0px 15px 148px; border: 1px solid #c0d4b1; padding:2px; background:#fff;}
.textarea textarea {width:100%; padding:0; border: 0; font-family:Arial; font-size:13px; height:126px;}

/* -- ---- Product add ---- -- */

/* // ---- Ticket ---- // */

#ticket {font-size:13px;}
#ticket fieldset {width:100%;}
#ticket .rounded {padding:15px; margin:0px 0px 15px 0px;}
#ticket .rounded dl{margin:0;}
#ticket .rounded dt{width:84px;float:left;}
#ticket .rounded dd{margin:0px 0px 3px 0px;}
#ticket dd input {
	padding:2px 2px;
	border: 1px solid #c0d4b1;
	width:174px;
}
#ticket .textarea {margin-left:84px; margin-top:0px; margin-bottom:0;}

#ticket .t-navigation {
	color:#bdbdbd;
	text-align:center;
	margin:10px 0px 0px 0px;
}
#ticket .t-navigation a {
	color:#106b91;
	text-decoration:none;
	border-bottom: 1px dotted #106b91;
}

/* -- ---- Ticket ---- -- */

/* // ---- Add Shop ---- // */

#add-shop{
	font-size:13px;
}
#add-shop dt{width:224px; float:left; }
#add-shop .textarea {margin-left:224px; margin-top:-11px; margin-bottom:0;}
#add-shop dd {margin:0px 0px 3px 0px;}
#add-shop dd input.in {
	padding:2px 2px;
	border: 1px solid #c0d4b1;
	width:174px;
}
#add-shop dd select {
	width:176px;
}
#add-shop dd.cities {overflow:hidden; padding:3px 0px 3px 0px;}
#add-shop dd.cities input {float:left;}
#add-shop dd.cities label {float:left; margin:0px 8px 0px 0px;}

#add-shop .work-time {margin:20px 0px 0px 0px;}
#add-shop .work-time input {
	padding:4px 2px;
	border: 1px solid #c0d4b1;
	width:67px;
	font-size:11px;
	text-align:center;
}

/* -- ---- Add Shop ---- -- */