.header .sign-in .remind {*display:inline;clear:both;}
.header .sign-in label {*display:inline;}
.header, .container, .inner, .leader dd, .search-results .results li, .user-page .description p   {*zoom: 1;}
.sidebar .block .top, .sidebar .block .bottom, .c-block .top {*overflow:hidden;}

form.search span.select {_display:none;}

form.search .b-checkbox label span {float:left;margin:4px 0px 0px 0px;}