/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 12px;
	color:#3b3b3b;
	font-family:Tahoma;
	background: #fff url('./i/bg.png') center top repeat-x;
}
a {outline: none;color:#357b9d;}
a:hover {color:#0b5478;}
img {border: none;}
label {cursor:pointer;}
input, textarea, button {font-family:Tahoma;}
button {cursor: pointer;}
button::-moz-focus-inner {
padding:0; 
border:0; 
} 
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

p {line-height:18px;}

.wrapper {
	width:952px;
	margin:0 auto;
}

h2 {
	font-size:14px;
	text-transform:uppercase;
	margin:0px 0px 17px 0px;
	font-family:Arial;
}

/* // ---- header ---- // */

.header {
	position:relative;
	margin:0px 0px 25px 0px;
}
.header .logo {
	width:167px;
	float:left;

}
.header .logo a {
	display:block;
	width:167px;
	height:62px;
	text-decoration:none;
	padding:19px 0px 0px 0px;
}
.header .logo img {
	display:block;
}
.header .logo small {
	font-size:14px;
	color:#484848;
	font-weight:normal;
}

.header .sign-in {
	float:right;
	margin:25px 0px 0px 0px;
}
.header .sign-in fieldset {display:inline;}

.header .sign-in label {
	background:url('./i/signin-i.png') no-repeat;
	display:block;
	width:116px;
	height:23px;
	padding:9px 11px 0px 11px; 
	float:left;
	margin:0px 4px 0px 0px;
	cursor: default;
	position:relative;
}
.header .sign-in label input {
	border: 0px solid;
	width:116px;
	font-size:12px;
	color:#3b3b3b;
	outline:none;
	padding:0;
	margin:0;
	overflow:hidden;
	background:none;
	display:block;
}
.header .sign-in button {
	display:block;
	width:68px;
	height:33px;
	background:url('./i/signin-b.png');
	border: 0px;
	position:relative;
	float:left;
	margin:0px 0px 0px -1px;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	text-shadow: 0px -1px #012537;
	font-weight:bold;
	text-align:center;
	padding:0;
}
.header .sign-in button:hover {color:#CEE1EB}
.header .sign-in .remind {
	font-size:11px;
	padding:0px 0px 0px 142px;
	display:block;
	clear:both;
}

.header .menu {
	margin:0;
	clear:both;
	width:952px;
	background:#357b9d url('./i/menu.png') no-repeat;
	overflow:hidden;
	padding:3px 0px 4px 0px;
	font-family:Arial;
}
.header .menu li {
	list-style:none;
	float:left;
	background:url('./i/menu-li.gif') left center no-repeat;
	padding:13px 27px 13px 28px;
	margin:0px 0px 0px -2px;
}
.header .menu li a {
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
}
.header .menu li a:hover {color:#cee1eb;}

.header .panel {
	background:#c1d9dc url('./i/panel.png') no-repeat;
	height:49px;
	border-top: 1px solid #e6f0f1;
	width:952px;
	position:relative;
}
.header .panel .user-menu {
	margin:16px 0 0 20px;
	color:#357b9d;
}
.header .panel .user-menu li {
	list-style:none;
	float:left;
	margin:0px 17px 0px 0px;
}

.header .panel .statistics {
	margin:0;
	position:absolute;
	top: 16px;
	right: 0px;
}
.header .panel .statistics dt {
	float:left;
	margin:0px 4px 0px 0px;
}
.header .panel .statistics dd {
	float:left;
	margin:0 20px 0 0;
}

/* -- ---- header ---- -- */

/* // ---- container ---- // */
.container {
	width:100%;
	margin:0px 0px 20px 0px;
}
.main {
	float:left;
	overflow:hidden;
	width:100%;
}
.main .content {
	padding:0px 0px 0px 225px;
}

.sidebar {
	width:200px;
	padding:0 25px 0 0;
	float:left;
	margin:0px 0px 0px -100%;
}

.content {}
.content .c-block {
	width:725px;
}
.content .c-block .top, .content .c-block .bottom {
	height:8px;
	background:url('./i/c-block.png') no-repeat;
}
.content .c-block .bottom {
	background-position:-725px 0;
}
.content .c-block .inner {
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	padding:14px 24px 8px 24px;
	position:relative;
}

/* -- ---- container ---- -- */

/* // ---- sidebar ---- // */

.sidebar {}
.sidebar .block {
	width:200px;
	margin:0px 0px 25px 0px;
}
.container .sidebar .b-last {margin:0;}
.sidebar .block .headline h2 {margin:0;}
.sidebar .block .top, .sidebar .block .bottom {
	height:8px;
}
.container .sidebar .block .bottom {
	background-position:-200px 0;
}
.sidebar .block .inner {
	padding:15px 24px;
}
.sidebar .b-orange .top, .sidebar .b-orange .bottom {background:url('./i/b-orange.png') no-repeat;}
.sidebar .b-orange .inner {background:#ffca58;border-left: 1px solid #d5b56f; border-right: 1px solid #d5b56f;}
.sidebar .b-blue .top, .sidebar .b-blue .bottom {background:url('./i/b-blue.png') no-repeat;}
.sidebar .b-blue .inner {background:#c1d9dc;border-left: 1px solid #98b5b9; border-right: 1px solid #98b5b9;}
.sidebar .b-beige .top, .sidebar .b-beige .bottom {background:url('./i/b-beige.png') no-repeat;}
.sidebar .b-beige .inner {background:#efe7c0;border-left: 1px solid #c8be8c; border-right: 1px solid #c8be8c;}

.anketa-info {}
.anketa-info dl {
	margin:0 0 13px 0;
}
.anketa-info dl dt {
	margin:0px 0px 7px 0px;
	font-size:14px;
}
.anketa-info dl dd {
	margin:0;
}
.anketa-info .button {
	display:block;
	width:152px;
	height:38px;
	font-size:13px;
	color:#855b00;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	text-shadow: 0px 1px 0px #fff;
	background:#f5c04f url('./i/anketa-b.png') no-repeat;
	text-align:center;
	line-height:38px;
	margin:0px 0px 0px -1px;
}
.anketa-info .button:hover {color:#5c3f00;}

.block .photo  {
	float:left;
	width:50px;
	height:50px;
	position:relative;
}
.block .photo i {
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	top: 0px;
	left: 0px;
}
.b-blue .photo i {background:url('./i/blue-c.png');}
.b-beige .photo i {background:url('./i/beige-c.png');}

.b-blue .b-leader dt {
	background:url('./i/blue-p.gif') no-repeat;
	padding:12px 0px 0px 0px;
}
.b-beige .b-leader dt {
	background:url('./i/beige-p.gif') no-repeat;
	padding:12px 0px 0px 0px;
}
.leader .headline {
	margin:0 0 10px 0;
}
.leader .headline .location {font-size:11px;}
.b-leader {
	margin:0;
	overflow:hidden;
}
.b-leader dd {
	margin:0 0 15px;
	font-size:11px;
	overflow:hidden;
}
.b-leader dd.last  {margin:0;}
.b-leader dd .summary {
	display:block;
	margin:-3px 0px 5px 0px;
}
.b-leader dt {margin:0px 0px 10px 0px;font-size:12px;}
.b-leader .photo  {
	float:left;
	width:50px;
	height:50px;
	position:relative;
	margin:0px 11px 0px 0px;
}
.b-leader .photo i {
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	top: 0px;
	left: 0px;
}
.b-leader .info {
	overflow:hidden;
}

/* -- ---- sidebar ---- -- */

/* // ---- footer ---- // */

.footer {
	width:950px;
	background:#357b9d url('./i/footer.png') no-repeat;
	height:50px;
	color:#fff;
	font-size:11px;
	position:relative;
	margin:0px auto 24px auto;
}
.footer a{
	color:#fff;
}
.footer a:hover {color:#cee1eb;}
.footer .copyrights {
	line-height:50px;
	position:absolute;
	left: 23px;
	top: 0px;
}
.footer .links {
	position:absolute;
	top: 0px;
	left: 225px;
	margin:0;
	line-height:50px;
}
.footer .links  li {
	list-style:none;
	float:left;
	margin:0px 13px 0px 0px;
}
.footer .banners {
	position:absolute;
	top: 10px;
	right:10px;
	margin:0;
}
.footer .banners li {
	list-style:none;
	float:left;
	margin:0px 0px 0px 10px;
}

/* -- ---- footer ---- -- */

/* // ---- search ---- // */

form.search {
	background:#c1d9dc url('./i/f-search.gif') no-repeat;
	margin:0px 0px 22px 0px;
}
form.search fieldset {
	background:url('./i/f-search.gif') -675px bottom no-repeat;
	padding:25px 0px 25px 26px;
}
form.search .line {clear:both;}
form.search .param {margin:0px 0px 20px 0px;}
form.search .location {margin:0px 0px 25px 0px;}
form.search .b-checkbox {margin:0px 0px 22px 0px;}
form.search .select {
	background:url("./i/search-e.png") no-repeat;
	color:#fff;
	display:block;
	height:25px;
	line-height:25px;
	overflow:hidden;
	position:absolute;
	text-decoration:none;
	padding:0 0 0 8px;
}
form.search select {font-family:Tahoma;height:25px;}
form.search .b-select {position:relative;}
form.search .w208 .select {width:200px; background-position:0px 0px;}
form.search .w208 select {width:208px;}
form.search .w192 .select {width:184px; background-position:0px -25px;}
form.search .w192 select {width:192px;}
form.search .w158 .select {width:150px; background-position:0px -50px;}
form.search .w158 select {width:158px;}
form.search .w45 .select {width:37px;background-position:0 -75px;}
form.search .w45 select {width:45px;}
form.search .i-am {
	float:left;
	margin:0px 27px 0px 0px;
}
form.search div.looking-for {
	float:left;
	position:relative;
	margin:0px 32px 0px 0px;
}
form.search .looking-for label {float:left;padding:5px 8px 0px 0px;}
form.search .looking-for .b-select {float:left;}

form.search .age {float:left;}
form.search .age label {float:left;padding:5px 0px 0px 0px;}
form.search .age .b-select {float:left;}
form.search .age .from {margin:0px 5px 0px 9px;}
form.search .age .to {margin:0px 0px 0px 6px;}

form.search .country, form.search .region, form.search .city {float:left;}
form.search .country label, form.search .region label, form.search .city label {display:block;margin:0px 0px 5px 0px;}
form.search .country {margin:0px 27px 0px 0px;}
form.search .region {margin:0px 32px 0px 0px;}

form.search .b-checkbox label {padding:0px 28px 0px 0px;float:left;}
form.search .b-checkbox label input {float:left;margin:1px 5px 0 0;}

form.search button.find {
	display:block;
	width:68px;
	height:33px;
	background:url('./i/search-e.png') 0 -100px no-repeat;
	position:relative;
	border: 0px;
	margin:0;
	padding:0;
	text-align:center;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	text-shadow:0 -1px #012537;
}

form.search button:hover {color:#CEE1EB}

/* -- ---- search ---- -- */

/* // ---- search-results ---- // */

.search-results {
	font-family:Tahoma;
}
.search-results h2 {margin-bottom:20px;}
.search-results .results {
	margin:0;
}
.search-results .results li {
	list-style:none;
	overflow:hidden;
	padding:0px 0px 25px 0px;
	border-bottom: 1px solid #dfdfdf;
	margin:0px 0px 23px 0px;
}
.search-results .results .photo  {
	float:left;
	width:50px;
	height:50px;
	position:relative;
	margin:0px 11px 0px 0px;
}
.search-results .results .photo i {
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	top: 0px;
	left: 0px;
	background:url('./i/search-results-c.png') no-repeat;
}
.search-results .results .info {
	overflow:hidden;
	font-size:11px;
}
.search-results .results .info .name {font-size:12px;display:block;margin:-3px 0px 4px 0px;}

b.online {color:#f4a702;}

/* -- ---- search-results ---- -- */

/* // ---- page navigation ---- // */

.page-navigation {
	overflow:hidden;
	margin:0 0 10px 0;
}
.page-navigation li {
	float:left;
	list-style:none;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	margin:0px 2px 0px 0px;
}
.page-navigation li.active {
	background:#ffca58 url('./i/p-nav.gif') 0 0 no-repeat;
}
.page-navigation li.active a{
	background:url('./i/p-nav.gif') right -24px no-repeat;
	color:#3b3b3b;
}
.page-navigation li a {
	float:left;
	text-decoration:none;
	padding:0px 9px;
	height:24px;
	overflow:hidden;
	line-height:24px;
}

/* -- ---- page navigation ---- -- */

/* // ---- user-page ---- // */

.user-page {
	font-size:11px;
}
.user-page .online {
	position:absolute;
	top: 16px;
	right: 24px;
}

.user-page .user {
	width:250px;
	float:left;
	margin: 0 25px 0 0;
}
.user-page .user .user-photo {
	position:relative;
	margin:0px 0px 23px 0px;
}
.user-page .user .user-photo img {
	display:block;
}
.user-page .user .user-photo .corner {
	position:absolute;
	width:4px;
	height:4px;
	display:block;
	background:url('./i/search-results-c.png') no-repeat;
}
.user-page .user .user-photo .lt {top: 0px; left: 0px; background-position:0 0;}
.user-page .user .user-photo .rt {top: 0px; right: 0px; background-position:right 0;}
.user-page .user .user-photo .lb {bottom: 0px; left: 0px; background-position:0 bottom;}
.user-page .user .user-photo .rb {bottom: 0px; right: 0px; background-position:right bottom;}

.user-page .send-message {
	display:block;
	width:251px;
	height:33px;
	background: #5f99b5 url('./i/send-message.png') no-repeat;
	text-transform:uppercase;
	font-size:13px;
	color:#fff;
	text-shadow: 0px -1px #012537;
	text-align:center;
	line-height:31px;
	text-decoration:none;
	margin:0px 0px 13px -1px;
}

.user-page .user .user-menu {
	margin:0;
}
.user-page .user .user-menu li {
	margin:0 0 10px 0;
	list-style:none;
}
.user-page .user .user-menu li a {
	padding-left:25px;
	display:block;
}
.user-page .user .user-menu li.galery a {
	background:url('./i/galery.gif') no-repeat;
	padding-top:4px;
	padding-bottom:4px;
	text-decoration:none;
}
.user-page .user .user-menu li.galery a b {text-decoration:underline;}
.user-page .user .user-menu li.galery a span {color:#3b3b3b;}
.user-page .user .user-menu li.favorite a {
	background:url('./i/favorite.gif') no-repeat;
	padding-top:1px;
	padding-bottom:2px;
}
.user-page .user .user-menu li.complaint a {
	background:url('./i/complaint.gif') no-repeat;
	padding-top:2px;
	padding-bottom:2px;
}

.user-page .description {
	width:400px;
	float:left;
	border-top: 1px solid #d7d7d7;
}
.user-page .description p {
	border-bottom: 1px solid #d7d7d7;
	overflow:hidden;
	padding:2px 0 5px 0;
}
.user-page .description p .definition {float:left;}
.user-page .description p .value {float:right;}

.user-page .user-info {
	clear:both;
	padding:15px 0px 15px 0px;
}
.user-page .user-info h3 {
	font-size:12px;
	margin:0px 0px 8px 0px;
}
.user-page .user-info p {
	line-height:14px;
}

/* -- ---- user-page ---- -- */