/*

------------------------------------------------------
author:    Aleksey Krekotun
email:     a.krekotun@gmail.com
icq:       536136
skype:     a.krekotun
website:   www.krekotun.ru
------------------------------------------------------

*/

/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {
	list-style: decimal outside;
}
ul li {
	list-style: disc outside;
}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {
	margin: 1.12em 0;
}
ol ul, ul ol, ul ul, ol ol {
	margin-top: 0;
	margin-bottom: 0;
}
ol, ul, dd {
	margin-left: 2.5em;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Quotes */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

/* Small elements */
small, sub, sup {
	font-size: 83%;
}

/* Indexes */
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}

/* Marking changes */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}


/* Main Styles
---------------------------------------------------------- */

html {
	height: 100%;
	min-height: 100%;
	font-size: 100.1%;
	background: #303030 url('./i/bg.jpg') repeat;
}
body {
	height: 100%;
	background: url('./i/bg-h.jpg') repeat-x;
	font-size:12px;
	font-family:Tahoma;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {color:#0081c4;}
a:hover {text-decoration:none;}
.clear {clear:both;}
p {
	margin:0px 0px 20px 0px;
	line-height:16px;
}
.wrapper {
	width:917px;
	margin:0 auto;
	position:relative;
}

/* // ---- Header ---- // */

.header {
	height:178px;
	background:url('./i/header.jpg') 323px 0px no-repeat;
}

.header h1, .header h1 a {
	display:block;
	width:341px;
	height:61px;
	text-indent:-9999em;
}
.header h1 {
	position:absolute;
	top: 60px;
	left: 0px;
	background:url('./i/logo.jpg') no-repeat;
}
.header h1 a {
	position:absolute;
	top: 0px;
	left: 0px;
}

.header {}

.header .user-panel {
	position:absolute;
	top: 41px;
	right: 0px;
}
.header .user-panel .login {
	width:298px;
	height:56px;
	background:url('./i/login.jpg') no-repeat;
	position:relative;
	padding:20px;
}


.login input {
	border: 0px;
}
.login p {
	margin:0px 0px 7px 0px;
}
.login .in input{
	display:block;
	width:173px;
	font-size:13px;
	color:#919191;
	font-family:Arial;
	padding:5px 10px 5px 25px
}
.login .username input {background:url('./i/username.png') no-repeat;}
.login .password input {background:url('./i/password.png') no-repeat;}
.login .button input {
	display:block;
	width:111px;
	height:30px;
	background:url('./i/login-button.png') no-repeat;
	text-indent:-9999em;
	position:absolute;
	top: 33px;
	right: 23px;
	font-size:0px;
}
.header .user-panel p.registration {
	display:block;
	text-align:right;
	padding:4px 12px 0px 0px;
	margin:0;position:relative;
}
.header .user-panel p.registration a {
	padding:0px 0px 0px 11px;
	background:url('./i/reg.gif') 0px 5px no-repeat;
	color:#e0e0e0;
	text-decoration:none;
	border-bottom: 1px dotted #e0e0e0;
}
/* -- ---- Header ---- -- */

/* // ---- Navigation ---- // */

.navigation {
	height:82px;
	background:url('./i/nav.jpg') 323px 0px no-repeat;
	overflow:hidden;
	position:relative;
}
.navigation .menu {
	margin:0;
	background:url('./i/menu.gif') 0px 23px no-repeat;
	padding:23px 0px 10px 0px;
	float:left;
}
.navigation .menu li {
	list-style:none;
	background:url('./i/menu.gif') right no-repeat;
	padding:6px 20px 6px 19px;
	float:left;
	font-size:14px;
	font-family:Arial;
	margin:0;
}
.navigation .menu li a {
	text-decoration:none;
	color:#fff;
}

.navigation .search {
		position:absolute;
		top:19px;
		left: 424px;
}
.navigation .search input {
	border: 0px;
}
.navigation .search .query {
	width:305px;
	font-size:14px;
	font-family:Verdana;
	color:#919191;
	background:url('./i/s-query.png') no-repeat;
	padding:9px 10px 9px 39px;
	float:left;
}
.navigation .search .button {
	width:101px;
	height:31px;
	background:url('./i/s-button.png') no-repeat;
	text-indent:-9999em;
	font-size:0px;
	float:left;
	margin:2px 0px 0px 14px
}

/* -- ---- Navigation ---- -- */


/* // ---- Categories ---- // */

.aside {
	width:188px;
	float:left;
	margin:0px 15px 0px 0px;
}
.categories {
	font-family:Arial;
}
.categories h2 {
	font-size:17px;
	color:#e0e0e0;
	margin:0px 0px 4px 0px;
}
.categories ul {
	margin:0;
}
.categories li {
	list-style:none;
	padding:5px 0px;
	border-bottom: 1px dotted #434343;
}
.categories a {
	text-decoration:none;
	color:#acacac;
}
/* -- ---- Categories ---- -- */

/* // ---- Content ---- // */
.content {
	width:714px;
	float:left;
	background:#fff url('./i/content.gif') bottom no-repeat;
	padding:0px 0px 5px 0px;
	position:relative;
	margin:0px 0px 20px 0px;
}
.movie-description {
	padding:16px 23px 0px 26px;
	margin:0px 0px 12px 0px;
}
.content h2.d-movie {
	display:block;
	width:714px;
	height:56px;
	background:url('./i/descr-h2.jpg') no-repeat;
	text-indent:-9999em;
}
.content h3 {
	font-family:Arial;
	font-size:19px;
	color:#2d2d2d;
	margin:0px 0px 12px 0px;
}
.movie-description .description-block{
	overflow:hidden;
	margin:0px 0px 20px 0px;
}
.movie-description .image {
	width:158px;
	float:left;
}
.movie-description .image img {
	border: 4px solid #c3e8ed;
}
.movie-description .description {
	width:487px;
	margin:0px 0px 0px 18px;
	float:left;
}
.movie-description .description a {
	text-decoration:none;
	color:#578b8e;
	line-height:20px;
}
.movie-description .description .imdb {
	padding:7px 12px;
	background:#59b924;
	color:#fff;
	font-size:11px;
}
.movie-description .description p {
	margin:0px 0px 20px 0px;
}

.downloads {
	clear:both;
	margin:0px 0px 25px 0px;
}

.downloads h3{
	color:#2a2a2a;
	font-weight:bold;
	font-size:20px;
	margin-bottom:5px;
}
.downloads .formats {
	margin:0px 0px 1px 0px;
	overflow:hidden;
}
.downloads .formats li {
	float:left;
	font-weight:bold;
	font-size:15px;
	background:url('./i/downloads.png') repeat-x;
	width:143px;
	height:34px;
	text-align:center;
	line-height:34px;
	list-style:none;
	margin:0px 1px 0px 0px;
}
.downloads .formats li a {color:#fff;}

.downloads .info {
	clear:both;
	padding:5px 14px;
	background: #f0f0f0 url('./i/d-bg.png') right center no-repeat;
	color:#5f5f5f;
	height:139px;
}
.downloads .info p {
	margin:0px 0px 1px 0px;
	clear:both;
	font-size:11px;
	overflow:hidden;
}
.downloads .info p span.wit {
	display:block;
	float:left;
	width:115px;
	height:22px;
	line-height:22px;
	background:#fff;
	padding:0px 0px 0px 7px;
	margin:0px 10px 0px 0px;
	font-weight:bold;
}
.downloads .info p span.val {
	display:block;
	float:left;
	width:115px;
	height:22px;
	line-height:22px;
}
.downloads  .download {
	display:block;
	width:226px;
	height:60px;
	background:url('./i/download.png') no-repeat;
	margin:13px 0px 0px 0px;
}

.comments {}
.comments p {
	margin:0px 0px 7px 0px;
}
.comments input{
	border: 0px;
}
.comments .name input{
	width:249px;
	font-size:12px;
	font-family:Tahoma;
	background:url('./i/name.png') no-repeat;
	padding:6px 10px 7px 30px;
	color:#3a3a3a;
}
.comments .mail input{
	width:289px;
	font-size:12px;
	font-family:Tahoma;
	background:url('./i/mail.png') no-repeat;
	padding:6px 10px 7px 30px;
	color:#3a3a3a;
}
.comments .comment textarea{
	width:628px;
	height:108px;
	padding:6px 10px 7px 30px;
	background:url('./i/text.png') no-repeat;
	border: 0px;
}
.comments .button input {
	width:128px;
	height:23px;
	background:url('./i/send.png');
	text-indent:-9999em;
	font-size:0px;
	float:right;
}
/* -- ---- Content ---- -- */

.back {
	position:absolute;
	bottom: -40px;
	right:10px;
}
.back a {
	padding:0px 0px 0px 11px;
	background:url('./i/back.gif') 0px 5px no-repeat;
	text-decoration:none;
	border-bottom: 1px dotted #e0e0e0;
	color:#e0e0e0;
}

.container {
	overflow:hidden;
	margin:0px 0px 60px 0px;
}