/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;background: #fff url('./i/bg.png') top left repeat;}
body {
	font-size: 11px;
	height: 100%;
	font-family:Tahoma;
	color:#333333;
	background:url('./i/bg-t.png') top left repeat-x;
}
a {outline: none; color:#ff680f; text-decoration:none;}
a:hover {text-decoration: none;}
img {border: none;}
#wrapper {
	width:912px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 35px auto;
}

.empty {height:410px;clear:both;}
.clear {clear:both;}

h2 {
	font-size:23px;
	font-family:"Trebuchet MS";
	font-weight:normal;
	margin:0px 0px 3px 0px;
}
p {line-height:15px;}

/* // ---- Header ---- // */

#header {
	position:relative;
	height:133px;
	background:url('./i/header.png') no-repeat left;
}

.logo {
	position:absolute;
	top: 23px;
	right: 0px;
}

/* -- ---- Header ---- -- */

/* // ---- container ---- // */

#content {
	background:#f3f3f3 url('./i/c-bg.gif') repeat-x;
	overflow:hidden;
	margin:-22px 0px 0px 0px;
	padding:11px 0px 0px 0px;
}

.products {
	overflow:hidden;
	margin:0px 0px 10px 0px;
	_zoom: 1;
}
.products  p {margin:0px 0px 6px 0px;}
.products .column {
	float:left;
	padding:0px 20px 0px 0px;
}
.products .column .image {
	display:block;
	float:left;
	width:110px;
}
.products .column .text {float:left; width:315px;}
.products .border {
	border-right: 1px dotted #c5c5c5;
	margin:0px 11px 0px 0px;
	width:425px;
}

/* -- ---- container ---- -- */

/* // ---- menu ---- // */

#menu {
	margin:0;
	overflow:hidden;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
#menu li{
	list-style:none;
	float:left;
	height:50px;
	overflow:hidden;
	width:228px;
}

/* -- ---- menu ---- -- */

/* // ---- content ---- // */

.content {
	padding:20px 18px 25px 24px;
	overflow:hidden;
	background: #fff url('./i/cc-bg.gif') repeat-x;
}
.content p {
	margin:0px 0px 18px 0px;
}
.content .leftbar {
	width:412px;
	float:left;
	margin:0px 34px 0px 0px;
	_margin-right:30px;
}

.content .rightbar {
	width:424px;
	overflow:hidden;
}

.content .rightbar .gallery {
	width:450px;
	overflow:hidden;
	margin:0px 0px 14px 0px;
}
.content .rightbar .gallery img {
	float:left;
	margin:0px 24px 0px 0px;
}

/* -- ---- content ---- -- */

/* // ---- footer ---- // */

#footer {
	width:1000px;
	height:410px;
	margin:-445px auto 0px auto;
	background:url('./i/footer.png') top center no-repeat;
	position:relative;
	font-family:Arial;
	font-size:12px;
	color:#424242;
	line-height:17px;
}
#footer a {color:#424242;text-decoration:underline;}

#footer .search {
	width:264px;
	height:67px;
	background:url('./i/search.png') no-repeat;
	position:absolute;
	top:11px;
	left: 505px;
}

#footer .search .query {
	margin:14px 0px 0px 8px;
	width:185px;
	font-size:10px;
	font-family:Verdana;
	color:#000;
	border: 0px;
	background:none;
}
#footer .search .button {
	width:63px;
	height:67px;
	margin:0px 0px 0px 10px;
	border: 0px;
	background:none;
	cursor: pointer;
	position:absolute;
	right: 0px;
}

#footer .address {
	position:absolute;
	top: 16px;
	left:70px
}
#footer .contacts {
	position:absolute;
	top: 16px;
	left:350px
}
#footer .contacts .mail {
	display:block;
	margin:18px 0px 0px 0px;
}

#footer .development {
	text-indent:-9999em;
	display:block;
	width:96px;
	height:29px;
	position:absolute;
	right: 72px;
	bottom:13px;
}

/* -- ---- footer ---- -- */