.c-minister .inner, 
.c-minister dl, 
.m-container .news .title , 
.m-container .news ul li, 
.files-list ul li dl , 
.files-list ul li, 
.news-list .news .title, 
.news-list .news li, 
.page-navigation, 
.news-block .headline .title, 
.news-block .headline {zoom:1;}
.send-message legend {*margin-left:-7px;}

.captcha .cinput input {*margin-left:-160px;}