.actions, .result-settings .top, .result-settings .top dt, .recommend .top, .bgray .inner, .iactions, .result-settings .top dt i, .product .breadcrumbs, .login-form form .remember {_zoom: 1;}
.header a{}
.menu {_bottom: 6px}
.menu ul li {_display:inline;}
.tabs .more {_margin-left:-13px;}
.goods .item .price i, .items .item .price i, .recommend .item .price i, .additional .item .price i {_top: -2px; _border-top: 1px solid #fff}
.last-iblock .b-inner {_padding-bottom:0;}
.items .item .bottom {*background-position:-207px 0;}
.result-settings .top dt {}
.result-settings .top dt i {*width:8px;}

.i-sorting .item {*display:inline;*margin-right:20px;}
.goods .item {*display:inline;*margin-right:20px;}
.items .item {*display:inline;*margin-right:20px;}