/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;background:  url('./i/bg.jpg') left top repeat;}
body {
	font-size: 12px;
	height: 100%;
	color:#000;
	font-family:Tahoma;
	background:  url('./i/bg-t.jpg') left top repeat-x;
}
a {color:#237bb9;outline: none;}
img {border: none;}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: url('./i/bgf.jpg') center bottom no-repeat;

}

.clear {clear:both;}

p {
	margin:0px 0px 10px 0px;
}

.wrapper {
	width:950px;
	margin:0 auto;
	position:relative;
	padding:130px 0px 0px 0px;
}


/* // ---- banners ---- // */

.banners {width:950px; overflow:hidden;padding:10px 0px 0px 0px; position:absolute; top: 0px; left: 0px;}
.banners img {
	float:left;
	margin:0px 25px 0px 0px;
}
.banners .inner {
	width:975px;
}

/* -- ---- banners ---- -- */

.header {
	width:950px;
	height:200px;
	margin:0px 0px 51px 0px;
	position:relative;
}
.header .header-bg {z-index: 0;}
.header .logo {
	position:absolute;
	top: 19px;
	left: 24px;
	z-index: 1;
}

.user-panel {
	width:438px;
	height:42px;
	background:url('./i/panel.png') no-repeat;
	position:absolute;
	top: 273px;
	left: 15px;
	font-size:11px;
	color:#ccc;
	z-index: 1;
}
.user-panel p {line-height:14px;}
.user-panel a {color:#b0e350;}
.user-panel .cart {
	width:153px;
	float:left;
	padding:7px 15px 0px 50px;
	background:url('./i/cart.png') 12px 7px no-repeat;
}
.user-panel .compare {
	width:150px;
	float:left;
	padding:6px 20px 0px 50px;
	background:url('./i/compare.png') 12px 7px no-repeat;
}

.login {
	width:140px;
	height:27px;
	background:url('./i/login.png') no-repeat;
	position:absolute;
	top: 135px;
	right: 4px;
	font-size:11px;
	z-index: 1;
}
.login a {color:#cabb78;text-decoration:underline;}
.login .login-link {
	display:block;
	margin:6px 0px 0px 27px;
}
.lactive {width:100%;background:#000;opacity: .5;display:none; position:absolute;top: 0px;left: 0px;z-index: 50;  filter: alpha(opacity = 50);
}

.menu {
	width:233px;
	height:27px;
	position:absolute;
	background:url('./i/menu.png') no-repeat;
	right: 4px;
	bottom: 4px;
	font-size:11px;
	z-index: 1;
}
.menu ul {margin:5px 0px 0px 0px;}
.menu ul li {float:left; margin:0px 0px 0px 17px; list-style-type:none;}
.menu ul li a {color:#cabb78; font-weight:bold;}

.phone-number {
	font-size:18px;
	font-weight:normal;
	color:#d5c686;
	position:absolute;
	right: 20px;
	top: 143px;
	z-index: 1;
}

.tabs {
	margin:0px 0px 0px 23px;
	position:absolute;
	top: -31px;
	z-index: 10;
}
.tabs ul {margin:0;float:left;}
.tabs li {
	list-style-type: none;
	background:url('./i/tab.png') 0px -32px repeat-x;
	float:left;position:relative;
	font-size:18px;
	font-weight:bold;
	padding:5px 10px;
	margin:0px 13px 0px 0px;
}
.tabs li a {color:#fff;text-decoration:none;}
.tabs li .lb{width:8px; height:32px;background:url('./i/tab.png') 0px 0px no-repeat; position:absolute;top: 0px; left: -8px;}
.tabs li .rb{width:8px; height:32px;background:url('./i/tab.png') right -64px no-repeat; position:absolute;top: 0px; right: -8px;}
.tabs li.active {background-position:0px -128px; z-index: 1;}
.tabs li.active .lb {width:9px; background-position:0px -96px; left: -9px}
.tabs li.active .rb {width:9px; background-position:0px -160px; right: -9px;}
.tabs li.active a {color:#3f3f3f;}

.tabs .more {
	background:url('./i/tab.png') 0px -32px repeat-x;
	float:left;
	font-size:18px;
	font-weight:bold;
	padding:5px 10px;
	margin:0px 13px 0px 0px;
	position:relative;
}
.tabs .more .lb{width:8px; height:32px;background:url('./i/tab.png') 0px 0px no-repeat; position:absolute;top: 0px; left: -8px;}
.tabs .more .rb{width:8px; height:32px;background:url('./i/tab.png') right -64px no-repeat; position:absolute;top: 0px; right: -8px;}

.tabs .more  a {color:#fff;text-decoration:none;}

.tabs .more .submenu {display:none; position:absolute;z-index: 10;background:url('./i/submenu.png') no-repeat;width:136px; margin:0; top: 31px;left: -8px;padding:11px 13px 1px 13px;}
.tabs .more .submenu li { display:block;background:none;padding:0px 5px 4px 5px; border-bottom: 1px solid #9dc466; margin:-1px 0px 0px 0px;width:126px;}
.tabs .more .submenu li.last {border: 0px;}
.tabs .more .submenu .b-bg {width:162px;height:8px;background:url('./i/submenu.png') -162px 0px;position:absolute;bottom: -8px; left: 0px; z-index: 10;}
.tabs .more-active .submenu {display:block;}

.block {position:relative;margin:0px 0px 61px 0px;}
.block .b-inner {
	clear:both;
	background:url('./i/cblock.png') top left no-repeat;
	position:relative;
	padding:15px 15px 0px 15px;
	overflow:hidden;
	width:920px;
}
.block .bottom-bg {
	width:950px;
	height:15px;
	background:url('./i/cblock.png') top right no-repeat;
	position:relative;
	
}

.i-sorting {}
.i-sorting .wrap {width:950px;overflow:hidden; margin:-20px 0px 0px 0px;}
.i-sorting .item {
	width:168px;
	display:inline-block;
	margin:20px 16px 0px 0px;
}
.i-sorting .item .image {text-align:center;}
.i-sorting .item .itop {
	background:url('./i/168.png') no-repeat;
	padding:10px 9px 8px 9px;
}
.i-sorting .item .bottom {
	width:168px;
	height:10px;
	background:url('./i/168.png') -168px 0px no-repeat;
}

.i-sorting .item-name {font-size:18px;display:block;text-align:center;font-weight:normal;margin:8px 0px 0px 0px;line-height:12px;}
.i-sorting .item-name {color:#498b06;}

.goods {}
.goods .item {
	width:215px;
	display:inline-block;
	margin:20px 16px 0px 0px;
	position:relative;
}
.goods .item .image {text-align:center;}
.goods .wrap {width:950px;overflow:hidden; margin:-20px 0px 0px 0px;}
.goods .item .itop {
	background:url('./i/215.png') no-repeat;
	padding:10px 13px 0px 13px;
}
.goods .item .bottom {
	width:215px;
	height:10px;
	background:url('./i/215.png') -215px 0px no-repeat;
}
.goods .item .price {
	position:absolute;
	top: 3px;
	left: 3px;
	background:url('./i/price.png') no-repeat;
	padding:3px 0px 4px 10px;
	color:#fff;
	font-weight:bold;
	display:block;
}
.goods .item .price i {
	position:absolute;
	top: 0px;
	right: -10px;
	width:10px;
	height:21px;
	background:url('./i/price.png') right bottom no-repeat;
}

.goods .item .item-name {font-size:11px;color:#3f3f3f; margin:0px 0px 8px 0px; display:block;}
.goods .item .actions {font-weight:bold;font-size:11px; overflow:hidden;}
.goods .item .actions .buy {background:url('./i/buy.png') no-repeat; padding:5px 0px 5px 28px;color:#498b06; float:left;}
.goods .item .actions .compare {background:url('./i/wcompare.png') no-repeat;color:#919191;padding:5px 0px 5px 28px; float:right;}

.last-block .b-inner{padding-bottom:50px; overflow:hidden;}
.last-iblock .b-inner{padding-bottom:40px; overflow:hidden;}

/* // ---- footer ---- // */

.footer {
	height:100px;
	background:url('./i/footer.png') no-repeat;
	margin:-61px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	position:relative;
	font-size:11px;
}
.footer a {color:#999999;}
.footer .f-logo {
	position:absolute;
	top:31px;
	left: 14px;
}
.footer .f-menu {
	position:absolute;
	top: 65px;
	left: 20px;
	margin:0;
}
.footer .f-menu li {list-style:none; float:left;margin:0px 20px 0px 0px;}

.footer .counters {position:absolute; right: 20px;top: 45px}
.footer .counters a {display:block;float:left;margin:0px 0px 0px 10px;}

/* -- ---- footer ---- -- */

/* // ---- breadcrumbs ---- // */

.breadcrumbs {font-size:11px;line-height:20px;overflow:hidden;margin:0px 0px 15px 0px;}
.breadcrumbs a {color:#cccccc;}

.breadcrumbs .lc {float:left; width:3px;height:24px;background:url('./i/b-lc.png') no-repeat;}
.breadcrumbs .el {float:left;height:24px;background:url('./i/breadcrumb.png') repeat-x; padding:0px 12px;}
.breadcrumbs .rc {float:left;height:24px;width:16px;background:url('./i/b-rc.png') no-repeat;}
.breadcrumbs .separator {float:left;height:24px;width:16px;background:url('./i/b-separator.png') no-repeat;}

/* -- ---- breadcrumbs ---- -- */

/* // ---- result-setting ---- // */

.result-settings {
	width:240px;
	margin:0px 0px 19px 0px;
}
.result-settings .top{
	background:url('./i/r-settings.png') no-repeat;
	overflow:hidden;
	padding:18px 0px 0px 10px;
}
.result-settings .top dl {margin:-1px 0px 11px 0px;}
.result-settings .top dd {margin:0 0 0px 10px; font-weight:bold; line-height:23px;}
.result-settings .top dd a{color:#f1ffd2;text-decoration:none;border-bottom: dashed 1px #f1ffd2;}
.result-settings .b-bg {height:8px;background:url('./i/r-settings.png') -240px 0px no-repeat;}
.result-settings .top dt {background:url('./i/rset-dt.png') 0px 1px no-repeat; display:inline; position:relative;color:#b2e381;font-weight:bold; padding:0px 3px 1px 10px;}
.result-settings .top dt i{background:url('./i/rset-dt.png') right -14px no-repeat; position:absolute; right: -7px; top: 1px;width:7px;height:14px;}

/* -- ---- result-setting ---- -- */

.sidebar {width:240px;float:left; margin:0px 19px 0px 0px; clear:both;}
.content {width:661px;float:left;}


/* // ---- recommend ---- // */

.recommend {margin:0px 0px 16px 0px;}
.recommend .top {background:url('./i/240.png') no-repeat; padding:9px 12px 11px 12px; overflow:hidden;}
.recommend .b-bg {background:url('./i/240.png') -240px 0px no-repeat;}

.recommend .item {width:216px; margin:0 auto 4px auto; text-align:center; position:relative;}


.recommend .item .price {
	position:absolute;
	top: 8px;
	left: 2px;
	background:url('./i/price.png') no-repeat;
	padding:3px 0px 4px 10px;
	color:#fff;
	font-weight:bold;
}
.recommend .item .price i {
	position:absolute;
	top: 0px;
	right: -10px;
	width:10px;
	height:21px;
	background:url('./i/price.png') right bottom no-repeat;
}

.recommend .item .item-name {color:#919191;font-size:11px;}
.recommend .item .image {margin:0px 0px 3px 0px;}

.recommend h2 {font-size:18px;color:#3f3f3f;font-weight:normal; text-align:center; margin:0px 0px 6px 0px;}

.recommend .b-bg {height:10px;background:url('./i/240.png') -240px 0px no-repeat;}

/* -- ---- recommand ---- -- */

/* // ---- login-form ---- // */
.login-form {
	width:950px;
	margin:0 auto;
	display:none;
	z-index: 100;
}

.login-form form {
	position:absolute;
	top: 130px;
	right: 0px;
	width:150px;
	height:93px;
	background:url('./i/loginf.png') no-repeat;
	padding:16px;
	font-size:11px;
	z-index: 100;
}
.login-form form .input {
	width:138px;
	height:20px;
	background:url('./i/logini.png') no-repeat;
	display:block;
	padding:0px 6px;
	margin:0px 0px 6px 0px;
}
.login-form form .input input {background:none;border: 0px;color:#3f3f3f;font-size:11px; margin:3px 0px 0px 0px;}

.login-form form .button {border: 0px;background:url('./i/loginb.png') no-repeat;width:39px;height:18px;cursor: pointer; position:absolute; right: 16px; top:68px}
.login-form form .remember {cursor:pointer; position:relative; padding:2px 0 10px 17px;display:block;}
.login-form form .remember input{display:none;}
.login-form form .remember .check {display:block;width:14px;height:14px;background:url('./i/loginc.png') no-repeat; position:absolute;left: 0px;}
.login-form form .remember .checked {background-position:0 -14px;}
.login-form form .rpass {display:block;color:#498b06;margin:0;}

/* -- ---- login-form ---- -- */

/* // ---- bgray ---- // */

.bgray {}
.bgray .inner {
	background:url('./i/240g.png') no-repeat;
	overflow:hidden;
	padding:18px 20px 0px 20px;
}
.bgray .b-bg {
	height:10px;
	background:url('./i/240g.png') -240px 0 no-repeat;
}

/* -- ---- bgray ---- -- */
.content {overflow:hidden;}
.content h1 {font-size:24px;font-weight:normal;color:#333333;}
.items {width:700px;clear:both;}
.items .item {
	width:207px;
	display:inline-block;
	margin:20px 16px 0px 0px;
	position:relative;
}
.items .item .image {text-align:center;}
.items .wrap {width:950px;overflow:hidden; margin:-20px 0px 0px 0px;}
.items .item .itop {
	background:url('./i/207.png') no-repeat;
	padding:10px 13px 0px 13px;
}
.items .item .bottom {
	width:207px;
	height:10px;
	background:url('./i/207.png') -207px 0px no-repeat;
}
.items .item .price {
	position:absolute;
	top: 3px;
	left: 3px;
	background:url('./i/price.png') no-repeat;
	padding:3px 0px 4px 10px;
	color:#fff;
	font-weight:bold;
}
.items .item .price i {
	position:absolute;
	top: 0px;
	right: -10px;
	width:10px;
	height:21px;
	background:url('./i/price.png') right bottom no-repeat;
}

.items .item .item-name {font-size:11px;color:#3f3f3f; margin:0px 0px 8px 0px; display:block;}
.items .item .actions {font-weight:bold;font-size:11px; overflow:hidden;}
.items .item .actions .buy {background:url('./i/buy.png') no-repeat; padding:5px 0px 5px 28px;color:#498b06; float:left;}
.items .item .actions .compare {background:url('./i/wcompare.png') no-repeat;color:#919191;padding:5px 0px 5px 28px; float:right;}

.page-navigation {clear:both;padding:37px 0px 0px 0px; margin:0px 0px 30px 0px;overflow:hidden;}
.page-navigation dl {margin:0;}
.page-navigation dt {color:#666666;font-size:11px;margin:0px 0px 14px 0px;}
.page-navigation dd {margin:0;font-weight:bold;}
.page-navigation dd a{color:#3f3f3f;}
.page-navigation dd ul {margin:0;}
.page-navigation dd ul li {list-style-type:none; float:left;padding:0px 3px 2px 3px;margin:0px 2px 0px 0px;color:#999999;}
.page-navigation dd ul li.active {background:#242424 url('./i/pnav.gif');color:#cccccc;text-decoration:none;}
.page-navigation dd ul li a{}
.page-navigation dd ul li.previous {margin:0px 8px 0px 0px;padding:0;}
.page-navigation dd ul li.active a{color:#cccccc;text-decoration:none;}

.g-bread {clear:both; overflow:hidden;}
.g-bread a{color:#fff;font-size:18px;text-decoration:none;}
.g-bread i{float:left;}
.g-bread i.lc {width:3px;height:26px;background:url('./i/glc.png') no-repeat;}
.g-bread i.rc {width:3px;height:26px;background:url('./i/grc.png') no-repeat;}
.g-bread .el {height:26px;background:url('./i/g-br.png') repeat-x;float:left;color:#fff;font-size:18px;padding:0px 12px; line-height:24px;}
.g-bread .separator {height:26px;width:13px;background:url('./i/g-s.png') repeat-x;float:left;}

.content h1 {margin:0px 0px 10px 0px;}

/* // ---- select ---- // */
.iactions {position:relative;z-index: 2;}
.iactions label {clear:both;display:block;margin:0px 0px 3px 0px;font-size:11px;}
.iactions .select {}


.foption .choice, .soption .choice {padding:0px 0px 0px 4px;float:left; display: block;width: 168px; height: 21px; background: url('./i/s168.png') 0px 0px no-repeat;border: 0px; position: relative;}

.foption select, .soption select {}

.sort {float:left;}
.numbers {float:right;position:relative;}
.sort .select {width:158px;position:absolute;background: url('./i/s168.png') 0px 0px no-repeat;float:left;height:21px;line-height:19px;padding:0px 0px 0px 10px;}
.sort select.styled {width:168px;}
.numbers .choice {padding:0px 0px 0px 4px;float:left; display: block;width: 61px; height: 21px; background: url('./i/s65.png') 0px 0px no-repeat;border: 0px; position: relative;}

.numbers {}
.numbers .select {width:55px;height:21px;position:absolute;background: url('./i/s65.png') 0px 0px no-repeat;padding:0px 0px 0px 10px;line-height:19px;}
.numbers select.styled {width:65px;}

/* -- ---- select ---- -- */

/* // ---- Product ---- // */

.product {width:100%;}

.gallery {
	width:322px;
	float:left;
	overflow:hidden;
	margin:0 20px 0 0;
}

.gallery .image {
	width:320px;
	border:1px solid #dddddd;
	position:relative;
	margin:5px 0px 20px 0px;
}
.gallery .image img {display:block;}

.gallery .lt, .gallery .rt, .gallery .lb, .gallery .rb {
	display:block;
	width:9px;
	height:9px;
	background:url('./i/corner.gif') no-repeat;
	position:absolute;
	overflow:hidden;
}
.gallery .lt {top: -1px; left: -1px;background-position:0 0;}
.gallery .rt {top: -1px; right: -1px; background-position:right 0;}
.gallery .lb {bottom: -1px; left: -1px; background-position:0 -9px;}
.gallery .rb {bottom: -1px; right: -1px; background-position:right -9px;}

.gallery .images {margin:0;width:340px;}
.gallery .images li {position:relative; width:150px;height:150px; border:1px solid #dddddd; list-style-type: none; float:left; margin:0px 18px 0px 0px;}

.product-info {float:left;width:356px;margin:0px 50px 0px 0px;}
.product-info .buy {margin:0px 15px 0px 0px;float:left;text-align:center;display:block;width:94px;height:33px;line-height:27px;font-size:20px;color:#fff;text-decoration:none;background:url('./i/p-buy.png') no-repeat;}
.product-info .compare {float:left;color:#919191;font-size:11px; margin:11px 0px 0px 0px;}

.product strong.price {color:#cc3333;font-size:18px;font-weight:normal;clear:both;display:block;margin:0px 0px 6px 0px;}

.product h1 {margin:-6px 0px 20px 0px;}



.product-info .actions {overflow:hidden;}

.properties {border-bottom: 1px dashed #b6b6b6; font-size:14px;color:#3f3f3f; margin:22px 0px 30px 0px;}
.properties td {background:#f7f7f7; border-top: 1px dashed #b6b6b6; padding:3px 13px 4px 9px;}

.description {font-size:14px;color:#040303;}

.additional {width:172px;float:left;overflow:hidden;}
.additional h2 {font-size:18px;color:#333333;font-weight:normal;margin:0px 0px 6px 0px;}
.additional .item {
	width:172px;
	float:left;
	margin:0px 0px 20px 0px;
	position:relative;
}
.additional .item .image {text-align:center;}
.additional .item .itop {
	background:url('./i/172.png') no-repeat;
	padding:10px 13px 0px 13px;
	overflow:hidden;
	width:146px;
}
.additional .item .bottom {
	width:172px;
	height:10px;
	background:url('./i/172.png') -172px 0px no-repeat;
}
.additional .item .price {
	position:absolute;
	top: 3px;
	left: 3px;
	background:url('./i/price.png') no-repeat;
	padding:3px 0px 4px 10px;
	color:#fff;
	font-weight:bold;
}
.additional .item .price i {
	position:absolute;
	top: 0px;
	right: -10px;
	width:10px;
	height:21px;
	background:url('./i/price.png') right bottom no-repeat;
}

.additional .item .item-name {font-size:11px;color:#3f3f3f; margin:9px 0px 5px 0px; display:block; text-align:center;}
.additional .item .actions {font-weight:bold;font-size:11px; overflow:hidden;}
.additional .item .actions .buy {background:url('./i/buy.png') no-repeat; padding:5px 0px 5px 28px;color:#498b06; float:left;}
.additional .item .actions .compare {background:url('./i/wcompare.png') no-repeat;color:#919191;padding:5px 0px 5px 28px; float:right;}


.comments {width:750px;margin:-5px 0px 0px 0px;}
.comments {font-size:11px;}
.comments .comment {margin:0px 0px 22px 0px;}
.comments .comment .name {font-size:18px;color:#498b06;text-decoration:none;}
.comments .comment .date {font-size:11px;color:#919191;}
.comments .comment {margin-top:-2px;}


.add-comment {
	background:#ececec url('./i/c-bg.png') repeat-x;
	margin:0px 0px 0px -15px;
	padding:30px 30px 38px 15px;
	width:920px;
}
.add-comment h2 {
	font-size:18px;
	color:#333333;
	font-weight:normal;
	margin:0px 0px 7px 0px;
}

.add-comment .name {
	background:url('./i/c-i.png') no-repeat;
	width:200px;
	height:23px;
	margin:0px 0px 10px 0px;
}
.add-comment .name input {border: 0px; background:none;width:190px;font-size:12px;color:#3f3f3f; margin:4px 0px 0px 5px;font-family:Tahoma;}
.add-comment .comment-text {
	background:url('./i/c-t.png') no-repeat;
	width:500px;
	height:62px;
	margin:0px 0px 10px 0px;
}
.add-comment .comment-text textarea {
	border: 0px;
	background:none;
	width:490px;
	height:54px;
	font-size:12px;color:#3f3f3f;
	font-family:Tahoma;
	margin:4px 0px 0px 5px;
}
.add-comment .send {float:left;margin:0px 9px 0px 0px;}
.add-comment .send input {width:97px;height:25px;border: 0px; background:url('./i/c-send.png');cursor: pointer}
.add-comment .icaptcha {width:94px;height:23px;background:url('./i/c-ca.png') no-repeat;float:left; margin:0px 10px 0px 0px; display:inline;}
.add-comment .captcha {float:left;}
.add-comment .icaptcha input {width:84px;border: 0px; background:none;	font-size:12px;color:#3f3f3f;	font-family:Tahoma;margin:4px 0px 0px 5px;}
.add-comment .img-c {float:left;margin:0px 10px 0px 0px;}
.add-comment .reload {font-size:11px;color:#040303;border-bottom: 1px dotted #040303; text-decoration:none;margin:4px 0px 0px 0px;display:block; float:left;}
.add-comment .captcha small {font-size:11px;color:#919191;display:block;clear:both; padding:4px 0px 0px 0px;}

.product-n .goods .b-inner {padding-bottom:40px;}
.product-n .text .b-inner {padding-bottom:20px;}