/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 11px;
	height: 100%;
	font-family:Tahoma;
	background: #c2e8fc url('./i/bg.png') repeat-x;
}
a {outline: none;}
a:hover {text-decoration: none;}
img {border: none;}
#wrapper {
	min-height: 100%;
	min-width: 912px;
	height: auto !important;
	height: 100%;
	margin: 0 auto 0px auto;
	position:relative;
	padding:0px 47px 0px 40px;
	background:url('./i/bg-w.png') 37px 386px no-repeat;
}


.clear {clear:both;}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 67px;
	padding:36px 0px 0px 0px;
}


/* Middle
-----------------------------------------------------------------------------*/
#content {
	width: 100%;
	height: 1%;
}
#content:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 225px;
}

.navigation {
	height:33px;
	position:relative;
}
.navigation ul {
	margin:0;
}
.navigation ul li{
	margin:0px 1px 0px 0px;
	list-style:none;
	display:block;
	width:115px;
	height:33px;
	background:url('./i/nav.png') no-repeat;
	float:left;
	color:#5389be;
	font-weight:bold;
	text-align:center;
	line-height:31px;
}
.navigation ul li a {color:#5389be;}
.navigation ul li.active{
	background:url('./i/nav-a.png');
	color:#ff6600;
}
.navigation ul li.active a {text-decoration:none;color:#ff6600;}

.navigation h1 {
	position:absolute;
	right: 0px;
	top:6px;
	font-family:Verdana;
	font-size:17px;
	color:#fff;
}

.content .page {
	font-family:Verdana;
	background:#fff;
	padding:25px 28px;
}
.content .page .f-left{
	float:left;
}
.content .page h2 {
	color:#ff6600;
	font-size:14px;
	font-weight:normal;
	margin:0px 0px 15px 0px;
}
.content .page p {
	line-height:18px;
	margin:0px 0px 10px 0px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
.sidebar {
	float: left;
	width: 225px;
	margin-left: -100%;
	position: relative;
	padding:19px 0px 0px 0px;
}

.sidebar .menu {
	text-align:right;
	margin:0px 0px 0px 11px ;
	width:198px;
}
.sidebar .menu li ul {
	margin:0px 15px 3px 0px;
	line-height:17px;
}
.sidebar .menu li ul li {margin:0;}
.sidebar .menu  li {
	list-style:none;
	margin:0px 0px 4px 0px;
}
.sidebar .menu  li a {color:#5389be;}
.sidebar .menu  li .title {
	display:block;
	width:184px;
	height:26px;
	line-height:26px;
	padding:0px 15px 0px 0px;
	background:url('./i/menu-p.png') no-repeat;
	text-transform:uppercase;
	margin:0px 0px 3px 0px;
}
.sidebar .menu  li .title a {text-decoration:none;}

