/* // ---- hasLayout ---- // */
.content, 
.user-panel, 
.different .tabs, 
.main-block, 
.main-block-content, 
.main-block-content .b-content, 
.main-block-content .b-content h2, 
.help dt, .help dd, 
.icon-file, 
.my-account .login form p, 
.specialization-list,
.b-bright, 
.news, 
.contacts, .upload-from-url .checkbox, .upload-from-url .checkbox dd  {zoom: 1;}
/* -- ---- hasLayout ---- -- */

.user-panel form.login {}
.user-panel form.login dl{_margin:0px 39px 0px 0px; _display:inline;  }
.user-panel form.login dd {margin-right:8px; }
/*.user-panel .navigation li.chose-language {_width:180px; }*/

#header form.login {_right:-37px; }
.sidebar {_margin-right:25px; }

.b-content h2 {position:relative; zoom: 1;}

span.select{padding-top:4px; }

.registration form .name {_margin-left:1px; }

.registration form .hint  i{zoom: 1;}
.registration form .hint i i{top:50%;position: absolute; left:5px; zoom: 1;}
.registration form .hint i i i{top:-50%;position: relative; zoom: 1; margin-top: -10px}
.registration p.offer {background-position:0px 5px; }
.registration p.offer .icon-file {padding:0px 10px 0px 0px; }

.icon-file  {overflow:hidden; }

.help-block .text .download span {padding-top:0px; padding-bottom:0; padding-right:0px; }


.my-account .login dd.b-login span.button {_margin:-33px 0px 0px 0px; }

.my-bill .select-country dd span.select {_display:none; }

/* // ---- IE6 Inline ---- // */

#header h1, .registration form label, span.select-l, span.select-s, .registration ul.tabs a .step, .registration form dd.email,
.upload-from-url .checkbox dt {_display:inline; }

/* -- ---- IE6 Inline ---- -- */
.registration form dd.email {_margin-right:37px; }
.registration form dt.name-h {_right: -12px}

/* // ---- graceful degradation for ie6 ---- // */
form.tenders .tenders .s-description li i {display:none; }
/* -- ---- graceful degradation for ie6 ---- -- */


.page-navigation {_display:inline; }

form.tenders .options dt {padding:4px 0px 0px 0px; }

.upload-from-url dt.your-text label{width:280px;  }

/* // ---- Ways ---- // */

.my-bill .ways li div {zoom: 1;}
.my-bill .ways li div div{position: absolute; top:50%; left:5px; zoom: 1;}
.my-bill .ways li div div div{top:-50%;position: relative; zoom: 1; margin-top: -10px}

/* -- ---- Ways ---- -- */