/*

------------------------------------------------------
author:    Aleksey Krekotun
email:     dobrii.ru@gmail.com
icq:       536136
skype:     dobrii_ru
website:   www.dobrii.ru
------------------------------------------------------

*/
/* Reset
---------------------------------------------------------- */

@import 'reset.css';

/* Main Styles
---------------------------------------------------------- */


html {font-size: 100.1%; height: 100%;}
body {background: #f5f4f0 url(./i/bg.png) no-repeat;color: #535a60;font-family: Georgia;font-size: 12px;min-width: 965px;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
.empty { height: 33px; margin-bottom: 30px; }
.clear { clear: both; }
a:hover { text-decoration: none; }
#wrapper { margin: 0 auto; position: relative; width: 965px; }
span.w74, span.w74 input { width: 74px; }
span.w72, span.w72 input { width: 72px; }
span.w110, span.w110 input { width: 110px; }
span.w159, span.w159 input { width: 159px; }
span.w172, span.w172 input { width: 172px; }
span.w270, span.w270 input { width: 270px; }

/* // ---- Header ---- // */
#header {background: #5e656c url('./i/header.png') no-repeat;height: 114px;margin: 5px 0px 30px 0px;padding: 25px 39px 0px 0px;position: relative;width: 926px;z-index: 100;}
#header h1, #header h1 a { display: block; height: 102px; width: 216px; }
#header h1 { float: left; margin: 0px 0px 0px 22px; }
#header h1 a {background: url('./i/logo.png') no-repeat;text-indent: -1999em;}

/* -- ---- Header ---- -- */

/* // ---- Menu ---- // */
#menu {clear: both;float: right;margin-top: -27px;position: relative;z-index: 0;}
#menu li {background: #52595f;border-left: 1px solid #484f56;border-right: 1px solid #484f56;border-top: 1px solid #484f56;float: left;font-size: 15px;height: 38px;margin-left: 7px;position: relative;}
#menu .home a { width: 98px; }
#menu .home a span{ width: 100px; }
#menu .about a { width: 111px; }
#menu .about a span{ width: 113px; }
#menu .services a { width: 91px; }
#menu .services a span{ width: 93px; }
#menu .translators a { width: 144px; }
#menu .translators a span{ width: 146px; }
#menu .contacts a { width: 119px; }
#menu .contacts a span{ width: 121px; }
#menu li.active { background: #f5f4f0; }
#menu li.active a span{ display: none; }
#menu li.active a { color: #495057; }
#menu li a {color: #eef0e6;display: block;height: 28px;padding-top: 10px;text-align: center;text-decoration: none;}
#menu li a span {background: url('./i/menu-span.png') bottom repeat-x;bottom: 0px;display: block;height: 4px;left: -1px;margin: 0;padding: 0px;position: absolute;z-index: 0;}
/* -- ---- Menu ---- -- */

/* // ---- User Panel ---- // */
.user-panel { color: #eef0e6; position: relative; z-index: 100; }
.user-panel form.login {
	display: block;
	font-size: 12px;
	overflow: hidden;
	position: absolute;
	right: 0;
}

.user-panel form.login dl { float: right; margin: 0px 0px 0px 0px; }

.user-panel form.login dt { float: left; margin: 6px 10px 0px 0px; }

.user-panel form.login dd {
	background: url('./i/up-i-bg.png') no-repeat;
	display: block;
	float: left;
	margin: 0px 17px 0px 0px;
}

.user-panel form.login dt.button-h { display: none; }

.user-panel form.login dd.button { margin: 0; }

.user-panel form.login dd.button input {
	background: #b06361;
	border-bottom: 1px solid #9f5553;
	border-left: 1px solid #c9817e;
	border-right: 1px solid #9f5553;
	border-top: 1px solid #c9817e;
	color: #eef0e6;
	display: block;
	font-family: Georgia;
	font-size: 12px;
	height: 22px;
	letter-spacing: 0px;
	padding: 0px;
	text-transform: none;
	width: 72px;
}

.user-panel form.login dd input {
	background: none;
	border: 0px;
	color: #535a60;
	font-family: Georgia;
	font-size: 12px;
	padding: 5px 5px 4px 5px;
	width: 110px;
}

.user-panel .navigation {
	font-size: 11px;
	margin: 16px 0px 0px 0px;
	position: absolute;
	right: 0px;
	top: 20px;
}

.user-panel .navigation a { color: #eef0e6; text-decoration: none; }

.user-panel .navigation li {
	display: inline;
	float: left;
	height: 15px;
	margin-left: 10px;
	position: relative;
}

.user-panel .navigation li a { display: block; padding: 4px 0px 0px 20px; }

.user-panel .navigation li.inbox a{
	background: url('./i/chose-arr.gif') right 8px no-repeat;
	padding-right: 14px;
}

.user-panel .navigation li.inbox i{
	background: url('./i/inbox.gif') no-repeat;
	display: block;
	float: left;
	height: 13px;
	margin: 0px 8px 0px 0px;
	width: 20px;
}

.user-panel .navigation li.inbox b{
	float: left;
	font-weight: normal;
	margin: 0px 5px 0px 0px;
}

.user-panel .navigation li.settings {
	background: url('./i/settings.gif') 0px 4px no-repeat;
	margin: 0px 0px 0px 14px;
}

.user-panel .navigation li.p- {
	background: url('./i/p-.gif') 0px 4px no-repeat;
	margin: 0px 0px 0px 14px;
}

.user-panel .navigation li.cant-access { background: url('./i/cant-a.gif') 0px 2px no-repeat; }

.user-panel .navigation li.create-account { background: url('./i/create-a.gif') 0px 2px no-repeat; }

.user-panel .navigation li.chose-language a{
	background: url('./i/chose-arr.gif') right 8px no-repeat;
	padding-left: 0;
	padding-right: 14px;
}

.user-panel .navigation .flag{
	background: url('./i/flags.png') no-repeat;
	border: 1px solid #40464c;
	display: block;
	float: left;
	height: 13px;
	margin: -3px 7px 0px 0px;
	overflow: hidden;
	width: 18px;
}

.user-panel .navigation li .en { background-position: 0 0; }

.user-panel .navigation li.chose-language div.languages {
	left: -13px;
	margin: 0;
	position: absolute;
	top: 29px;
	background: url('./i/lang-bg.png');
	padding: 0px 0px 5px 0px;
	width: 180px;
	z-index: 100;
	display:none; 
}


.user-panel .navigation li.chose-language .languages ul {
	background: #f8f9f5;
	border: 1px solid #e2e5d9;
	overflow: hidden;
	padding: 0px 3px 0px 3px;
	width: 166px;
}

#header .user-panel .navigation li.chose-language .languages ul li{
	background: url('./i/clang-ulli.gif') no-repeat;
	display: block;
	float: none;
	font-size: 11px;
	height: 26px;
	line-height: 26px;
	margin: -1px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	width: 158px;
}

#header .user-panel .navigation li.chose-language .languages ul li a { color: #5b6268; text-decoration: none; }

#header .user-panel .navigation li.chose-language .languages ul li a span{
	border: 1px solid #e2e5d9;
	display: block;
	float: left;
	height: 13px;
	margin: 5px 7px 0px 0px;
	overflow: hidden;
	width: 18px;
}

#header .user-panel .en .flag{ background-position: 0 0; }
#header .user-panel .ru .flag{ background-position: -108px 0; }
#header .user-panel .bl .flag{ background-position: -18px 0; }
#header .user-panel .cz .flag{ background-position: -36px 0; }
#header .user-panel .fr .flag{ background-position: -54px 0; }
#header .user-panel .it .flag{ background-position: -72px 0; }
#header .user-panel .pr .flag{ background-position: -90px 0; }
#header .user-panel .su .flag{ background-position: -126px 0; }
.user-panel .navigation li.chose-language ul li { background: none; margin: 0; padding: 0; }
.user-panel .navigation li.chose-language ul li a{ background: none; margin: 0; padding: 0; }

/* -- ---- User Panel ---- -- */
#container { }

.sidebar { float: right; margin-right: 30px; width: 275px; }

/* // ---- Estimate ---- // */
.estimate {

	padding: 0px 0px 5px 0px;
}

.estimate h2 {
	background: #5e656c url('./i/estimate-h2.png') no-repeat;
	color: #eef0e6;
	font-size: 14px;
	height: 36px;
	letter-spacing: 0.19em;
	padding: 23px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
	width: 275px;
}

.estimate .b-form {
	background: #905656 url('./i/est-bg.gif') repeat-y;
	color: #eef0e6;
	font-size: 11px;
	margin-top: 0px;
}

.estimate .b-form form {
	background: url('./i/est-t.gif') 0px 0px no-repeat;
}
.estimate .b-form form fieldset {background: url('./i/est-b.gif') bottom no-repeat;	margin: 0px 0px 0px 0px;
	padding: 12px 12px 8px 15px;}

.estimate p.description {
	background: url('./i/estimate-a.gif') 0px 3px no-repeat;
	display: inline;
	line-height: 15px;
	padding-left: 17px;
}

.estimate .b-form .line { border-bottom: 1px dotted #a56968; }

.estimate .select-language {
	background: url('./i/est-arrow.gif') 120px 0px no-repeat;
	height: 36px;
	margin-top: 15px;
}

.estimate .select-language .select { float: left; width: 106px; }

.estimate .select-language .left { margin-right: 36px; }

.estimate .select-size { height: 41px; }

/*Radio*/
.estimate .select-size label {
	color: #fff;
	float: left;
	font-size: 12px;
	margin-bottom: 12px;
	margin-left: 8px;
	margin-top: 14px;
	padding-bottom: 1px;
	position: relative;
}

.estimate label.size {
	background: url('./i/est-in.png') no-repeat;
	height: 20px;
	margin: 10px 0px 0px 0px;
	width: 65px;
}

.estimate label.size input{
	background: none;
	border: 0px;
	display: block;
	font-family: Arial;
	font-size: 11px;
	margin-top: 2px;
	padding-left: 4px;
	padding-right: 5px;
	width: 55px;
}

.estimate .b-form form .button { margin: 10px 0px 0px 68px; }

/* -- ---- Estimate ---- -- */
/* // ---- We accept ---- // */
.we-accept { margin: 20px 0px 0px 0px; text-align: center; }

.we-accept h2{ color: #989d9a; font-size: 14px; margin-bottom: 15px; }

/* -- ---- We accept ---- -- */
/* // ---- Contacts ---- // */
div.b-bright {
	background: url('./i/contacts-t.png') no-repeat;
	color: #535a60;
	font-size: 12px;
	line-height: 24px;
	margin-top: 15px;
	text-align: center;
}

div.b-bright div{
	background: url('./i/contacts-b.png') bottom no-repeat;
	padding: 10px;
}

div.b-bright h2 {
	background: #eef0e6;
	border: 1px solid #cdd0ca;
	color: #989d9a;
	font-size: 14px;
	height: 25px;
	letter-spacing: 0.19em;
	line-height: 14px;
	padding: 12px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
}

div.contacts strong {
	display: block;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 11px;
	margin-top: 9px;
}

div.news { text-align: left; }

div.news h2 { color: #535a60; font-size: 12px; letter-spacing: 0; }

div.news h3 { margin: 9px 0px 0px 9px; }

div.news p { line-height: 15px; padding: 0px 9px 0px 9px; }

div.news h3 a{
	color: #925353;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
}

/* -- ---- Contacts ---- -- */
.content {
	float: right;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 18px;
	position: relative;
	width: 642px;
	zoom: 1;
}

/* // ---- Main block ---- // */
.main-block{
	background: url('./i/main-block-m.png') repeat-y;
	width: 643px;
}
.main-block-background {
	background: url('./i/main-block-t.png') top no-repeat;
}
.main-block-content {
	background: url('./i/main-block-b.png') bottom no-repeat;
	padding: 11px;
}

.main-block .b-content { background: #eef0e6; border: 1px solid #c7cbc4;  padding: 17px 26px 25px 25px;}

/* -- ---- Main block ---- -- */
/* // ---- Different ---- // */
.content .different h2 {
	background: #798188 url('./i/different-h2.png') no-repeat;
	color: #eef0e6;
	display: block;
	font-size: 32px;
	height: 64px;
	margin: 30px 0px 0px -52px;
	padding: 10px 0px 0px 50px;
	width: 411px;
}

.different .main-block-content .b-content {
	background: #eef0e6;
	border: 1px solid #c7cbc4;
	padding: 0px 23px 30px 23px;
}

.different .main-block-content .b-content p {
	color: #4e5459;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	position: relative;
}

.different .main-block-content .b-content p b { color: #925353; font-weight: normal; }

.tabs { margin-top: -1px; overflow: hidden; }

.tabs li { float: left; height: 51px; width: 204px; }

.tabs li a {
	background: url(./i/tab.png) 0px -51px no-repeat;
	display: block;
	height: 51px;
	width: 204px;
}

.tabs li a.current{ background-position: 0px 0px; }

.tabs li a {
	color: #535a60;
	display: block;
	font-size: 14px;
	height: 51px;
	line-height: 51px;
	text-decoration: none;
}

.tabs li.first{ margin-right: 5px; }
.tabs li.second { margin-right: 4px; }
.tabs li.active { }

.different .tabs li a span { display: block; height: 51px; }

.different .tabs li.first a span{
	background: url('./i/how.gif') 26px 12px no-repeat;
	padding: 0px 0px 0px 68px;
	width: 136px;
}

.different .tabs li.second a span{
	background: url('./i/translate.gif') 19px 12px no-repeat;
	padding: 0px 0px 0px 62px;
	width: 142px;
}

.different .tabs li.third a span{
	background: url('./i/translater.gif') 20px 12px no-repeat;
	padding: 0px 0px 0px 66px;
	width: 138px;
}

/* -- ---- Different ---- -- */
/* // ---- Offers ---- // */
.offers { margin: 12px 0px 0px 0px; }
.offers li {
	background: url('./i/banner.png') no-repeat;
	color: #535a60;
	float: left;
	font-size: 12px;
	height: 110px;
	line-height: 16px;
	padding: 22px 0px 0px 0px;
	text-align: center;
	width: 207px;
}
.offers li a {color: #535a60; text-decoration:none;  }

.offers li.first, .offers li.second { margin-right: 10px; }
.offers li.first img { margin-top: 5px; }
.offers li .small { font-size: 11px; line-height: 12px; }
.offers li.second span {
	color: #925353;
	display: block;
	font-size: 18px;
	margin-top: 4px;
	text-transform: uppercase;
}

.offers li.second .s14 {
	color: #535a60;
	font-size: 14px;
	margin-bottom: 4px;
	margin-top: 0px;
	text-transform: none;
}

.offers li.first .s44 { margin-bottom: -5px; margin-top: 15px; }
.offers li .s44 {
	color: #925353;
	display: block;
	font-family: "Times New Roman";
	font-size: 44px;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
}

.offers li.third .s44 { display: inline; line-height: 40px; }

/* -- ---- Offers ---- -- */
/* // ---- Statistics ---- // */
.statistics {
	color: #535a60;
	font-size: 15px;
	margin: 10px 0px 0px 0px;
	text-align: center;
}

.statistics .b-content { padding: 10px 0px; }
.statistics .b-content b{ color: #925353; font-weight: normal; }

/* -- ---- Statistics ---- -- */


/* // ---- Registration ---- // */
.customer-registration { }
span.button { border: 1px solid; display: block; }
span.button input {
	border: 1px solid;
	color: #eef0e6;
	display: block;
	font-family: Georgia;
	font-size: 12px;
	height: 21px;
	letter-spacing: 1px;
	padding: 0px;
	text-transform: uppercase;
}
/* // ---- button style ---- // */
span.b-red { background: #b06361; border-color: #8a4443; }
span.b-red input{background: #b06361;border-bottom: 1px solid #9f5553;border-left: 1px solid #c9817e;border-right: 1px solid #9f5553;border-top: 1px solid #c9817e;}
span.b-grey { background: #676e74; border-color: #555c61; }
span.b-grey input{background: #676e74;border-bottom: 1px solid #555c61;border-left: 1px solid #848c92;border-right: 1px solid #555c61;border-top: 1px solid #848c92;}
/* -- ---- button style ---- -- */


.registration form { font-size: 12px;}
.registration dl { }
.registration .step-f dt, .registration .step-f dd { margin-bottom: 28px; }
.registration form dt { display: block; float: left; margin: 5px 0px 0px 0px; }
.registration form dt.email-h, .registration form dt.password-h { width: 75px; }
.registration form dd { display: block; float: left; position: relative; }
.registration form dd.input { width: 190px; }
.registration form label {
	display: block;
	float: left;
	font-size: 14px;
	position: relative;
}

.registration form dd.email { margin: 0px 38px 0px 0px; }
.registration form dd.checkbox-r { margin: 4px 15px 0px 0px; }
.registration form dt.name-h { position: relative; right: -18px; width: 163px; }
.registration form dd.name { float: right; }
.registration form dd.r-button { margin: 0; }

.registration form .email input, .registration form .password input, .registration form .name input {
	border: 1px solid #cdd0ca;
	color: #535a60;
	float: left;
	font-family: Georgia;
	font-size: 14px;
	padding: 3px 5px 3px 5px;
	vertical-align: middle;
	width: 178px;
}

.registration form div.line { padding-bottom: 28px; }

.icon-file {
	background: url('./i/icon-file.gif') no-repeat;
	display: block;
	height: 19px;
	width: 19px;
}

.registration p.offer {
	background: url('./i/offer.gif') 0px 2px no-repeat;
	font-size: 12px;
	line-height: 14px;
	margin: 12px 0px 0px 0px;
	padding: 0px 0px 0px 21px;
}

.registration p.offer a { color: #a56968; text-decoration: none; }

.registration p.offer .icon-file {
	display: inline;
	overflow: hidden;
	padding: 2px 18px 3px 10px;
}

.registration ul.tabs { }
.registration ul.tabs a .step {
	background: url('./i/tab-step.gif') no-repeat;
	color: #eef0e6;
	display: block;
	float: left;
	font-size: 24px;
	height: 32px;
	line-height: 26px;
	margin-top: 10px;
	text-align: center;
	width: 32px;
}

.registration ul.tabs .current .step { background-position: 0px -32px; }
.registration ul.tabs .first .step { margin-left: 25px; margin-right: 17px; }
.registration ul.tabs .second .step { margin-left: 20px; margin-right: 13px; }
.registration ul.tabs .third .step { margin-left: 13px; margin-right: 11px; }

.b-content .step-s div.line {
	margin: 0px 0px 39px 0px;
	overflow: hidden;
	padding: 0px;
}

span.select-l {
	float: left;
	margin-right: 21px;
	margin-top: 7px;
	position: relative;
	width: 223px;
}

span.select-l b {
	display: block;
	float: left;
	font-weight: normal;
	padding: 3px 0px 0px 0px;
	width: 122px;
}

span.select-s {
	float: left;
	margin-top: 7px;
	position: relative;
	width: 169px;
}

span.select-s b {
	display: block;
	float: left;
	font-weight: normal;
	padding: 3px 0px 0px 0px;
	width: 55px;
}

.specialization { float: left; font-size: 14px; margin: 0px 0px 0px 15px; }

.specialization, .specialization a {
	color: #925353;
	display: block;
	height: 35px;
	line-height: 35px;
	position: relative;
	text-decoration: none;
	width: 138px;
}

.specialization a .show {
	background: url('./i/step-s-arr.gif') 14px 4px no-repeat;
	padding: 0px 0px 0px 25px;
}

.specialization a .hide {
	background: url('./i/step-s-close.gif') 100px 11px no-repeat;
	display: none;
	padding: 0px 21px 0px 0px;
	text-align: center;
}

.specialization a.active {
	background: #f5f4f0;
	border-left: 1px solid #cdd0ca;
	border-right: 1px solid #cdd0ca;
	border-top: 1px solid #cdd0ca;
}

.specialization a.active .hide { display: block; }
.specialization a.active .show { display: none; }
.specialization-list {
	background: #f5f4f0;
	border: 1px solid #cdd0ca;
	clear: both;
	display: none;
	margin-top: -1px;
	overflow: hidden;
	padding: 12px 0px 3px 24px;
}

.specialization-list table { }
.specialization-list table td{ height: 35px; vertical-align: middle; }
.specialization-list .f-co { width: 129px; }
.specialization-list .s-co { width: 101px; }
.specialization-list .t-co { width: 103px; }
.specialization-list .fr-co { width: 130px; }
.specialization-list .l-co { width: 300px; }
.b-content .specialization-list label { font-size: 12px; }
.b-content .specialization-list label span { width: 15px; }

.specialization-list ul li {
	color: #925353;
	float: left;
	height: 35px;
	line-height: 35px;
}
.specialization-list ul li label span{ margin: 10px 0px 0px 0px; }

.step-s .add-language {
	background: url('./i/step-s-arr.gif') 0px 4px no-repeat;
	color: #925353;
	display: block;
	font-size: 16px;
	margin-bottom: 21px;
	margin-top: -23px;
	padding: 0px 0px 0px 14px;
	text-decoration: none;
}

span.add-file { float: left; margin-right: 8px; }
p.file { font-size: 14px; overflow: hidden; margin:0px 0px 10px 0px; }
p.file a { color: #925353; float: right; text-decoration: none; }
span.save-changes {display:block; margin:15px 0px 0px 0px; }

span.file {
	background: url('./i/file-reg.png') no-repeat;
	display: block;
	float: left;
	height: 19px;
	margin-right: 26px;
	margin-top: 0px;
	overflow: hidden;
	position: relative;
	width: 129px;
}

span.file input {
	filter: alpha(opacity=0);
	height: 19px;
	opacity: 0;
	position: absolute;
	right: 0px;
}

.show-file-b {
	background: #f5f4f0;
	border: 1px solid #cdd0ca;
	display: none;
	margin-bottom: 20px;
	padding: 10px;
}


/* -- ---- registration ---- -- */
.content h2 { }


.breadcrumb span { color: #676e74; }

/* // ----  ---- // */


a.help-link {
	position:absolute;
	background: url('./i/help.png') no-repeat;
	color: #925353;
	display: block;
	font-size: 18px;
	height: 50px;
	line-height: 42px;
	padding: 0px 0px 0px 69px;
	text-decoration: none;
	width: 122px;
right: 11px;top: 6px;
}
.help a.help-link-active {background-position: 0px -50px; color: #f5f4f0;}
a.help-link .hide{ display: none; }
a.help-link-active .show{ display: none; }
a.help-link-active .hide{ display: block; }

.help dl{
	display: none;
	font-size: 14px;
	padding: 20px 0px 26px 0px;
	margin:57px 0px 0px 0px; 
}

.help a{ color: #763c3c; text-decoration: none; }

.help dt{
	background: url('./i/help-dt.gif') 0px 9px no-repeat;
	display: block;
	font-size: 18px;
	margin: 0px 0px 27px 0px;
	padding: 0px 0px 0px 22px;
}

.help dt.active {
	background: url('./i/help-dt-a.gif') 0px 7px no-repeat;
	margin: 0;
}

.help dt.active a{ color: #52595f; }

.help dd{
	background: #eef0e6;
	border: 1px solid #dee1d4;
	display: none;
	line-height: 18px;
	margin: 7px 11px 9px 22px;
	padding: 6px 20px 9px 20px;
}

.help .download {
	border: 1px solid #dcdddb;
	font-size: 12px;
	padding: 13px 35px 11px 12px;
	display:none; 
	margin: 0px 0px -16px 0px; 
}

.help .download span{
	border: 0;
	display: inline;
	padding: 0;
	padding: 2px 18px 2px 10px;
}

.help a {

}

.help a.active {}

/* -- ---- hint ---- -- */
.registration form .hint {
	background: url('./i/form-hint.gif') no-repeat;
	color: #eef0e6;
	display: none;
	font-size: 11px;
	font-style: italic;
	height: 50px;
	left: 0px;
	line-height: 14px;
	padding: 0 12px 10px 12px;
	position: absolute;
	text-align: center;
	top: -53px;
	width: 166px;
}
.registration form .hint-active {display:block; }
.registration form .hint i { display: table; height: 50px; width: 166px; }
.registration form .hint i i {display: table-cell;height: auto;vertical-align: middle;}

.registration form .hint i i i { height: auto; }

/* // ---- My Account ---- // */
.my-account { }

.my-account h2 {
	background: url('./i/my-account-h2.png') no-repeat;
	color: #eef0e6;
	font-size: 14px;
	height: 59px;
	letter-spacing: 0.19em;
	line-height: 58px;
	text-align: center;
	text-transform: uppercase;
	width: 275px;
}

.my-account .login {background: url('./i/my-account-login.png') no-repeat;width: 275px;}
.my-account .login form {background: url('./i/my-account-login-b.png') bottom no-repeat;color: #eef0e6;font-size: 12px;padding: 12px 19px 15px 19px;}
.my-account .login form p {clear: both;}
.my-account .login form a {color: #eef0e6; text-decoration: none; }
.my-account .login dl {margin: 0px 0px 15px 0px;overflow: hidden;position: relative;}
.my-account .login dt { display: block; margin: 0px 0px 5px 0px; }
.my-account .login dd { margin: 0px 0px 7px 0px; }
.my-account .login dd input {
	background: url('./i/my-account-login-input.png') no-repeat;
	border: 0px;
	color: #535a60;
	display: block;
	font-family: Georgia;
	font-size: 12px;
	padding: 5px 5px;
	width: 228px;
}

.u-field span { display: block; margin-bottom: 5px; }
.my-account .login dt.check-h { left: 20px; position: relative; top: 12px; }
.my-account .login dd.check { left: 0px; position: relative; top: -7px; }
.my-account .login dd.check input { display: none; padding: 0; width: 15px; }
.my-account .login form p.forgot { padding: 0px 0px 2px 0px; }
.my-account .login span.button { float: right; }
.my-account .login dt.b-login-h { display: none; }
.my-account .login dd.b-login span.button { margin: -13px 0px 0px 0px; position:relative; }
.my-account .login dd.b-login span.button input {
	background: #b06361;
	border-bottom: 1px solid #9f5553;
	border-left: 1px solid #c9817e;
	border-right: 1px solid #9f5553;
	border-top: 1px solid #c9817e;
	color: #eef0e6;
	display: block;
	font-family: Georgia;
	font-size: 12px;
	height: 22px;
	letter-spacing: normal;
	padding: 0px;
	text-align: center;
	text-transform: none;
	width: 74px;
}

/* -- ---- My Account ---- -- */
/* // ---- b-tab ---- // */
.registration { margin: 58px 0px 0px 0px; }

.b-tab { }

/*.b-tab h2.breadcrumb { margin: -52px 0px 32px -12px; position:absolute; }*/

/* -- ---- b-tab ---- -- */

/* // ---- Breadcrumb ---- // */

.breadcrumb {font-size:20px; position:absolute; top:0; left: 0; margin: 18px 0px 20px 20px;}
.breadcrumb li {color:#925353;background:url('./i/breadcrumb-li.gif') right 12px no-repeat;display:inline; padding:0px 22px 0px 0px;margin:0px 1px 0px 0px; }
.breadcrumb li h2{display:inline;}
.breadcrumb li.here {color:#676e74; background:none; }
.breadcrumb li.here h2 {color:#676e74;}

/* -- ---- Breadcrumb ---- -- */

/* // ---- User Menu ---- // */
.user-menu { font-size: 14px; margin: 8px 0px 0px 0px; }

.user-menu li { }

.user-menu li a {
	background: #d6dad3 url('./i/user-menu.gif') 259px 12px no-repeat;
	border: 1px solid #d4d7d1;
	color: #535a60;
	display: block;
	margin: 0px 0px 2px 0px;
	padding: 6px 19px 8px 19px;
	text-decoration: none;
	width: 235px;
}

.user-menu li ul { display: none; }

#container .user-menu li ul li a {
	background: #f4f5ee url('./i/user-menu-s.gif') 19px 12px  no-repeat;
	border: 1px solid #ebeee3;
	color: #4e5459;
	padding: 6px 19px 8px 39px;
	width: 215px;
}

.user-menu .active a {
	background: #788088 url('./i/user-menu-a.gif') 253px 12px no-repeat;
	border: 1px solid #6d757d;
	color: #eef0e6;
}

#container ul.user-menu li ul li.active a {
	background: #ffffff url('./i/user-menu-s.gif') 19px 12px  no-repeat;
	border: 1px solid #e6e9de;
	color: #4e5459;
	padding: 6px 19px 8px 39px;
	width: 215px;
}

/* -- ---- User Menu ---- -- */
/* // ---- Forms replace css ---- // */
span.checkbox {
	background: url('./i/checkbox.png') no-repeat;
	clear: left;
	display: block;
	float: left;
	height: 15px;
	overflow: hidden;
	padding: 0 5px 0 0;
	width: 20px;
}

span.radio {
	background: url('./i/radio.png') 0px 0px no-repeat;
	clear: left;
	display: block;
	float: left;
	height: 14px;
	overflow: hidden;
	padding: 0 5px 0 0;
	width: 14px;
}

span.select {
	color: #000;
	font-family: Arial;
	font-size: 12px;
	height: 18px;
	overflow: hidden;
	padding: 3px 0px 0 10px;
	position: absolute;
	width: 96px;
}

.estimate span.select{ background: url('./i/est-sel.png') no-repeat; }

.estimate select.styled { width: 102px; }

.estimate span.radio {float: left;}

.select-l span.select {
	background: url('./i/select-101.png') no-repeat;
	position: absolute;
	right: 0px;
	width: 101px;
}

span.select-l select { left: 112px; position: absolute; width: 99px; }

.select-s span.select {
	background: url('./i/select-114.png') no-repeat;
	position: absolute;
	right: 0px;
	width: 114px;
}

span.select-s select { left: 45px; position: absolute; width: 112px; }

form dl.options span.select, div.language span.select {
	background: url('./i/select-106.png') no-repeat;
	width: 106px;
	font-size:10px; 
}

.select-country dd span.select {background: url('./i/select-country.png') no-repeat;
	width: 156px;
	font-size:10px; }

.select-country dd select {width:154px; }

/* -- ---- Forms replace css ---- -- */

.content h2 {font-size:20px;color:#925353;}

/* // ---- Orders ---- // */


/* -- ---- Orders ---- -- */

/* // ---- Current order ---- // */
form.tenders .tenders{margin:20px 0px 0px 0px; }
form.tenders .options {position:absolute;top: 22px;right: 38px;}

form.tenders .options dt, form.tenders .options dd {float:left; margin-left:8px; }

form.tenders .options dt {padding:2px 0px 0px 0px;}

form.tenders {margin:23px 0px 0px 0px;clear:both;}
form.tenders .tender {margin-bottom:3px;width:602px;}
form.tenders .tenders .active {border-bottom:3px solid #c8c9c9;margin-bottom:1px;}

form.tenders .tender-header .tender-title{
	width:587px;
	border: 1px solid #e3e5da;
	overflow:hidden;
	background:#f7f6f3;
	height:31px;
	padding:11px 0px 0px 13px;
	position:relative; 
}
form.tenders .tender-header .tender-title a.details {
	background:url('./i/o-details.gif') 0 0 no-repeat;
	color:#925353;
	text-decoration:none;
	padding:1px 0px 4px 28px;
	position:absolute;
	top: 14px;
	left: 488px;
}
form.tenders .tender-header .tender-title a.details .hide {display:none;}
form.tenders .opened .tender-header .tender-title a.details .show {display:none;}
form.tenders .opened .tender-header .tender-title a.details .hide {display:block;}
form.tenders .opened .tender-header .tender-title a.details {
	color:#eef0e6;
	background-position:0px -17px;
	left: 506px;
}
form.tenders .opened .tender-header .tender-title {
	height:36px;
	background:#a56968 url('./i/order-header.png') no-repeat;
	width:585px;
	margin:0px 0px 0px -10px;
	border:0px; 
	padding:11px 0px 0px 31px;
	overflow:hidden; 
}
form.tenders .tender-header .tender-title dl {float:left;}
form.tenders .tender-header .tender-title dt {}
form.tenders .tender-header .tender-title dt {font-size:20px; color:#925353;}

form.tenders .tenders .tender-header .tender-title dd {margin:-19px 0px 0px 0px; }
form.tenders .tenders .tender-header .tender-title dt {margin:0px 0px 0px 30px; }
form.tenders .tenders .opened .tender-header .tender-title dt {color:#eef0e6;}
form.tenders .tenders .tender-header .tender-title dd {float:left; padding:2px 4px 0px 0px; }
form.tenders .tenders .tender-info {overflow:hidden; background:#e3e5da; height:44px; line-height:44px; border: 1px solid #e3e5da;width:587px; padding:0px 0px 0px 13px; }
form.tenders .tenders .opened .tender-header .tender-info { display:none;  }
form.tenders .tenders .opened .tender-info { background:#edefe8; border-top: 0px; border-bottom: 0px; margin-top:-15px; }
form.tenders .tenders .tender-info li {float:left;}
form.tenders .tenders .opened .tender-info li {background-color:#edefe8; }
form.tenders .tenders .tender-info .language {width:231px; padding:0px 0px 0px 0px; }
form.tenders .tenders .tender-info .pages, form.tenders .tenders .tender-info .date, form.tenders .tenders .tender-info .price {
	width:65px;
	margin:8px 6px 0px 0px;
	height:27px;
	line-height:27px;
	position:relative; zoom:1;
	background:#eef0e6 url('./i/s-descr.gif') 12px 6px no-repeat;
	padding:0px 0px 0px 45px;
	font-size:14px;
	color:#925353;
}
form.tenders .tenders .tender-info .date{background-position:12px -19px;}
form.tenders .tenders .tender-info .price{background-position:12px -42px;position:relative; }
form.tenders .tenders .tender-info .price-locked {width:94px; position:relative; }
form.tenders .tenders .tender-info .price-locked span.lock {width:13px; height:15px; background:url('./i/s-descr.gif') 0px -73px no-repeat; position:absolute; top: 6px; right: 10px;}
form.tenders .tenders .tender-info .price-unlocked {width:159px; }
form.tenders .tenders .tender-info .price-unlocked b{color:#535a60; font-weight:normal; padding:0px 4px; }

form.tenders .tenders .tender-info li i {position:absolute; display:block; width:1px; height:1px; background:#e3e5da; overflow:hidden; }
form.tenders .tenders .opened .s-description li i {display:none; }
form.tenders .tenders .tender-info .tl{top:1; left:1; }
form.tenders .tenders .tender-info .tr{top:0; right:0; }
form.tenders .tenders .tender-info .bl{bottom:0; left:0;}
form.tenders .tenders .tender-info .br{bottom:0; right:0;}

form.tenders .tenders .opened  table {display:block; }
form.tenders .tenders  table {
	border:1px solid #e9eae2;
	width:602px;
	font-size:11px; 
	display:none; 
}
form.tenders .tenders  table td, form.tenders .tenders  table th {
	text-align:center; 
}
form.tenders .tenders table th {
	font-style:normal;
	color:#4e5459;
	font-weight:normal;
	background:#fff; 
	height:32px;
	vertical-align:middle; 
}
form.tenders .tenders table td {
	font-style:italic;
	color:#925353;
	background:#edefe8;
	height:35px; 
	vertical-align:middle; 
	font-size:12px; 
}
form.tenders .tenders table .first {width:159px; }
form.tenders .tenders table th.first, form.tenders .tenders table th.second, form.tenders .tenders table th.third {border-right: 1px solid #edefe8;}
form.tenders .tenders  table td.first, form.tenders .tenders table td.second, form.tenders .tenders table td.third {border-right: 1px solid #fff;}
form.tenders .tenders table .second {width:146px; }
form.tenders .tenders table .third {width:146px; }
form.tenders .tenders  table .fourth {width:150px; }


/* // ---- Tenders ---- // */

.tender-header span.button {width:76px; clear:both; position:absolute; right:10px; top:10px;}
.tender-header span.button input {text-transform:none; letter-spacing:0; }

.f-description {font-size:16px; width:587px; padding:0px 0px 0px 13px; background:#f1f1eb; border: 1px solid; border-left-color:#e3e5da; border-right-color:#e3e5da; border-bottom-color:#e3e5da; border-top: 0;overflow:hidden; height:42px; line-height:42px; }
.f-description li {float:left; }
.f-description .subject {width:106px; padding:0px 0px 0px 29px; background:url('./i/f-descr.png') 0px 12px no-repeat; }
.f-description .t-direction {width:256px; padding:0px 0px 0px 35px; background:url('./i/f-descr.png') 0px -62px no-repeat; }
.f-description .deadline {width:127px; padding:0px 0px 0px 33px; background:url('./i/f-descr.png') 0px -25px no-repeat; color:#925353;}
form.tenders .new-tenders .f-description .subject {width:131px;}
form.tenders .new-tenders .f-description .deadline {width:103px;}

form.tenders .new-tenders {}
form.tenders .new-tenders .tender-info li b {padding:0px 3px; font-weight:normal; color:#788088;}
form.tenders .new-tenders .tender-info li a {text-decoration:none; color:#925353;}
form.tenders .new-tenders .tender-info .pages{width:245px; padding:0px 0px 0px 35px; }
form.tenders .new-tenders .tender-info .date{width:103px; padding:0px 0px 0px 40px; }
form.tenders .new-tenders .tender-info .your-price{width:94px;}
form.tenders .new-tenders .tender-info .your-price a{padding:0px 19px 0px 0px;background:url('./i/s-descr.gif') 75px -98px no-repeat;}

/* -- ---- Tenders ---- -- */

/* -- ---- Current order ---- -- */

/* // ---- page navigation ---- // */

.page-navigation {float:right; margin-right:38px; margin-top:35px; }
.page-navigation li {display:inline; font-size:14px; }
.page-navigation li.prev {margin:0px 5px;  }
.page-navigation li.next {margin:0px 0px 0px 5px;  }
.page-navigation li h2 {display:inline; font-size:14px; color:#535a60;}
.page-navigation li a{color:#535a60; text-decoration:none; }
.page-navigation li a b{color:#989d9a; font-size:12px; font-weight:normal; }

/* -- ---- page navigation ---- -- */


/* // ---- Order Creation ---- // */

.order-creation {
	font-size:14px;
}
.order-creation form {font-size:14px; }
.congratulations {font-size:18px; }
.congratulations h3 {margin:0px 0px 25px 0px; }
.congratulations h3 .name{color:#925353;}
.congratulations p {font-style:italic; line-height:21px; }
.congratulations ul.order {margin:32px 0px 10px 0px; overflow:hidden; }
.congratulations ul.order li {float:left; }
.congratulations ul.order li.cancel {margin:0px 0px 0px 18px; }
.congratulations ul.order span.b-red{}

.file-size {
	margin:0px 0px 28px 0px; 
}
.file-size b {color:#925353; font-weight:normal; }

.upload-field {
	width:211px;
	height:167px;
	background:url('./i/upload-f-list.png') no-repeat;
}

#file-uploaderQueue {
	height:160px;
	overflow:auto; 
}
#file-uploaderUploader {
	margin:0px 0px 19px 0px;
	float:left; 
}
.up-lab {float:left; display:block; margin:2px 9px 0px 0px; }
.upload-field {
	clear:both; 
	margin:19px 0px 12px 0px; 
}
.fileUploadQueueItem {
	font-size: 12px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 28px;
	width:166px;
	font-style:italic;
	color:#c7cbc4;
	position:relative; 
	height:40px;
	line-height:40px; 
}
.fileUploadQueueItem span.decor {display:block; height: 1px; 	border-bottom: 1px dotted #c7cbc4;top: 10px; position:absolute; top: 39px; left: -20px; width:195px; }
.fileUploadQueueItem .cancel {position:absolute; top: 14px; right: 0px;}
.fileUploadQueueItem .cancel a{
	float: right;
	display:block;
	width:13px;
	height:13px;
	background:url('./i/cancel.gif') no-repeat;
	text-indent:-1999em;
}

.fileUploadQueueItem .fileName {
	font-style:normal;
	color:#535a60;
}
.fileUploadQueueItem .fileName .fileType {
	display:block;
	width:19px;
	height:19px;
	background:url('./i/icon-file.gif') 0px -20px no-repeat; float:left;
	margin:10px 8px 0px 0px; 
}

.file-uploaderQueue {}

.upload-from-comp  {float:left; width:214px; }
.upload-from-url {float:right; width:305px; margin:-6px 0px 0px 0px; }

.upload-from-url input#url-upload, .upload-from-url textarea {
	border: 1px solid #c7cbc4;
	background:#fff;
	font-family:Georgia; 
}
.upload-from-url input#url-upload {
	padding:6px 30px 5px 5px;
	width:194px; 
}

.clear-input {
	width:13px;
	height:13px;
	background:url('./i/cancel.gif') no-repeat;
	display:block;
	position:absolute;
	right: 10px;
	top: 8px;
	text-indent:-1999em;
	cursor: pointer;
	display:none; 
}

.upload-from-url dt.url {margin:7px 0px 0px 0px; }
.upload-from-url dd.url {float:right; position:relative; }
.upload-from-url dt.your-text {margin:20px 0px 10px 0px; }
.upload-from-url textarea {width:293px; height:119px; padding:6px 5px 5px 5px; }

.upload-from-url .buttons {
	clear:both;
	padding:24px 0px 0px 0px;
	overflow:hidden; 
}
.upload-from-url .buttons li {float:left; }
.upload-from-url .buttons li.cancel {margin-left:18px;  }
.upload-from-url .buttons li .b-grey{display:block;}
.upload-from-url .checkbox {margin:15px 0px 0px 0px; position:relative;}
.upload-from-url .checkbox label{font-size:12px;}
.upload-from-url .checkbox dt {float:left; line-height:14px; margin:0px 0px 0px 25px; }
.upload-from-url .checkbox dd {float:left; position:absolute; top: 0px; left: 0px;}
.upload-from-url .checkbox dd span.checkbox{margin:0; }


.c-registration .b-content #third-step {
	width:619px;
	margin:-17px 0px -25px -25px;
}
.c-registration  #third-step .line {
	height:56px;
	line-height:56px;
	padding:0px 25px;
	border-bottom: 1px solid #dfe2d6;
	overflow:hidden; 
}
.c-registration  #third-step .line-dark {background: #ebede1;}

.c-registration  #third-step .credit strong {
	font-size:18px;
	font-weight:normal; 
}
.c-registration  #third-step .credit b {
	font-size:24px; 
	font-weight:normal; 
	color:#925353;
}
.c-registration  #third-step .credit span {
	font-size:12px; 
}

.c-registration  #third-step .line dt {margin-top: 0; }
.c-registration  #third-step .line {margin-top: 0; font-size:14px; }
div.file-name {}
div.file-name dd {position:relative; }
div.file-name dd input {border: 1px solid #c7cbc4; background:#fff; width:137px; padding:5px 30px 5px 5px; font-family:Georgia; font-size:14px; }
div.file-name dd .clear-input {top: 21px;}
div.file-name dt {margin-right:7px;}
div.file-name ul {margin:0px 0px 0px 27px; float:left; }
div.file-name ul li {display:inline; margin-right:10px; }
div.file-name ul li b {font-size:24px; font-weight:normal; color:#925353;}

div.language dt {margin-right:30px; }
div.language dd {background:url('./i/order-c-a.gif') 118px 20px no-repeat;}
div.language span.select {margin:20px 0px 0px 0px; line-height:11px; font-size:12px; }
div.language dd select {width:104px; margin-right:35px; }

div.sliders {}
div.sliders .slider {width:167px; display:block; height:6px; margin:26px 0px 0px 15px; }
div.sliders dt {width:82px; }
div.sliders .quality {margin:0px 0px 0px 40px; }

div.add-options dt, div.parameters dt {width:180px;}
div.add-options dd span.radio, div.parameters dd span.radio {margin:23px 0px 0px 0px; }
div.add-options dd label, div.parameters dd label {margin-right:15px; letter-spacing:-1px; }

div.s-price {}
div.s-price b {font-size:24px; color:#925353; font-weight:normal; }

div.my-price {}
div.my-price input {border: 1px solid #c7cbc4; background:#fff; width: 58px; font-size:14px; font-family:Georgia; padding:5px; }
div.my-price dd, div.my-price dt {margin-right:8px; }

.c-registration #third-step div.date {overflow:visible; }
div.date .calendar{display:none; }
div.date dd {position:relative; margin:0px 0px 0px 18px; }
div.date span.date a {padding:0px 0px 0px 30px; background:url('./i/s-descr.gif') 0px -20px no-repeat; font-size:18px; text-decoration:none; color:#925353; }
div.date dd input{font-size:18px; color:#925353; background:url('./i/clock.gif') 0px 3px no-repeat; border:0;font-family:Georgia;width:52px;  padding:0px 0px 0px 26px; margin:0px 0px 0px 12px; }

div.date dt.term {margin:0px 5px 0px 60px; }
div.date dd.term { margin:0; }
div.date dd.term b{font-weight:normal; color:#925353;}

/* // ---- Footer ---- // */
#footer-page {width:965px; clear:both;}
#footer-page {width:100%; clear:both;}
/* -- ---- Footer ---- -- */

/* // ---- My bill ---- // */

.my-bill {position:relative; }
.my-bill h2 {
	padding:21px 0px 10px 48px;
	background:url('./i/my-bill-h2.png') 0px 13px no-repeat;
	margin:0px 0px 15px 0px; 
}

.my-bill .my-bill-menu {position:absolute; top: 25px; right: 44px; overflow:hidden; padding:0px 0px 3px 0px;}
.my-bill .my-bill-menu li {float:left;  background:url('./i/my-bill-menu.gif') right no-repeat; padding:0px 15px 0px 10px; margin:0px -15px 0px 15px; position:relative; }
.my-bill .my-bill-menu li a{color:#535a60; text-decoration:none; }

.my-bill .ways {}
.my-bill .ways li {
	background:#eef0e6;
	border:1px solid #cccfc8;
	margin:0px 0px 5px 0px;
	
	height:104px; 
	position:relative; 
}
.my-bill .ways li .image {padding:17px 0px 17px 0px; background:#eff0e7; border-right: 1px solid #eaede3; display:block; float:left; margin:0px 20px 0px 0px; width:111px; text-align:center; }
.my-bill .ways li .image img {width:68px; height:68px; }

.my-bill .ways li table {width:506px; float:left; }
.my-bill .ways li tr{}
.my-bill .ways li td {height:104px; vertical-align:middle; }


.my-bill .ways li dl {width:506px;}
.my-bill .ways li dt {font-size:20px;}
.my-bill .ways li dt a{color:#925353; text-decoration:none; }
.my-bill .ways li dd{font-size:14px; }

.my-bill .main-block {margin:0px; }

.my-bill .summ {background:url('./i/summ.png') center bottom no-repeat; padding:0px 0px 18px 0px; text-align:center; font-style:italic; font-size:16px; }
.my-bill .summ strong {font-size:48px; color:#925353; font-weight:normal; }

.my-bill .money {font-style:italic; font-size:16px; text-align:center; overflow:hidden; margin:10px 0px 0px 0px; }
.my-bill .money strong {font-size:40px; color:#925353; font-weight:normal;}

.my-bill .money li {display:inline; padding:0px 18px 0px 0px; background:url('./i/money.gif') right 9px no-repeat; margin:0px 0px 0px 8px; }
.my-bill .money li.free {background:none; }

.my-bill .select-country {margin:20px 0px 20px 0px; }
.my-bill .select-country dl {margin:20px 0px 0px 0px; }
.my-bill .select-country dt{float:left; padding:3px 15px 0px 0px; }
.my-bill .select-country dd {position:relative; }
.my-bill .select-country dd span.select{position:absolute; left: 90px;}
.my-bill .select-country .country {float:left;display:block; width:18px; height:13px; background:url('./i/flags.png'); border: 1px solid #e2e5d9; margin:3px 13px 0px 0px; overflow:hidden; }
.my-bill .select-country .en { background-position: 0 0; }
.my-bill .select-country .ru { background-position: -108px 0; }
.my-bill .select-country .bl { background-position: -18px 0; }
.my-bill .select-country .cz { background-position: -36px 0; }
.my-bill .select-country .fr { background-position: -54px 0; }
.my-bill .select-country .it { background-position: -72px 0; }
.my-bill .select-country .pr { background-position: -90px 0; }
.my-bill .select-country .su { background-position: -126px 0; }

/* -- ---- My bill ---- -- */
