/* // ---- DatePicker ---- // */
div.datepicker thead {line-height:12px; }
div.datepicker {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 196px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: -152px;
	left: -403px;
	background:#535a60; 

}
.datepickerContainer {
	background: #535a60;
	position: absolute;
	top: 10px;
	left: 10px;

}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
	background:#535a60;
	border-top: 1px solid #535a60;
	border-left: 1px solid #535a60;
	width:302px; 
}
div.datepicker a {
	color: #eee;
	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker table td {
	text-align: center;
	padding: 0;
	margin: 0;
	background:#5b6268;
	width:42px;
	height:24px;
	color:#f5f4f0;
	vertical-align:middle;
	border-right: 1px solid #535a60;
	border-bottom: 1px solid #535a60;
}
div.datepicker th {
	text-align: center;
	color: #999;
	font-weight: normal;
}
div.datepicker tr th.datepickerMonth {color:#f5f4f0}
div.datepicker tbody th {
	text-align: center;
}
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width: 40px;
	height: 22px;
	line-height:24px;
	border: 1px solid #5b6268;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #989d9a;
}
tbody.datepickerDays td.datepickerSelected a{
	background:#925353;
	border-top-color:#b97f7e;
	border-left-color:#b97f7e;
	border-right-color:#763c3c;
	border-bottom-color:#763c3c;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #17384d;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #17384d;
}
tbody.datepickerYears td.datepickerSelected a,
tbody.datepickerMonths td.datepickerSelected a {
	background:#925353;
	border-top-color:#b97f7e;
	border-left-color:#b97f7e;
	border-right-color:#763c3c;
	border-bottom-color:#763c3c;
}


div.datepicker tbody th {
	text-align: center;
	line-height:27px; 
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.datepickerGoNext a {
	float: right;
	width: 25px;
	background:url('./i/calendar-r.gif') no-repeat left bottom; 
}
.datepickerGoPrev a {
	float: left;
	width: 25px;
	background:url('./i/calendar-l.gif') no-repeat right bottom; 
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
	color:#b4b6aa;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths {
	display: none;
	color:#f5f4f0;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #333;
}
td.datepickerDisabled a:hover {
	color: #333;
}
td.datepickerSpecial a {
	background: #700;
}
td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}

tr.datepickerDoW th {height:24px; overflow:hidden; }

/* -- ---- DatePicker ---- -- */

/* // ---- Slider ---- // */

div.sliders .ui-widget-content {background:url('./i/slider.png') no-repeat; height:6px; }
div.sliders .ui-widget-header {background:url('./i/slider.png') 0px -6px no-repeat; height:6px; }
/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: 1px; display: block; border: 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default {display:block; width:17px; height:17px; background:url('./i/slider.png') 0px -12px; top:-5px; position:absolute; }



/* -- ---- Slider ---- -- */