#header , .step, .search-results div  {zoom: 1;}
.search-results, .search-form {display:inline; }
* {zoom: 1; }
.d-nu li{*margin-right:10px; _margin-right:9px; }

.f-step .content ul li span	{
	display:inline; 
	overflow:hidden; 
}