.days_slider .ui-slider-handle,
.money_slider .ui-slider-handle,
.persons_slider .ui-slider-handle,
.children_slider .ui-slider-handle { background:url(./i/money_slider_handler.gif) center center no-repeat; top: -11px; margin-left: -11px; }

.th-step h3.persons { margin:0px; padding-left:75px; background-position:30px center; float:left; }
.th-step h3.children { margin:0px; padding-left:75px; background-position:30px center; float:left; }

.datepickerGoPrev a span { height:16px; padding:0px; }