.b-bestsellers .b-container ul li, .b-worldcharts .b-chart, .b-user h2 {display:inline;}
.b-bestsellers .b-container ul li img {display:block;}
.site-features, .b-worldcharts{zoom:1;}
.pos-navigation dt {overflow:hidden;}

.header .panel .search form {_margin:0;}
.header .menu .submenu .b-bg {_bottom: -14px;_left: 1px;}

.genres-list .block {*zoom:1;}
.genres-list .block .inner{*zoom:1;}
.artist-albums ul.albums li {*display:inline;}
.artist-info h1 {*zoom:1;}
.registration-page form dl dd {*float:none;}