/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;}
body {
	font-size: 12px;
	height: 100%;
	color:#999999;
	font-family:Arial;
	background: #eef5f8;
}
a {color:#999;outline: none;}
img {border: none;}
.empty {height:117px;}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:0px auto;
	width:982px;
	position:relative;
}

p {line-height:18px;}

.wrap {margin:0px 17px;}
.clear {clear:both;}

/* // ---- b-login ---- // */

.b-login {
	position:absolute;
	z-index: 50;
	width:100%;
	top: 0px;
	left: 0px;
	display:none;
}
.b-login form {
	width:420px;
	height:280px;
	background:#eef5f8;
	border: 2px solid #fff;
	position:absolute;
	top: 300px;
	left: 50%;
	margin:0px 0px 0px -210px;
	z-index: 51;
}
.b-login form h1 {
	text-indent:-9999em;
	width:216px;
	height:50px;
	background:url('./i/mbarea-h1.png') no-repeat;
	margin:0px 0px 24px 0px;
}
.b-login .close {
	display:block;
	width:22px;
	height:22px;
	background:url('./i/close.gif') no-repeat;
	text-indent:-9999em;
	position:absolute;
	top:12px;
	right: 12px;
}
.b-login dl {margin:0 0 15px 19px;overflow:hidden;}
.b-login dt {clear:both;float:left;width:98px;text-align:right;margin:9px 21px 0px 0px;font-size:13px;color:#333333;}
.b-login dd {margin:0 0 14px 0;float:left;}
.b-login dd div {background:url('./i/login-i.png') no-repeat;width:220px;height:34px;}
.b-login dd div input {color:#abccd9;font-size:13px;font-family:Arial;border: 0px; background:none;margin:8px 0px 0px 15px;width:190px;}
.b-login dd div.focus {background-position:0px -34px;}
.b-login button {width:108px;height:37px;position:relative;background:url('./i/login-b.png') no-repeat;border: 0px;display:block;margin:0px 0px 22px 138px;}
.b-login button.hover {background-position:0px -37px;}
.b-login button span {position:absolute;left: -9999em;}

.b-login .l-menu {margin:0 0 0 138px;}
.b-login .l-menu li {float:left;list-style:none;margin:0px 37px 0px 0px;}
.b-login .l-menu li a {text-decoration:none;color:#9aa3a4;border-bottom: 1px dotted #9aa3a4;}

.b-login .background {
	width:100%;
	background:#fff;
	opacity: 0.75;
	filter: alpha(opacity = 75);
	position:absolute;
	top: 0px;
	left: 0px;
}

/* -- ---- b-login ---- -- */

/* // ---- Header ---- // */

.header {
	padding:11px 0px 0px 0px;
}

.header .nav-panel {
	background: #15262d url('./i/header.png') 0px 0px no-repeat;
	height:42px;
	position:relative;
	margin:0px 0px 11px 0px;
	z-index:1;
}

.header .menu {
	margin:0;
	position:absolute;
	top: 8px;
	right: 0px;
}
.header .menu li {
	list-style:none;
	display:block;
	float:left;
	padding:0px 15px 0px 25px;
	background:url('./i/menu-li.gif') right top no-repeat;
	height:24px;
	line-height:24px;
	position:relative;
}


.header .menu li.account {background:none;}

.header .menu li a {padding: 0px 12px 0px 0px; background:url('./i/menu-a.gif') right 7px no-repeat;color:#a9cad7;text-decoration:none;}
.header .menu li a:hover {color:#fff; background:url('./i/menu-ah.gif') right 7px no-repeat;}
div.header .menu li.account strong a {padding:0;background:none;border-bottom: 1px dotted #a9cad7;display:inline;}
.header .menu li.account strong a:hover {border-bottom: 1px dotted #fff;}
.header .menu li.account strong {padding: 0px 12px 0px 0px; background:url('./i/menu-a.gif') right 7px no-repeat;}
.header .menu li.hover strong {background:url('./i/menu-ah.gif') right 7px no-repeat;}

.header .menu .submenu {
	display:none;
	position:absolute;
	width:201px;
	right: 3px;
	background:url('./i/submenu.png') 0px 11px no-repeat;
	padding:0px 0px 6px 0px;
}
.header .menu .submenu .b-bg {
	width:201px;
	height:4px;
	background:url('./i/submenu.png') -201px 0px no-repeat;
	position:absolute;
	bottom: -4px;
}
.header .menu .submenu ul {margin:53px 0 0px 18px;overflow:hidden;}
.header .menu .submenu ul li{width:160px;display:block;float:none;padding:0 0 0 5px; background:url('./i/s-li.gif') top repeat-x;height:27px;margin:-2px 0px 0px 0px;}
.header .menu .submenu ul li a {background:none;padding:0;}
.header .menu .submenu ul li a:hover {border-bottom: 1px dotted #fff;color:#fff;}
.header .menu .hover .submenu {display:block;}

.header .panel {
	height:190px;
	background:url('./i/panel.jpg') no-repeat;
}

.header .panel div.search {
	padding:38px 0px 0px 29px;
	float:left;
	width:598px;
}
.header .panel .search h1 {
	display:block;
	width:295px;
	height:24px;
	background:url('./i/search-h1.png') no-repeat;
	text-indent:-9999em;
	margin:0px 0px 17px 0px;
}

.header .panel .search .query {
	width:372px;
	height:30px;
	background:url('./i/query.png') no-repeat;
	padding:9px 0px 0px 41px;
	float:left;
	margin:0px 9px 0px 0px;
}
.header .panel .search .query input	{
	font-family:Arial;
	font-size:17px;
	color:#000;
	border: 0px;
	background:none;
	width:358px;
}
.header .panel .search .aquery {background-position:0px -39px;}

.header .panel .search .find {
	border: 0px;
	background:url('./i/find.png') no-repeat;
	width:108px;
	height:37px;
	position:relative;
	cursor:pointer;
	float:left;
	margin:2px 0px 0px 0px;
}
.header .panel .search .afind {background-position:0px -37px;}
.header .panel .search .find span {position:absolute;left: -9999em;}
.header .panel .search form {overflow:hidden;margin:0px 0px 15px 0px;zoom:1;}
.search .a-navigation {margin:0;}
.search .a-navigation li {float:left;list-style:none;padding:0px 12px 0px 0px;}
.search .a-navigation li a{color:#172b32;text-decoration:none;}
.search .a-navigation li a:hover{text-decoration:underline;}


.header .b-user {
	float:left;
	width:355px;
}

.header .b-user div.sign-up {
	padding:30px 0px 0px 95px;
	text-align:center;
	width:229px;
	color:#5b686a;
}
.header .b-user .sign-up h2 {
	display:block;
	width:176px;
	height:17px;
	background:url('./i/nam-h2.png') no-repeat;
	text-indent:-9999em;
	margin:0px auto 18px auto;
}
.header .b-user .sign-up a.alogin {color:#000;text-decoration:none;border-bottom: 1px dotted #000;}
.header .b-user a.sign-up {
	display:block;
	width:229px;
	height:63px;
	background:url('./i/sign-up.png') no-repeat;
	text-indent:-9999em;
	margin:0px 0px 10px 0px;
}
.header .b-user a.sign-up:hover {
	background-position:0px -63px;
}
/* -- ---- Header ---- -- */

/* // ---- Login ---- // */

.login {display:none;}

/* -- ---- Login ---- -- */

/* // ---- b-bestsellers ---- // */

.b-bestsellers {
	position:relative;
	margin:0px 0px 14px 0px;
}
.b-bestsellers h1 {
	display:block;
	width:254px;
	height:55px;
	background:url('./i/bestsellers.png') no-repeat;
	text-indent:-9999em;
}
.b-bestsellers .b-container {
	width:982px;
	height:230px;
	background:url('./i/b-bestsellers.png') no-repeat;
	padding:22px 0px 0px 0px;
	overflow:hidden;
}
.b-bestsellers .b-container ul {margin:0;}
.b-bestsellers .b-container ul li {float:left;list-style:none;width:200px;height:200px; position:relative;margin:0px 0px 0px 32px;border: 3px solid #cfcfcf;}
.b-bestsellers .b-container ul li.hover {border-color:#73be08;}
.b-bestsellers .b-container ul li .title {
	position:absolute;
	bottom: 0px;
	left:0px;
	height:46px;
	width:188px;
	background:url('./i/op.png');
	padding:7px 0px 0px 12px;
}
.b-bestsellers .b-container ul li .title strong {display:block;font-size:17px;color:#fff;font-weight:normal;}
.b-bestsellers .b-container ul li .title strong a{color:#fff;text-decoration:none;}
.b-bestsellers .b-container ul li .title small {display:block;font-size:13px;color:#fff;font-weight:normal;}
.b-bestsellers .b-container ul li .title small a{color:#949da0;text-decoration:none;}
/* -- ---- b-bestsellers ---- -- */

/* // ---- pos-nav ---- // */

.pos-navigation {
	position:absolute;
	right: 21px;
	top: 17px;
	margin:0;
}
.pos-navigation dt {display:block;height:10px;text-indent:-9999em;background:url('./i/pos-nav.png');float:left;margin:6px 6px 0px 0px;}
.pos-navigation dd {float:left;margin:0;}
.pos-navigation dd ul {margin:0;}
.pos-navigation dd ul li {list-style:none;float:left;margin:0px 0px 0px 4px;}
.pos-navigation dd ul li a {
	display:block;
	width:26px;
	height:26px;
	background:url('./i/pos-nav.png') 0px -20px no-repeat;
	text-align:center;
	line-height:26px;
	font-family:"Trebuchet MS";
	color:#5b686a;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	font-size:14px;
}
.pos-navigation dd ul li.active a {background-position:-26px -20px;color:#a7afb0;}
.pos-navigation dd ul li a:hover {background-position:-52px -20px;}

.b-bestsellers .pos-navigation dt {width:99px;}
.b-hotadditions .pos-navigation dt {width:127px;background-position:0px -10px;}

/* -- ---- pos-nav ---- -- */

/* // ---- site features ---- // */

.site-features {overflow:hidden;clear:both;}
.site-features dl {margin:0; height:80px;background:url('./i/features.jpg') no-repeat;float:left; padding:75px 0px 0px 151px;font-size:13px;color:#333333;line-height:17px;}
.site-features dl dt{text-indent:-9999em;display:none;}
.site-features dl dd {margin:0;}
.site-features .first {width:176px;}
.site-features .second {background-position:0px -155px;width:175px;}
.site-features .third {background-position:0px -310px;width:178px;}

/* -- ---- site features ---- -- */

/* // ---- b hot additions ---- // */

.b-hotadditions {
	position:relative;
	margin:0px 0px 4px 0px;
}
.b-hotadditions h1 {
	display:block;
	width:286px;
	height:55px;
	background:url('./i/hotadditions-h1.png') no-repeat;
	text-indent:-9999em;
}
.b-hotadditions .b-container {
	width:982px;
	background:url('./i/b-hotadd.png') bottom left no-repeat;
	padding:22px 0px 0px 0px;
	overflow:hidden;
}
.b-hotadditions .b-container ul {
	margin:0;
	padding:0px 0px 18px 31px;
	overflow:hidden;
	background:url('./i/b-hotadd.png') right top no-repeat;
}
.b-hotadditions .b-container ul li {list-style:none; float:left;width:135px;}
.b-hotadditions .b-container ul li a.img {
	display:block;
	width:105px;
	height:105px;
	background:url('./i/bhotaddli.png') no-repeat;
	padding:5px 0px 0px 5px;
}
.b-hotadditions .b-container ul li a.img:hover {background-position:0px -110px;}
.b-hotadditions .b-container .title {font-family:Tahoma;font-size:11px;line-height:17px;padding:10px 0px 0px 5px;}
.b-hotadditions .b-container .title strong {display:block;}
.b-hotadditions .b-container .title strong a{text-decoration:none;color:#1f3b46;}
.b-hotadditions .b-container .title strong a:hover{border-bottom:1px dotted #1f3b46;}
.b-hotadditions .b-container .title small {font-size:11px;display:block;}
.b-hotadditions .b-container .title small a{text-decoration:none;color:#5b686a;}
.b-hotadditions .b-container .title small a:hover{border-bottom:1px dotted #5b686a;}
/* -- ---- b hot additions ---- -- */

/* // ---- b world charts ---- // */

.b-worldcharts {overflow:hidden;margin:0px 0px 20px 0px;}
.b-worldcharts h1 {
	display:block;
	width:290px;
	height:55px;
	background:url('./i/b-worldcharts.png') no-repeat;
	text-indent:-9999em;
	margin:0px 0px 5px 0px;
}
.b-worldcharts .position {
	display:block;
	width:26px;
	float:left;
	font-size:20px;
	font-family:"Trebuchet MS";
	color:#5a7079;
	padding:0px 0px 0px 12px;
	line-height:20px;
}
.b-worldcharts .b-chart {
	width:220px;
	float:left;
	margin:0px 0px 0px 21px;
}
.b-worldcharts .b-chart h2 {
	margin:0px 0px 10px 0px;
	font-size:15px;
	color:#1b1b1b;
	font-weight:normal;
}
.b-worldcharts .b-chart h2 a {color:#1b1b1b;text-decoration:none;}
.b-worldcharts .b-chart h2 a:hover {text-decoration:underline;}
.b-worldcharts .b-chart ul {
	overflow:hidden;
	margin:0;
}
.b-worldcharts li {
	height:55px;
	background:url('./i/bchartli.gif') repeat-x;
	margin:-2px 0px 0px 0px;
	list-style:none;
	padding:10px 0px 0px 0px;
	line-height:17px;
}
.b-worldcharts li.hover {background-color:#fff;}
.b-worldcharts li strong {display:block;font-size:13px;}
.b-worldcharts li strong a {display:block;color:#1f3b46;text-decoration:none;}
.b-worldcharts li strong a:hover, .b-worldcharts li.hover strong a {color:#8f6bca;}
.b-worldcharts li small {display:block;font-size:11px;}
.b-worldcharts li small a{color:#5b686a;text-decoration:none;}
.b-worldcharts li small a:hover, .b-worldcharts li.hover small a{border-bottom:1px dotted #5b686a;}

/* -- ---- b world charts ---- -- */

/* // ---- footer ---- // */

.footer {
	height:117px;
	background:url('./i/footer.jpg') no-repeat;
	clear:both;
	width:982px;
	margin:-117px auto 0 auto;
	position:relative;
}
.footer .foo-nav {margin:0; position:absolute;top: 48px;}
.footer .foo-nav li{list-style:none;float:left;padding:0px 0px 0px 35px;}
.footer .foo-nav li a{color:#c0c0c0;text-decoration:none;}

.footer .copyrights {font-size:11px;color:#1f3b46;position:absolute;right:20px; bottom:15px;}

/* -- ---- footer ---- -- */

/* // ---- container ---- // */

.container {
	overflow:hidden;
	padding:24px 0px 0px 0px;
}
.container h1 {
	display:block;
	height:18px;
	margin:0px 0px 19px 0px;
	text-indent:-9999em;
}

/* -- ---- container ---- -- */

.sidebar {
	float:left;
	width:241px;
	padding:0px 0px 0px 8px;
	color:#5b686a;
}
.sidebar a {color:#5b686a;}

.sidebar .albums {}
.sidebar .albums h1 {
	width:194px;
	background:url('./i/latest-a-h1.png') no-repeat;
}
.sidebar .albums ul {margin:0;font-family:Tahoma;background:url('./i/bchartli.gif') bottom repeat-x;width:220px;}
.sidebar .albums ul li {list-style:none; background:url('./i/bchartli.gif') repeat-x;padding:18px 0px 18px 0px;clear:both;overflow:hidden;}
.sidebar .albums ul li .image {float:left;margin:0px 10px 0px 0px;border: 3px solid #fff;cursor:pointer}
.sidebar .albums ul li .image:hover {border-color:#73be08;}
.sidebar .albums ul li .image img {display:block;}
.sidebar .albums ul li dl {margin:10px 0px 0px 0px;float:left;width:120px;}
.sidebar .albums ul li dt {display:block;margin:0px 0px 8px 0px;}
.sidebar .albums ul li dt a{text-decoration:none;border-bottom: 1px dotted #5b686a;}
.sidebar .albums ul li dt a:hover{border: none;}
.sidebar .albums ul li dl dd {margin:0;line-height:20px;font-size:11px;}

/* // ---- content ---- // */

.content {
	float:left;
	width:733px;
}


/* -- ---- content ---- -- */

/* // ---- information page ---- // */

.information-page h1 {
	width:249px;
	background:url('./i/i-page-h1.png') no-repeat;
}

.information-page .c-block {
	background:url('./i/c-block.png') left bottom no-repeat;
}
.information-page .c-block .inner {
	background:url('./i/c-block.png') -733px top no-repeat;
	padding:20px 25px;
}

.information-page h2 {
	font-size:21px;
	color:#000;
	font-weight:normal;
	margin:0px 0px 10px 0px;
}
.information-page {
color:#535353;
line-height:18px;
}

.information-page p {margin:0px 0px 20px 0px;}

/* -- ---- information page ---- -- */

/* // ---- Registration page ---- // */

.registration-page {}
.registration-page h1 {
	width:254px;
	background:url('./i/registration-h1.png') no-repeat;
}
.registration-page .c-block {
	background:url('./i/c-block.png') left bottom no-repeat;
}
.registration-page .c-block .inner {
	background:url('./i/c-block.png') -733px top no-repeat;
	padding:20px 25px;
}

.registration-page form {margin:0px 0px 5px 0px;}
.registration-page form dl {margin:0;overflow:hidden;}
.registration-page form dl dt{margin:8px 0px 0px 0px; clear:both; float:left;width:122px;font-size:13px;color:#535353;}
.registration-page form dl dd{margin:0 0 15px 0;float:left;}
.registration-page form dl dd div {background:url('./i/reg-i.png') no-repeat;width:220px;height:34px;}
.registration-page form dl dd div.focus {background-position:0 -34px;}
.registration-page form dl dd input {color:#cfcfcf;font-size:13px;font-family:Arial;border: 0px; background:none;width:190px;margin:8px 0px 0px 15px;}

.registration-page form button {display:block;width:103px;height:35px;background:url('./i/reg-b.png') no-repeat;border: 0px; position:relative;margin:0px 0px 15px 123px;}
.registration-page form button span {position:absolute;left: -9999em;}
.registration-page form button.hover {background-position:0 -35px;}

.registration-page form .term {color:#5b686a;margin:0px 0px 0px 123px;}
.registration-page form .term a{color:#5b686a;}
/* -- ---- Registration page ---- -- */

/* // ---- artists ---- // */

.b-artists {font-family:Tahoma;}
.b-artists h1 {text-indent:-9999em;width:239px;height:59px;background:url('./i/artists-h1.png');}
.b-artists .block {width:982px;background:url('./i/b-hotadd.png') bottom left no-repeat;margin:0px 0px 24px 0px;overflow:hidden;}
.b-artists .block ul {margin:0; padding:22px 0px 18px 31px;overflow:hidden;background:url('./i/b-hotadd.png') right top no-repeat;}
.b-artists .block ul li{list-style:none;width:135px;float:left;line-height:17px;}
.b-artists .block ul li .img{
	display:block;
	width:105px;
	height:105px;
	background:url('./i/bhotaddli.png') no-repeat;
	padding:5px 0px 0px 5px;
	margin: 0px 0px 6px 0px;
}
.b-artists .block ul li .title {width:120px;}
.b-artists .block ul li .img:hover {background-position:0px -110px;}
.b-artists .block ul li strong {font-size:13px;display:block;}
.b-artists .block ul li strong a{color:#1f3b46;text-decoration:none;}
.b-artists .block ul li strong a:hover {color:#b91324;text-decoration:underline;}
.b-artists .block ul li small {font-size:11px;color:#5b686a;}
.b-artists .block ul li small a{text-decoration:none;color:#5b686a;border-bottom: 1px dotted #5b686a;}

/* -- ---- artists ---- -- */

/* // ---- page navigation ---- // */

.page-navigation {margin:0 0 0 380px;overflow:hidden;}
.page-navigation li {list-style:none;float:left;margin:0px 4px 0px 0px;}
.page-navigation a {display:block;width:26px;height:26px;position:relative;}
.page-navigation .previous {margin:0px 11px 0px 0px;}
.page-navigation .previous b {display:none;}
.page-navigation .previous i {display:block;width:13px;height:11px;background:url('./i/pos-nav.png') -78px -20px;position:absolute;top: 7px;left: 6px;}
.page-navigation .previous:hover i {background-position:-78px -31px;}
.page-navigation .next {}
.page-navigation .next b{display:none;}
.page-navigation .next i {display:block;width:13px;height:11px;background:url('./i/pos-nav.png') -91px -20px;position:absolute;top: 7px;right: 6px;}
.page-navigation .next:hover i {background-position:-91px -31px;}
.page-navigation ul {margin:0px 7px 0px 0px;}
.page-navigation ul li a {
	display:block;
	width:26px;
	height:26px;
	background:url('./i/pos-nav.png') 0px -20px no-repeat;
	text-align:center;
	line-height:26px;
	font-family:"Trebuchet MS";
	color:#5b686a;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	font-size:14px;
}
.page-navigation ul li.active a {background-position:-26px -20px;color:#a7afb0;}
.page-navigation ul li a:hover {background-position:-52px -20px;}

/* -- ---- page navigation ---- -- */

/* // ---- genres list ---- // */

.genres-list {}
.genres-list h1 {
	height:51px;
	width:226px;
	background:url('./i/genres-list-h1.png') no-repeat;
	margin:-23px 0px 7px 0px;
}
.genres-list .c-block {
	overflow:hidden;
	background:url('./i/separator.gif') 358px 0px repeat-y;
	margin:0px 0px 35px 0px;
}
.download-this {display:block;font-family:"Trebuchet MS"; font-size:17px;color:#5b686a;font-weight:normal;padding:0px 0px 0px 30px;background:url('./i/b-h2.gif') 5px 2px no-repeat; margin:0px 0px 15px 0px;}
.genres-list .block {
	width:331px;
	background:url('./i/genres-b.png') bottom left no-repeat;
	float:left;
}
.genres-list .first {margin:0px 57px 0px 0px;}
.genres-list .block .inner {
	background:url('./i/genres-b.png') top right no-repeat;
	padding:10px 20px;
}
.genres-list .block ul {margin:0; overflow:hidden;}
.genres-list .block ul li{list-style:none;height:33px;border-top: 1px solid #e5eff3;margin:-1px 0px 0px 0px; line-height:33px;}
.genres-list .block ul li.alt {background:#f4f9fa;}
.genres-list .block ul li a {height:33px;display:block; padding:0px 0px 0px 30px; background:url('./i/genres-li.gif') 11px 13px no-repeat;text-decoration:none;color:#5b686a;}
.genres-list .block ul li a small {color:#9aa3a4;font-size:11px;}
.genres-list .block ul li a:hover {background-color:#eff5f8;color:#b91324;}
.genres-list .block ul li a:hover span{border-bottom:1px dotted #b91324;}
/* -- ---- genres list ---- -- */

/* // ---- s best sellers ---- // */

.sidebar .best-sellers h1 {
	width:156px;
	background:url('./i/bsellers-h1.png') no-repeat;
}

/* -- ---- s best sellers ---- -- */

/* // ---- user-area ---- // */

.user-area {}
.user-area h1 {
	width:131px;
	background:url('./i/u-area-h1.png') no-repeat;
}

.user-area .c-block {
	background:url('./i/ucblock.png') left bottom no-repeat;
}
.user-area .c-block .inner {
	background:url('./i/ucblock.png') right top no-repeat;
	padding:30px 30px;
}

.user-area .select .select {
	display:block;
	width:205px;
	height:34px;
	background:url('./i/select.png') no-repeat;
	position:absolute;
	font-size:15px;
	color:#202225;
	line-height:34px;
	padding:0px 0px 0px 15px;
}
.user-area .select select {
	height:34px;
	width:220px;
}

.user-area .addfund dl{margin:0;}
.user-area .addfund dl dt{float:left;font-size:13px;color:#535353; height:34px;line-height:34px;margin:0px 20px 0px 0px;}
.user-area .addfund dl dd{float:left;margin:0 20px 0 0;}
.user-area .addfund button {display:block;width:110px;height:34px;background:url('./i/addfunds-b.png') no-repeat;position:relative;border: 0px; float:left;}
.user-area .addfund button span {position:absolute;left: -9999em;}
.user-area .addfund button.hover {background-position:0px -34px;}

/* -- ---- user-area ---- -- */

/* // ---- b-user ---- // */

.y-account {
	position:relative;
}
.y-account h1 {
	display:block;
	width:193px;
	height:20px;
	background:url('./i/yacc-h1.png') no-repeat;
	text-indent:-9999em;
	position:absolute;
	top:20px;
	right: 23px;
}
.y-account .info {margin:0;line-height:25px;font-family:Tahoma;font-size:11px;color:#1f3a44;position:absolute;top: 55px;right: 0px;width:215px;}
.y-account .info dt{margin:0 3px 0px 0px;clear:both;display:inline;}
.y-account .info dd{margin:0;display:inline;}
.y-account .umenu {margin:0;color:#1f3a44;line-height:25px;padding:15px 0px 0px 0px;}
.y-account .umenu li {font-size:11px;}
.y-account .umenu li.active a {border-bottom: 1px dotted #1f3a44}
.y-account .umenu li a{font-size:12px;color:#1f3a44;text-decoration:none;}
.y-account .umenu li a:hover{color:#b91324;}

/* -- ---- b-user ---- -- */

/* // ---- artist info ---- // */

.artist-info {}
.artist-info h1 {
	height:55px;
	width:225px;
	background:url('./i/artist-info-h1.png') no-repeat;
	margin:-22px 0px 0px 0px;
}

.artist-info .image {
	border: 3px solid #fff;
	display:block;
	margin:4px 0px 12px 4px;
}
.artist-info h2 {
	font-size:21px;
	color:#000;
	font-weight:normal;
	margin:0px 0px 10px 0px;
}
.artist-info .inf {margin:0 0 0 9px;width:198px;}
.artist-info .inf ul{margin:0;overflow:hidden;line-height:18px;}
.artist-info .inf li{list-style:none; overflow:hidden;border-top: 1px dashed #d9ddde;padding:5px 0px;margin:-1px 0px 0px 0px;}
.artist-info .inf li a:hover{color:#b91324;}
.artist-info .inf .par {float:left;width:55px;}
.artist-info .inf .val {float:left;width:143px;}

/* -- ---- artist info ---- -- */

/* // ---- artist-albums ---- // */

.artist-albums {margin:0px 0px 50px 0px;}
.artist-albums ul.albums {margin:0;overflow:hidden;}
.artist-albums ul.albums li {display:inline-block;vertical-align:top;list-style:none;width:340px;margin:0px 0px 20px 0px;}

.artist-albums .c-block {
	background:url('./i/c-block.png') left bottom no-repeat;
	margin:0px 0px 16px 0px;
}
.artist-albums .c-block .inner {
	background:url('./i/c-block.png') right top no-repeat;
	padding:21px 25px;
	color:#5b686a;
}

.artist-albums ul.albums li .image {
	float:left;
	border: 3px solid #eef5f8;
	margin:0px 17px 0px 0px;
}
.artist-albums ul.albums li .image img {display:block;}
.artist-albums ul.albums li .image:hover {
	border-color:#73be08;
}
.artist-albums ul.albums li dl {margin:10px 0px 0px 0px;float:left;width:200px;}
.artist-albums ul.albums li dl dt{line-height:25px;}
.artist-albums ul.albums li dl dt a {color:#5b686a;}
.artist-albums ul.albums li dl dt a:hover {color:#b91324;}
.artist-albums ul.albums li dl dd{margin:0;line-height:17px;font-size:11px;}
.artist-albums ul.albums li dl dd .price{color:#b91324;}

.artist-albums ul.albums li .download {
	display:block;
	text-indent:-9999em;
	width:89px;
	height:22px;
	background:url('./i/download-a.png');
	margin:5px 0px 0px 0px
}
.artist-albums ul.albums li .download:hover {
	background-position:0px -22px;
}

.artist-albums .page-navigation {margin:0px 0px 0px 260px;}

.artist-albums .d-albums {
	
}

/* -- ---- artist-albums ---- -- */

/* // ---- top charts ---- // */

.top-charts {}

.top-charts h1 {
	width:223px;
	height:55px;
	background:url('./i/tcharts-h1.png') no-repeat;
	margin:-22px 0px 11px 0px;
}

.charts-list {margin:0;}
.charts-list li {list-style:none;display:block;clear:both;margin:0px 0px 17px 0px;overflow:hidden;}
.charts-list li a{text-decoration:none;display:block;color:#5b686a;}
.charts-list .flag {
	display:block;
	float:left;
	width:46px;
	height:46px;
	background:url('./i/charts.png') no-repeat;
	margin:0 15px 0 0;
}
.charts-list .sec {
	font-size:16px;
	border-bottom: 1px dotted #5b686a;
	float:left;
	padding:12px 0px 0px 0px;
}
.charts-list li a:hover {color:#b91324;}
.charts-list a:hover .sec {border-color:#b91324;}
.charts-list .us a:hover .flag {background-position:0px -46px;}

.charts-list .uk .flag {background-position:-46px 0px;}
.charts-list .uk a:hover .flag {background-position:-46px -46px;}
.charts-list .eu .flag {background-position:-92px 0px;}
.charts-list .eu a:hover .flag {background-position:-92px -46px;}
.charts-list .pop .flag {background:none;}
/* -- ---- top charts ---- -- */

/* // ---- charts  ---- // */

.charts {margin:0px 0px 20px 0px;overflow:hidden;}
.charts .c-block {
	background:url('./i/c-block.png') left bottom no-repeat;
	margin:0px 0px 20px 0px;
}
.charts .c-block .inner {
	background:url('./i/c-block.png') right top no-repeat;
	padding:10px 20px;
}
.charts table {
	width:100%;
	margin:0;
	font-family:Tahoma;
	color:#5b686a;
	font-size:11px;
}
.charts table .checkbox {
	display:block;
	width:19px;
	height:19px;
	background:url('./i/check.png');
	cursor: pointer;
	margin:0 auto;
}

.charts table thead th {
	border-bottom: 3px solid #e5eff3;
	padding:0px 0px 6px 0px;
}

.charts table .check {width:61px;vertical-align:middle;}
.charts table .num {width:34px;}
.charts table tbody .num {width:30px;padding:0px 0px 0px 4px;color:#abb2b3;font-style:italic;}
.charts table .title {width:325px;text-align:left;}
.charts table tbody .tracks {width:39px;padding:0px 0px 0px 13px;}
.charts table thead .tracks {width:52px;text-align:left;}
.charts table .price {width:119px;text-align:center;}
.charts table tbody .price {color:#b91324;}
.charts table .downdload {width:100px;text-align:left;vertical-align:middle;}
.charts table tbody td {border-top: 1px solid #e5eff3; padding-top:7px;padding-bottom:7px;}
.charts table tbody .alt td {background:#f4f9fa;}
.charts table tbody .selected td {background:#eaf2f6;}

.charts table .downdload a {
	display:block;
	width:87px;
	height:20px;
	background:url('./i/charts-d.png') no-repeat;
	text-indent:-9999em;
}
.charts table .downdload a:hover {background-position:0px -20px;}

.charts table .title a {text-decoration:none;color:#5b686a;}
.charts table .title a:hover {border-bottom: 1px dotted #b91324;color:#b91324;}
.charts table tbody .title {font-size:12px;font-family:Arial;}

.download-albums {
	display:block;
	width:178px;
	height:37px;
	background:url('./i/d-albums.png') no-repeat;
	text-indent:-9999em;
	float:right;
}
.download-albums:hover {
	background-position:0px -37px;
	
}
.info {
	background:url('./i/info.png') left center no-repeat;
	font-family:Tahoma;
	font-size:11px;
	color:#5b686a;
	padding:0px 0px 0px 25px;
	line-height:15px;
	float:left;
	margin:10px 0px 0px 0px;
}
/* -- ---- charts  ---- -- */

/* // ---- more albums ---- // */

.more-albums {}
.more-albums h1 {
	background:url('./i/more-albums-h1.png') no-repeat;
	width:176px;
}
.more-albums h2 {
	font-size:17px;
	color:#000;
	margin:-18px 0px 15px 0px;
	font-weight:normal;
}

a.download-artist-music {
	display:block;
	text-decoration:none;
	margin:15px 25px 0px 0px;
	float:right;
	color:#3b82a0;
}
a.download-artist-music:hover {
	text-decoration:underline;
}

/* -- ---- more albums ---- -- */

/* // ---- Album Info ---- // */

.album-info {margin:0px 0px 20px 0;}
.album-info h1 {
	height:55px;
	width:243px;
	background:url('./i/album-h1.png') no-repeat;
	margin:-21px 0px 0px 0px;
}

.album-info .c-block {
	background:url('./i/c-block.png') left bottom no-repeat;
	margin:0px 0px 20px 0px;
}
.album-info .c-block .inner {
	background:url('./i/c-block.png') right top no-repeat;
	position:relative;
	padding:15px 20px;
}
.album-info div.b-info {margin:0px 0px 14px 0px;}
.album-info .b-info .inner {
	padding:25px;
	overflow:hidden;
}

.album-info .b-info h2 {
	font-size:21px;
	font-weight:normal;
	color:#000;
}
.album-info .b-info .a-image {
	width:206px;
	float:left;
	margin:0px 20px 0px 0px;
}
.album-info .b-info .a-image img {
	display:block;
	border: 3px solid #cfcfcf;
}
.album-info .b-info .description {
	width:268px;
	float:left;
}
.album-info .b-info .artist {
	font-size:13px;
	background:url('./i/arrow.gif') no-repeat center left;
	padding:0px 0px 0px 17px;
}
.album-info .b-info .artist a {color:#5b686a;}
.album-info .b-info .artist a:hover {color:#b91324;}

.album-info .b-info .download-album {
	display:block;
	width:178px;
	height:37px;
	background:url('./i/d-album.png') no-repeat;
	position:absolute;
	top: 25px;
	right: 25px;
}
.album-info .b-info .download-album:hover {background-position:0px -37px;}

.other-alubms {position:absolute;right: 25px; bottom: 22px;font-family:Tahoma;font-size:11px;background:url('./i/other-a.png') no-repeat;padding:1px 0px 1px 31px;color:#000;}
.other-alubms a{color:#000;}

.album-info .summ {
	margin:10px 0px 0px 0px;
	overflow:hidden;
	font-family:Tahoma;
	color:#5b686a;
	font-size:11px;
}
.album-info .summ li {
	list-style:none;
	border-top: 1px dashed #d9ddde;
	padding:5px 0px;
	overflow:hidden;
	margin:-1px 0px 0px 0px;
}
.album-info .summ li .par {display:block;float:left;width:90px;}
.album-info .summ li .val{display:block;float:left;}

.album-info .summ a {color:#5b686a;}
.album-info .summ a:hover {color:#b91324;}

.album-info .summ .price .val {color:#b91324;}



.album-info table {
	width:100%;
	margin:0;
	font-family:Tahoma;
	color:#5b686a;
	font-size:11px;
}
.album-info table .checkbox {
	display:block;
	width:19px;
	height:19px;
	background:url('./i/check.png');
	cursor: pointer;
	margin:0 auto;
}

.album-info table thead th {
	border-bottom: 3px solid #e5eff3;
	padding:0px 0px 6px 0px;
}

.album-info table .check {width:61px;vertical-align:middle;}
.album-info table .num {width:34px;}
.album-info table tbody .num {width:30px;padding:0px 0px 0px 4px;color:#abb2b3;font-style:italic;}
.album-info table .title {width:325px;text-align:left;}
.album-info table tbody .duration {width:86px;padding:0px 0px 0px 8px;}
.album-info table thead .duration {width:94px;text-align:left;}
.album-info table .price {width:73px;text-align:center;}
.album-info table tbody .price {color:#b91324;}
.album-info table .preview {width:104px;text-align:left;vertical-align:middle;}
.album-info table .preview a {display:block;width:59px;height:17px;background:url('./i/play.png');text-indent:-9999em;margin:0px 0px 0px 19px;}
.album-info table .preview a:hover {background-position:0px -17px;}
.album-info table tbody td {height:33px;line-height:33px;border-top: 1px solid #e5eff3;}
.album-info table tbody .alt td {background:#f4f9fa;}
.album-info table tbody .selected td {background:#eaf2f6;}
.album-info table .title a {text-decoration:none;color:#5b686a;}
.album-info table .title a:hover {border-bottom: 1px dotted #b91324;color:#b91324;}
.album-info table tbody .title {font-size:12px;font-family:Arial;}

.download-songs {
	display:block;
	width:178px;
	height:37px;
	background:url('./i/d-songs.png') no-repeat;
	text-indent:-9999em;
	float:right;
}
.download-songs:hover {
	background-position:0px -37px;

}
/* -- ---- Album Info ---- -- */