.wrapper {width:expression(document.body.clientWidth < 1000? "1000px": "auto");}
.wrapper {width:expression(document.body.clientWidth > 1280? "1279px": "auto");}

.site-features ul, .menu, .attention {*zoom:1;}

.search dl dd i {*right: 102px}
.alphabet ul li{*margin:0px 0px 0px 8px;}
.alphabet li.active span i.rc {*right: -1px}

.jcarousel-next {_right: 22px;}

.site-features{zoom:1;}

.menu .submenu .b-bg {_left: 1px;}
.login .button {*margin-top:0;}

.registration-page dl dd input {*margin:8px 0px 0px -102px;}
.best-sellers ul li {*display:inline;}