/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

/* Lists */
ol li {list-style: decimal outside;}
ul li {list-style: disc outside;}

/* Margins */
blockquote, pre, address, ul, ol, dl, table {margin: 1.12em 0;}
ol ul, ul ol, ul ul, ol ol {margin-top: 0;margin-bottom: 0;}
ol, ul, dd {margin-left: 2.5em;}

/* Tables */
table {border-collapse: collapse;border-spacing: 0;}

/* Quotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Small elements */
small, sub, sup {font-size: 83%;}

/* Indexes */
sub {vertical-align: sub;}
sup {vertical-align: super;}

/* Marking changes */
ins {text-decoration: none;}
del {text-decoration: line-through;}


html {height: 100%;font-size: 100.1%;background:  url('./i/bg.png') repeat;}
body {
	font-size: 12px;
	height: 100%;
	color:#999999;
	font-family:Arial;
	background:  url('./i/bgt.jpg') center top no-repeat;
}
a {color:#999;outline: none;}
img {border: none;}
.empty {height:106px;}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:0px auto;
	min-width:1000px;
	max-width: 1280px;
}

p {line-height:18px;}

.wrap {margin:0px 17px;}
.clear {clear:both;}

/* // ---- header ---- // */

.header {
	padding:30px 0px 0px 0px;
	height:60px;
	position:relative;
	z-index: 1;
}
.header .logo {
	margin:0px 64px 0px 10px;
	float:left;
	display:inline;
}

.menu {margin:0px 0 0 328px;position:relative;top: 8px;}
.menu li.home,.menu li.genres, .menu li.charts, .menu li.information, .menu li.account  {list-style:none;position:absolute;background:url('./i/arrow.gif') right no-repeat;height:11px;}
.menu li.hover {background:url('./i/arrow-a.gif') right no-repeat;}
.menu li a.title {
}
.menu li a.title {
	text-indent:-9999em;
	display:block;
	height:11px;
	background:url('./i/menu.png') no-repeat;
	overflow:hidden;
}
.menu li .submenu {display:none;}


.menu li.home {width:56px;}
.menu li.genres {left:17.5%;width:68px;}
.menu li.charts {left:36.9%;width:69px;}
.menu li.information {left:56.5%;width:112px;}
.menu li.account {left:82.9%;width:85px;}
.menu li.home a {width:42px; background-position:0 0;}
	.menu li.home a:hover, .menu li.ahome a  {width:42px; background-position:0 -11px;}
.menu li.genres a {width:54px;background-position:-42px 0;}
	.menu li.genres a:hover, .menu li.agenres a {width:54px;background-position:-42px -11px;}
.menu li.charts a {width:55px;background-position:-96px 0;}
	.menu li.charts a:hover, .menu li.acharts a {width:55px;background-position:-96px -11px;}
.menu li.information a {width:97px;background-position:-151px 0;}
	.menu li.information a:hover, .menu li.ainformation a {width:97px;background-position:-151px -11px;}
.menu li.account a {width:85px;background-position:-248px 0;}

.menu .submenu {
	width:184px;
	background:url('./i/submenu.png') 0 9px no-repeat;
	position:absolute;
	top: 11px;
	left: -74px;
	padding:47px 0px 1px 23px;
	z-index: 1;
}
.menu .submenu a {
	color:#bcbabc;
	text-decoration:none;
}
.menu .submenu a:hover {
	text-decoration:underline;
}
.menu .submenu ul {margin:0;}
.menu .submenu ul li {list-style:none;display:block;clear:both;line-height:23px; padding:0px 0px 0px 13px;background:url('./i/sub-li.gif') 0 9px no-repeat;}
.menu .submenu .b-bg {
	width:207px;
	height:20px;
	background:url('./i/submenu.png') -207px 0px no-repeat;
	position:absolute;
	bottom: -20px;
	left: 0px;
}


.alphabet {font-family:"Trebuchet MS";clear:both;text-align:center;background:url('./i/alph-bg.gif') repeat-x;height:36px;padding:18px 0px 0px 0px; margin:0px 0px 20px 0px;}
.alphabet ul {overflow:hidden;margin:0 auto;width:948px;}
.alphabet li {float:left;list-style:none; margin:0px 0px 0px 9px;width:27px;text-align:center;}
.alphabet .num {width:37px;}
.alphabet li.active a{color:#fff;background:none;}
.alphabet li a {text-align:center;display:block;width:27px;font-size:12px;font-weight:bold;text-decoration:none; color:#848484;}
.alphabet li a span {display:inline;background:url('./i/a-dot.gif') 0px 15px repeat-x;}
.alphabet li a:hover span {background:none;}
.alphabet li a:hover, .alphabet li.active a  {display:block;width:27px;height:21px;background:url('./i/alphabet.png') center -21px no-repeat;color:#fff;}
.alphabet li .num:hover, .alphabet li.active .num {display:block;width:37px;height:21px;background:url('./i/alphabet.png') 0px 0px no-repeat;color:#fff;}

.alphabet li.active {}

.alphabet li span {display:block;}
/* -- ---- header ---- -- */


.main-block {width:100%;margin:0px 0px 20px 0px;zoom: 1;}
.container {float: left; width:100%;overflow:hidden;}
.container .content {margin: 0 24px 0 272px;}
.sidebar {width:250px; padding:0px 22px 0px 0px;float:left; margin-right:-100%; position:relative;overflow:hidden;}

/* // ---- adreg ---- // */

.adreg {color:#fff;padding:0px 0px 0px 4px;}
.adreg img {display:block;margin:0px 0px 23px 0px;}
.adreg p {line-height:18px;}
.adreg h1{font-weight:normal;font-size:17px;margin:0px 0px 3px 0px;}
.adreg .text {padding:0px 0px 13px 3px;}
.adreg .create-acc {font-size:22px;margin:0px 0px 0px 40px;display:block;}
.adreg .create-acc a{font-size:22px;color:#badd16;}
.adreg .create-acc a:hover{color:#f87c00;}

/* -- ---- adreg ---- -- */

/* // ---- search ---- // */

.search {height:34px;position:relative;margin:0px 0px 8px 0px; padding:0px 103px 0px 122px;}
.search dl {margin:0;}
.search dl dd{padding:6px 12px 0px 39px;background:url('./i/query.png') no-repeat;height:28px;margin:0;}
.search dl dd input{ font-size:15px;color:#fff;font-family:"Trebuchet MS"; background:none;border: 0px;margin:0;outline:none;width:100%;zoom: 1;}
.search dl dd i {display:block; width:12px;height:34px;position:absolute; right: 103px; top: 0px;background:url('./i/query.png') right -68px no-repeat;}
.search dt {position:absolute; top: 9px;left: 2px;}
.search dt label {display:block;width:113px;height:17px;background:url('./i/s-dt.png') no-repeat;text-indent:-9999em;}
.search .button {
	border: 0px;
	color:#b8b8b8;
	font-weight:bold;
	font-size:11px;
	width:94px;
	padding:9px 0px 11px 0px;
	text-align:center;
	background:url('./i/s-button.png') no-repeat;
	cursor: pointer;
	position:absolute;
	right: 0px;
	top: 0px;
}
.search dl dd.active {background-position:0px -34px;}
.search dl dd.active i{background-position:right -102px;}

/* -- ---- search ---- -- */

/* // ---- best sellers ---- // */

.content h1 {
	height:41px;
	border-bottom:4px solid #393d42;
	margin:0;
	text-indent:-9999em;
	display:block;
}

.best-sellers {margin:0px 0px 13px 0px;}
.best-sellers h1 {
	text-indent:-9999em;
	display:block;
	background:url('./i/best-sellers.png') no-repeat;
}

.best-sellers .item {
	width:186px;
}
.best-sellers .item .image {
	display:block;
	float:left;
	border:2px solid #393d42;
	margin:0px 12px 0px 0px;
}
.best-sellers .item .image img {display:block;}
.best-sellers  .item .image:hover{
	border-color:#ffb200;
}
.best-sellers .item .description {
	float:left;
	font-size:11px;
	width:95px;
}
.best-sellers .item .description .album {display:block;color:#badd16;margin:6px 0px 3px 0px;}
.best-sellers .item  a {color:#badd16;text-decoration:none;}
.best-sellers .item  a:hover {text-decoration:underline;}
.best-sellers .item .description .artist {display:block;color:#848484;font-size:11px; margin:0px 0px 20px 0px;}
.best-sellers .item .description .artist a{color:#848484;}
.best-sellers .item .description .price {color:#ffb200;float:left; margin:2px 0px 0px 0px;}
.best-sellers .item .description .download {margin:0px 4px 0px 0px;float:right;font-size:9px;color:#b8b8b8;text-decoration:none;display:block;width:51px;height:17px;background:#393d42 url('./i/b-download.gif') no-repeat;font-family:Tahoma;text-align:center;line-height:17px;}
.best-sellers .item .description .download:hover {background: #545c66 url('./i/b-download.gif') no-repeat;}


.best-sellers ul {width:100%;margin:0;overflow:hidden;}
.best-sellers ul li{vertical-align:top;display:inline-block;width:33%; list-style:none;padding:15px 0px 16px 0;background:url('./i/btd-d.gif') top repeat-x; margin:-1px 0px 0px 0px;}
.best-sellers ul li .item {width:186px;margin:0 auto;}
.best-sellers ul li.last .item {float:right;}
.best-sellers .first .item {float:left;}
/* -- ---- best sellers ---- -- */


/* // ---- f artists ---- // */

.f-artists {}
.f-artists ul {
	margin:0;
}

/* -- ---- f artists ---- -- */
/**
 * This <div> element is wrapped by jCarousel around the list
 * and has the classname "jcarousel-container".
 */
.jcarousel-container {
	position: relative;
}

.jcarousel-clip {
	z-index: 2;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	width:100%;
}

.jcarousel-list {
	z-index: 1;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.jcarousel-list li,
.jcarousel-item {
	float: left;
	list-style: none;
	/* We set the width/height explicitly. No width/height causes infinite loops. */
	width: 959px;
	padding:0px 0px 0px 41px;
}

/**
 * The buttons are added dynamically by jCarousel before
 * the <ul> list (inside the <div> described above) and
 * have the classnames "jcarousel-next" and "jcarousel-prev".
 */
.jcarousel-next {
	z-index: 3;
	display: none;
	width:41px;
	height:250px;
	background:url('./i/fartists-arr.png') -41px 0px;
	position:absolute;
	right: 0px;top: 0px;
	cursor: pointer;
}
.jcarousel-next-hover {background-position:-41px -250px;}


.jcarousel-prev {
	z-index: 3;
	display: none;
	width:41px;
	height:250px;
	background:url('./i/fartists-arr.png') 0px 0px;
	position:absolute;
	top: 0px; left: 0px;
	cursor: pointer;
}
.jcarousel-prev-hover {background-position: 0px -250px;}

/* // ---- site features ---- // */

.site-features {
	clear:both;
	background:url('./i/bord.gif') repeat-x;
	padding:20px 0px 0px 0px;
	margin:0px 0px 12px 0px;
	overflow:hidden;
}
.site-features div {overflow:hidden;position:relative;margin:0px 0px 0px -34px;}
.site-features ul {overflow:hidden;padding:0px 0px 20px 0px;background:url('./i/bord.gif') bottom repeat-x;margin:0px 0px 0px 0px; }
.site-features ul li{list-style:none; width:33%;float:left;}
.site-features dl {padding:0px 0px 0px 45px;margin:0;}
.site-features dd {margin:0;}
.site-features dt {color:#fff;}
.site-features p {line-height:18px;}

/* -- ---- site features ---- -- */

/* // ---- latest additions ---- // */

.latest-additions {
	padding:0px 0px 0px 11px;
	margin:0px 0px 20px 0px;
}
.latest-additions h1 {
	display:block;
	width:238px;
	height:27px;
	background:url('./i/latest-additions.png') no-repeat;
	text-indent:-9999em;
	margin:0 0 12px 0px;
}

.latest-additions table {
	width:100%;
}
.latest-additions table .last {width:111px;}
.latest-additions table td {}
.latest-additions table td .image {
	display:block;
	width:105px;
	height:105px;
	background:url('./i/l-add.png') no-repeat;
	padding:5px 0px 0px 5px;
}

.latest-additions table td .album {display:block;color:#badd16;margin:6px 0px 3px 0px;}
.latest-additions table td .artist a{display:block;color:#848484;font-size:11px;text-decoration:none;}
.latest-additions table td .album a {color:#badd16;text-decoration:none;}
.latest-additions table td  a:hover {text-decoration:underline;}

.latest-additions table td .image:hover {background-position:0 -110px;}


/* -- ---- latest additions ---- -- */

/* // ---- world charts ---- // */

.world-charts {margin:0px 0px 40px 0px;}
.world-charts h1 {
	display:block;
	width:195px;
	height:32px;
	background:url('./i/world-charts.png') no-repeat;
	margin:0px 0px 10px 11px;
	text-indent:-9999em;
}

.world-charts h2 a{
	color:#ffb200;
	font-size:13px;
	border-bottom: 1px dotted #ffb200;
	display:inline;
	padding:0px 1px 0px 0px;
	margin:0px 0px 0px 22px;
	text-decoration:none;
}
.world-charts h2 a:hover {color:#badd16;border: 0px;border-bottom: 1px solid #badd16;}
.world-charts ol {margin:20px 0px 0px 40px;}
.world-charts ol li {
	font-size:15px;
	color:#393d42;
	margin:0px 20px 6px 0px;
}
.world-charts ol li.hover {background:url('./i/wc-h.gif') right center no-repeat;position:relative;}
.world-charts .charts {background:#121519;border-top: 4px solid #393d42;padding:15px 0px 15px 11px;}
.world-charts ol li div {
	font-size:11px;
	line-height:17px;
	padding:0px 0px 0px 5px;
}
.world-charts ol li div .album {
	display:block;
}
.world-charts ol li div a {text-decoration:none;}
.world-charts ol li div a:hover {text-decoration:underline;}
.world-charts ol li div .album a {color:#afafaf;}
.world-charts ol li div .artist {font-size:11px;}
.world-charts ol li div .artist a {color:#848484;}

.world-charts .charts .column {width:25%;float:left;background:url('./i/bordg.gif') right repeat-y; position:relative; padding:5px 0px 0px 0px;}
.world-charts .charts .last {background:none;}
.world-charts .charts .flag {
	display:block;
	width:84px;
	height:62px;
	position:absolute;
	top: -27px;
	right: 11px;
}
.us .flag {background:url('./i/us.png') no-repeat;}
.uk .flag {background:url('./i/uk.png') no-repeat;}
.eu .flag {background:url('./i/eu.png') no-repeat;}
/* -- ---- world charts ---- -- */

/* // ---- footer ---- // */

.footer {
	clear:both;
	width:1000px;
	margin:-106px auto 0 auto;
	height:68px;
	background:url('./i/footer.jpg') center no-repeat;
	text-align:center;
	font-size:11px;
	padding:38px 0px 0px 0px;
}
.footer .foo-menu {margin:0 0 11px 0;}
.footer .foo-menu li{list-style:none; display:inline; padding:0px 25px 0px 0px;font-weight:bold;}
.footer .foo-menu li a {color:#fff;text-decoration:none;}
.footer .foo-menu li a:hover {text-decoration:underline;}
.footer p {color:#545454;}
.footer p a {color:#545454;}
/* -- ---- footer ---- -- */


/* // ---- login ---- // */


.login {
	position:absolute;
	top: 0px;
	left:0px;
	width:100%;
	height:100%;
	z-index: 100;
	display:none;
	font-size:13px;
	color:#333333;
}
.login .background {background:#000; opacity: .5; filter: alpha(opacity = 50);position:absolute; width:100%;z-index: 50;}
.login a {color:#333333;text-decoration:none;}
.login a:hover {border-bottom: 1px dotted #333;}

.login form {
	width:420px;
	height:280px;
	background:#f7f7f7;
	border: 1px solid #313439;
	position:absolute;
	left: 50%;
	top:291px;
	margin:0px 0px 0px -210px;
	z-index: 51;
}

.login .close {
	display:block;
	width:36px;
	height:38px;
	background:url('./i/l-close.png') no-repeat;
	position:absolute;
	top: -10px;
	right: -10px;
	text-decoration:none;
}
.login .close:hover {border: 0px;}
.login h1 {
	display:block;
	width:197px;
	height:35px;
	background:url('./i/login-h1.png') no-repeat;
	text-indent:-9999em;
	margin:15px 0px 25px 20px;
}

.login dl {margin:0 0 0 20px;}
.login dl dt {margin:8px 20px 15px 0px; float:left;clear:both;width:98px;text-align:right;}
.login dl dd{margin:0 0 15px 0px;float:left;}
.login dl dd div{width:220px;height:34px;background:url('./i/l-input.png') no-repeat;}
.login dl dd div.active {background-position:0px -34px;}
.login dl dd input{width:190px;border: 0px;background:none;font-family:Arial;font-size:13px; margin:8px 0px 0px 15px;color:#333;}
.login dl dd input.inactive{color:#cfcfcf;}
.login .button {
	border: 0px;
	background:url('./i/l-button.png') no-repeat;
	width:132px;
	height:38px;
	margin:10px 0px 18px 137px;
	cursor: pointer;
	position:relative;
}
.login .button  span {position:absolute;left: -9999px;}
.login .buttonh {background:url('./i/l-button.png') 0px -38px;}

.login .l-menu {
	margin:0 0 0 140px;
}
.login .l-menu li {list-style:none; padding:0px 35px 0px 0px;display:inline;}

/* -- ---- login ---- -- */

/* // ---- information page ---- // */

.information-page {}
.information-page h1 {
	background:url('./i/information-page.png') no-repeat;
	margin:0px 0px 10px 0px;
}

.information-page h2 {
	font-size:21px;
	color:#fff;
	margin:0px 0px 10px 0px;
}
.information-page p {line-height:18px; margin:0px 0px 20px 0px;}

/* -- ---- information page ---- -- */

/* // ---- registration page ---- // */

.registration-page {}
.registration-page  h1 {background:url('./i/registration-page.png') no-repeat;}

.registration-page form {padding:24px 0px 0px 0px;}
.registration-page .button {
	border: 0px;
	background:url('./i/r-button.png') no-repeat;
	width:132px;
	height:38px;
	text-indent:-9999em;
	margin:10px 0px 18px 119px;
	cursor: pointer;
}
.registration-page .buttonh {background:url('./i/r-button.png') 0px -38px;}
label {cursor: pointer;}
.registration-page dl {margin:0 0 0 0px;overflow:hidden;}
.registration-page dl dt {margin:8px 20px 15px 0px; float:left;clear:both;width:97px;text-align:right;}
.registration-page dl dd{margin:0 0 15px 117px;display:block;}
.registration-page dl dd div{width:220px;height:34px;background:url('./i/r-input.png') no-repeat;}
.registration-page dl dd div.active {background-position:0px -34px;}
.registration-page dl dd input{width:190px;border: 0px;background:none;font-family:Arial;font-size:13px; margin:8px 0px 0px 15px;color:#333;float:left;}
.registration-page dl dd input.inactive{color:#cfcfcf;}
.registration-page .agree {margin:0px 0px 0px 117px;}
/* -- ---- registration page ---- -- */

/* // ---- your account ---- // */

.your-account {}
.your-account h1 {
	height:39px;
	border-bottom:4px solid #393d42;
	margin:0;
	text-indent:-9999em;
	display:block;
	background:url('./i/your-account.png') no-repeat;
}

.your-account {}
.your-account .info {line-height:25px; overflow:hidden;padding:11px 0px 11px 4px;border-bottom:4px solid #393d42;margin:0px 0px 10px 0px;}
.your-account .info dt {margin:0 3px 0px 0px;clear:both;display:inline;}
.your-account .info dd {margin:0;display:inline;color:#fff;}
.your-account .info dd a{color:#fff;text-decoration:none;}
.your-account .info .balance{color:#ffb200;}
.your-account .info .refill {border-bottom: 1px dotted #fff;}
.your-account .info .refill:hover {border-bottom: 1px dotted #badd16;color:#badd16;}

.your-account .navigation {margin:0 0 33px 22px; line-height:25px;}
.your-account .navigation li {}
.your-account .navigation li a {text-decoration:none;}
.your-account .navigation li a:hover {color:#fff;}
.your-account .navigation li.active a{border-bottom: 1px dotted #999;}

/* -- ---- your account ---- -- */

/* // ---- user area ---- // */

.user-area {}
.user-area h1 {background:url('./i/user-area.png') no-repeat;}

.user-area .select {position:relative;width:220px; float:left;margin:2px 20px 0px 0px;}
.user-area .select .choice a {
	display:block;
	width:205px;
	height:34px;
	background:url('./i/select.png') no-repeat;
	font-size:15px;
	color:#202225;
	text-decoration:none;
	line-height:32px;
	padding:0px 0px 0px 15px;
}
.user-area .select .choice select {display:none;}
.user-area .select ul {display:none; position:absolute; background:#fff; width:220px; left: 0px;margin:0;}
.user-area .select ul li{list-style:none; font-size:15px; padding:0px 0px 5px 15px; line-height:22px;}
.user-area .payment {padding:43px 0px 0px 0px;}
.user-area .payment dl {margin:0;}
.user-area .payment dl dt{margin:10px 20px 0px 0px; float:left;font-size:13px;}
.user-area .payment dl dd{margin:0; float:left;}

.attention {clear:both; background:url('./i/attention.png') 0 50px no-repeat; padding:50px 0px 5px 50px;}
.user-area .payment .button {
	border: 0px;
	background:url('./i/funds-b.png') no-repeat;
	width:131px;
	height:38px;
	cursor: pointer;
	float:left;
}
.user-area .payment .button span {position:absolute;left:-9999px;}
.user-area .payment .buttonh {background:url('./i/funds-b.png') 0px -38px;}
/* -- ---- user area ---- -- */

/* // ---- artists list ---- // */

.artists-list {position:relative;}
.artists-list .letter {position:absolute;right: 0px; top: 10px;font-size:21px;color:#fff;}
.artists-list h1 {background:url('./i/artists-list.png') no-repeat;}

.artists-list ul.list {margin:0 0 30px 0px;width:100%; overflow:hidden;}
.artists-list ul.list li{list-style:none; width:33%;float:left;padding:15px 0px; background:url("./i/btd-d.gif") top repeat-x;margin:-1px 0px 0px 0px;}
.artists-list ul.list li .artist a{font-weight:bold;color:#badd16;}
.artists-list ul.list li .artist a:hover {text-decoration:underline;}

.artists-list .item {
	width:186px;
	margin:0 auto;
}
.artists-list .first .item {float:left;}
.artists-list .last  .item {float:right;}
.artists-list .item .image {
	display:block;
	float:left;
	border:2px solid #393d42;
	margin:0px 12px 0px 0px;
}
.artists-list .item .image img {display:block;}
.artists-list .item .image:hover{
	border-color:#ffb200;
}
.artists-list .item .description {
	float:left;
	font-size:11px;
	width:95px;
	position:relative;

}
.artists-list .item .description .album {display:block;color:#badd16;margin:6px 0px 3px 0px;}
.artists-list .item  a:hover {text-decoration:underline;}
.artists-list .item .description .artist {display:block;color:#848484;font-size:11px; margin:5px 0px 5px 0px;}
.artists-list .item .description .download {position:absolute;top: 55px; left: 0px;font-size:9px;color:#b8b8b8;text-decoration:none;display:block;width:51px;height:17px;background:#393d42 url('./i/b-download.gif') no-repeat;font-family:Tahoma;text-align:center;line-height:17px;}
.artists-list .item .description .download:hover {background: #545c66 url('./i/b-download.gif') no-repeat;}
.artists-list .item .tracks {}
.artists-list .item .tracks a {text-decoration:none;border-bottom: 1px dotted #999;}
/* -- ---- artists list ---- -- */

/* // ---- page-navigation ---- // */

.page-navigation {text-align:center;margin:0px 0px 15px 0px;}
.page-navigation ul{margin:0;padding:0px 0px 4px 0px;}
.page-navigation ul li{margin:0; list-style:none;display:inline;}
.page-navigation ul li.active{padding:1px 0px 6px 0px;display:inline;}
.page-navigation ul li.active a{padding:1px 12px 6px 12px; border: 0px;color:#fff;font-weight:bold;background:url('./i/alphabet.png') center -21px no-repeat;}
.page-navigation ul li a{text-decoration:none;}
.page-navigation ul ul {display:inline;}
.page-navigation ul ul li{padding:2px 12px 6px 12px;display:inline;}
.page-navigation ul ul a {border-bottom: 1px dotted #999;text-decoration:none;}

/* -- ---- page-navigation ---- -- */

.breadcrumbs {color:#393d42;margin:0px 0px 7px 0px;}
.breadcrumbs a {color:#a7a8a9;}
.breadcrumbs a:hover {color:#badd16;}
.breadcrumbs a.active {text-decoration:none;}
.breadcrumbs a.active:hover {color:#a7a8a9;}

/* // ---- charts ---- // */

.wcharts {position:relative;}
.wcharts h1 {
	background:url('./i/world-charts.png') no-repeat;
}
.wcharts ul {margin:0;overflow:hidden;}
.wcharts li {height:80px; padding:15px 0; list-style:none; position:relative;background:url('./i/btd-d.gif') top repeat-x;margin:-1px 0px 0px 0px;}
.wcharts li .position{display:block;float:left; width:50px; height:80px;text-align:center; line-height:80px;color:#a7a8a9;font-size:15px;}
.wcharts li .download {
	display:block;
	width:93px;
	height:27px;
	background:url('./i/download.png') 0px 0px no-repeat;
	text-indent:-9999em;
	position:absolute;
	right: 0px;
	top: 44px;
}
.wcharts li .download:hover {
	background-position:0px -27px;
}

.wcharts li .item {}
.wcharts li .item .image {
	display:block;
	width:75px;
	height:75px;
	float:left;
	border:2px solid #393d42;
	margin:0px 12px 0px 0px;
}
.wcharts li .item .image:hover {
	border-color:#ffb200;
}
.wcharts li .item .description {float:left;line-height:17px;padding:4px 0px 0px 0px;color:#848484;}
.wcharts li .item .description .album {display:block;}
.wcharts li .item .description .album a{color:#badd16;text-decoration:none;}
.wcharts li .item .description .album a:hover{text-decoration:underline;}
.wcharts li .item .description .album small {font-size:12px;}
.wcharts li .item .description .album small a {color:#848484;text-decoration:underline;}
.wcharts li .item .description .album small a:hover {color:#fff;}
.wcharts li .item .description .release, .wcharts li .item .description .duration, .wcharts li .item .description .tracks {display:block;}
.wcharts li .item .description .release a, .wcharts li .item .description .duration a, .wcharts li .item .description .tracks a{
	text-decoration:none;
	color:#a7a8a9;
	border-bottom: 1px dotted #a7a8a9;
}
.wcharts .flag {
display:block;
height:62px;
position:absolute;
right:0px;
top: 22px;
width:84px;
}
/* -- ---- charts ---- -- */

/* // ---- Genres List ---- // */

.genres-list {}
.genres-list h1 {
	background:url('./i/genres-list.png') no-repeat;
}
.genres-list table {
	width:100%;
}
.genres-list table td{
	background:url('./i/btd-d.gif') bottom repeat-x;
}
.genres-list table .middle {
	padding:0px 28px 0 26px;
	background:url('./i/genres-m.png') bottom repeat;
}
.genres-list table .left {
	padding-right:28px;
}
.genres-list table .last td{background:none;}
.genres-list table .last td.middle{background:url('./i/genres-m1.png');}
.genres-list table .right {
	padding-left:24px;
}

.genres-list table .item {line-height:17px; position:relative;padding:10px 0px 10px 0px;}
.genres-list table .item .genre{display:block;font-weight:bold;}
.genres-list table .item .genre a {text-decoration:none;color:#d8d8d8;}
.genres-list table .item .genre a:hover {text-decoration:underline;color:#badd16;}
.genres-list table .item .artists {color:#848484;}
.genres-list table .item .artists a{color:#848484; border-bottom: 1px dotted #848484;text-decoration:none;}
.genres-list table .item .list-artists {position:absolute;right: 0px;top: 16px;display:block;width:51px;height:17px;font-size:9px;font-family:Tahoma;color:#b8b8b8;line-height:17px;text-align:center;background:#393d42 url('./i/b-download.gif') no-repeat;text-decoration:none;}
.genres-list table .item .list-artists:hover {color:#1e2023;background:#ffb200 url('./i/b-download.gif') no-repeat;}

/* -- ---- Genres List ---- -- */

/* // ---- Album info ---- // */

.album-info {}
.album-info h1 {
	background:url('./i/album-info.png') no-repeat;
}

.album-info {}
.album-info .info {margin:22px 0px 15px 0px;color:#848484;overflow:hidden;position:relative;}
.album-info .info .image {
	border: 3px solid #393d42;
	float:left;
	display:block;
	margin:0px 20px 0px 0px;
}
.album-info .info .description {
	line-height:35px;
	float:left;
}
.album-info .info .description h2 {
	color:#fff;
	font-size:21px;
	font-weight:normal;
}

.album-info .info .description dl {margin:0 0 5px 0px;overflow:hidden;}
.album-info .info .description dl dt{margin:0 5px 0px 0px;float:left;clear:both;}
.album-info .info .description dl dd{margin:0;}


.album-info .info .description .artist {display:block;}
.album-info .info .description .artist a {font-weight:bold;color:#fff;text-decoration:none;border-bottom: 1px dotted #fff;}
.album-info .info .description .artist a:hover {color:#badd16;border-bottom: 1px dotted #badd16;}
.album-info .info .description .release {margin:7px 0px 0px 0px;}
.album-info .info .description .label{margin:0px 5px 0px 0px;float:left;display:block;height:21px;line-height:21px;color:#fff;background:url('./i/label.png') no-repeat;position:relative;	padding:0px 9px 0px 12px;}
.album-info .info .description .label i{display:block;width:4px;background:url('./i/label.png') no-repeat;height:21px;position:absolute;right: 0px; top: 0px;}
.album-info .info .description dl dd.genres .label, .album-info .info .description dl dd.duration .label{margin-top:7px;}
.album-info .info .description .glabel {background-position:0 0;}
.album-info .info .description .glabel i{background-position:right -21px;}
.album-info .info .description .flabel {background-position:0 -42px;}
.album-info .info .description .flabel i{background-position:right -63px;}
.album-info .info .description .flabel:hover {background-position:0 -84px;}
.album-info .info .description .flabel:hover i{background-position:right -105px;}
.album-info .info .description .genres {margin:7px 0px 0px 0px;}
.album-info .info .description .genres a {text-decoration:none;}

.album-info .info .description .duration {margin:7px 0px 0px 0px;}
.album-info .info .description .tags {font-size:10px;}

.tracks table {clear:both;margin:0 0 12px 0;width:100%;font-size:11px;}
.tracks table thead {font-weight:bold;}
.tracks table thead td{border-bottom:4px solid #393d42;padding:7px 0px 7px 15px;}
.tracks table tbody td{border-bottom:1px dotted #323539;padding:0px 0px 0px 15px;}

.tracks table .check {width:54px;padding-left:0}
.tracks table thead .check {text-align:center;vertical-align:middle;}
.tracks table .number {width:30px;padding-left:0;}
.tracks table .duration {width:78px;}
.tracks table .price {width:59px;}
.tracks table .preview {width:81px;}

.tracks table tbody .check {text-align:center;vertical-align:middle;}
.tracks table tbody .check label{position:relative;}
.tracks table tbody .number {text-align:center;}
.tracks table tbody .duration {padding-left:21px;width:72px;}
.tracks table tbody .price {padding-left:21px;width:53px;}
.tracks table tbody .preview {padding-left:25px;width:71px;}
.tracks table tbody .preview a {color:#83a500;text-decoration:none;}
.tracks table tbody .preview a:hover {color:#fff;}

.tracks table tbody td {height:33px;line-height:33px;}

.tracks table .checked td {background:url('./i/al-td.png');}

.tinfo {background:url('./i/info.png') 20px 0px no-repeat;padding:0px 0px 0px 44px;font-size:11px;color:#676d75;float:left;}

.download-button {display:block;width:122px;height:36px;background:url('./i/download-button.png') no-repeat;text-indent:-9999em;float:right;}
.download-button:hover {background-position:0px -36px;}
.b-price {color:#ffb200;font-size:25px;position:absolute;top: 0px; right: 0px;}

/* -- ---- Album info ---- -- */

/* Checkboxes */
label.checkbox_checked {
	background: url('./i/checkbox.png') 0px -16px no-repeat;
	display: block;
	width:16px;
	height:16px;
	margin:0 auto;
}
label.checkbox_unchecked  {
	background: url('./i/checkbox.png') no-repeat;
	display: block;
	width:16px;
	height:16px;
	margin:0 auto;
}

/* Radio Buttons */
label.radio_checked {
	background: #fff url(bullet_green.png) no-repeat;	
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}
label.radio_unchecked  {
	background: #fff url(bullet_white.png) no-repeat;	
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}


/* Hover State */
label:hover{
	color: #575B60;
}

label.highlighted {
	border: 1px solid #333;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* STOP EDITTING - DO NOT CHANGE OR REMOVE        */
.crirHidden {
	position: absolute;
	left: -1000px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* // ---- Artist info ---- // */

.artist-info {}
.artist-info h1 {
	background:url('./i/artist-info.png') no-repeat;
}
.artist-info .info {margin:22px 0px 15px 0px;color:#848484;overflow:hidden;position:relative;}
.artist-info .info .image {
	border: 3px solid #393d42;
	float:left;
	display:block;
	margin:0px 20px 0px 0px;
}
.artist-info .info .description {
	line-height:35px;
	float:left;
}
.artist-info .info .description h2 {
	color:#fff;
	font-size:21px;
	font-weight:normal;
}

.artist-info .info .description dl {margin:0 0 5px 0px;overflow:hidden;}
.artist-info .info .description dl dt{margin:0 5px 0px 0px;float:left;}
.artist-info .info .description dl dd{margin:0;float:left;}

.artist-info .info .description .artist {display:block;}
.artist-info .info .description .artist a {font-weight:bold;color:#fff;text-decoration:none;border-bottom: 1px dotted #fff;}
.artist-info .info .description .artist a:hover {color:#badd16;border-bottom: 1px dotted #badd16;}
.artist-info .info .description .release {margin:7px 0px 0px 0px;}
.artist-info .info .description .label{margin:0px 5px 0px 0px;float:left;display:block;height:21px;line-height:21px;color:#fff;background:url('./i/label.png') no-repeat;position:relative;	padding:0px 9px 0px 12px;}
.artist-info .info .description .label i{display:block;width:4px;background:url('./i/label.png') no-repeat;height:21px;position:absolute;right: 0px; top: 0px;}

.artist-info .info .description .glabel {background-position:0 0;}
.artist-info .info .description .glabel i{background-position:right -21px;}
.artist-info .info .description .flabel {background-position:0 -42px;}
.artist-info .info .description .flabel i{background-position:right -63px;}
.artist-info .info .description .flabel:hover {background-position:0 -84px;}
.artist-info .info .description .flabel:hover i{background-position:right -105px;}
.artist-info .info .description .genres {margin:7px 0px 0px 0px;}
.artist-info .info .description .genres a {text-decoration:none;}

.artist-info .info .description .duration {margin:7px 0px 0px 0px;}
.artist-info .info .description .tags {font-size:10px;}
.artist-info .info .discography {}
.artist-info .info .discography dt {float:left;}
body .artist-info .info .discography dd {float:left; margin:7px 20px 0px 0px;}

.artist-info  table {width:100%;font-size:11px;margin:0 0 35px 0;}
.artist-info  table .download {width:152px;}
.artist-info  table .download a {display:block;width:93px;height:27px;background:url('./i/download.png') no-repeat;text-indent:-9999em;margin:0 auto;}
.artist-info  table .download a:hover {background-position:0px -27px;}

.artist-info  table .year {width:80px;}
.artist-info  table .tracks {width:75px;}
.artist-info  table .price {width:43px;}

.artist-info  table thead td {border-bottom:4px solid #393d42;padding:0px 0px 8px 0px;font-weight:bold;color:#848484;}

.artist-info  table tbody td {padding:5px 0px;vertical-align:middle;}
.artist-info  table thead td.title {padding-left:15px;}
.artist-info  table tbody td.title .image{margin:0px 22px 0px 0px;float:left;}
.artist-info  table tbody td.title strong {display:block;float:left;margin:26px 0px 0px 0px;font-size:13px;}
.artist-info  table tbody td.title strong a {color:#d8d8d8;text-decoration:none;border-bottom: 1px dotted #d8d8d8;}
.artist-info  table tbody td.title strong a:hover {color:#badd16;border-bottom: 1px dotted #badd16;}

.artist-info  table tbody td.price {color:#ffb200;}

.artist-info  table .alt {background:url('./i/art-td.png');}

/* -- ---- Artist info ---- -- */